<!DOCTYPE html>
<html lang="en">

<head>
    <title>{yun:}$config.sy_webname{/yun} - {yun:}t key='admin_index_00072'{/yun}</title>
    <script>localStorage.setItem("lang", '{yun:}$lang_code{/yun}');</script>
    <script data-cfasync="false" src="../app/template/admin/home_header.js?v={yun:}$config.cachecode{/yun}-20260825a"></script>
    <script src="../app/template/admin/js/vue-router.js?v={yun:}$config.cachecode{/yun}"></script>
    <link rel="stylesheet" href="../app/template/admin/adstyle/allcss/index.css?v={yun:}$config.cachecode{/yun}">
</head>

<body>
    <section id="homeapp" class="subjectDome">
        <div class="subContent">
            <div class="subContNav" :class="{'subContNavCur': subWidth}">
                <div class="subHeadtop">
                    <div class="subHeadLogo">
                        <img src="../app/template/admin/images/admin_new_logo.png" alt="">
                    </div>
                    <!-- Reserved navigation toggle button -->
                    <div class="widthButn" @click="subWidth = !subWidth" :class="{'widthButnCur': subWidth}">
                        <el-tooltip class="item" effect="dark" :content="lc('admin_index_00070')" placement="right">
                            <i class="el-icon-s-fold iconone"></i>
                        </el-tooltip>
                        <i class="el-icon-s-unfold icontwo"></i>
                    </div>
                </div>
                <div class="subContNavTite">
                    <div class="subNavTite">
                        <i></i>
                        <span>{{ lc('admin_index_00065') }}</span>
                        <i></i>
                    </div>
                    <div class="subNavLogo">
                        <img src="../app/template/admin/images/navimg.png" alt="">
                    </div>
                </div>
                <div class="subContNavLink">
                    <!-- Do not remove this placeholder -->
                    <ul v-if="cur_menu == 0">
                        <li :class="{'subContLinkCur': cur_menu_one == 0}">
                            <div class="subNavLinkTite" @click="MenuOpenChange(0)">
                                <div class="subNavLinkImg kjcz">
                                    <span>{{ lc('admin_index_00068') }}</span>
                                </div>
                                <div class="subNavLinkIcon" :class="{'subNavLinkIconCur': checkMenuOpen(0)}">
                                    <i class="el-icon-arrow-up iconup"></i>
                                    <i class="el-icon-arrow-down icondwon"></i>
                                </div>
                            </div>
                            {yun:}if $menu{/yun}
                            <el-collapse-transition>
                                <div class="subNavLinkText" v-show="checkMenuOpen(0)">
                                    {yun:}foreach from=$menu key=mkey item=mval{/yun}
                                    <a href="javascript:void(0);" @click="checkMenuTwo(0, 0, {yun:}$mval.id{/yun}, '{yun:}if $mval.name_key{/yun}{yun:}$mval.name_key{/yun}{yun:}else{/yun}{yun:}$mval.name{/yun}{yun:}/if{/yun}', '{yun:}$mval.path{/yun}')">
                                        <span :class="{'curspan': cur_menu_two == {yun:}$mval.id{/yun}}">{yun:}$mval.name{/yun}</span>
                                    </a>
                                    {yun:}/foreach{/yun}
                                </div>
                            </el-collapse-transition>
                            {yun:}/if{/yun}
                        </li>
                    </ul>
                    {yun:}foreach from=$navigation key=nkey item=nval{/yun}
                    {yun:}if $one_menu[$nval.id]{/yun}
                    <ul v-if="cur_menu == {yun:}$nval.id{/yun}">
                        {yun:}foreach from=$one_menu[$nval.id] key=okey item=oval{/yun}
                        <li :class="{'subContLinkCur': cur_menu_one == {yun:}$oval.id{/yun}}">
                            <div class="subNavLinkTite" @click="MenuOpenChange({yun:}$oval.id{/yun})">
                                <div class="subNavLinkImg {yun:}$oval.classname{/yun}">
                                    <span>{yun:}$oval.name{/yun}</span>
                                </div>
                                <div class="subNavLinkIcon" :class="{'subNavLinkIconCur': checkMenuOpen({yun:}$oval.id{/yun})}">
                                    <i class="el-icon-arrow-up iconup"></i>
                                    <i class="el-icon-arrow-down icondwon"></i>
                                </div>
                            </div>
                            {yun:}if $two_menu[$oval.id]{/yun}
                            <el-collapse-transition>
                                <div class="subNavLinkText" v-show="checkMenuOpen({yun:}$oval.id{/yun})">
                                    {yun:}foreach from=$two_menu[$oval.id] key=tkey item=tval{/yun}
                                    <a href="javascript:void(0);" @click="checkMenuTwo({yun:}$nval.id{/yun}, {yun:}$oval.id{/yun}, {yun:}$tval.id{/yun}, '{yun:}if $tval.name_key{/yun}{yun:}$tval.name_key{/yun}{yun:}else{/yun}{yun:}$tval.name{/yun}{yun:}/if{/yun}', '{yun:}$tval.path{/yun}')">
                                        <span :class="{'curspan': cur_menu_two == {yun:}$tval.id{/yun}}">{yun:}$tval.name{/yun}</span>
                                    </a>
                                    {yun:}/foreach{/yun}
                                </div>
                            </el-collapse-transition>
                            {yun:}/if{/yun}
                        </li>
                        {yun:}/foreach{/yun}
                    </ul>
                    {yun:}/if{/yun}
                    {yun:}/foreach{/yun}
                </div>
            </div>
            <div class="subContPage" :class="{'subContPageCur': subWidth}">
                <div class="subHeader">
                    <div class="subHeaderLeft">
                        <div class="subHeadNavs">
                            <ul>
                                <!-- Do not remove this placeholder -->
                                <li :class="{'subHeadNavCue': cur_menu == 0}">
                                    <a href="javascript:void(0)"  @click="checkMenu(0)">
                                        {{ lc('wap_00191') }}
                                    </a>
                                </li>
                                {yun:}foreach from=$navigation key=nkey item=nval{/yun}
                                <li :class="{'subHeadNavCue': cur_menu == {yun:}$nval.id{/yun}}"><a href="javascript:void(0)" @click="checkMenu({yun:}$nval.id{/yun})">{yun:}$nval.name{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                    <div class="subHeadRight">
                        <div class="subHeadRigNumer">
                            <el-popover placement="bottom" width="450" trigger="hover" @show="getMsgNum">
                                <div class="subHeaNumerDomes" v-loading="msgNumLoad">
                                    <div class="subHeaNumerName">
                                        <span>{{ lc('admin_00093') }}</span>
                                    </div>
                                    <!-- Shown when tips exist -->
                                    <div class="subHeaNumLibos" v-if="msgNumData.length>0">
                                        <ul>
											<template  v-for="item in msgNumData">
												<li  :key="item.name" @click="checkMenuTwo(item.menudata.nval,item.menudata.oval,item.menudata.tval,item.menudata.name,item.menudata.path,item.menudata.query)">
													<div class="subHeaNumminc">
														<a href="javascript:void(0);">{{item.name}}</a>
													</div>
													<div class="subHeaNumData">
														<a href="javascript:void(0);">( {{item.num}} )</a>
													</div>
												</li>
											</template>
                                        </ul>
                                    </div>
                                    <!-- Shown when no tips exist -->
                                    <div class="subHeaNumNones" v-else>
                                        <el-empty :description="lc('admin_00092')"></el-empty>
                                    </div>
                                </div>
                                <el-button slot="reference">
                                    <el-badge :value="msgNum" :max="99" :hidden="msgNum===0" class="item">
                                        <el-button size="small">
                                            <div class="subHeadRigIcon">
                                                <img src="../app/template/admin/images/head2.png" alt="">
                                            </div>
                                        </el-button>
                                    </el-badge>
                                </el-button>
                            </el-popover>
                        </div>
                        <div class="subHeadRigList" @click="openPage('{yun:}$config.sy_weburl{/yun}')">
                            <div class="subHeadRigIcon">
                                <el-tooltip class="item" effect="dark" :content="lc('admin_index_00073')" placement="bottom-end">
                                    <img src="../app/template/admin/images/head3.png" alt="">
                                </el-tooltip>
                            </div>
                        </div>
                        {yun:}if in_array('161',$power){/yun}
                        <div class="subHeadRigList" @click="openMap">
                            <div class="subHeadRigIcon">
                                <el-tooltip class="item" effect="dark" :content="lc('admin_index_00066')" placement="bottom-end">
                                    <img src="../app/template/admin/images/head4.png" alt="">
                                </el-tooltip>
                            </div>
                        </div>
                        {yun:}/if{/yun}
                        <div class="subHeadRigList" @click="clearCache">
                            <div class="subHeadRigIcon">
                                <el-tooltip class="item" effect="dark" :content="lc('admin_01274')" placement="bottom-end">
                                    <img src="../app/template/admin/images/head5.png" alt="">
                                </el-tooltip>
                            </div>
                        </div>
                        <div class="subHeadRigUser">
                            <el-popover placement="top-start" width="140" trigger="hover">
                                <div class="subHeadlogout">
                                    <div class="subjeHeadDenl">
                                        <h3>{{ lc('admin_yunying_00131') }}</h3>
                                        <span>{yun:}$admin_lasttime|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</span>
                                    </div>
                                    <div class="subjeHeadFlex" @click="openShortcutMenu">
                                        <img src="../app/template/admin/images/index_topright4.png" alt="">
                                        <span>{{ lc('admin_index_00050') }}</span>
                                    </div>
                                    <div class="subjeHeadTuichus">
                                        <div @click="openLanguageSetting">
                                            <img src="../app/template/admin/images/index_topright7.png" alt="">
                                            <span>{{ lc('admin_index_00075') }}</span>
                                        </div>
                                        {yun:}if in_array('809',$power){/yun}
                                        <div @click="checkMenuTwo(5, 102, 104, 'weixin_00009', '/myaccount', {ly: 'pass'})">
                                            <img src="../app/template/admin/images/index_topright7.png" alt="">
                                            <span>{{ lc('member_user_00226') }}</span>
                                        </div>
                                        {yun:}/if{/yun}
                                        <div @click="logout">
                                            <img src="../app/template/admin/images/admin_navicon7.png" alt="">
                                            <span>{{ lc('wap_user_00177') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <el-button slot="reference">
                                    <div class="subHeadRigIcon"><img src="../app/template/admin/images/head6.png" alt=""></div>
                                </el-button>
                            </el-popover>
                        </div>
                    </div>
                </div>
                <div class="subContPageTips">
                    <div class="subContPageWidth">
                        <ul>
                            <li @click="checkTab(tabIndex)" :class="{'subContTipsCur': cur_menu_two == tabItem.two_menu_id}" v-for="(tabItem, tabIndex) in tabList" :key="tabIndex">
                                <div class="spana">
                                    <span class="curspan"><template>{{ tabLabel(tabItem) }}</template></span>
                                    <i v-if="tabItem.isdel" class="el-icon-close" @click.stop="closeTab(tabIndex)"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="subContPageCose">
                        <el-popover placement="bottom" width="100" trigger="hover">
                            <div class="subPageBurt">
                                <div>
                                    <el-button type="text" @click="refresh" icon="el-icon-refresh">{{ lc('admin_00194') }}</el-button>
                                </div>
                                <div>
                                    <el-button type="text" icon="el-icon-close" @click="closeTabOther">{{ lc('admin_index_00064') }}</el-button>
                                </div>
                                <div>
                                    <el-button type="text" icon="el-icon-close" @click="closeTabAll">{{ lc('admin_index_00063') }}</el-button>
                                </div>
                            </div>
                            <el-button slot="reference" icon="el-icon-menu"></el-button>
                        </el-popover>
                    </div>
                </div>
                <div class="subContPageInfo">
                    <!-- Route render component -->
                    <transition mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
        </div>
        <!-- Dialogs -->
        <div class="homeelDialog">
            <el-dialog :title="lc('admin_index_00050')" width="680px" :visible.sync="dialogShortcutMenu" :with-header="true" :modal-append-to-body="false">
                <div class="homeDiaCaidan" style="height: 420px;">
                    <el-checkbox-group v-model="formShortcutMenu">
                        <div class="homeDiaCaiConts" v-for="(oneSMItem, oneSMIndex) in navigation" :key="oneSMIndex">
                            <div class="homeDiaCaiOntite">
                                <span>{{ menuLabel(oneSMItem) }}</span>
                            </div>
                            <div class="homeDiaCaiLis" v-for="(twoSMItem, twoSMIndex) in oneSMItem.children" :key="twoSMIndex">
                                <div class="homeCaiTwoTite">
                                    <span>{{ menuLabel(twoSMItem) }}</span>
                                </div>
                                <div class="homeCaiTwoNeir" v-if="twoSMItem.children">
                                    <div class="homeCaiTwocheck" v-for="(threeSMItem, threeSMIndex) in twoSMItem.children" :key="threeSMIndex">
                                        <el-checkbox :label="threeSMItem.id">{{ menuLabel(threeSMItem) }}</el-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-checkbox-group>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogShortcutMenu = false">{{ lc('admin_user_weipin_00043') }}</el-button>
                    <el-button type="primary" @click="saveShortcutMenu">{{ lc('wap_com_00019') }}</el-button>
                </div>
            </el-dialog>
        </div>
        <div class="homeelDialog">
            <el-dialog :title="lc('admin_index_00066')" width="680px" :visible.sync="dialogMap" :with-header="true" :modal-append-to-body="false">
                <div class="homeDiaCaiSouse">
                    <div class="homeDiaCaiFrom">
                        <el-input v-model="searchFormMap.keyword" :placeholder="lc('admin_user_00158')"></el-input>
                    </div>
                    <div class="homeDiaCaiFrom">
                        <el-button type="primary" size="small" icon="el-icon-search" @click="searchMap">{{ lc('wap_js_00086') }}</el-button>
                    </div>
                </div>
                <div class="homeDiaCaidan" style="height: 420px;">
                    <div class="homeDiaCaiConts" v-for="(oneMItem, oneMIndex) in navigation" :key="oneMIndex" v-if="!oneMItem.hide">
                        <div class="homeDiaCaiOntite">
                            <span>{{ menuLabel(oneMItem) }}</span>
                        </div>
                        <div class="homeDiaCaiLis" v-for="(twoMItem, twoMIndex) in oneMItem.children" :key="twoMIndex" v-if="!twoMItem.hide">
                            <div class="homeCaiTwoTite">
                                <span>{{ menuLabel(twoMItem) }}</span>
                            </div>
                            <div class="homeCaiTwoNeir" v-if="twoMItem.children">
                                <div class="homeCaiTwocheck" v-for="(threeMItem, threeMIndex) in twoMItem.children" :key="threeMIndex" v-if="!threeMItem.hide">
                                    <a href="javascript:void(0);" @click="checkMenuTwo(oneMItem.id, twoMItem.id, threeMItem.id, threeMItem.name_key || threeMItem.name, threeMItem.path);dialogMap = false;">{{ menuLabel(threeMItem) }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-dialog>
        </div>
        <div class="homeelDialog">
            <el-dialog :title="lc('admin_index_00075')" width="360px" :visible.sync="dialogLanguage" :with-header="true" :modal-append-to-body="false">
                <el-radio-group v-model="languageForm.lang">
                    <el-radio label="en_us">English</el-radio>
                    <el-radio label="zh_cn">{{ lc('admin_index_00071') }}</el-radio>
                </el-radio-group>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogLanguage = false">{{ lc('admin_user_weipin_00043') }}</el-button>
                    <el-button type="primary" @click="saveLanguage">{{ lc('wap_com_00019') }}</el-button>
                </div>
            </el-dialog>
        </div>
    </section>
    <!-- script -->
    <script>
    (function () {
        var p = localStorage.getItem('indexPath') || '';
        if (!/^\/[A-Za-z0-9_]+$/.test(p)) {
            localStorage.setItem('indexPath', '/index');
        }
    })();
    </script>
    <script src="../app/template/admin/js/router.js?v={yun:}$config.cachecode{/yun}&r=20260827ip"></script>
    <script>
    
    localStorage.setItem("pytoken", '{yun:}$pytoken{/yun}');
    localStorage.setItem("baseUrl", '{yun:}$baseUrl{/yun}');
    localStorage.setItem("sy_weburl", '{yun:}$sy_weburl{/yun}');
    localStorage.setItem("lang", '{yun:}$lang_code{/yun}');
    var pic_accept = '.{yun:}$config.pic_type{/yun}';
    localStorage.setItem("pic_accept", pic_accept ? pic_accept.split(',').join(',.') : '.jpg,.png,.jpeg,.bmp,.gif');
    var file_accept = '.{yun:}$config.file_type{/yun}';
    localStorage.setItem("file_accept", file_accept ? file_accept.split(',').join(',.') : '.doc,.docx,.xls,.pdf');

	var msgNumDef = {
		company_job:{name:lc('admin_index_00055'),num:0,menudata:{nval:1,oval:6,tval:40,name:'wap_com_00106',path:'/companyjob',query:{state: '4'}}},
		partjob:{name:lc('admin_index_00053'),num:0,menudata:{nval:1,oval:6,tval:40,name:'wap_com_00106',path:'/companyjob',query:{state: '4', tabs: 'partjob'}}},
		company:{name:lc('admin_00316'),num:0,menudata:{nval:1,oval:6,tval:16,name:'admin_user_00124',path:'/companycrm',query:{status: '4'}}},
		company_cert:{name:lc('admin_index_00027'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '3'}}},
		comlogo:{name:lc('admin_index_00003'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '1', tabs: 'logo'}}},
		comshow:{name:lc('admin_index_00026'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '1', tabs: 'show'}}},
		combanner:{name:lc('admin_index_00025'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '1', tabs: 'banner'}}},
		company_product:{name:lc('admin_index_00023'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '3', tabs: 'product'}}},
		company_news:{name:lc('admin_index_00024'),num:0,menudata:{nval:1,oval:6,tval:47,name:'admin_index_00058',path:'/companyrz',query:{status: '3', tabs: 'news'}}},
		once_job:{name:lc('admin_index_00033'),num:0,menudata:{nval:1,oval:6,tval:48,name:'wap_js_00130',path:'/weipin_once',query:{status: '3'}}},
		resume_expect:{name:lc('admin_index_00054'),num:0,menudata:{nval:1,oval:7,tval:33,name:'wap_com_00105',path:'/resume',query:{status: '4'}}},
		resumetrust:{name:lc('admin_index_00032'),num:0,menudata:{nval:1,oval:7,tval:33,name:'wap_com_00105',path:'/resume',query:{status: '3', tabs: 'trust'}}},
		appealnum:{name:lc('admin_index_00062'),num:0,menudata:{nval:1,oval:401,tval:402,name:'admin_00086',path:'/usercrm',query:{tabs: 'four',params:{appealstate:'1'}}}},
		logout:{name:lc('admin_index_00019'),num:0,menudata:{nval:1,oval:401,tval:402,name:'admin_00086',path:'/usercrm',query:{status: '1', tabs: 'three'}}},
		usercertNum:{name:lc('admin_index_00021'),num:0,menudata:{nval:1,oval:7,tval:34,name:'admin_index_00058',path:'/renzheng',query:{status: '2'}}},
		userpic:{name:lc('admin_index_00020'),num:0,menudata:{nval:1,oval:7,tval:34,name:'admin_index_00058',path:'/renzheng',query:{status: '1', tabs: 'second'}}},
		usershow:{name:lc('admin_index_00028'),num:0,menudata:{nval:1,oval:7,tval:34,name:'admin_index_00058',path:'/renzheng',query:{status: '1', tabs: 'third'}}},
		linkNum:{name:lc('admin_index_00030'),num:0,menudata:{nval:5,oval:121,tval:194,name:'default_00256',path:'/friendlink',query:{state: '2'}}},
		tiny:{name:lc('admin_index_00034'),num:0,menudata:{nval:1,oval:156,tval:36,name:'wap_js_00066',path:'/weipin_tiny',query:{status: '2'}}},
		zphcom:{name:lc('admin_index_00029'),num:0,menudata:{nval:2,oval:12,tval:61,name:'wap_00558',path:'/xczph',query:{status: '3', tabs: 'com'}}},
		ask:{name:lc('admin_index_00056'),num:0,menudata:{nval:2,oval:15,tval:66,name:'admin_index_00077',path:'/question',query:{status: '0'}}},
		answer_msg:{name:lc('admin_index_00036'),num:0,menudata:{nval:2,oval:15,tval:66,name:'admin_index_00077',path:'/question',query:{status: '0', drawer: 'answer'}}},
		answerreview_msg:{name:lc('admin_index_00037'),num:0,menudata:{nval:2,oval:15,tval:66,name:'admin_index_00077',path:'/question',query:{status: '0', drawer: 'comment'}}},
		redeem:{name:lc('admin_index_00031'),num:0,menudata:{nval:3,oval:74,tval:77,name:'wap_user_00170',path:'/shoplist',query:{status: '-1'}}},
		order:{name:lc('admin_index_00016'),num:0,menudata:{nval:3,oval:161,tval:162,name:'admin_user_company_00136',path:'/chongzhidd',query:{order_state: '1'}}},
		specialcom:{name:lc('admin_index_00022'),num:0,menudata:{nval:3,oval:343,tval:49,name:'admin_index_00069',path:'/special',query:null}},
		reportjob:{name:lc('admin_index_00014'),num:0,menudata:{nval:3,oval:176,tval:178,name:'admin_index_00059',path:'/reportjob',query:{status: '0'}}},
		reportresume:{name:lc('admin_index_00013'),num:0,menudata:{nval:3,oval:176,tval:179,name:'wap_com_00349',path:'/reportresume',query:{status: '0'}}},
		reportask:{name:lc('admin_index_00015'),num:0,menudata:{nval:3,oval:176,tval:180,name:'ask_00002',path:'/reportask',query:{status: '0'}}},
		reportgw:{name:lc('admin_index_00018'),num:0,menudata:{nval:3,oval:176,tval:181,name:'admin_index_00060',path:'/reportadvise',query:{status: '0'}}},
		handlenum:{name:lc('admin_index_00017'),num:0,menudata:{nval:5,oval:198,tval:65,name:'wap_user_00203',path:'/feedback',query:{status: '1'}}},
		errlog:{name:lc('admin_index_00076'),num:0,menudata:{nval:5,oval:198,tval:814,name:'admin_index_00076',path:'/errorlog',query:null}},
		yqmb_msg:{name:lc('admin_index_00038'),num:0,menudata:{nval:1,oval:6,tval:46,name:'member_com_00213',path:'/companyms',query:{status: '0', tabs: 'first'}}},
		usermsg_msg:{name:lc('admin_index_00035'),num:0,menudata:{nval:1,oval:7,tval:37,name:'wap_com_00408',path:'/zixun',query:{status: '0'}}},
		warning:{name:lc('admin_index_00057'),num:0,menudata:{nval:5,oval:121,tval:175,name:'admin_index_00078',path:'/warning',query:{status: '2'}}},
	};

    const homeapp = new Vue({
        el: '#homeapp',
        router,
        data: function() {
            return {
                subWidth: false,

                MenuOpen: [],
                // cur_menu: '{yun:}$navigation[0].id{/yun}',
                cur_menu: parseInt('{yun:}$indexData.nav_id{/yun}'),
                cur_menu_one: parseInt('{yun:}$indexData.one_menu_id{/yun}'),
                cur_menu_two: parseInt('{yun:}$indexData.two_menu_id{/yun}'),
                tabArr: [parseInt('{yun:}$indexData.two_menu_id{/yun}')],
                tabList: [{
                    nav_id: parseInt('{yun:}$indexData.nav_id{/yun}'),
                    one_menu_id: parseInt('{yun:}$indexData.one_menu_id{/yun}'),
                    two_menu_id: parseInt('{yun:}$indexData.two_menu_id{/yun}'),
                    name: '{yun:}$indexData.name{/yun}',
                    name_key: '{yun:}$indexData.name{/yun}',
                    path: '{yun:}$indexData.path{/yun}',
                    isdel: false
                }],
                mine: null,

                msgNumData: [], // Message count data
				msgNum:0,
				msgNumLoad:true,

                navigation: [], // Navigation
                customizeIds: [], // Shortcut navigation IDs

                dialogMap: false,
                searchFormMap: {
                    keyword: ''
                },

                dialogShortcutMenu: false,
                formShortcutMenu: [],

                dialogLanguage: false,
                languageForm: {
                    lang: "{yun:}$lang_code{/yun}"
                },

                saveLoading: false,
            }
        },
        created: function() {
            let cur_menu = localStorage.getItem("cur_menu"),
                cur_menu_one = localStorage.getItem("cur_menu_one"),
                cur_menu_two = localStorage.getItem("cur_menu_two"),
                tabArrStr = localStorage.getItem("tabArr"),
                tabListStr = localStorage.getItem("tabList");

            if (tabListStr) {
                try {
                    let storedTabList = JSON.parse(tabListStr);
                    if (this.hasChineseTabCache(storedTabList)) {
                        this.resetTabState();
                        this.clearTabStorage();
                        cur_menu = cur_menu_one = cur_menu_two = tabArrStr = tabListStr = '';
                    } else {
                        this.tabList = this.normalizeTabList(storedTabList);
                    }
                } catch (e) {
                    this.resetTabState();
                    this.clearTabStorage();
                    cur_menu = cur_menu_one = cur_menu_two = tabArrStr = tabListStr = '';
                }
            }
            if (cur_menu) {
                this.cur_menu = parseInt(cur_menu);
            }
            if (cur_menu_one) {
                this.cur_menu_one = parseInt(cur_menu_one);
            }
            if (cur_menu_two) {
                this.cur_menu_two = parseInt(cur_menu_two);
            }
            if (tabArrStr) {
                this.tabArr = JSON.parse(tabArrStr);
            }
            this.getMsgNum();
        },
        methods: {
            
            openLanguageSetting() {
                this.languageForm.lang = this.languageForm.lang || "en_us";
                this.dialogLanguage = true;
            },

            saveLanguage() {
                var lang = this.languageForm.lang || "en_us";
                localStorage.setItem("lang", lang);
                document.cookie = "admin_lang=" + lang + "; path=/; max-age=31536000";
                this.clearTabStorage();
                var url = new URL(window.location.href);
                url.searchParams.set("lang", lang);
                window.location.href = url.toString();
            },

            logout() {
                var that = this
                axios.post('index.php?m=index&c=logout', {}).then(function(response) {
                    var res = response.data;
                    if (res.error == 0) {
                        // Clear localStorage
                        localStorage.clear();
                        window.location.reload();
                    } else {
                        that.$message.error(res.msg);
                    }
                }).catch(function(error) {
                    console.log(error);
                })
            },
            refresh() {
                location.reload();
            },
            checkMenu(val) {
                this.cur_menu = val;
                localStorage.setItem("cur_menu", val);
                let tab = this.tabList[0];
                if (val == 0 && tab.path == '/index') { // Navigate only when clicking Home and the Home tab exists
					this.getMsgNum();
                    this.checkMenuTwo(tab.nav_id, tab.one_menu_id, tab.two_menu_id, tab.name_key || tab.name, tab.path);
                }
            },
            MenuOpenChange(val) {
                let idx = this.MenuOpen.indexOf(val);
                if (idx > -1) {
                    this.MenuOpen.splice(idx, 1)
                } else {
                    this.MenuOpen.push(val)
                }
            },

            isAutoKey(value) {
                return typeof value === 'string' && /^[a-z][a-z0-9_]*_[0-9]{5}$/.test(value);
            },
            hasChineseText(value) {
                return typeof value === 'string' && /[\u4e00-\u9fff]/.test(value);
            },
            activeLang() {
                return localStorage.getItem("lang") || "en_us";
            },
            translateMenuText(value) {
                if (!value) {
                    return '';
                }
                if (this.isAutoKey(value) && typeof lc === 'function') {
                    return lc(value);
                }
                if (typeof window.yunAdminT === 'function') {
                    return window.yunAdminT(value);
                }
                return value;
            },
            menuKey(item) {
                if (!item) {
                    return '';
                }
                return item.name_key || item.name || '';
            },
            menuLabel(item) {
                let value = typeof item === 'string' ? item : this.menuKey(item);
                return this.translateMenuText(value);
            },
            normalizeTabName(name) {
                let value = name || '';
                return {
                    name: value,
                    name_key: this.isAutoKey(value) ? value : ''
                };
            },
            normalizeTabList(tabList) {
                if (!Array.isArray(tabList)) {
                    return this.tabList;
                }
                for (let i = 0; i < tabList.length; i++) {
                    if (tabList[i] && !tabList[i].name_key && this.isAutoKey(tabList[i].name)) {
                        tabList[i].name_key = tabList[i].name;
                    }
                }
                return tabList;
            },
            hasChineseTabCache(tabList) {
                return this.activeLang() !== 'zh_cn' && this.hasChineseText(JSON.stringify(tabList || []));
            },
            resetTabState() {
                this.cur_menu = parseInt('{yun:}$indexData.nav_id{/yun}');
                this.cur_menu_one = parseInt('{yun:}$indexData.one_menu_id{/yun}');
                this.cur_menu_two = parseInt('{yun:}$indexData.two_menu_id{/yun}');
                this.tabArr = [parseInt('{yun:}$indexData.two_menu_id{/yun}')];
                this.tabList = [{
                    nav_id: parseInt('{yun:}$indexData.nav_id{/yun}'),
                    one_menu_id: parseInt('{yun:}$indexData.one_menu_id{/yun}'),
                    two_menu_id: parseInt('{yun:}$indexData.two_menu_id{/yun}'),
                    name: '{yun:}$indexData.name{/yun}',
                    name_key: '{yun:}$indexData.name{/yun}',
                    path: '{yun:}$indexData.path{/yun}',
                    isdel: false
                }];
            },
            clearTabStorage() {
                localStorage.removeItem("cur_menu");
                localStorage.removeItem("cur_menu_one");
                localStorage.removeItem("cur_menu_two");
                localStorage.removeItem("tabArr");
                localStorage.removeItem("tabList");
            },
            tabLabel(tab) {
                return this.menuLabel(tab);
            },
            checkMenuOpen(val) {
                let idx = this.MenuOpen.indexOf(val);
                return idx > -1 ? false : true;
            },
            checkMenuTwo(nval, oval, tval, name, path, query = null) {
                nval = parseInt(nval);
                oval = parseInt(oval);
                tval = parseInt(tval);

                this.cur_menu_one = oval;
                this.cur_menu_two = tval;
                localStorage.setItem("cur_menu_one", oval);
                localStorage.setItem("cur_menu_two", tval);

                if (this.tabArr.indexOf(tval) == -1) {
                    this.tabArr.push(tval);
                    let tabName = this.normalizeTabName(name);
                    this.tabList.push({
                        nav_id: nval,
                        one_menu_id: oval,
                        two_menu_id: tval,
                        name: tabName.name,
                        name_key: tabName.name_key,
                        path: path,
                        isdel: true
                    })
                    localStorage.setItem("tabArr", JSON.stringify(this.tabArr));
                    localStorage.setItem("tabList", JSON.stringify(this.tabList));
                }


                if (this.$route.path === path) { // Current route matches clicked route
                    if (query) { // Route includes query parameters
                        if (JSON.stringify(query) === JSON.stringify(this.$route.query)) { // Refresh when query parameters are unchanged
                            this.$router.go(0);
                        } else { // Deep reload when query parameters differ
                            this.$router.push({
                                path: path,
                                query: query
                            }).catch(err => {}) // Suppress duplicate-route errors when path is unchanged
                            this.$router.go(0);
                        }
                        return false;
                    } else {
                        return false; // Stop duplicate clicks
                    }
                }

                this.$router.push({
                    path: path,
                    query: query
                })
            },
            checkTab(idx) {
                let tab = this.tabList[idx];

                if (this.cur_menu_two == tab.two_menu_id) { // Ignore duplicate clicks
                    return
                }

                this.cur_menu = tab.nav_id;
                this.cur_menu_one = tab.one_menu_id;
                this.cur_menu_two = tab.two_menu_id;

                localStorage.setItem("cur_menu", this.cur_menu);
                localStorage.setItem("cur_menu_one", this.cur_menu_one);
                localStorage.setItem("cur_menu_two", this.cur_menu_two);

                this.$router.push({
                    path: tab.path
                })
            },
            closeTab(idx) {
                if (this.tabArr.length > 1) {
                    let tab,
                        delTab = this.tabList[idx];
                    if (idx == 0) {
                        tab = this.tabList[idx + 1];
                    } else {
                        tab = this.tabList[idx - 1];
                    }

                    if (delTab.two_menu_id == this.cur_menu_two) { // Trigger route change only when deleting the active tab
                        this.cur_menu = tab.nav_id;
                        this.cur_menu_one = tab.one_menu_id;
                        this.cur_menu_two = tab.two_menu_id;

                        this.$router.push({
                            path: tab.path // TODO: route jump does not succeed
                        })
                    }
                } else {
                    this.cur_menu = parseInt('{yun:}$indexData.nav_id{/yun}');
                    this.cur_menu_one = parseInt('{yun:}$indexData.one_menu_id{/yun}');
                    this.cur_menu_two = parseInt('{yun:}$indexData.two_menu_id{/yun}');
                    this.$router.push({
                        path: '{yun:}$indexData.path{/yun}' // Navigate to Home normally
                    })
                }
                this.tabArr.splice(idx, 1);
                this.tabList.splice(idx, 1);

                this.setLocalStorage();
            },
            setLocalStorage() {
                localStorage.setItem("cur_menu", this.cur_menu);
                localStorage.setItem("cur_menu_one", this.cur_menu_one);
                localStorage.setItem("cur_menu_two", this.cur_menu_two);
                localStorage.setItem("tabArr", JSON.stringify(this.tabArr));
                localStorage.setItem("tabList", JSON.stringify(this.tabList));
            },
            closeTabOther() {
                let tabArr = this.tabArr,
                    tabNum = tabArr.length,
                    tabList = this.tabList,
                    cur_menu_two = this.cur_menu_two;

                if (tabNum > 2) {
                    let idx = tabArr.indexOf(cur_menu_two)
                    if (idx > -1) {
                        if (tabNum - 1 == idx) { // Last tab: remove previous tabs; index is zero-based
                            tabArr.splice(1, tabNum - 2); // Keep Home and current tab
                            tabList.splice(1, tabNum - 2); // Keep Home and current tab
                        } else { // Deleting a middle tab
                            tabArr.splice(idx + 1, tabNum - 1 - idx); // Remove tabs after current tab using the computed count
                            tabList.splice(idx + 1, tabNum - 1 - idx); // Remove tabs after current tab using the computed count
                            if (idx > 1) { // If index is greater than 1, at least one tab exists before current tab
                                tabArr.splice(1, idx - 1); // Remove tabs before current tab using the computed count
                                tabList.splice(1, idx - 1); // Remove tabs before current tab using the computed count
                            }
                        }
                        this.tabArr = tabArr;
                        this.tabList = tabList;

                        localStorage.setItem("tabArr", JSON.stringify(tabArr));
                        localStorage.setItem("tabList", JSON.stringify(tabList));
                    }
                }
            },
            closeTabAll() {
                let tabNum = this.tabArr.length;
                if (tabNum > 1) {
                    this.tabArr.splice(1, tabNum - 1); // Keep Home tab
                    this.tabList.splice(1, tabNum - 1); // Keep Home tab

                    this.cur_menu = parseInt('{yun:}$indexData.nav_id{/yun}');
                    this.cur_menu_one = parseInt('{yun:}$indexData.one_menu_id{/yun}');
                    this.cur_menu_two = parseInt('{yun:}$indexData.two_menu_id{/yun}');
                    this.$router.push({
                        path: '{yun:}$indexData.path{/yun}' // Navigate to Home normally
                    })

                    this.setLocalStorage();
                }
            },
            topage(param = {}) {
                this.$router.push(param)
            },

            openPage(url) {
                window.open(url);
            },

            clearCache() {
                httpPost('m=index&c=del_cache', {}, {}, localStorage.getItem("baseUrl")).then(function(response) {
                    let res = response.data;

                    if (res.error > 0) {
                        message.error(lc('admin_index_00051'));
                    } else {
                        message.success(lc('admin_index_00052'));
                    }
                })
            },

            async openMap() {
                if (this.navigation.length > 0) { // This guard reduces open requests and can be removed if unnecessary
                    this.searchFormMap.keyword = '';
                    this.searchMap();
                } else {
                    await this.getMenu();
                }

                this.dialogMap = true;
            },

            async searchMap() {
                let that = this,
                    query = that.searchFormMap.keyword,
                    navigation = deepClone(that.navigation),
                    twoList = [],
                    threeList = [];

                if (navigation && navigation.length > 0) {
                    navigation.forEach(function(oneItem, oneKey) {
                        navigation[oneKey].hide = true; // Hide first-level navigation
                        twoList = oneItem.children;
                        if (twoList && twoList.length > 0) {
                            twoList.forEach(function(twoItem, twoKey) {
                                navigation[oneKey]['children'][twoKey].hide = true; // Hide second-level navigation
                                threeList = twoItem.children;
                                if (threeList && threeList.length > 0) {
                                    threeList.forEach(function(threeItem, threeKey) {
                                        if (query) {
                                            let searchName = that.menuLabel(threeItem);
                                            if ((searchName && searchName.includes(query)) || (threeItem.name && threeItem.name.includes(query))) { // Third-level item must contain the keyword
                                                navigation[oneKey].hide = false; // Show first-level navigation
                                                navigation[oneKey]['children'][twoKey].hide = false; // Show second-level navigation
                                                navigation[oneKey]['children'][twoKey]['children'][threeKey].hide = false; // Mark third-level navigation as visible
                                            } else {
                                                if (navigation[oneKey].hide !== false) { // Once marked visible, do not hide first-level navigation later
                                                    navigation[oneKey].hide = true; // Hide first-level navigation
                                                }
                                                if (navigation[oneKey]['children'][twoKey].hide !== false) { // Once marked visible, do not hide second-level navigation later
                                                    navigation[oneKey]['children'][twoKey].hide = true; // Hide second-level navigation
                                                }
                                                navigation[oneKey]['children'][twoKey]['children'][threeKey].hide = true; // Hide third-level navigation
                                            }
                                        } else { // Show all navigation when not searching
                                            navigation[oneKey].hide = false;
                                            navigation[oneKey]['children'][twoKey].hide = false;
                                            navigation[oneKey]['children'][twoKey]['children'][threeKey].hide = false;
                                        }
                                    })
                                }
                            })
                        }
                    })

                    that.navigation = navigation;
                }
            },

            async getMenu() {
                let response = await httpPost('m=index&c=getMenu', {}, {}, localStorage.getItem("baseUrl"));

                let res = response.data,
                    data = res.data;

                this.navigation = data.navigation;
                this.customizeIds = data.customizeIds;
            },

            async openShortcutMenu() {
                if (this.navigation.length > 0) { // This guard reduces open requests and can be removed if unnecessary
                    this.searchMap();
                } else {
                    await this.getMenu();
                }

                this.formShortcutMenu = this.customizeIds.length > 0 ? deepClone(this.customizeIds) : [];

                this.dialogShortcutMenu = true;
            },

            saveShortcutMenu() {
                let that = this,
                    params = {
                        chk_value: that.formShortcutMenu
                    };

                if (that.formShortcutMenu.length == 0) {
                    message.error(lc('admin_index_00039'));
                    return false;
                }

                if (that.saveLoading) {
                    return false;
                }
                that.saveLoading = true;

                httpPost('m=index&c=shortcut_menu', params, {}, localStorage.getItem("baseUrl")).then(function (response) {
                    let res = response.data;

                    if (res.error > 0) {
                        that.saveLoading = false;
                        message.error(res.msg);
                    } else {
                        that.dialogShortcutMenu = false;
                        that.customizeIds = deepClone(that.formShortcutMenu);
                        message.success(res.msg, function() {
                            that.saveLoading = false;
                            let hash = window.location.hash;
                            if (!hash || hash.includes('#/index')) { // Refresh when the link is Home
                                that.$router.go(0);
                            } else {
                                window.parent.location.reload();
                            }
                        });
                    }
                })
            },

            getMsgNum() {
                let that = this;
				that.msgNumLoad = true;
				if(document.getElementById("index")){
					document.getElementById("index").contentWindow.postMessage({type:'msgnum',data:true},'*');
				}
				httpPost('m=index&c=msgNum', {}, {hideloading: true}, localStorage.getItem("baseUrl")).then(function (response) {
					let res = response.data;
					var msgNumData = deepClone(msgNumDef);
					that.msgNum = res.msgNum;
					delete res.msgNum;

					for(let i in res){
						if(typeof msgNumData[i]!='undefined' && msgNumData[i]){
							msgNumData[i].num = res[i];
						}
					}

					for(let i in msgNumData){
						if(typeof res[i]!='undefined' && res[i]>0){
							msgNumData[i].num = res[i];
						}else{
							delete msgNumData[i];
						};
					}

					that.msgNumData = Object.values(msgNumData);
					
					that.msgNumLoad = false;
					
				})
            },
        }
    });

    window.homeapp = homeapp; // router-view pages can use window.parent.homeapp to communicate with the shell
    </script>
</body>

</html>
