<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>{yun:}$config.sy_webname{/yun}</title>
	<meta name="keywords" content="{yun:}t key='wap_00319'{/yun}" />
	<meta name="description" content="{yun:}t key='wap_00670'{/yun}{yun:}t key='common_02023'{/yun}" />
	<script src="{yun:}$wap_style{/yun}/js/flexible.js?v={yun:}$config.cachecode{/yun}"></script>
	<link href="{yun:}$wap_style{/yun}/css/base.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
	<link href="{yun:}$wap_style{/yun}/css/member/memberwap.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
	<link href="{yun:}$wap_style{/yun}/css/member/memberuserwap.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
    <script src="{yun:}$wap_style{/yun}/js/jquery.min.js?v={yun:}$config.cachecode{/yun}"></script>
	<link href="{yun:}$config_wapdomain{/yun}/js/vant/lib/index.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" />
	<script src="{yun:}$wap_style{/yun}/js/vue.min.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="{yun:}$config_wapdomain{/yun}/js/vant/lib/vant.min.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="{yun:}$config_wapdomain{/yun}/js/vant/phpyun_vant.js?v={yun:}$config.cachecode{/yun}"></script>
	<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}"></script>
	<link href="{yun:}$wap_style{/yun}/css/combase.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
	<script>var wapurl = "{yun:}url m=wap{/yun}";</script>
	<script>
	var WAP_PUBLIC_I18N = {
		operationFailed: '{yun:}t key='wap_js_00141'{/yun}',
		signSuccessPrefix: '{yun:}t key='wap_01251'{/yun}',
		signedTodayComeTomorrow: '{yun:}t key='wap_01252'{/yun}',
		cancel: '{yun:}t key='wap_js_00080'{/yun}',
		login: '{yun:}t key='wap_js_00145'{/yun}',
		confirmLogout: '{yun:}t key='wap_00818'{/yun}',
		reportAfterContact: '{yun:}t key='wap_01253'{/yun}',
		alreadyReportedResume: '{yun:}t key='wap_01254'{/yun}',
		confirmReportResume: '{yun:}t key='wap_01255'{/yun}',
		followBtn: '{yun:}t key='common_01949'{/yun}',
		followBtnAdd: '{yun:}t key='wap_01264'{/yun}',
		unfollow: '{yun:}t key='wap_js_00140'{/yun}',
		followSuccess: '{yun:}t key='wap_01256'{/yun}',
		unfollowSuccess: '{yun:}t key='wap_00985'{/yun}',
		followersSuffix: '{yun:}t key='wap_01257'{/yun}',
		oldPasswordWrong: '{yun:}t key='wap_01258'{/yun}',
		newPasswordMinLength: '{yun:}t key='wap_01259'{/yun}',
		newPasswordMustDiffer: '{yun:}t key='wap_01260'{/yun}',
		passwordMismatch: '{yun:}t key='wap_js_00138'{/yun}',
		enterPassword: '{yun:}t key='wap_js_00139'{/yun}',
		commentEmpty: '{yun:}t key='wap_01261'{/yun}',
		commentFailed: '{yun:}t key='wap_01262'{/yun}',
		pleaseLogin: '{yun:}t key='wap_js_00154'{/yun}',
		loginSuccess: '{yun:}t key='wap_01263'{/yun}',
		minRechargePrefix: '{yun:}t key='wap_01265'{/yun}',
		insufficientRecharge: '{yun:}t key='wap_js_00136'{/yun}',
		selectPaymentMethod: '{yun:}t key='wap_01042'{/yun}',
		fillPromoteDays: '{yun:}t key='wap_00882'{/yun}',
	};
	var COM_PICKER_I18N = {
		noLimit: '{yun:}t key='common_01936'{/yun}',
		male: '{yun:}t key='common_02092'{/yun}',
		female: '{yun:}t key='common_02069'{/yun}',
		selectExperience: '{yun:}t key='wap_00937'{/yun}',
		selectEducation: '{yun:}t key='wap_js_00114'{/yun}',
		yearSuffix: '{yun:}t key='wap_00841'{/yun}',
	};
	</script>
</head>
<style type="text/css">
	body{font-size: 14px !important;}
</style>
<!-- Company header -->
<body>
<!-- Post job -->
{yun:}if $smarty.get.c=='job' || $smarty.get.c=='part'{/yun}
<div class="more_position_header">
	<div class="position_header_back">
		<a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}" style="display: block">
			<img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="">
		</a>
	</div>
	<div class="position_header_serch">
		<input type="search" id="jobSearch" placeholder="{yun:}t key='wap_user_00254'{/yun}">
	</div>
	{yun:}if $smarty.get.c=='part'{/yun}
	<div onclick="partadd()" class="position_header_issue">
		<div class="header_issue_icon">
			<img src="{yun:}$wap_style{/yun}/images/job_issue.png" alt="">
		</div>
		<div class="header_issue_text">{yun:}t key='wap_00321'{/yun}</div>
	</div>
	{yun:}else{/yun}
	<div onclick="jobadd()" class="position_header_issue">
		<div class="header_issue_icon">
			<img src="{yun:}$wap_style{/yun}/images/job_issue.png" alt="">
		</div>
		<div class="header_issue_text">{yun:}t key='common.publish_job'{/yun}</div>
	</div>
	{yun:}/if{/yun}
</div>
{yun:}elseif $smarty.get.c== 'finance'|| $smarty.get.c == 'pay' || $smarty.get.c == 'paylog'|| $smarty.get.c == 'integral'|| $smarty.get.c =='server'{/yun}
<!-- {yun:}t key='common_01956'{/yun}VIP -->
<div class="m_backheader">
	
	<div class="m_header_c">
			<div class="m_headericon"><a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}">
				<img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="" width="100%" height="100%">
			</a>	</div>
	
		<div class="m_header_cont">{yun:}$header_title{/yun}</div>
	</div>	

</div>
{yun:}elseif $smarty.get.c=='hr'{/yun}
<style>
	img {
		width: 100%;
		height: 100%;
		display: block !important;
	}

</style>

<!-- Page header -->

<div class="m_header">
				<div class="m_header_c">
				<div class="m_headericon"><a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}">
					<img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="" width="100%" height="100%">
				</a>	</div>
		
			<div class="m_header_cont">{yun:}$header_title{/yun}</div>
		</div>	</div>



{yun:}elseif $smarty.get.c == 'invite' || $smarty.get.c == 'attention_me' || $smarty.get.c == 'look_job' || $smarty.get.c == 'jobadd'{/yun}


<div class="m_header">
				<div class="m_header_c">
				<div class="m_headericon"><a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}">
					<img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="" width="100%" height="100%">
				</a>	</div>
		
			<div class="m_header_cont">{yun:}$header_title{/yun}</div>
		</div>	</div>

{yun:}else{/yun}
<header>
	<div class="comheader">

		<a class="comheader_return comheaderBlack" href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}"></a>

		<div class="comheader_tit">{yun:}$header_title{/yun}</div>
		
		<!-- Create invite template -->
		{yun:}if $smarty.get.c=='yqmb'{/yun}
		<div class="header_fa_add">
			<a  href="javascript:;" onclick="addYqmb();" class="header_fa_add_p">{yun:}t key='wap_js_00091'{/yun}</a>
		</div>
		{yun:}/if{/yun}
	</div>
</header>

{yun:}/if{/yun}

<script>
	window.localStorage.removeItem("needRefresh");
	window.addEventListener('pageshow', function(){
		var storage = window.localStorage.getItem("needRefresh");
		if(storage){
			window.location.reload();
		}
	});
</script>
