{yun:}include file="$comstyle/header.htm"{/yun}

<div class="w1000">
<div class="admin_mainbody">
{yun:}include file="$comstyle/left.htm"{/yun}
	 
<div class=right_box>
	<div id="grow_freedom" class="grow_mod_wrap my_freedom" style="padding:0px;border:none;">
	<div class="newmember_tit">
		<ul>
			<li class="newmember_titcur"> <a href="index.php?c=right">{yun:}t key='wap_com_00097'{/yun}</a></li>
			<li> <a  href="index.php?c=pay" >{yun:}t key='member_com_00041'{/yun}</a></li>
			<li> <a  href="index.php?c=paylogtc" class=" ">{yun:}t key='wap_com_00064'{/yun}</a></li>
			<li><a  href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}{yun:}t key='wap_com_00304'{/yun}</a></li>
		</ul>
	</div>
	<div class="clear"></div> 
	
	<div class="newmember_screenbox">
		<div class="newmember_screen">
			<ul>
				{yun:}if $config.com_vip_type==2{/yun}
					<li><a href="index.php?c=right" >{yun:}t key='wap_com_00380'{/yun}</a></li>
				{yun:}/if{/yun}
			
				{yun:}if $config.com_vip_type==1{/yun}
					<li><a href="index.php?c=right&act=time" >{yun:}t key='wap_com_00384'{/yun}</a></li>
				{yun:}/if{/yun}
			
				{yun:}if $config.com_vip_type==0{/yun}
					<li ><a href="index.php?c=right" >{yun:}t key='wap_com_00380'{/yun}</a></li>
					<li><a href="index.php?c=right&act=time" >{yun:}t key='wap_com_00384'{/yun}</a></li>
				{yun:}/if{/yun}
			
				{yun:}if $statis.rating_type != 2 && !$vipIsDown && $config.com_integral_online != 4 {/yun}
				<li class="job_list_tit_cur"><a href="index.php?c=right&act=added" >{yun:}t key='wap_com_00393'{/yun}</a></li>
				{yun:}/if{/yun}
			</ul>
		</div> 
	</div> 
		
		
		
		
		
	
 <div class="clear"></div>
       <div class=admincont_box>
        
           <div class="com_body"> 
			<iframe id="fdingdan"  name="fdingdan" onload="returnmessage('fdingdan');" style="display:none"></iframe>
			
		
	<div class="com_new_tip ">
	<span class="com_new_tip_h">{yun:}t key='member_com_00040'{/yun}</span>{yun:}t key='common_02235'{/yun}：{yun:}$statis.rating_name{/yun}
					服务到期为：
					{yun:}if $statis.vip_etime > $todayStart{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - {yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
					{yun:}else if $statis.vip_etime==0{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - {yun:}t key='api_wxapp_00019'{/yun}
					{yun:}else{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 
						<span class="comindex_money_pd_s">{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}</span> 
						<a href="index.php?c=right" class="cblue">{yun:}t key='wap_com_00066'{/yun}</a> 
					{yun:}/if{/yun}      <!-- 开通企业套餐，尊享招聘特权--></div>
	
        <div class="clear"></div>
           <div class="Value_added_pd">
        <div class="Value_added">
	        <div class="Value_added_mune">  
		        <ul class="Value_added_mune_left">
		        	{yun:}foreach from=$rows item=v key=key{/yun}
					<li {yun:}if $smarty.get.id==$v.id||($smarty.get.id==''&&$key<1){/yun}class="Value_added_mune_cur"{yun:}/if{/yun}><a href="index.php?c=right&act=added&id={yun:}$v.id{/yun}">{yun:}$v.name{/yun}</a><i class="Value_added_bg"></i></li>
					{yun:}/foreach{/yun}
		        </ul>
	        </div>
            <div class="Value_added_box"> 
            <div class="clear"></div>
			{yun:}if $info{/yun}
        	<table class="added_de_box_table" cellpadding="0" cellspacing="0">
           		<tbody>
	           		<tr>
	           			<th>{yun:}t key='default_00103'{/yun}</th><th  align="center"><div style="width:65px">{yun:}t key='member_com_00519'{/yun}</div></th><th align="center"><div style="width:85px">{yun:}t key='member_com_00520'{/yun}</div></th>
	           		</tr>
	           		{yun:}foreach from=$info item=v{/yun}
	                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="{yun:}$v.id{/yun}" onclick="toChange()" class="added_cont_radio" autocomplete="off" />
	                    	{yun:}if $v.resume{/yun}<span class="added_cont_s">{yun:}t key='wap_00451'{/yun}：<i class="com_dt_rage">{yun:}$v.resume{/yun}{yun:}t key='common_02052'{/yun}</i>，</span>{yun:}/if{/yun}
	                    	{yun:}if $v.interview{/yun}<span class="added_cont_s">{yun:}t key='resume_00029'{/yun}：<i class="com_dt_rage">{yun:}$v.interview{/yun}{yun:}t key='common_02052'{/yun}</i>，</span>{yun:}/if{/yun}
	                    	{yun:}if $v.job_num{/yun}<span class="added_cont_s">{yun:}t key='wap_com_00028'{/yun}：<i class="com_dt_rage">{yun:}$v.job_num{/yun}{yun:}t key='common_02052'{/yun}</i>，</span>{yun:}/if{/yun}
	                    	{yun:}if $v.breakjob_num{/yun}<span class="added_cont_s">{yun:}t key='wap_com_00029'{/yun}：<i class="com_dt_rage">{yun:}$v.breakjob_num{/yun}{yun:}t key='common_02052'{/yun}</i>，</span>{yun:}/if{/yun} 
	                    	{yun:}if $v.top_num{/yun}<span class="added_cont_s">{yun:}t key='wap_com_00238'{/yun}：<i class="com_dt_rage">{yun:}$v.top_num{/yun}{yun:}t key='common_02067'{/yun}</i>，</span>{yun:}/if{/yun} 
	                    	{yun:}if $v.rec_num{/yun}<span class="added_cont_s">{yun:}t key='wap_com_00237'{/yun}：<i class="com_dt_rage">{yun:}$v.rec_num{/yun}{yun:}t key='common_02067'{/yun}</i>，</span>{yun:}/if{/yun} 
	                    	{yun:}if $v.urgent_num{/yun}<span class="added_cont_s">{yun:}t key='member_com_00613'{/yun}：<i class="com_dt_rage">{yun:}$v.urgent_num{/yun}{yun:}t key='common_02067'{/yun}</i>，</span>{yun:}/if{/yun} 
	                    	{yun:}if $v.zph_num{/yun}<span class="added_cont_s">{yun:}t key='admin_user_company_00210'{/yun}：<i class="com_dt_rage">{yun:}$v.zph_num{/yun}{yun:}t key='common_02089'{/yun}</i>，</span>{yun:}/if{/yun} 
	                    	</div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">{yun:}$v.service_price{/yun}</span>{yun:}t key='common_02056'{/yun}</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">{yun:}if $discount.service_discount{/yun}{yun:}$v.service_price*$discount.service_discount*0.01{/yun}{yun:}else{/yun}{yun:}$v.service_price{/yun}{yun:}/if{/yun}</span> {yun:}t key='common_02056'{/yun} 
	           				<div class="added_de_box_table_jgyh">{yun:}if $discount.service_discount{/yun}{yun:}t key='wap_com_00067'{/yun}{yun:}0.1*$discount.service_discount{/yun}折优惠{yun:}/if{/yun} </div> 
	           			</td>
                     
	         		</tr>  
	         		{yun:}/foreach{/yun}
           		</tbody>
           	</table>
			
			{yun:}if $config.com_integral_online==3 && !$meal{/yun}
            <div class="added_de_box_fk">
				{yun:}t key='common_02033'{/yun}{yun:}$config.integral_pricename{/yun}：<span class="added_de_box_fk_je">{yun:}$statis.integral{/yun}</span> {yun:}$config.integral_pricename{/yun}
				（1{yun:}t key='common_02056'{/yun} = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
 			</div>  
			{yun:}/if{/yun}

			<div class="added_de_box_fk">
				应付
				{yun:}if $config.com_integral_online==3 && !$meal{/yun}
					{yun:}$config.integral_pricename{/yun}：<span id="price" class="added_de_box_fk_je">0</span> {yun:}$config.integral_pricename{/yun}
				{yun:}else{/yun}
					{yun:}t key='member_user_00254'{/yun}：<span id="price" class="added_de_box_fk_je">0</span> {yun:}t key='common_02056'{/yun}
				{yun:}/if{/yun}
			</div>

			{yun:}if $config.com_integral_online==1 && !$meal{/yun}
				<div class="added_de_box_fk">
					{yun:}t key='common_01992'{/yun}{yun:}$config.integral_pricename{/yun}：<input type="text" id="dkjf" onkeyup="checkNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text" autocomplete="off">
				</div>
				<div class="added_de_box_fk">
					{yun:}t key='common_02033'{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}$statis.integral{/yun}（1{yun:}t key='common_02056'{/yun} = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
				</div>
				<div class="added_de_box_fk dkh_div" style="display:none">{yun:}t key='common_01992'{/yun}{yun:}$config.integral_pricename{/yun}后消费金额：
					<span class="added_de_box_fk_je" id="price_dk"></span> {yun:}t key='common_02056'{/yun}
				</div>
			{yun:}/if{/yun}

            <div class="added_de_box_fk">
				<form name="alipayment" target="fdingdan" action="index.php?c=pay&act=dingdan" method="post" id="myform1">
					<input type="hidden" value="" id="comserviceid" name="comservice"/>
					<input type="hidden" value="" id="dkjf2" name="dkjf"/>
					<input type="hidden" value="" id="dkprice" name="dkprice"/>
					<div id="zf_div" {yun:}if $config.com_integral_online ==3 && !$meal{/yun} style="display:none"{yun:}/if{/yun}>
						<a href="javascript:buyPackSubmit('{yun:}$statis.vip_etime{/yun}','{yun:}$todayStart{/yun}');" class="added_de_box_bth">{yun:}t key='wap_user_00206'{/yun}</a>
					</div>
					<div id="zf_div2" {yun:}if $config.com_integral_online !=3 || $meal==1{/yun} style="display:none"{yun:}/if{/yun}>
						<a href="javascript:qrzf();" class="added_de_box_bth">{yun:}t key='wap_user_00206'{/yun}</a>
					</div>
				</form>
            </div>
			{yun:}else{/yun}
			<div class="msg_no"><p>{yun:}t key='wap_01007'{/yun}，目前没有增值包服务</p></div>
			{yun:}/if{/yun}
            <div class="clear"></div> 
        
		</div>
        </div>
	</div>
	</div>
	</div>
</div>
</div>

<script>
function toChange(){
	var online = '{yun:}$config.com_integral_online{/yun}',
			meal = '{yun:}$meal{/yun}';
 
	var obj  = document.getElementsByName('service_package');
    for(var i=0;i<obj.length;i++){
        if(obj[i].checked==true){
			$("#dkjf").val('');
 			$(".dkh_div").hide();
        	{yun:}foreach from=$info item=v{/yun}
				if(obj[i].value=='{yun:}$v.id{/yun}'){
					if(online==3 && meal != 1){
						document.getElementById('price').innerHTML='{yun:}if $discount.service_discount{/yun}{yun:}$v.service_price*$discount.service_discount*0.01*$config.integral_proportion{/yun}{yun:}else{/yun}{yun:}$v.service_price*$config.integral_proportion{/yun}{yun:}/if{/yun}';
					}else{
						document.getElementById('price').innerHTML='{yun:}if $discount.service_discount{/yun}{yun:}$v.service_price*$discount.service_discount*0.01{/yun}{yun:}else{/yun}{yun:}$v.service_price{/yun}{yun:}/if{/yun}';
					}
					
					document.getElementById('comserviceid').value='{yun:}$v.id{/yun}';

					var p_price = '{yun:}if $discount.service_discount{/yun} {yun:}$v.service_price*$discount.service_discount*0.01{/yun} {yun:}else{/yun} {yun:}$v.service_price{/yun} {yun:}/if{/yun}';
					$("#dkprice").val(p_price);

					if(parseInt(p_price) == 0){
						$("#zf_div").hide();
						$("#zf_div2").show();
					}
				}	
            {yun:}/foreach{/yun}
        }
    }
	
}

function checkNum(integral,integral_pro){
	var dkjf = $("#dkjf").val();
 	if(dkjf){
		$(".dkh_div").show();
	} 
	var price = $("#price").text();
	var need_jifen = accMul(price, integral_pro);

  	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#dkjf").val(parseInt(need_jifen));
			dkjf=parseInt(need_jifen);
			var dkjfh = accSub(price , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(price, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#dkjf").val(parseInt(integral));
			dkjf=parseInt(integral);
			var dkjfh = accSub(price , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(price, accDiv(dkjf,integral_pro));
 		}
 	}
 		if(dkjfh<=0){
			$("#price_dk").html(0);
			$("#zf_div").hide();
			$("#zf_div2").show();
		}else{
			$("#price_dk").html(dkjfh);
			$("#dkjf2").val(dkjf);
			$("#dkprice").val(dkjfh);
			$("#zf_div").show();
			$("#zf_div2").hide();
		}
 	 
	 	
}

function qrzf(){
	var index = layer.load("{yun:}t key='wap_js_00148'{/yun}",0);
	var tcid = $("#comserviceid").val();
	if(tcid==''){
		layer.closeAll();
		layer.msg("{yun:}t key='member_com_00523'{/yun}",2,8);
		return false;
	}
	
	var price = $("#price").text();//选中套餐后所需要的金额

 	var url = "index.php?c=pay&act=dkzf";
 	loadlayer();
	$.post(url,{tcid:tcid,price:price,server:'pack'},function(data){
		layer.closeAll('loading');
		if(data){
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='index.php?c=paylogtc';
				}); 
    		}
		}
	})
}


function buyPackSubmit(etime,time){
	var tcid = $("#comserviceid").val();
	if(tcid==''){
		layer.closeAll();
		layer.msg("{yun:}t key='member_com_00523'{/yun}",2,8);
		return false;
	}
	var date = ((etime - time) / ( 60 * 60 * 24));

	if(date < 7 && date >=0){
		layer.confirm("{yun:}t key='member_com_00039'{/yun}"+date+"{yun:}t key='wap_com_00367'{/yun}",function(){
			$('#myform1').submit();
		});
	}else{
		$('#myform1').submit();
	}

}
</script>
{yun:}include file="$comstyle/footer.htm"{/yun}
