{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody"> 
		{yun:}include file="$comstyle/left.htm"{/yun} 
		<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script> 

 		<script language="javascript">
		UE.getEditor('description',{
			toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
			wordCount:false,
			elementPathEnabled:false,
			initialFrameHeight:300
		});
		</script>
  <div class=right_box>
  	  <div class="newmember_screenbox">
  	  	<div class="newmember_screen">
  	  		<div class="newmember_screenname"><a href="index.php?c=product" class="newcom_fh">{yun:}t key='common.back'{/yun} </a><span
  	  				class="newcom_fh_line">|</span>{yun:}t key='member_com_00524'{/yun}</div>
  	  	</div>
  	  </div>
  					  <div class="clear"></div>
  				              <div class=admincont_box>
  				     <div class="com_body"> 
					<div class="com_release_box">
						<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
						<form id="productform" name="MyForm" method="post" target="supportiframe" action="index.php?c=product&act=save" enctype="multipart/form-data">
							<ul>
								<li>
									<div class="com_release_name"><i class="ff0">*</i> {yun:}t key='member_com_00047'{/yun}</div>
									<input type="text"  name="title" value="{yun:}$editrow.title{/yun}"class="com_info_text" >
									<span id="by_name"  class="errordisplay">{yun:}t key='member_com_00044'{/yun}</span>
								</li>

								<li>
									<div class="com_release_name"><i class="ff0">*</i> {yun:}t key='member_com_00045'{/yun}</div>
									<div class="add_product_text">
										<button type="button" class="yun_bth_pic noupload" lay-data="{imgid: 'imgicon',parentid: 'imgparent'}">{yun:}t key='wap_00540'{/yun}</button>最佳尺寸：宽/{yun:}t key='common_02105'{/yun}=270像素/180像素<span id="by_name" class="errordisplay">{yun:}t key='member_com_00044'{/yun}</span>
										<input type="hidden" id="laynoupload" value="1"/>
									</div>
								</li>
								<li id="imgparent" {yun:}if !$editrow.pic{/yun}class="none"{yun:}/if{/yun}>
									<div class="com_release_name"><i class="ff0">*</i> {yun:}t key='member_com_00048'{/yun}</div>
									<img id="imgicon" src="{yun:}$editrow.pic{/yun}" width="100" height="60"/>
								</li>
								<li>
									<div class="com_release_name"><i class="ff0">*</i> {yun:}t key='member_com_00046'{/yun}</div>
 									<script id="description" name="body" type="text/plain" style="width:560px; height:200px;"> {yun:}$editrow.body{/yun} </script>
									<span id="by_description" class="errordisplay">{yun:}t key='member_com_00044'{/yun}</span>
								</li>   
								<li>
									<input name="id" value="{yun:}$smarty.get.id{/yun}" type="hidden"/>
									<input class="btn_01" type="button" onclick="CheckPost()" value="{yun:}t key='wap_00354'{/yun}">  
								</li> 
							</ul>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script> 
<script language="javascript">
function CheckPost(){ 
	var title=$.trim($("input[name='title']").val());
	if(title==''){
		layer.msg("{yun:}t key='member_com_00525'{/yun}", 2, 8);return false;
	}
	if(title.lentgh>30){
		layer.msg("{yun:}t key='member_com_00390'{/yun}", 2, 8);return false;
	}
	// if($.trim($("input[name='pic']").val())=='' && $.trim($("input[name='id']").val())==''){
	// 	layer.msg("{yun:}t key='member_com_00526'{/yun}", 2, 8);return false;
	// }
	if(UE.getEditor('description').getContent()==''){
		layer.msg("{yun:}t key='member_com_00527'{/yun}", 2, 8);return false;
	}  
	$("#productform").submit();
	layer.load("{yun:}t key='wap_js_00148'{/yun}",0);
}
</script> 
{yun:}include file="$comstyle/footer.htm"{/yun}