{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}

   
   <div class=right_box>
       <div class="newmember_tit">
           <ul>
               <li><a href="index.php?c=info">{yun:}t key='wap_00456'{/yun}</a></li>
               <li><a href="index.php?c=info&act=side">{yun:}t key='wap_com_00175'{/yun}</a></li>
               <li class="newmember_titcur"><a href="index.php?c=address">{yun:}t key='wap_com_00402'{/yun}</a></li>
               <li><a href="index.php?c=show"> {yun:}t key='wap_com_00401'{/yun}</a></li>
               <li><a href="index.php?c=uppic"> {yun:}t key='default_00262'{/yun}LOGO</a></li>
               <li><a href="index.php?c=product">{yun:}t key='member_com_00052'{/yun}</a></li>
               <li><a href="index.php?c=news">{yun:}t key='member_com_00054'{/yun}</a></li>
               {yun:}if $config.map_key{/yun}
               <li><a href="index.php?c=map">{yun:}t key='member_com_00053'{/yun}</a></li>
               {yun:}/if{/yun}
               <li><a href="index.php?c=comtpl">{yun:}t key='member_com_00050'{/yun}</a></li>
           </ul>
       </div>
       <div class="newmember_screenbox">
           <div class="newmember_screen">
               <div class="com_topbth_box">
                   <input class="com_topbth_input newAddressBtn" type="button" value="新增地址"
                          data-provinceid="{yun:}$defLink.provinceid{/yun}" data-cityid="{yun:}$defLink.cityid{/yun}"
                          data-three_cityid="{yun:}$defLink.three_cityid{/yun}"
                          data-address="{yun:}$defLink.address{/yun}" data-x="{yun:}$defLink.x{/yun}"
                          data-y="{yun:}$defLink.y{/yun}">
               </div>
           </div>
       </div>
       <div class="clear"></div>
       <div class=admincont_box>
           <div class="com_body">
               <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');"
                       style="display:none"></iframe>
               <form action='{yun:}$now_url{/yun}&act=delAllAddress' target="supportiframe" method="post" id='myform'
                     class='layui-form'>
                   <div class="  ">
                       <table class="com_table   ">
                           <tr>
                               <th></th>
                               <th>{yun:}t key='wap_user_00267'{/yun}</th>
                               <th align="left">{yun:}t key='wap_00462'{/yun}</th>
                               <th>{yun:}t key='wap_com_00032'{/yun}</th>
                               <th>{yun:}t key='wap_user_00243'{/yun}</th>
                               <th width="230">{yun:}t key='member_user_00048'{/yun}</th>
                           </tr>
                           <tr>
                               <td align="center">
                                   <input type="checkbox" disabled class="newcom_user_infoheck" lay-skin="primary"/>
                               </td>
                               <td align="center">
                                   {yun:}$defLink.link_man{/yun}
                               </td>
                               <td align="left">
                                   {yun:}if $defLink.link_moblie{/yun}{yun:}t key='resume_00010'{/yun}{yun:}$defLink.link_moblie{/yun}<br>{yun:}/if{/yun}
                                   {yun:}if $defLink.link_phone{/yun}固话：{yun:}$defLink.link_phone{/yun}<br>{yun:}/if{/yun}
                                   {yun:}if $defLink.email{/yun}{yun:}t key='default_00258'{/yun}{yun:}$defLink.email{/yun}{yun:}/if{/yun}
                               </td>
                               <td align="center">{yun:}$defLink.city{/yun}</td>

                               <td align="center">{yun:}$defLink.address{/yun}</td>
                               <td align="center">默认企业地址</td>
                           </tr>

                           {yun:}foreach item=v from=$rows{/yun}
                           <tr>
                               <td align="center">
                                   <input type="checkbox" name="delid[]" value="{yun:}$v.id{/yun}"
                                          class="newcom_user_infoheck" lay-skin="primary"/>
                               </td>
                               <td align="center">
                                   {yun:}$v.link_man{/yun}
                               </td>
                               <td align="left">
                                   {yun:}if $v.link_moblie{/yun}{yun:}t key='resume_00010'{/yun}{yun:}$v.link_moblie{/yun}<br>{yun:}/if{/yun}
                                   {yun:}if $v.link_phone{/yun}固话：{yun:}$v.link_phone{/yun}<br>{yun:}/if{/yun}
                                   {yun:}if $v.email{/yun}{yun:}t key='default_00258'{/yun}{yun:}$v.email{/yun} {yun:}/if{/yun}
                               </td>
                               <td align="center">{yun:}$v.city{/yun}</td>

                               <td align="center">{yun:}$v.link_address{/yun}</td>
                               <td align="center">
                                   <a href="javascript:;" class="com_bth cblue newAddressBtn"
                                      data-id="{yun:}$v.id{/yun}" data-link_man="{yun:}$v.link_man{/yun}"
                                      data-link_moblie="{yun:}$v.link_moblie{/yun}"
                                      data-link_phone="{yun:}$v.link_phone{/yun}" data-email="{yun:}$v.email{/yun}"
                                      data-provinceid="{yun:}$v.provinceid{/yun}" data-cityid="{yun:}$v.cityid{/yun}"
                                      data-three_cityid="{yun:}$v.three_cityid{/yun}"
                                      data-address="{yun:}$v.link_address{/yun}" data-x="{yun:}$v.x{/yun}"
                                      data-y="{yun:}$v.y{/yun}">{yun:}t key='wap_js_00073'{/yun}</a>
                                   <a href="javascript:;" class="com_bth cblue delAddressA" data-id="{yun:}$v.id{/yun}">{yun:}t key='common.delete'{/yun}</a>
                               </td>
                           </tr>
                           {yun:}/foreach{/yun}
                           <tr>
                               <td align="center">
                                   <input type="checkbox" lay-skin="primary" lay-filter='allAddress'>
                               </td>
                               <td colspan="7"><input class="c_btn_02" type="button" name="subdel" value="{yun:}t key='member_com_00055'{/yun}"
                                                      onclick="return really('delid[]');"></td>
                           </tr>
                           <tr>
                               <td colspan="8" class="table_end">
                                   <div class="diggg">{yun:}$pagenav{/yun}</div>
                               </td>
                           </tr>
                       </table>
                   </div>
               </form>
           </div>
       </div>
   </div>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                $ = layui.$;

            form.on('checkbox(allAddress)', function (data) {
                $("input[name='delid[]']").each(function () {
                    this.checked = data.elem.checked;
                });
                form.render('checkbox');
            });
        });
        $('.delAddressA').off('click').on('click', function () {

            var thisAddressId = parseInt($(this).attr('data-id'));

            if (isNaN(thisAddressId) || thisAddressId < 1) {
                layer.msg('地址数据错误！', 2, 8);
                return false;
            }

            layer.confirm('确定要删除招聘地址吗？', function () {

                var i = loadlayer();

                $.post("index.php?c=address&act=delAddress", {id: thisAddressId}, function (data) {

                    layer.closeAll();

                    var res = eval('(' + data + ')');

                    if (res.errcode == 9) {

                        layer.msg(res.msg, 2, 9, function () {
                            location.reload();
                        });
                    } else {

                        layer.msg(res.msg, 2, 8);
                    }
                    return false;
                });
            });
        });
    </script>
</div>
{yun:}include file="$comstyle/newAddress.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}