{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
     
         
     <div class=right_box>
         <div class="newmember_screenbox">
            <div class="newmember_screen">
                <div class="newmember_screenname"><a href="index.php?c=comtpl" class="newcom_fh">{yun:}t key='common.back'{/yun} </a><span
                        class="newcom_fh_line">|</span>{yun:}t key='member_com_banner_00002'{/yun}</div>
            </div>
         </div>
         <div class="clear"></div>
             
       <div class=admincont_box>
        <div class="com_body">
       
                   <div class="com_new_tip  "> 
                             <span class="com_new_tip_h">{yun:}t key='member_com_added_00002'{/yun}</span>根据您所选的模板上传合适的横幅图片，选择合适的图片，点击上传按钮即可上传图片</div>

         

                    <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                    <form action="index.php?c=banner&act=save" method="post" id="myform" name="myform" target="supportiframe" enctype="multipart/form-data">
                        <div class="clear"></div>

                        
                        <div class="combanner_box">
                            <div  id="imgparent" class="">
                                <img id="imgicon" src="{yun:}if $banner.pic{/yun}{yun:}$banner.pic{/yun}{yun:}else{/yun}{yun:}$syspic{/yun}{yun:}/if{/yun}" width="300" />
                            </div>
                            {yun:}if is_array($banner){/yun}
                            <div class="combanner_box_tip">如需修改请选择新图片</div>
                            <button type="button" class="yun_bth_pic layui-btn-normal noupload"  lay-data="{imgid: 'imgicon',parentid: 'imgparent'}" style="background-color:#f8F8F8">选择新图片</button>
                            <input type="hidden" id="laynoupload" value="1" />

                            <div class="combanner_box_b"> <input name="update" type="hidden" value="{yun:}t key='wap_js_umeditor_lang_zh_cn_zh_cn_00005'{/yun}">
                                <a href="javascript:void(0)" onclick="checkbanner();" class="combanner_box_bth ">{yun:}t key='wap_js_umeditor_lang_zh_cn_zh_cn_00005'{/yun}</a>
                            </div>
                            {yun:}else{/yun}
                            <div class="combanner_box_tip">{yun:}t key='member_com_banner_00001'{/yun}</div>
                            <button type="button" class="yun_bth_pic layui-btn-normal noupload"  lay-data="{imgid: 'imgicon',parentid: 'imgparent'}" style="background-color:#f8F8F8">{yun:}t key='member_com_banner_00003'{/yun}</button>
                            <input type="hidden" id="laynoupload" value="1" />
                            <div class="combanner_box_b">
                                <input name="save" type="hidden" value="{yun:}t key='member_user_checkimg_00001'{/yun}">
                                <a href="javascript:void(0)" onclick="checkbanner();" class="combanner_box_bth ">{yun:}t key='member_user_checkimg_00001'{/yun}</a>
                            </div>
                            {yun:}/if{/yun}
                        </div>
                        
                        
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
<script>
    var bid = "{yun:}$banner.id{/yun}";
    var bannerintegral = "{yun:}$config.integral_banner{/yun}";

    function checkbanner() {
        if($("input[name=file]").val() == "") {
            layer.msg('请先选择新图片！！', 2, 8);
            return false;
        }
        setTimeout(function() {
            $('#myform').submit();
        }, 0);
    }
</script>
{yun:}include file="$comstyle/footer.htm"{/yun}