{yun:}include file="$comstyle/header.htm"{/yun}
<script>
    function Next() {
        $("#one_tip").hide();
        $("#two_tip").show();
    }
    function showindextip(id) {
        $(".indextiphide").hide();
        $("#indextiphide" + id).show();
    }
    function hideindextip() {
        $(".indextiphide").hide();
        $("#bg").hide();
    }
</script>

<div class="clear"></div>
<div class="memberSubject">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="memberSubCont">
            <div class="memberSubRight">
                <div class="membRighTops">
                    <ul>
                        <li class="membRighTops_mr">
                            <div class="membRiTopText">
                                <div class="membRiTopInfo">
                                    <span>{yun:}t key='member_com_00152'{/yun}</span>
                                    <img class="laytips" id="jltdtips" data-id="jltdtips" data-title="{yun:}t key='member_com_00126'{/yun}"
                                         src="{yun:}$com_style{/yun}/images/tiosa.png?v={yun:}$config.cachecode{/yun}" alt="">
                                </div>
                                <div class="membRiTopNum">
                                    <span> <a href="index.php?c=hr" target="_blank">{yun:}$des_resume{/yun}</a></span>
                                </div>
                                {yun:}if $de_resume>0{/yun}
                                <div class="membRiTopInx">
                                    <span>{yun:}t key='member_com_00130'{/yun}</span>
                                    <a href="index.php?c=hr" target="_blank">{yun:}t key='home.go_handle'{/yun}></a>
                                </div>
                                {yun:}/if{/yun}
                            </div>
                            <div class="membRiTopImg">
                                <img src="{yun:}$com_style{/yun}/images/memimg1.png?v={yun:}$config.cachecode{/yun}" alt="">
                            </div>
                        </li>
                        
                        <li>
                            <div class="membRiTopText">
                                <div class="membRiTopInfo">
                                    <span>{yun:}t key='wap_com_00407'{/yun}</span>
                                    <img class="laytips" id="gxqtips" data-id="gxqtips" data-title="{yun:}t key='member_com_00133'{/yun}"
                                         src="{yun:}$com_style{/yun}/images/tiosa.png?v={yun:}$config.cachecode{/yun}" alt="">
                                </div>
                                <div class="membRiTopNum">
                                   <a href='index.php?c=attention_me' target="_blank">  <span>{yun:}$atn{/yun}</span></a>
                                </div>
                                <div class="membRiTopInx">
                                    <span>{yun:}t key='member_com_00124'{/yun}</span>
                                     <a href='index.php?c=attention_me' target="_blank">{yun:}t key='member_com_00380'{/yun}></a>
                                </div>
                            </div>
                            <div class="membRiTopImg">
                                <img src="{yun:}$com_style{/yun}/images/memimg3.png?v={yun:}$config.cachecode{/yun}" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="membRiTopText">
                                <div class="membRiTopInfo">
                                    <span>{yun:}t key='wap_user_00276'{/yun}</span>
                                    <img class="laytips" id="lookjobtips" data-id="lookjobtips" data-title="{yun:}t key='member_com_00127'{/yun}"
                                         src="{yun:}$com_style{/yun}/images/tiosa.png?v={yun:}$config.cachecode{/yun}" alt="">
                                </div>
                                <div class="membRiTopNum">
                                   <a href='index.php?c=look_job' target="_blank">  <span>{yun:}$look_jobnum{/yun}</span></a>
                                </div>
                                <div class="membRiTopInx">
                                    <span>{yun:}t key='member_com_00131'{/yun}</span>
                                     <a href='index.php?c=look_job' target="_blank">{yun:}t key='member_com_00380'{/yun}></a>
                                </div>
                            </div>
                            <div class="membRiTopImg">
                                <img src="{yun:}$com_style{/yun}/images/memimg4.png?v={yun:}$config.cachecode{/yun}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            
                <div class="memberSubGuanl">
                
                               <div class="memberSubzaopi">
                            <div class="membSubGuanTite">
                                <span>{yun:}t key='member_com_00150'{/yun}</span>  
                                {yun:}if $statis.rating_type == 1 && !$vipIsDown && $config.com_integral_online != 4{/yun}<a href="index.php?c=right&act=added" class=" ">购买资源点 ></a>{yun:}/if{/yun} 
                            </div> 
                            <div class="membSubGuaTwo">
                                <ul>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='member_com_00134'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$JobNum|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02052'{/yun}</b>
                                        </div>
                                         
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='member_com_00136'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.breakjob_num|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02088'{/yun}</b>
                                        </div>
                                       
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='member_com_00137'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.invite_resume|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02088'{/yun}</b>
                                        </div>
                                        
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='member_com_00135'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.down_resume|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02088'{/yun}</b>
                                        </div>
                                       
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='member_com_00140'{/yun} </span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.zph_num|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02089'{/yun}</b>
                                        </div>
                                       
                                    </li>
                                    
                                    <li>
                                    <div class="twoDivimg">
                                        <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                    </div>
                                    <div class="twoDivTite">
                                        <span>{yun:}t key='wap_user_00209'{/yun}</span>
                                    </div>
                                    <div class="twoDivNum">
                                        <span>{yun:}$statis.top_num|default:0{/yun}</span>
                                        <b>{yun:}t key='common_02067'{/yun}</b>
                                    </div>
                                                                           
                                     
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='wap_com_00043'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.urgent_num|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02067'{/yun}</b>
                                        </div>
                                 
                                    </li>
                                    <li>
                                        <div class="twoDivimg">
                                            <img src="{yun:}$com_style{/yun}/images/tuayuan.png?v={yun:}$config.cachecode{/yun}" alt="">
                                        </div>
                                        <div class="twoDivTite">
                                            <span>{yun:}t key='wap_com_00041'{/yun}</span>
                                        </div>
                                        <div class="twoDivNum">
                                            <span>{yun:}$statis.rec_num|default:0{/yun}</span>
                                            <b>{yun:}t key='common_02067'{/yun}</b>
                                        </div>
                                  
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                   
                
                </div>
               
                <div class="memberSubBanner">
                    {yun:}adlist classid=530 item="lunbo" key=key random=1{/yun}
                   {yun:}$lunbo.html{/yun} 
                    {yun:}/adlist{/yun}
                </div>
                <div class="membSubPoster"> 
				{yun:}if ($company.r_status != 1 || !$company.name || $company.yyzz_status != 1 || $vipIsDown || ($statis.remind==1 && !$vipIsDown)){/yun}
                <!--滚动-->
                  <div class="yun_Announcement" >
                    <ul class="tiplist">
                        {yun:}if $company.r_status != 1{/yun}
                            {yun:}if $company.r_status == 0{/yun}
                                <li class="one">{yun:}t key='wap_user_00205'{/yun}：<span>您的帐号尚未审核，职位将在审核通过后展示</span><span id="forms">{yun:}t key='member_com_00116'{/yun}</span></li>
                            {yun:}else if $company.r_status == 2 || $company.r_status == 4{/yun}
                                <li class="one">{yun:}t key='wap_user_00205'{/yun}：您的帐号已被锁定，锁定原因请咨询客服（{yun:}($config.sy_comwebtel!='')?$config.sy_comwebtel:$config.sy_freewebtel{/yun}）</li>
                            {yun:}else if $company.r_status == 3{/yun}
                                <li class="one">{yun:}t key='wap_user_00205'{/yun}：您的帐号未通过审核{yun:}if $member.lock_info{/yun}，未通过原因：{yun:}$member.lock_info{/yun}。 {yun:}else{/yun}。{yun:}/if{/yun}欢迎随时与我们取得联系（{yun:}($config.sy_comwebtel!='')?$config.sy_comwebtel:$config.sy_freewebtel{/yun}）</li>
                            {yun:}/if{/yun}
                        {yun:}/if{/yun}
                        {yun:}if !$company.name{/yun}
                            <li class="three">{yun:}t key='wap_user_00205'{/yun}：贵公司的资料还未填写完整，暂时还不可以发布职位哦! <span class="tiplist_bth"><a href="index.php?c=info">完善资料></a></span></li>
                        {yun:}/if{/yun}
                        {yun:}if $company.yyzz_status != 1{/yun}
                            <li class="two">{yun:}t key='wap_user_00205'{/yun}：提升招聘效果，获得人才信任度，从认证企业资质开始~ <span class="tiplist_bth"><a href="index.php?c=binding">{yun:}t key='wap_user_00120'{/yun}></a></span></li>
                        {yun:}/if{/yun}
                        {yun:}if $vipIsDown{/yun}
                            <li class="four">{yun:}t key='wap_user_00205'{/yun}：您办理的会员已到期！为保证您的服务正常使用，请尽快开通会员套餐，开通会员套餐有优惠哦~ <span class="tiplist_bth"><a href="index.php?c=right">查看详细></a></span></li>
                        {yun:}elseif $statis.remind==1 && !$vipIsDown{/yun}
                            <li class="four">{yun:}t key='wap_user_00205'{/yun}：您办理的会员将于近期到期！为保证您的服务正常使用，请尽快办理续费，续费套餐有优惠哦~ <span class="tiplist_bth"><a href="index.php?c=right">查看详细></a></span></li>
                        {yun:}/if{/yun}
                    </ul>
                </div>  
                <!--滚动-->
                {yun:}/if{/yun}
                    <div class="membSuosTite">
                        <span>{yun:}t key='default_00196'{/yun}</span>
                        <a href="{yun:}url m=resume{/yun}">{yun:}t key='common.more'{/yun}></a>
                    </div>
                    <div class="membSubposCont">
                        <ul id="resumelist"></ul>
                    </div>
                    <div class="msg_no none" id="noresumelist">
                        <p>{yun:}t key='member_com_00121'{/yun}</p>
                         <a href="{yun:}url m=resume{/yun}" target="_blank" class="com_msg_no_bth com_submit ">{yun:}t key='member_com_00138'{/yun}</a>
                    </div>
                </div>
            </div>
            <div class="memberSubLeft"> 
             
                <div class="membSubLeComs">
                    <div class="membLeComData">
                        <div class="membLeComLogo">
                            <a href="index.php?c=uppic">
                                <img src="{yun:}$company.logo{/yun}" alt="">
                            </a>
                        </div>
                        <div class="membLeComNam">
                            {yun:}if $company.name{/yun}
                            <div class="membLeComText">
                                <span>{yun:}$company.name{/yun} </span>
                            </div>
                            <div class="membLeComslink">
                                <a href="index.php?c=info">
                                    <img src="{yun:}$com_style{/yun}/images/qiye2.png?v={yun:}$config.cachecode{/yun}" alt="">
                                    <span>{yun:}t key='common_02150'{/yun}></span>
                                </a>
                            </div>
                            {yun:}else{/yun}
                            <div class="membLeComslink">
                                <a href="index.php?c=info">
                                    <img src="{yun:}$com_style{/yun}/images/qiye2.png?v={yun:}$config.cachecode{/yun}" alt="">
                                    <span style="color:#f60">您还未完善企业信息，点击完善！></span>
                                </a>
                            </div>
                            {yun:}/if{/yun}
                        </div>
                    </div>
               
                    <div class="com_n_data">
                         <div class="com_n_data_a"><div class="com_n_data_n">{yun:}$hitsNum{/yun}</div>{yun:}t key='wap_com_00112'{/yun} </div>
                         <div class="com_n_data_a"><div class="com_n_data_n">{yun:}$expoureNum{/yun}</div>{yun:}t key='wap_com_00111'{/yun} </div>   
						 <div class="com_n_data_a"><div class="com_n_data_n">{yun:}$statis.integral{/yun}</div>{yun:}$config.integral_pricename{/yun} </div>             
                    </div>
                    
               
                 
                     <div class="new_com_vip">
                         <div class="new_com_vip_t">
                             <div class="new_com_vip_icon">
                                 {yun:}if $company_rating.com_pic{/yun}
                                 <img src="{yun:}$company_rating.com_pic{/yun}" width="22" height="22" />
                                 {yun:}/if{/yun}
                             </div>
                             <div class="new_com_vip_name">{yun:}$statis.rating_name{/yun}</div>
                             <div>
                                 {yun:}if $statis.vip_etime > $todayStart{/yun}
                                     {yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun} - {yun:}$statis.vip_etime|date_format:'%Y.%m.%d'{/yun}
                                 {yun:}else if $statis.vip_etime==0{/yun}
                                     开通会员提升招聘效率
                                 {yun:}else{/yun}
                                     {yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun} - {yun:}$statis.vip_etime|date_format:'%Y.%m.%d'{/yun}
                                 {yun:}/if{/yun}
                             </div>
                         </div> 
                         <div class="new_vip ">
                        <div class="new_vip_a"><a href="index.php?c=paylogtc" > {yun:}t key='wap_com_00064'{/yun}</a></div>            
                        <div class="new_vip_a"><a href="index.php?c=integral" >{yun:}$config.integral_pricename{/yun}{yun:}t key='wap_com_00304'{/yun}  </a></div>
                          <div class="new_vip_a"><a href="index.php?c=pay" >{yun:}t key='common_01946'{/yun}</a> </div>  
                         </div>
                             <a href="index.php?c=right" class="new_com_vip_bth">{yun:}t key='wap_com_00066'{/yun}</a>
                             {yun:}if $statis.vip_etime >= $todayStart{/yun}
                             <a href="index.php?c=right" class="new_com_vip_bth">{yun:}t key='member_com_00145'{/yun}</a>
                             {yun:}/if{/yun}
                     </div>
                 
                  <div class="con_new_mininav">
                  <div class="con_new_mininav_a"><a  href="index.php?c=zhaopin"> <img src="{yun:}$com_style{/yun}/images/nav1.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='wap_com_00103'{/yun}</a></div>           
                  <div class="con_new_mininav_a"><a  href="index.php?c=binding" ><img src="{yun:}$com_style{/yun}/images/nav2.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='member_com_00144'{/yun}</a></div>               
                  <div class="con_new_mininav_a"><a  href="index.php?c=binding" ><img src="{yun:}$com_style{/yun}/images/nav3.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='member_user_00059'{/yun}</a></div>    
                     </div>
                       <div class="con_new_mininav">
                   <div class="con_new_mininav_a"><a  href="index.php?c=look_resume" ><img src="{yun:}$com_style{/yun}/images/nav4.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='member_com_00151'{/yun} </a></div>   
                                 {yun:}if $config.sy_haibao_isopen == 1 && $hbNum > 0{/yun}
                                 <div  class="con_new_mininav_a" onclick="selectHb('{yun:}count($jobs){/yun}')">
                                    
                                     <a href="javascript:;"><img src="{yun:}$com_style{/yun}/images/nav5.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='member_com_00149'{/yun}</a>
                                 </div>
                                 {yun:}/if{/yun}
                                 
                   <div class="con_new_mininav_a"><a  href="{yun:}url  m=company c=show id='`$uid`'{/yun}" target="_blank"><img src="{yun:}$com_style{/yun}/images/nav6.png?v={yun:}$config.cachecode{/yun}" alt="">{yun:}t key='member_com_00143'{/yun}</a></div>    
                   </div>
                   
                    
                    
                <div class="membLeCoNavs">
                         <div class="fbjob">
                             <a href="javascript:void(0)" onclick="jobadd_url('{yun:}$addjobnum{/yun}')">
                                 <img src="{yun:}$com_style{/yun}/images/fbi.png?v={yun:}$config.cachecode{/yun}" alt="">
                                 <span>{yun:}t key='common.publish_job'{/yun}</span>
                             </a>
                         </div>
                         <div class="sxjob">
                             <a href="javascript:;" onclick="return refreshJob('{yun:}$jobids{/yun}','{yun:}$statis.upJobNum{/yun}', '', '{yun:}$isPaused{/yun}')">
                                 <img src="{yun:}$com_style{/yun}/images/sxi.png?v={yun:}$config.cachecode{/yun}" alt="">
                                 <span>{yun:}t key='wap_com_00029'{/yun}</span>
                             </a>
                         </div>
                </div>   </div>
                <!-- 广告位 Start-->
                {yun:}adlist classid=511 item="lunbo" key=key random=1{/yun}
                <div class="yun_combanner">{yun:}$lunbo.html{/yun}</div>
                {yun:}/adlist{/yun}
                <!-- 广告位 End-->
                <!-- {yun:}t key='admin_yunying_00167'{/yun}-->
                {yun:}if $yrbtn{/yun}
                    <div class="comIndexButn" onclick="yearreport()"> <img src="{yun:}$com_style{/yun}/images/ndtj.gif?v={yun:}$config.cachecode{/yun}" alt=""> </div>
                {yun:}/if{/yun}
                <!-- {yun:}t key='admin_yunying_00167'{/yun}-->
                <div class="membSubLeKrfu">
                  
                     <div class="membLeKfuBand">
                         {yun:}if $config.wx_author == '1' && $member.subscribe!='1'{/yun}
                         <div class="membLeKfuBaGren membLeKfusuz">
                             <div class="membLeKfuBaIcon">
                                 <img src="{yun:}$com_style{/yun}/images/wechat1.png?v={yun:}$config.cachecode{/yun}" alt="">
                                 <span>{yun:}t key='wap_user_00181'{/yun}</span>
                             </div>
                             <div class="membLeKfuBaLink">
                                 <a href="javascript:gzhShow();">{yun:}t key='member_com_00132'{/yun}></a>
                             </div>
                         </div>
                         {yun:}/if{/yun}
                         {yun:}if $company.yyzz_status!='1'{/yun}
                         <div class="membLeKfuBaBlue membLeKfusuz">
                             <div class="membLeKfuBaIcon">
                                 <img src="{yun:}$com_style{/yun}/images/wechat2.png?v={yun:}$config.cachecode{/yun}" alt="">
                                 {yun:}if $company.yyzz_status=='2'{/yun}
                                 <span>{yun:}t key='wap_user_00167'{/yun}</span>
                                 {yun:}else{/yun}
                                 <span>{yun:}t key='wap_user_00175'{/yun}</span>
                                 {yun:}/if{/yun}
                             </div>
                             <div class="membLeKfuBaLink">
                                 <a href="index.php?c=binding&act=comcert">{yun:}t key='common_02151'{/yun}>></a>
                             </div>
                         </div>
                         {yun:}/if{/yun}
                     </div>
                    <div class="membLeCoTitel">
                        <span>{yun:}t key='wap_com_00374'{/yun}</span>
                    </div>
                    {yun:}if $guweninfo.uid{/yun}
                    <div class="membLeCoTips">
                        <p>
                            你好，尊敬的
                            <span>{yun:}$statis.rating_name{/yun}</span>
                            我是你的专属招聘顾问,有问题请联系我!
                            {yun:}if $guweninfo.qq{/yun}
                            <a target="_blank" href="tencent://message/?uin={yun:}$guweninfo.qq{/yun}&Site={yun:}$config.sy_webname{/yun}&Menu=yes">
                                <img src="{yun:}$com_style{/yun}/images/qqimg.png?v={yun:}$config.cachecode{/yun}" alt="">
                            </a>
                            {yun:}/if{/yun}
                        </p>
                    </div>
                    <div class="membLeCoUser">
                        <div class="membLeCoUsData">
                            <div class="membLeCoUsImg">
                                <img src="{yun:}$guweninfo.photo_n{/yun}" style="width:40px; height: 40px" alt="">
                            </div>
                            {yun:}if $guweninfo.moblie{/yun}
                            
                            <div class="membLeCoUsTell">
                                <span class="membLeCoUsTellname">{yun:}$guweninfo.name{/yun}</span>
                                <span>{yun:}t key='common.phone'{/yun}：{yun:}$guweninfo.moblie{/yun}</span>
                            </div>
                            {yun:}/if{/yun}
                        </div>
                        {yun:}if $guweninfo.ewm_n{/yun}
                        <div class="membLeCoUsButn">
                            <a href="javascript:kfwxShow('{yun:}$guweninfo.ewm_n{/yun}');">{yun:}t key='member_com_00146'{/yun}</a>
                        </div>
                        {yun:}/if{/yun}
                        
                    </div>
                   
                    {yun:}else{/yun}
                    <div class="membLeCoTips">
                        <p>
                            网站客服
                            {yun:}if $kfqq{/yun}
                            <a target="_blank" href="tencent://message/?uin={yun:}$kfqq{/yun}&Site={yun:}$config.sy_webname{/yun}&Menu=yes">
                                <img src="{yun:}$com_style{/yun}/images/qqimg.png?v={yun:}$config.cachecode{/yun}" alt="">
                            </a>
                            {yun:}/if{/yun}
                        </p>
                    </div>
                    <div class="membLeCoUser">
                        <div class="membLeCoUsData">
                            <div class="membLeCoUsImg">
                                <img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_guwen{/yun}" style="width:40px; height: 40px" alt="">
                            </div>
                            <div class="membLeCoUsTell">
                                {yun:}if $config.sy_comwebtel || $config.sy_freewebtel{/yun}
                                <span>{yun:}t key='common.phone'{/yun}：{yun:}($config.sy_comwebtel!='')?$config.sy_comwebtel:$config.sy_freewebtel{/yun}</span>
                                {yun:}/if{/yun}
                                {yun:}if $config.sy_webmoblie{/yun}
                                <span>{yun:}t key='member_user_00163'{/yun}：{yun:}$config.sy_webmoblie{/yun}</span>
                                {yun:}/if{/yun}
                            </div>
                        </div>
                        {yun:}if !empty($config.sy_wx_qcode){/yun}
                        <div class="membLeCoUsButn">
                            <a href="javascript:kfwxShow('{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_qcode{/yun}');">{yun:}t key='member_com_00146'{/yun}</a>
                        </div>
                        {yun:}/if{/yun}
                    </div>
                    {yun:}/if{/yun}
                    <div class="membLeCoTitel">
                        <span>{yun:}t key='member_com_00141'{/yun}</span>
                    </div>
                    <div class="membLeCofkui">
                        <p>{yun:}t key='member_com_00119'{/yun}</p>
                        {yun:}if is_array($report)&& $report.result{/yun}
                        <a href="index.php?c=report&act=show">{yun:}t key='member_com_00154'{/yun}</a>
                        {yun:}elseif $guweninfo.uid{/yun}
                        <a href="javascript:void(0)" onclick="reportgw('{yun:}$guweninfo.uid{/yun}','{yun:}t key='member_com_00148'{/yun}');">{yun:}t key='member_com_00147'{/yun}</a>
                        {yun:}/if{/yun}
                    </div>
                
                </div>
            </div>
            
        </div>
    </div>
</div>
<!--投诉顾问弹出框-->
<div id="{yun:}$guweninfo.uid{/yun}" style="display: none;">
    <div class="Binding_pop_box" style="padding: 10px; width: 350px; height: 200px; background: #fff;">
        <div class="complaint_hi">{yun:}t key='common_02173'{/yun}！</div>
        <div class="complaint_p">{yun:}t key='member_com_00115'{/yun}</div>
        <div class="complaint_p_gw" style="padding: 10px 0; color: #f00">您要投诉的顾问是：{yun:}$guweninfo.name{/yun}</div>
        <div class="popjb_tip"></div>
        <div class="">
            <textarea id="reason" name="reason" class="complaint_text"></textarea>
        </div>
        <div class="complaint_bot">
            <input class="com_pop_bth_qd" onclick="reportSub('index.php?c=report')" type="button" value="{yun:}t key='common.confirm'{/yun}">
            <input type='hidden' value="{yun:}$guweninfo.uid{/yun}" id='eid' name='eid'>
            <input class="com_pop_bth_qx" type="button" value="{yun:}t key='common.cancel'{/yun}" onclick="layer.close($('#layindex').val());">
        </div>
    </div>
</div>
<!--刷新职位提示弹出框-->
<div class="shuaxinDome">
    <div id="shuaxin" style="display: none;">
        <div class="yun_prompt_writingicon" style="padding-top: 0px">
            <!-- <i class="yun_prompt_writingicon_pm"></i> -->
            <img src="{yun:}$com_style{/yun}/images/compimg1.png?v={yun:}$config.cachecode{/yun}" alt="">
        </div>
        <div class="yun_prompt_writing">{yun:}t key='wap_com_00029'{/yun} , 提升排名</div>
        <div class="yun_prompt_writing_obtain">{yun:}t key='member_com_00117'{/yun}</div>
        <!-- <div class="yun_prompt_writing_tip">{yun:}t key='wap_com_00029'{/yun}，可提升职位的显示排名，从而提高职位的曝光量</div> -->
        <div class="yun_prompt_writing_operation">
            <a href="javascript:void(0)" onclick="refreshJob('{yun:}$jobids{/yun}','{yun:}$statis.breakjob_num{/yun}');" class="yun_prompt_writing_operation_bth">{yun:}t key='member_com_00139'{/yun}</a>
            <!-- <a class="sx_bot_qx" href="javascript:void(0)">{yun:}t key='member_user_00148'{/yun}</a> -->
        </div>
        <div class="shuxClose sx_bot_qx">
            <img src="{yun:}$com_style{/yun}/images/yuncloseicon.png?v={yun:}$config.cachecode{/yun}" alt="">
        </div>
    </div>
</div>
<!-- 会员到期，续费提醒 -->
<div id="updaterating" style="display: none;">
    <div class="renew_box">
        <div class="renew_hello">{yun:}t key='member_com_00128'{/yun}</div>
        <div class="renew_p">
            你的会员服务<font color="#f00">{yun:}t key='wap_com_00319'{/yun}</font>，服务期限：<font color="#999">{yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun}-{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}</font>
            为了不影响您正常使用招聘服务，您可以致电客户经理或自助办理续费
        </div>
        <div class="renew_gx">{yun:}t key='member_com_00120'{/yun}</div>
        <div class="renew_xf">
            <a class="renew_bth" href="index.php?c=right">{yun:}t key='member_com_00153'{/yun}</a>
            <a class="renew_bth_qx" href="javascript:void(0)">{yun:}t key='member_com_00129'{/yun}</a>
        </div>
    </div>
</div>
<!--年度报告提示-->
<div class="yearrepBaog">
    <div id="yearreport_tip" class="" style="display: none; background-color: none;">
        <div class="companyYears">
            <div class="companyYeaImg">
                <img onclick="yearreport()" src="{yun:}$sy_yearreport_tip{/yun}" style="width: 300px;" />
            </div>
            <a href="javascript:void(0)" class="comClos" onclick="closeyr();">
                <img src="{yun:}$com_style{/yun}/images/close.png?v={yun:}$config.cachecode{/yun}" alt="">
            </a>
        </div>
    </div>
</div>
<div id="wxcontent" style=" display:none;">
    <div class="yun_wxbd_box">
        <div class="yun_wxbd_img_c">
            <div id="wx_login_qrcode" class="yun_wxbd_img" style="border:1px solid #eee; line-height:180px;">
                {yun:}t key='wap_00031'{/yun}
            </div>
            <div id="wx_sx" class="none">
                <div class="wx_login_show_sxbox">
                    <a href="javascript:void(0);" onclick="getwxbindcode()" class="wx_login_show_sxicon"></a>{yun:}t key='member_user_00050'{/yun}
                </div>
            </div>
        </div>
        <div class="yun_wxbd_p"> {yun:}t key='member_user_00049'{/yun}</div>
    </div>
</div>
<div class="wxbdtSubject">
    <div id="kfwx" style="display: none;">
        <div class="yun_wxbd_tit">{yun:}t key='member_com_00125'{/yun}</div>
        <div class="yun_wxbd_box">
            <div class="yun_wxbd_img_c">
                <div class="yun_wxbd_img">
                    <img id="kfwx_qrcode" src="" width="180" height="180" />
                </div>
            </div>
            <div class="yun_wxbd_p"></div>
            <div class="dsdsdssaed">
                <a id="kfwx_close" href="javascript:void(0)" >
                    <img src="{yun:}$com_style{/yun}/images/colsd2.png?v={yun:}$config.cachecode{/yun}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{yun:}include file="$tplstyle/public_search/hb.htm"{/yun}
<!--提示弹出框 end-->
<script type="text/javascript">
var jobrefresh = '{yun:}$smarty.cookies.jobrefresh{/yun}';
var setval,
    setwout;
var yearreport_box = null;
var uid = '{yun:}$uid{/yun}';
var yrshow = '{yun:}$yrshow{/yun}';
layui.use(['layer'], function() {
    var layer = layui.layer,
        $ = layui.$;


    // layer.tips("{yun:}t key='member_com_00142'{/yun}", '.ritopimgs', {
    //   tips: [2, '#78BA32']
    // });


    $(document).on('mouseenter', '.laytips', function() {
        let data = $(this).data();
        layer_tips = layer.tips(data.title, '#' + data.id, {
            time: 0,
            tips: 2
        });
    }).on('mouseleave', '.laytips', function() {
        layer.close(layer_tips);
    });

    '{yun:}if $yrshow==1{/yun}'
    yearreport_box = layer.open({
        type: 1,
        title: '',
        closeBtn: 0,
        area: ['360px', '365px'],
        content: $("#yearreport_tip")
    });

    '{yun:}elseif  $company.hy != "" && !$vipIsDown && $normal_job_num != 0 && $un_refreshjob_num != 0 && $smarty.cookies.jobrefresh!=1{/yun}'
    var shuaxinlayer = layer.open({
        type: 1,
        title: "{yun:}t key='wap_com_00029'{/yun}",
        closeBtn: 0,
        border: [10, 0.3, '#000', true],
        area: ['500px', '330px'],
        content: $("#shuaxin")
    });
    $(".sx_bot_qx").click(function() {
        layer.close(shuaxinlayer);
    })
    '{yun:}else if $vipIsDown && $smarty.cookies.jobrefresh==1{/yun}'
    var updatelayer = layer.open({
        type: 1,
        title: "{yun:}t key='wap_user_00205'{/yun}",
        closeBtn: 0,
        border: [10, 0.3, '#000', true],
        area: ['430px', 'auto'],
        content: $("#updaterating")
    });
    $(".renew_bth_qx").click(function() {
        layer.close(updatelayer);
    })
    '{yun:}/if{/yun}'
});
$(document).ready(function() {
    var company_r_status = '{yun:}$company.r_status{/yun}';
    var companyname = '{yun:}$company.name{/yun}';
    var yyzz_status = '{yun:}$company.yyzz_status{/yun}';
    var vipIsDown = '{yun:}$vipIsDown{/yun}';
    var statisremind = '{yun:}$statis.remind{/yun}';
    if (company_r_status != 1 || !companyname || yyzz_status != 1 || vipIsDown || (statisremind == 1 && !vipIsDown)) {
        $(".yun_Announcement").attr("style", "display:block;");
    } else {
        $(".yun_Announcement").attr("style", "display:none;");
    }
    setTimeout(function() {
        hsresumelist('{yun:}$normal_job_num{/yun}');
    }, 200);
    var gzh = '{yun:}$smarty.cookies.gzh{/yun}';
    var qrcode = '{yun:}$qrcode{/yun}';
    var popWin = '{yun:}$config.wx_popWin{/yun}';

    if (!yrshow) {
        if (!gzh && qrcode == '1' && popWin == '1') {
            setTimeout(function() {
                gzhShow();
            }, 1000);
        }
    }
})

function getwxbindcode() {
    $.post('{yun:}url m=login c=wxlogin{/yun}', { t: 1 }, function(data) {
        if (data == 0) {
            $('#wx_login_qrcode').html("{yun:}t key='common_01335'{/yun}..");
        } else {
            $('#wx_login_qrcode').html('<img src="' + data + '" width="180" height="180">');
            setval = setInterval(function() {
                $.post('{yun:}url m=login c=getwxloginstatus{/yun}', { t: 1 }, function(data) {
                    var data = eval('(' + data + ')');
                    if (data.url != '' && data.msg != '') {
                        clearInterval(setval);
                        setval = null;
                        layer.msg(data.msg, 2, 9, function() {
                            window.location.href = data.url;
                        });
                    } else if (data.url) {
                        window.location.href = data.url;
                    }
                });
            }, 2000);
            if (setwout) {
                clearTimeout(setwout);
                setwout = null;
            }
            setwout = setTimeout(function() {
                clearInterval(setval);
                setval = null;
                var wx_sx = $("#wx_sx").html();
                $('#wx_login_qrcode').html(wx_sx);
            }, 300 * 1000);
        }
    });
}

function wxshow() {
    $.layer({
        type: 1,
        title: "{yun:}t key='member_user_00056'{/yun}",
        border: [10, 0.3, '#000', true],
        area: ['400px', 'auto'],
        page: { dom: "#wxcontent" },
        close: function() {
            if (setval) {
                clearInterval(setval);
                setval = null;
            }
            if (setwout) {
                clearTimeout(setwout);
                setwout = null;
            }
        }
    });
    getwxbindcode();
}

function kfwxShow(qrcode) {
    $("#kfwx_qrcode").attr('src', qrcode);

    var kfwxLayer = layer.open({
        type: 1,
        title: false,
        closeBtn: 0,
        border: [10, 0.3, '#000', true],
        area: ['400px', 'auto'],
        content: $("#kfwx"),
        end: function(){
            if (setval) {
                clearInterval(setval);
                setval = null;
            }
            if (setwout) {
                clearTimeout(setwout);
                setwout = null;
            }
        }
    });
    $("#kfwx_close").click(function () {
        layer.close(kfwxLayer);
    });
}

function reportgw(eid, title) {
    var layindex = $.layer({
        type: 1,
        title: title,
        closeBtn: [0, true],
        border: [10, 0.3, '#000', true],
        area: ['400px', '330px'],
        page: {
            dom: "#" + eid
        }
    });
    $("#layindex").val(layindex);
}

function reportSub(url) {
    var reason = $("#reason").val();
    var eid = $("#eid").val();
    if (reason == '') {
        layer.msg('请填写投诉内容！', 2, 8);
        return false;
    }
    loadlayer();
    $.post(url, {
        reason: reason,
        eid: eid
    }, function(data) {
        layer.closeAll('loading');
        layer.close($('#layindex').val());
        if (data == '0') {
            layer.msg('投诉失败！', 2, 8);
        } else if (data == '1') {
            layer.msg('投诉成功！', 2, 9, function() {
                window.location.reload();
            });
        } else if (data == '2') {
            layer.msg("{yun:}t key='member_com_00122'{/yun}", 2, 8);
        }
    });
}

function hsresumelist(jobnum) {
    $.get('index.php?c=index&act=resumeajax', { rand: Math.random() }, function(data) {
        var res = JSON.parse(data);
        if (res.list.length > 0) {
            var html = '';
            for (var i = 0; i < res.list.length; i++) {
                html += '<li>\n' +
                    '    <div class="postdivTite">\n' +
                    '        <span onclick="com_lookresume_check(' + res.list[i].id + ',' + res.list[i].status + ')">' + res.list[i].jobname + '</span>\n' +
                    '        <b>' + res.list[i].sex_n + ' . ' + res.list[i].age_n + ' . ' + res.list[i].exp_n + ' . ' + res.list[i].edu_n + '</b>\n' +
                    '    </div>\n' +
                    '    <div class="postdivInfo">\n' +
                    '        <div class="postdivData">\n' +
                    '            <div class="postdivImg" onclick="com_lookresume_check(' + res.list[i].id + ',' + res.list[i].status + ')">\n' +
                    '                <img src="' + res.list[i].photo + '" alt="">\n' +
                    '            </div>\n' +
                    '            <div class="postdivName">\n' +
                    '                <span onclick="com_lookresume_check(' + res.list[i].id + ',' + res.list[i].status + ')">' + res.list[i].username_n + '</span>\n' +
                    // "<b>{yun:}t key='common_02152'{/yun}" + res.list[i].looknum + "{yun:}t key='common_02089'{/yun}</b>\n" +
                    '            </div>\n' +
					
                    '        </div>\n' + 
					'        <div class="postdivChatrs">\n' +
					'            <span class="spanDown" onclick="com_lookresume_check(' + res.list[i].id + ',' + res.list[i].status + ')">{yun:}t key='wap_com_00316'{/yun}</span>\n' +
					'        </div>\n' +
					'    </div>\n' +
                   
                   
                    '</li>';
            }
            $("#resumelist").prepend(html);
        } else {
            $("#noresumelist").removeClass('none');
        }
    })
}

function notweixin() {
    layer.msg("网站暂未绑定微信公众号，{yun:}t key='wap_00509'{/yun}，{yun:}t key='common.phone'{/yun}：{yun:}($config.sy_comwebtel!='
        ')?$config.sy_comwebtel:$config.sy_freewebtel{/yun}", 2, 8);
}
'{yun:}if $ggnum > 1{/yun}'
marquee("6000", ".yun_Announcement  ul");
'{yun:}/if{/yun}'

function closeyr() {
    layer.close(yearreport_box);
}

function yearreport() {
    closeyr();
    var url = weburl + '/index.php?m=ajax&c=lastYearReport&uid=' + uid;

    var loading = layer.load("{yun:}t key='wap_00073'{/yun}", 0);

    var image = new Image();
    image.src = url;
    image.onload = function() {
        layer.close(loading);
        layer.open({
            type: 1,
            title: false,
            content: '<div class="hb_tc"><img src="' + image.src + '" style="max-width: 100%;"><div class="hb_tc_bth"><a href="javascript:;" onclick="downYearReport();" class="hb_tc_xz">下载海报</a></div></div>',
            area: ['360px', 'auto'],
            offset: '55px',
            closeBtn: 0,
            shadeClose: true
        });
    };
}

function downYearReport() {

    var loading = layer.load("{yun:}t key='wap_00072'{/yun}", 0);
    var url = weburl + '/index.php?m=ajax&c=lastYearReport&uid=' + uid;

    var image = new Image();
    image.src = url;
    image.onload = function() {
        layer.closeAll();
        var a = document.createElement('a'); // 创建一个a节点插入的document
        var event = new MouseEvent('click") // 模拟鼠标click{yun:}t key='admin_tool_00652'{/yun}
        a.download = "年度报告'; // 设置a节点的download属性值
        a.href = url; // 将图片的src赋值给a节点的href
        a.dispatchEvent(event);
    }
}
</script>

<!--底部需要引入，不引入部分功能异常-->
{yun:}include file="$comstyle/footer.htm"{/yun}