{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody">
	 

		{yun:}include file="$comstyle/left.htm"{/yun}
        <div class=right_box>
			<div class="newmember_tit">
				<ul>
					<li> <a href="index.php?c=right">{yun:}t key='wap_com_00097'{/yun}</a></li>
					<li > <a  href="index.php?c=pay" >{yun:}t key='member_com_00041'{/yun}</a></li>
					<li> <a  href="index.php?c=paylogtc" class=" ">{yun:}t key='wap_com_00064'{/yun}</a></li>
					<li class="newmember_titcur"><a  href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}{yun:}t key='wap_com_00304'{/yun}</a></li>
				</ul>
			</div>
			<div class="newmember_screenbox">
				<div class="newmember_screen"> 
					<ul class="">
						<li {yun:}if $smarty.get.c=="integral" {/yun}class="job_list_tit_cur" {yun:}/if{/yun}>
							<a href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}{yun:}t key='member_com_00209'{/yun}</a>
						</li>
						<li {yun:}if $smarty.get.c=="integral_reduce" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
							<a href="index.php?c=integral_reduce">{yun:}t key='wap_user_00252'{/yun}</a>
						</li>
						<li {yun:}if $smarty.get.c=="reward_list" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
							<a href="index.php?c=reward_list">{yun:}$config.integral_pricename{/yun}{yun:}t key='admin_yunying_00117'{/yun}</a>
						</li>
					</ul> 
				</div>
			</div> 			
						
       <div class="clear"></div>
       <div class=admincont_box>
        
           <div class="com_body"> 
						<table class="com_table" >
                      <tr align="left">
                      	<th>{yun:}t key='wap_user_00099'{/yun}</th>
                      	<th><span style="padding-left: 10px;">{yun:}t key='member_com_00031'{/yun}{yun:}$config.integral_pricename{/yun}</span></th>
                      </tr>
                    
						 <tr><td>{yun:}t key='wap_com_00028'{/yun}</td> 
								<td><span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_job{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span> </td> 
							</tr>

							 <tr><td>{yun:}t key='wap_com_00029'{/yun}</td> 
								<td><span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_jobefresh{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span> 
							</td> 
							</tr>

							 <tr>
								<td>{yun:}t key='wap_00321'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_job{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span>
								</td> 
							</tr>

							 <tr><td>{yun:}t key='wap_01231'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_jobefresh{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span> 
							</td> 
							</tr>
					  
							 <tr><td>{yun:}t key='wap_com_00022'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_down_resume{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span> 
							</td> 
							</tr>
							
							 <tr><td>{yun:}t key='wap_com_00026'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_interview{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02052'{/yun} </span> 
							</td> 
							</tr>			
							 <tr><td>{yun:}t key='wap_com_00024'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.com_urgent{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02067'{/yun} </span> 
							</td> 
							</tr>

							 <tr><td>{yun:}t key='wap_com_00023'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.com_recjob{/yun}</b>   {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02067'{/yun} </span> 
							</td> 
							</tr>
							
							 <tr><td>{yun:}t key='wap_com_00027'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.job_auto{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02067'{/yun} </span> 
							</td> 
							</tr>
							 <tr><td>{yun:}t key='wap_com_00025'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.integral_job_top{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02067'{/yun} </span> 
							</td> 
							</tr>
							 <tr><td>{yun:}t key='wap_01232'{/yun}</td> 
								<td>
								<span class="integral_cont_list_span_c" style="border:none"> {yun:}t key='member_com_00031'{/yun} <b>{yun:}$config.com_recjob{/yun}</b>  {yun:}t key='common_02056'{/yun}/ {yun:}t key='common_02067'{/yun} </span> 
							</td> 
							</tr>
                            </table>

              <div class="integraButns">
              	<a href="index.php?c=paylog&consume=ok">{yun:}t key='wap_user_00169'{/yun}</a>
              </div>
					</div>
				</div> 
		</div>
	</div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}