{yun:}include file="$comstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <script src="{yun:}$jobplusstyle{/yun}/job.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <script src="{yun:}$jobplusstyle{/yun}/jobparent.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <link rel="stylesheet" href="{yun:}$style{/yun}/style/newclass.public.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
        <script src="{yun:}$config.sy_weburl{/yun}/js/newclass.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <script language="javascript">
            function setLink(type) {

                if ($("#is" + type).hasClass('com_job_tel_setlist_zt_cur')) {
                    $("#is" + type).removeClass('com_job_tel_setlist_zt_cur');
                    if (type == 'link') {

                        var link_id = $('#link_id').val();
                        var selLinkId = 'dd[lay-value=' + link_id + ']';
                        $('#link_id').siblings("div.layui-form-select").find('dl').find(selLinkId).click();
                        $("input[name='is_link']").val(1);
                    } else {

                        $("input[name='is_" + type + "']").val(2);
                    }
                } else {
                    $("#is" + type).addClass('com_job_tel_setlist_zt_cur');
                    if (type == 'link') {

                        $("input[name='is_link']").val(3);
                    } else {

                        $("input[name='is_" + type + "']").val(1);
                    }
                }
            }

            function returnmessagejob(frame_id) {
                if (frame_id == '' || frame_id == undefined) {
                    frame_id = 'supportiframe';
                }
                var message = $(window.frames[frame_id].document).find("#layer_msg").val();
                if (message != null) {
                    var url = $(window.frames[frame_id].document).find("#layer_url").val();
                    var layer_time = $(window.frames[frame_id].document).find("#layer_time").val();
                    var layer_st = $(window.frames[frame_id].document).find("#layer_st").val();
                    var layer_url = $(window.frames[frame_id].document).find("#layer_url").val();
                    var h5share = '{yun:}$config.sy_h5_share{/yun}';
                    layer.closeAll('loading');
                    if (layer_st == '9') {
                        //判断是否开启职位推广并且是新增职位
                        $('#jobid').val(layer_url);
                        $('#jobshow').attr('href', weburl + '/job/?c=comapply&id=' + layer_url);
                        if (h5share == 1) {
                            $('#sharecode').attr('src', weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=share&toid=' + layer_url);
                        } else {
                            $('#sharecode').attr('src', weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=view&toid=' + layer_url);
                        }
                        var jid = '{yun:}$row.id{/yun}';
                        
                            $('#jobrec').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 2)');
                            $('#joburgent').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 3)');
                            $('#jobtop').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 1)');
                            $('#jobauto').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 5)');
                            
                        $.layer({
                            type: 1,
                            move: false,
                            fix: true,
                            zIndex: 666,
                            title: "{yun:}t key='member_com_00584'{/yun}",
                            offset: ['100px', ''],
                            border: [10, 0.3, '#000', true],
                            area: ['710px', '330px'],
                            page: {dom: '#addjob'},
                            close: function () {
                                {yun:}if ($config.com_free_status == 1 && $companycert && $companycert.status == 1) || ($job_ms_rating && in_array($company.rating, $job_ms_rating)) ||$config.com_job_status == '1'{/yun}
                                    {yun:}if $row && $referer{/yun}
                                        window.location.href = "{yun:}$referer{/yun}";
                                    {yun:}else{/yun}
                                        window.location.href = "index.php?c=job&w=1";
                                    {yun:}/if{/yun}
                                {yun:}else{/yun}
                                    window.location.href = "index.php?c=job&w=0";
                                {yun:}/if{/yun}
                            }
                        });
                    } else {
                        if (url == '1') {
                            layer.msg(message, layer_time, Number(layer_st), function () {
                                window.location.reload();
                                window.event.returnValue = false;
                                return false;
                            });
                        } else if (url == '') {

                            layer.msg(message, layer_time, Number(layer_st));
                            $('#submitBtn').attr("disabled", false);
                        } else {
                            layer.msg(message, layer_time, Number(layer_st), function () {
                                window.location.href = url;
                                window.event.returnValue = false;
                                return false;
                            });
                        }
                    }
                }
            }
        </script>

        <input type="hidden" id="comname" value="{yun:}$company.name{/yun}">
        
        <div class=right_box>
            <div class="newmember_screenbox">
                <div class="newmember_screen">
                    <div class="newmember_screenname"><a href="index.php?c=job&w=1" class="newcom_fh">{yun:}t key='common.back'{/yun} </a><span
                            class="newcom_fh_line">|</span>{yun:}t key='member_com_00250'{/yun}</div>
                </div>
            </div>
            
             
            <div class=admincont_box>
                <div class="com_body">
                    <div class="com_new_tip">
                        <span class="com_new_tip_h">{yun:}t key='member_com_00040'{/yun}</span>
                        {yun:}if $statis.vip_etime > $todayStart || $statis.vip_etime=="0"{/yun}
                            {yun:}if $statis.rating_type==2{/yun}
                                {yun:}t key='common_02235'{/yun} <span class="com_new_tip_v">{yun:}$statis.rating_name{/yun}</span>，到期时间是{yun:}if $statis.vip_etime!="0"{/yun}{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}{yun:}else{/yun}{yun:}t key='api_wxapp_00019'{/yun}{yun:}/if{/yun}，在此之前您可以任意发布职位&nbsp;&nbsp;&nbsp;
                            {yun:}else{/yun}
                                {yun:}t key='common_02235'{/yun} <span class="com_new_tip_v">{yun:}$statis.rating_name{/yun} </span>{yun:}if $jobnum{/yun}，现已上架 {yun:}$jobnum{/yun} {yun:}t key='wap_user_00151'{/yun}{yun:}/if{/yun}， 您共可上架：{yun:}$statis.job_num{/yun}{yun:}t key='wap_user_00151'{/yun}。超出后发布的职位需要手动上架&nbsp;&nbsp;&nbsp;
                            {yun:}/if{/yun}
                        {yun:}else{/yun}
                            {yun:}t key='wap_01287'{/yun}，为了更好的招聘人才，请先<a href="index.php?c=right" class="cblue"> {yun:}t key='member_com_00308'{/yun}</a>！&nbsp;&nbsp;&nbsp;
                        {yun:}/if{/yun}
                        <span class="add_tit_bz">{yun:}t key='member_com_00574'{/yun} <i class="ff0">*</i> {yun:}t key='member_com_00306'{/yun}</span>
                    </div>
                    <iframe id="supportiframejob" name="supportiframejob" onload="returnmessagejob('supportiframejob');" style="display:none"></iframe>
                    <form name="MyForm" id="myform" target="supportiframejob" method="post" action="index.php?c=jobadd&act=save" class="layui-form">

                        <div class="com_release_box" id="comjob">
                            <ul>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_com_00288'{/yun}：</div>
                                    <div class="com_release_cont">
                                        {yun:}if $smarty.get.id && $config.joblock==1{/yun}
                                        <label>
                                            <div class="info_comname_text">{yun:}$row.name{/yun}</div>
                                        </label>
                                        <input type="hidden" id="name" name="name" value="{yun:}$row.name{/yun}">
                                        {yun:}else{/yun}
                                        <div class="com_release_cont_text">
                                            <input type="text" size="45" lay-verify="required" name="name" id='name' value="{yun:}$row.name{/yun}" class="layui-input" placeholder="{yun:}t key='member_com_00227'{/yun}">
                                        </div>
                                        {yun:}/if{/yun}
                                        <span id="by_name" class="errordisplay">{yun:}t key='member_com_00239'{/yun}</span>
                                    </div>
                                    {yun:}if $config.joblock==1{/yun}
                                    <div class="" style="color:#f00; padding-top:10px;font-size:12px;">{yun:}t key='wap_js_00125'{/yun}：职位名称确认发布后将无法修改</div>
                                    {yun:}/if{/yun}
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_user_00018'{/yun}：</div>
                                    <div class="com_release_cont com_release_cont_xlyc">
                                        <div class="com_release_cont_text" style="position:relative">
                                            <input type="hidden" name="job_post" id="job_post" value="{yun:}if $row.job_post{/yun}{yun:}$row.job_post{/yun}{yun:}else if $row.job1_son{/yun}{yun:}$row.job1_son{/yun}{yun:}else if $row.job1{/yun}{yun:}$row.job1{/yun}{yun:}/if{/yun}"/>
                                            <select id="jobclass_search" name="jobclass_search" xm-select-type="jobclass" xm-select="jobclass_search" xm-select-search="" xm-select-radio="" xm-select-skin="default" xm-select-direction="down">
                                                <option value="">{yun:}t key='member_com_00243'{/yun}</option>
                                            </select>
                                            {yun:}if $jionly!='1'{/yun}
                                            <div onclick="index_job_new(1,'#workadds_job','#job_post','left:100px;top:100px; position:absolute;','1');" class="news_expect_text_new_sxzw" title="{yun:}t key='member_user_00100'{/yun}">{yun:}t key='member_com_00246'{/yun}</div>
                                            {yun:}/if{/yun}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_com_00290'{/yun}：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="5" id="minsalary" name="minsalary" {yun:}if $row.minsalary{/yun}value="{yun:}$row.minsalary{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" placeholder="{yun:}t key='wap_user_00013'{/yun}"{yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id&&$config.com_job_myswitch=="1"{/yun} disabled="disabled"{yun:}/if{/yun}>
                                            <span class="com_release_cont_dw">{yun:}t key='common_02056'{/yun}/{yun:}t key='common_02086'{/yun}</span>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="5" id="maxsalary" name="maxsalary" {yun:}if $row.maxsalary{/yun}value="{yun:}$row.maxsalary{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" placeholder="{yun:}t key='wap_user_00014'{/yun}"{yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id&&$config.com_job_myswitch=="1"{/yun} disabled="disabled"{yun:}/if{/yun}>
                                            <span class="com_release_cont_dw">{yun:}t key='common_02056'{/yun}/{yun:}t key='common_02086'{/yun}</span>
                                        </div>
                                        {yun:}if $config.com_job_myswitch=="1"{/yun}
                                        <input type="checkbox" id="salary_type" name="salary_type" title="{yun:}t key='common.negotiable'{/yun}" value="1" {yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id{/yun} checked="checked"{yun:}/if{/yun} lay-filter="salary_type" lay-skin="primary" />
                                        {yun:}/if{/yun}
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_com_00333'{/yun}：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input name="zp_num" id="zp_num" type="text" {yun:}if $row.zp_num{/yun}value="{yun:}$row.zp_num{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" />
                                            <span class="com_release_cont_dw">{yun:}t key='common_02051'{/yun}</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"> {yun:}t key='wap_00353'{/yun}：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="edu" lay-filter="edu">
                                                {yun:}foreach from=$comdata.job_edu key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.edu== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}{yun:}t key='home.education_suffix'{/yun}{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="exp" lay-filter="exp">
                                                {yun:}foreach from=$comdata.job_exp key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.exp==$v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0 && stripos($comclass_name[$v],'经验') === false{/yun}{yun:}t key='home.experience_suffix'{/yun}{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;
                                        <input name="is_graduate" type="checkbox" value="1" title="{yun:}t key='member_com_00241'{/yun}" {yun:}if $row.is_graduate{/yun}checked{yun:}/if{/yun} lay-skin="primary" />
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_com_00289'{/yun}：</div>
                                    <div class="com_release_cont">
                                        <div class="Description" style="display:none;">
                                            <div class="Description_icon">
                                                <i class="Description_icon_i"></i>
                                                <div class="Description_box" style="display:none;">
                                                    <i class="Description_icon_i_j"></i>
                                                    {yun:}t key='member_com_00575'{/yun}<br>{yun:}t key='member_com_00576'{/yun}
                                                </div>
                                            </div>
                                            <div class="Description_box_mb">{yun:}t key='member_com_00577'{/yun}<span id="JobRequInfoTemplate"></span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <script id="description" name="description" type="text/plain" style="width:500px; height:100px;"> {yun:}$row.description{/yun}</script>
                                        <span id="by_description" class="errordisplay">{yun:}t key='member_com_00044'{/yun}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> {yun:}t key='wap_com_00331'{/yun}：</div>
                                    <div class="com_release_cont" style="height:38px;">
                                        <div class="layui-input-inline" style="width:675px; float: left;">
                                            <select name="link_id" lay-filter="link_id" id="link_id">
                                                <option id="link_id_-1" data-provinceid="{yun:}$defLink.provinceid{/yun}" data-cityid="{yun:}$defLink.cityid{/yun}" data-three_cityid="{yun:}$defLink.three_cityid{/yun}" data-address="{yun:}$defLink.address{/yun}" data-x="{yun:}$defLink.x{/yun}" data-y="{yun:}$defLink.y{/yun}" data-link_man="{yun:}$defLink.link_man{/yun}" data-link_moblie="{yun:}$defLink.link_moblie{/yun}" data-link_phone="{yun:}$defLink.link_phone{/yun}" data-email="{yun:}$defLink.email{/yun}" value="-1" {yun:}if $row.is_link== 1{/yun}selected{yun:}/if{/yun}>{yun:}$defLink.link_man{/yun} - {yun:}$defLink.link_moblie{/yun} - {yun:}$defLink.city{/yun} - {yun:}$defLink.address{/yun} （{yun:}t key='member_com_00528'{/yun}）</option>
                                                {yun:}foreach from=$addressList item=v key=key{/yun}
                                                {yun:}if $row.link_id==$v.id{/yun}
                                                {yun:}assign var="linkid" value=$key{/yun}
                                                {yun:}/if{/yun}
                                                <option id="link_id_{yun:}$v.id{/yun}" data-provinceid="{yun:}$v.provinceid{/yun}" data-cityid="{yun:}$v.cityid{/yun}" data-three_cityid="{yun:}$v.three_cityid{/yun}" data-address="{yun:}$v.link_address{/yun}" data-x="{yun:}$v.x{/yun}" data-y="{yun:}$v.y{/yun}" data-link_man="{yun:}$v.link_man{/yun}" data-link_moblie="{yun:}$v.link_moblie{/yun}" data-link_phone="{yun:}$v.link_phone{/yun}" data-email="{yun:}$v.email{/yun}"  value="{yun:}$v.id{/yun}" {yun:}if $row.is_link!=1 && $row.link_id==$v.id{/yun}selected{yun:}/if{/yun}>{yun:}$v.linkmsg{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        {yun:}if $row.is_link && $row.is_link!=1{/yun}
                                        <a id="editAddr" href="javascript:;" data-id="{yun:}$addressList[$linkid].id{/yun}" class="add_icon   newAddressBtn"   data-link="2" data-provinceid="{yun:}$addressList[$linkid].provinceid{/yun}" data-cityid="{yun:}$addressList[$linkid].cityid{/yun}" data-three_cityid="{yun:}$addressList[$linkid].three_cityid{/yun}" data-address="{yun:}$addressList[$linkid].link_address{/yun}" data-x="{yun:}$addressList[$linkid].x{/yun}" data-y="{yun:}$addressList[$linkid].y{/yun}" data-link_man="{yun:}$addressList[$linkid].link_man{/yun}" data-link_moblie="{yun:}$addressList[$linkid].link_moblie{/yun}" data-link_phone="{yun:}$addressList[$linkid].link_phone{/yun}" data-email="{yun:}$addressList[$linkid].email{/yun}"><span class="add_xg"></span>{yun:}t key='wap_js_00073'{/yun} </a>
                                        {yun:}else{/yun}
                                        <a id="editAddr" href="javascript:;" data-id="-1" class="add_icon   newAddressBtn"   data-link="2" data-provinceid="{yun:}$defLink.provinceid{/yun}" data-cityid="{yun:}$defLink.cityid{/yun}" data-three_cityid="{yun:}$defLink.three_cityid{/yun}" data-address="{yun:}$defLink.address{/yun}" data-x="{yun:}$defLink.x{/yun}" data-y="{yun:}$defLink.y{/yun}" data-link_man="{yun:}$defLink.link_man{/yun}" data-link_moblie="{yun:}$defLink.link_moblie{/yun}" data-link_phone="{yun:}$defLink.link_phone{/yun}" data-email="{yun:}$defLink.email{/yun}"><span class="add_xg"></span>{yun:}t key='wap_js_00073'{/yun} </a>
                                        {yun:}/if{/yun}
                                       
                                        <a href="javascript:;" class="add_icon add_xj  newAddressBtn"  data-link="2" data-provinceid="{yun:}$defLink.provinceid{/yun}" data-cityid="{yun:}$defLink.cityid{/yun}" data-three_cityid="{yun:}$defLink.three_cityid{/yun}" data-address="{yun:}$defLink.address{/yun}" data-x="{yun:}$defLink.x{/yun}" data-y="{yun:}$defLink.y{/yun}"><span class="add_xg"></span>{yun:}t key='member_com_00249'{/yun} </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name">{yun:}t key='member_com_00244'{/yun}</div>
                                    <div class="com_release_cont">
                                        {yun:}if $config.com_job_sexswitch==1{/yun}
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="sex" lay-filter="sex">
                                                {yun:}foreach from=$com_sex key=j item=v{/yun}
                                                <option value="{yun:}$j{/yun}" {yun:}if $row.sex== $j{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 3{/yun}{yun:}t key='wap_com_00303'{/yun}{yun:}/if{/yun}{yun:}$v{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        {yun:}/if{/yun}
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="marriage" lay-filter="marriage">
                                                {yun:}foreach from=$comdata.job_marriage key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.marriage== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}{yun:}t key='default_00241'{/yun}{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="report" lay-filter="report">
                                                {yun:}foreach from=$comdata.job_report key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.report== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}{yun:}t key='wap_com_00279'{/yun}{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="2" id="zp_minage" name="zp_minage" placeholder="{yun:}t key='wap_com_00285'{/yun}" {yun:}if $row.zp_minage{/yun}value="{yun:}$row.zp_minage{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                            <span class="com_release_cont_dw">{yun:}t key='home.age_suffix'{/yun}</span>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="2" id="zp_maxage" name="zp_maxage" placeholder="{yun:}t key='wap_com_00308'{/yun}" {yun:}if $row.zp_maxage{/yun}value="{yun:}$row.zp_maxage{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                            <span class="com_release_cont_dw">{yun:}t key='home.age_suffix'{/yun}</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="com_release_name">{yun:}t key='wap_user_00010'{/yun}：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline" style="width:500px;">
                                            <select name="hy" lay-filter="hy">
                                                <option value="">{yun:}t key='wap_user_00100'{/yun}</option>
                                                {yun:}foreach from=$industry_index key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.hy== $v{/yun} selected{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="jobadd_list_fl">
                                    <div class="com_release_name">{yun:}t key='wap_com_00173'{/yun}：</div>
                                    <div class="layui-form-item" style=" margin-bottom: 0px;;">
                                        <div class="layui-input-block">
                                            <span class="" id="addwelfarelist">
                                                {yun:}foreach from=$row.arraywelfare key=key item=tv{/yun}
                                                    <input name="welfare[]" id="welfare{yun:}$tv{/yun}" value="{yun:}$tv{/yun}" {yun:}if $row.arraywelfare && in_array($tv,$row.arraywelfare){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" title="{yun:}$tv{/yun}" data-tag="{yun:}$tv{/yun}" class="changewelfare" lay-skin="primary">
                                                {yun:}/foreach{/yun}
                                            </span>
                                            {yun:}foreach item=v from=$comdata.job_welfare{/yun}
                                            {yun:}if !in_array({yun:}$comclass_name[$v]{/yun},$row.arraywelfare){/yun}
                                            <input name="welfare[]" id="welfare{yun:}$comclass_name[$v]{/yun}" value="{yun:}$comclass_name[$v]{/yun}" {yun:}if $row.arraywelfare && in_array($comclass_name[$v],$row.arraywelfare){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" title="{yun:}$comclass_name[$v]{/yun}" data-tag="{yun:}$comclass_name[$v]{/yun}" class="changewelfare" lay-skin="primary" />
                                            {yun:}/if{/yun}
                                            {yun:}/foreach{/yun}
                                            <div class="">
                                                <div class="addwelfare_b">
                                                    <input class="addwelfare_text" type="text" tabindex="1000" placeholder="{yun:}t key='wap_user_00309'{/yun}" id="addwelfare"><a class="addwelfarebox">{yun:}t key='member_com_00202'{/yun}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {yun:}if $comdata.job_lang!='' && count($comdata.job_lang)>0{/yun}
                                <li>
                                    <div class="com_release_name">{yun:}t key='wap_com_00292'{/yun}：</div>
                                    <div class="layui-form-item" style=" margin-bottom: 0px;;">
                                        <div class="layui-input-block">
                                            {yun:}foreach key=j item=v from=$comdata.job_lang{/yun}
                                            <input name="lang[]" id="lang{yun:}$v{/yun}" title="{yun:}$comclass_name[$v]{/yun}" value="{yun:}$v{/yun}" {yun:}if in_array($v,$row.lang){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" lay-skin="primary" />
                                            {yun:}/foreach{/yun}
                                        </div>
                                    </div>
                                </li>
                                {yun:}/if{/yun}
                                <li>
                                    <div class="com_release_name">{yun:}t key='common_02154'{/yun}：</div>
                                    <div class="jobadd_set">
                                        <div class="jobadd_set_tit">
                                            <a href="javascript:void(0)" data-id="spshow_xx1" class="jobadd_set_a spshow_yq_div_a_curr"><i></i>{yun:}t key='wap_com_00275'{/yun}</a>
                                            {yun:}if $config.sqjob_req!=2{/yun}
                                            <a href="javascript:void(0)" data-id="spshow_xx2" class="jobadd_set_a"><i></i>{yun:}t key='member_com_00242'{/yun}</a>
                                            {yun:}/if{/yun}
                                        </div>
                                    </div>
                                    <div class="jobadd_setbox" id="spshow_xx1">
                                        <div class="jobadd_setlist jobadd_setlist_line ">
                                            <div class="jobadd_setname">{yun:}t key='wap_00892'{/yun}</div>
                                            <div class="jobadd_set_p">{yun:}t key='wap_com_00260'{/yun}</div>
                                            <span class="jobadd_set_kg" onclick="setLink('tblink');" id="istblink"><i class="jobadd_set_kgicon"></i></span>
                                            <input type="hidden" name="is_tblink" id="is_tblink" value="0"/>
                                        </div>
                                        <div class="jobadd_setlist jobadd_setlist_line jobadd_setlist_linepv">
                                            <i class="jobadd_setlist_line_l"></i>
                                            <div class="jobadd_setname">{yun:}t key='member_com_00578'{/yun}</div>
                                            <div class="jobadd_set_p">{yun:}t key='wap_com_00261'{/yun}</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_message==1 || $row.is_message == ''{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('message');" id="ismessage"><i class="jobadd_set_kgicon "></i></span>
                                            <input type="hidden" name="is_message" id="is_message" value="{yun:}if $row.is_message{/yun}{yun:}$row.is_message{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/>
                                        </div>
                                        <div class="jobadd_setlist">
                                            <div class="jobadd_setname">{yun:}t key='wap_com_00276'{/yun}</div>
                                            <div class="jobadd_set_p">{yun:}t key='member_com_00237'{/yun}</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_link==3{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('link');" id="islink"><i class="jobadd_set_kgicon "></i></span>
                                            <input id="is_link" name="is_link" value="{yun:}if $row.is_link{/yun}{yun:}$row.is_link{/yun}{yun:}else{/yun}1{yun:}/if{/yun}" type="hidden"/>
                                        </div>
                                        <div class="jobadd_setlist jobadd_setlist_linepv">
                                            <i class="jobadd_setlist_line_l"></i>
                                            <div class="jobadd_setname">{yun:}t key='wap_com_00293'{/yun}</div>
                                            <div class="jobadd_set_p">{yun:}t key='wap_com_00262'{/yun}</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_email==1 || $row.is_email == ''{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('email');" id="isemail"><i class="jobadd_set_kgicon"></i></span>
                                            <input type="hidden" name="is_email" id="is_email" value="{yun:}if $row.is_email{/yun}{yun:}$row.is_email{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/>
                                        </div>
                                    </div>
                                    {yun:}if $config.sqjob_req!=2{/yun}
                                    <div class="jobadd_setbox none " id="spshow_xx2">
                                        {yun:}if $config.sqjob_req==0{/yun}
                                        <div class="jobadd_settip">{yun:}t key='member_com_00226'{/yun}</div>
                                        {yun:}else{/yun}
                                        <div class="jobadd_settip">{yun:}t key='member_com_00229'{/yun}</div>
                                        {yun:}/if{/yun}
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">{yun:}t key='wap_user_00240'{/yun}</div>
                                            <div class="layui-input-inline jobadd_settd_listw160">
                                                <select name="exp_req" lay-filter="exp_req">
                                                    <option value="0" {yun:}if $row.exp_req == 0{/yun}selected{yun:}/if{/yun}>{yun:}t key='common_01936'{/yun}</option>
                                                    {yun:}foreach from=$userdata.user_word item=v key=j{/yun}
                                                    {yun:}if $userclass_name[$v]!='不限'{/yun}
                                                    <option value="{yun:}$v{/yun}" {yun:}if $row.exp_req == $v{/yun} selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                                    {yun:}/if{/yun}
                                                    {yun:}/foreach{/yun}
                                                </select>
                                            </div>
                                        </div>
                                        {yun:}if $config.com_job_sexswitch==1{/yun}
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">{yun:}t key='wap_com_00332'{/yun}</div>
                                            <div class="layui-input-block">
                                                <input type="radio" name="sex_req" value="3" {yun:}if $row.sex_req==3{/yun}checked="checked"{yun:}/if{/yun} title="{yun:}t key='common_01936'{/yun}"/>
                                                <input type="radio" name="sex_req" value="2" {yun:}if $row.sex_req==2{/yun}checked="checked"{yun:}/if{/yun} title="{yun:}t key='common_02069'{/yun}"/>
                                            </div>
                                        </div>
                                        {yun:}/if{/yun}
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">{yun:}t key='wap_com_00283'{/yun}</div>
                                            <div class="layui-input-inline jobadd_settd_listw160">
                                                <select name="edu_req" lay-filter="edu_req">
                                                    <option value="0" {yun:}if $row.edu_req == 0{/yun}selected{yun:}/if{/yun}>{yun:}t key='common_01936'{/yun}</option>
                                                    {yun:}foreach from=$userdata.user_edu item=v key=j{/yun}
                                                    {yun:}if $userclass_name[$v]!='不限'{/yun}
                                                    <option value="{yun:}$v{/yun}" {yun:}if $row.edu_req== $v{/yun} selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                                    {yun:}/if{/yun}
                                                    {yun:}/foreach{/yun}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">{yun:}t key='wap_com_00284'{/yun}</div>
                                            <div class="layui-input-block">
                                                <div class="layui-input-inline com_release_selectw145">
                                                    <input type="text" size="2" id="minage_req" name="minage_req" placeholder="{yun:}t key='wap_com_00285'{/yun}" {yun:}if $row.minage_req{/yun}value="{yun:}$row.minage_req{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                                    <span class="com_release_cont_dw">{yun:}t key='home.age_suffix'{/yun}</span>
                                                </div>
                                                <div class="layui-input-inline com_release_selectw145">
                                                    <input type="text" size="2" id="maxage_req" name="maxage_req" placeholder="{yun:}t key='wap_com_00308'{/yun}" {yun:}if $row.maxage_req{/yun}value="{yun:}$row.maxage_req{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                                    <span class="com_release_cont_dw">{yun:}t key='home.age_suffix'{/yun}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {yun:}/if{/yun}
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class=admin_submit>
                            <div class="admin_job_js_list_ft  fl"><span style="width:100%;">&nbsp;</span></div>
                            <div class=sub_btn>
                                <input type="hidden" id="r_status" name="r_status" value="{yun:}$company.r_status{/yun}">
                                <input class="btn_01" id="submitBtn" type="button" name="submitBtn" value=" {yun:}t key='member_com_00248'{/yun} ">
                                {yun:}if $smarty.get.id{/yun}
                                <input id="id" name="id" value="{yun:}$row.id{/yun}" type="hidden"/>
                                {yun:}/if{/yun}
                                <input id="save" name="save" value="{yun:}$row.name{/yun}" type="hidden"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input type='hidden' id='jobid' value=''>
<div class="job_tck_box" id="addjob" style="display:none;">
    <div style="width:710px; background:#fff;">
        <div class="yun_prompt_writingicon"><i class="yun_prompt_writingicon_right"></i></div>
        <div class="yun_prompt_writing">{yun:}t key='wap_01173'{/yun}！</div>
        {yun:}if $jobState == 1{/yun}
            <div class="yun_prompt_writing_tip">{yun:}t key='member_com_00232'{/yun}</div>
        {yun:}else{/yun}
            <div class="yun_prompt_writing_tip">{yun:}t key='member_com_00228'{/yun}</div>
        {yun:}/if{/yun}
        <div class="yun_prompt_writing_operation">
            <a href="javascript:void(0)" onclick="addjob_continue('{yun:}$uid{/yun}');return false;" class="yun_prompt_jobtgbth">{yun:}t key='member_com_00245'{/yun}</a>
            <a id="jobshow" href="javascript:;" s class="yun_prompt_jobtgbth">{yun:}t key='member_com_00580'{/yun}</a>
            <a href="index.php?c=job&w=5" class="yun_prompt_jobtgbth">{yun:}t key='member_com_00581'{/yun}</a>
            {yun:}if $jobState == 1{/yun}
            <a href="javascript:;" class="yun_prompt_jobtgbth yun_prompt_jobtgbth_sm">
                {yun:}t key='member_com_00582'{/yun}
                <div class="yun_prompt_jobtgbth_smbox none">
                    <div class="yun_prompt_jobtgbth_smboxpic">
                        <img id="sharecode" src="" width="60" height="60">
                    </div>
                    使用微信、{yun:}t key='member_user_00163'{/yun}QQ{yun:}t key='member_user_00222'{/yun}，
                    <div>{yun:}t key='member_com_00234'{/yun}</div>
                </div>
            </a>
            {yun:}/if{/yun}
        </div>
        
        <div class="yun_prompt_jobtg_box">
            <div class="yun_prompt_jobtg">{yun:}t key='member_com_00236'{/yun}</div>
            <ul class="yun_prompt_jobtglist">
                <li>
                    <span class="">{yun:}t key='wap_com_00237'{/yun}</span>
                    <em class="">{yun:}t key='member_com_00252'{/yun}</em>
                    <a id="jobrec" href="javascript:void(0);" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.rec_time|date_format:'%Y-%m-%d'{/yun}', 2)">{yun:}t key='member_com_00287'{/yun}</a>
                </li>
                <li>
                    <span class="">{yun:}t key='member_com_00247'{/yun}</span>
                    <em class="">{yun:}t key='member_com_00255'{/yun}</em>
                    <a id="joburgent" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.urgent_time|date_format:'%Y-%m-%d'{/yun}', 3)">{yun:}t key='member_com_00287'{/yun}</a>
                </li>
                <li>
                    <span class="">{yun:}t key='wap_com_00238'{/yun}</span>
                    <em class="">{yun:}t key='member_com_00251'{/yun}</em>
                    <a id="jobtop" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.xsdate|date_format:'%Y-%m-%d'{/yun}', 1);">{yun:}t key='member_com_00287'{/yun}</a>
                </li>
                {yun:}if $config.com_job_reserve==0{/yun}
                <li>
                    <span class="">{yun:}t key='wap_com_00239'{/yun}</span>
                    <em class="">{yun:}t key='wap_com_00239'{/yun}， 职位管理轻松更高效</em>
                    <a id="jobauto" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.autodate|date_format:'%Y-%m-%d'{/yun}', 5);">{yun:}t key='member_com_00287'{/yun}</a>
                </li>
				{yun:}/if{/yun}
            </ul>
            <div class="yun_prompt_jobgzh">
                <div class="yun_prompt_jobgzh_img">
                    <img src='{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_qcode{/yun}' width='130' height='130'>
                </div>
                {yun:}t key='wap_user_00191'{/yun}<br>{yun:}t key='member_com_00583'{/yun}
            </div>
        </div>
        
    </div>
</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/formSelects-v4.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/formSelects-v4.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
    var urgentjob = '{yun:}$config.com_urgent{/yun}';
    var online = '{yun:}$config.com_integral_online{/yun}';
    var pro = '{yun:}$config.integral_proportion{/yun}';

    $(document).ready(function() {
        var is_link = '{yun:}$row.is_link{/yun}';
        var link_id = '{yun:}$row.link_id{/yun}';

        if (link_id == 0){
            $('#editAddr').hide();
        }
    });
    layui.use(['form', 'layer', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            formSelects = layui.formSelects,
            $ = layui.$;

        form.on('select(link_id)', function (data) {
            $('#editAddr').attr('data-id', data.value);
            var sel_provinceid = $('#link_id_'+data.value).attr('data-provinceid');
            var sel_cityid = $('#link_id_'+data.value).attr('data-cityid');
            var sel_threecityid = $('#link_id_'+data.value).attr('data-three_cityid');
            var sel_address = $('#link_id_'+data.value).attr('data-address');
            var sel_x = $('#link_id_'+data.value).attr('data-x');
            var sel_y = $('#link_id_'+data.value).attr('data-y');
            var sel_link_man = $('#link_id_'+data.value).attr('data-link_man');
            var sel_link_mobile = $('#link_id_'+data.value).attr('data-link_moblie');
            var sel_link_phone = $('#link_id_'+data.value).attr('data-link_phone');
            var sel_email = $('#link_id_'+data.value).attr('data-email');
            $('#editAddr').attr('data-provinceid', sel_provinceid);
            $('#editAddr').attr('data-cityid', sel_cityid);
            $('#editAddr').attr('data-three_cityid', sel_threecityid);
            $('#editAddr').attr('data-address', sel_address);
            $('#editAddr').attr('data-x', sel_x);
            $('#editAddr').attr('data-y', sel_y);
            $('#editAddr').attr('data-link_man', sel_link_man);
            $('#editAddr').attr('data-link_moblie', sel_link_mobile);
            $('#editAddr').attr('data-link_phone', sel_link_phone);
            $('#editAddr').attr('data-email', sel_email);
            if (data.value != '-1'){
                $('#editAddr').show();
            }else{
                $('#editAddr').hide();
            }

            if (data.value > 0) {

                $('#is_link').val(2);
            }else{
                $('#is_link').val(1);
            }
            $("#islink").removeClass('com_job_tel_setlist_zt_cur');



            form.render('select');
        });

        form.on('select(moneytype)', function (data) {
            if (data.value == 1) {
                $("#money_1").show();
                $("#money_2").hide();
            } else {
                $("#money_2").show();
                $("#money_1").hide();
            }
        });

        form.on('switch(type_switch)', function (data) {
            var v = this.checked ? 1 : 2;
            $("#tblink").val(v);
        });

        form.on('checkbox(salary_type)', function (data) {
            if (data.elem.checked) {
                $("#minsalary").attr("disabled", "disabled");
                $("#maxsalary").attr("disabled", "disabled");
                $("#minsalary").val(0);
                $("#maxsalary").val(0);
            } else if (!data.elem.checked) {
                $("#minsalary").removeAttr("disabled", "disabled");
                $("#maxsalary").removeAttr("disabled", "disabled");
                $("#minsalary").val('{yun:}$row.minsalary{/yun}');
                $("#maxsalary").val('{yun:}$row.maxsalary{/yun}');
            }
        });
        formSelects.btns('jobclass_search', []);

        formSelects.on('jobclass_search', function (id, vals, val, isAdd, isDisabled) {
            var jobvalue = [];
            vals.forEach(function (item, index) {
                jobvalue.push(item.value);
            })
            $('#job_post').val(jobvalue.join(','));
            confirm_selected_jobclass_itemss(jobvalue.join(","));
        }, true);

        jobSearchReset();
    });

    function jobSearchReset() {

        var formSelects = layui.formSelects,
            jobclassArr = $("#job_post").val() != '' ? $("#job_post").val().split(",") : [],
            jarr = [];

        for (var i = 0; i < jobclassArr.length; i++) {
            jarr.push({"name": jn[jobclassArr[i]], "value": jobclassArr[i], "selected": 'selected'});
        }
        formSelects.data('jobclass_search', 'local', {
            arr: jarr
        });
    }

    //ajax提交表单
    $(function () {

        $('#submitBtn').click(function () {
            var joblock = '{yun:}$config.joblock{/yun}';
            var jobid = $("#id").val();

            if ($.trim($("#name").val()) == '') {
                layer.msg("{yun:}t key='member_com_00585'{/yun}", 2, 8);
                return false;
            }
            if ($("#job_post").val() == '') {
                layer.msg("{yun:}t key='member_com_00586'{/yun}", 2, 8);
                return false;
            }

            var minsalary = $.trim($("#minsalary").val());
            var maxsalary = $.trim($("#maxsalary").val());
            if ($("#salary_type").attr("checked") != 'checked') {
                if (minsalary == '' || minsalary == '0') {
                    layer.msg("{yun:}t key='member_com_00238'{/yun}", 2, 8);
                    return false;
                }
                if (maxsalary) {
                    if (parseInt(maxsalary) < parseInt(minsalary)) {
                        layer.msg("{yun:}t key='wap_com_00264'{/yun}", 2, 8);
                        return false;
                    }else if (parseInt(maxsalary) == parseInt(minsalary)) {
                        layer.msg("{yun:}t key='wap_com_00255'{/yun}", 2, 8);
                        return false;
                    }
                }
            }
            var zp_num = $.trim($("#zp_num").val());
            if (zp_num == 0 || zp_num == '') {
                layer.msg("{yun:}t key='wap_00888'{/yun}", 2, 8);
                return false;
            }
            var zp_minage = $.trim($("#zp_minage").val());
            var zp_maxage = $.trim($("#zp_maxage").val());
            if (zp_minage != '' ) {
                if (zp_minage < 16) {
                    layer.msg("{yun:}t key='wap_com_00257'{/yun}", 2, 8);
                    return false;
                } 
                
            }
            if (zp_maxage != '') {
                if (zp_maxage<16 || zp_maxage > 99) {
                    layer.msg("{yun:}t key='wap_com_00269'{/yun}", 2, 8);
                    return false;
                }
            }
            var minage_req = $.trim($("#minage_req").val());
            var maxage_req = $.trim($("#maxage_req").val());
            if (minage_req != '') {
                if (minage_req < 16) {
                    layer.msg("{yun:}t key='wap_com_00257'{/yun}", 2, 8);
                    return false;
                } 
                
            }
            if ( maxage_req != '') {
                if (maxage_req<16 || maxage_req > 99) {
                    layer.msg("{yun:}t key='wap_com_00269'{/yun}", 2, 8);
                    return false;
                }
            }
            var description = editor.getContent();
            if ($.trim(description) == '') {
                layer.msg("{yun:}t key='member_com_00587'{/yun}", 2, 8);
                return false;
            }

            var link_id = $("#link_id").val();
            if (link_id == '') {
                layer.msg("{yun:}t key='member_com_00588'{/yun}", 2, 8);
                return false;
            }

            if (joblock != 1 || jobid > 0) {
                loadlayer();
                $('#submitBtn').attr("disabled","disabled");
                $('#myform').submit();
            } else {

                var i = layer.confirm("{yun:}t key='member_com_00230'{/yun}",
                    {btn: ["{yun:}t key='wap_00355'{/yun}", "{yun:}t key='common.cancel'{/yun}"]},
                    function () {
                        setTimeout(function () {
                            loadlayer();
                            $('#submitBtn').attr("disabled","disabled");
                            $('#myform").submit()
                        }, 0);
                        layer.close(i);
                    },
                    function () {
                        layer.closeAll();
                        return false;
                    }
                );
            }

        })
        //{yun:}t key='member_com_00202'{/yun}
        $(".addwelfarebox').click(function () {
            var welfare = $.trim($('#addwelfare').val());
            var error = 0;

            if (welfare.length >= 2 && welfare.length <= 8) {
                // Determine whether the information already exists
                $('.changewelfare').each(function () {
                    var otag = $(this).attr('data-tag');
                    if (welfare == otag) {
                        layer.msg("{yun:}t key='wap_js_00146'{/yun}", 2, 8);
                        error = 1;
                    }
                });
                if (error == 0) {
                    $('#addwelfarelist').append('<input name="welfare[]" value="' + welfare + '" checked="checked"  type="checkbox" title="' + welfare + '" data-tag="' + welfare + '" class="changewelfare" lay-skin="primary">');
                    layui.use(['layer', 'form'], function () {
                        var layer = layui.layer
                            , form = layui.form
                            , $ = layui.$;
                        form.render('checkbox');
                    });
                }
                $('#addwelfare').val('');
            } else {
                layer.msg("{yun:}t key='wap_com_00124'{/yun}", 2, 8);
            }
        });

        $('.yun_prompt_jobtgbth_sm').hover(function () {
            $('.yun_prompt_jobtgbth_smbox').toggle();
        });
        //投递要求tab
        $('.jobadd_set_a').each(function () {
            $(this).click(function () {

                $('.jobadd_set_a').removeClass("spshow_yq_div_a_curr") //点击时先移除所以选中样式
                $(this).addClass("spshow_yq_div_a_curr") //当前点击的添加选中样式

                var id = $(this).attr("data-id"); //获取data-id的值
                $('.jobadd_setbox').addClass("none") //点击时每个内容都隐藏
                $('#' + id).removeClass("none") //职业data-id和内容id相同的显示
            })
        })
    });

    function addjob_continue(uid) {
        var gourl = 'index.php?c=jobadd';
        var url = weburl + '/index.php?m=ajax&c=ajax_day_action_check';

        loadlayer();

        $.post(url, {'type': 'jobnum'}, function (data) {

            layer.closeAll('loading');
            data = eval('(' + data + ')');
            if (data.status == -1) {

                layer.msg(data.msg, 2, 8);
            } else if (data.status == 1) {

                var addurl = 'index.php?c=jobadd&act=getJobNum';
                loadlayer();
                $.post(addurl, {uid: uid}, function (data1) {

                    layer.closeAll('loading');
                    if (data1 == 1) {

                        window.location.href = gourl;
                        window.event.returnValue = false;
                        return false;
                    } else if (data1 == 2) {
                        layer.confirm("{yun:}t key='member_com_00225'{/yun}", function () {
                            window.location.href = gourl;
                            window.event.returnValue = false;
                            return false;
                        });
                    } else if (data1 == 0) {
                        var msg = '会员已到期，{yun:}t key='common_01916'{/yun}<a href="index.php?c=right" style="color:red">{yun:}t key='default_00090'{/yun}</a>，{yun:}t key='common_01784'{/yun}？';

                        layer.confirm(msg, function () {
                            window.location.href = "index.php?c=right";
                        });
                    }
                });
            }
        });
    }

    var editor = UE.getEditor('description', {
        toolbars: [['Source', '|', 'Undo', 'Redo', 'Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize', 'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|', 'simpleupload', '|', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
        wordCount: false,
        elementPathEnabled: false,
        initialFrameHeight: 200
    });
</script>
{yun:}include file="$comstyle/newAddress.htm"{/yun}
{yun:}include file="$comstyle/jobserver.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}