{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody">
		{yun:}include file="$comstyle/left.htm"{/yun}

		 <div class=right_box>
			<div class="newmember_screenbox">
			<div class="newmember_screen">	
				<div class="newmember_screenname">	{yun:}t key='member_com_00296'{/yun}</div>
							</div>
						</div>
			<div class=admincont_box>
				<div class="com_body">
					<div class=admin_textbox_04>
					<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
					<form action="{yun:}$now_url{/yun}" target="supportiframe" method="post" id='myform'>
						
						 <div style="padding-bottom: 20px;">与 {yun:}$job.jobname{/yun} {yun:}t key='member_com_00294'{/yun}</div>
						
						<div class=table>
							<table id="job_checkbokid" cellspacing=1 align=center border=0 class="com_table">
								<tbody>
									{yun:}if $resume{/yun}
									<tr align=middle style="height:30px">
										<th scope=col style="width: 8%">{yun:}t key='wap_00529'{/yun}/{yun:}t key='wap_com_00303'{/yun}</th>
										<th scope=col style="width: 6%">{yun:}t key='home.education_suffix'{/yun}/{yun:}t key='home.experience_suffix'{/yun}</th>
										<th scope=col style="width: 6%">{yun:}t key='wap_user_00015'{/yun}</th>
										<th scope=col style="width: 6%">{yun:}t key='member_com_00599'{/yun}</th>
										<th scope=col style="width: 6%">{yun:}t key='member_com_00600'{/yun}</th>
										<th scope=col style="width: 5%">{yun:}t key='member_user_00196'{/yun}</th>
										<th scope=col style="width: 10%">{yun:}t key='member_user_00048'{/yun}</th>
									</tr>
									{yun:}/if{/yun}
									{yun:}foreach item=v key=key from=$resume{/yun}
										{yun:}if $key < 10{/yun}
										<tr align=middle  style="height:30px">
											<td style="width: 8%"><a href="{yun:}url m=resume c=show id='`$v.id`'{/yun}" target=_blank>{yun:}$v.name{/yun}/{yun:}$v.sex_n{/yun}</a></td>
											<td style="width: 6%">{yun:}$v.edu_n{/yun}/{yun:}$v.exp_n{/yun}</td>
											<td style="width: 6%">{yun:}$v.jobname{/yun}</td>
											<td style="width: 6%">{yun:}$v.cityname{/yun}</td>
											<td style="width: 6%">{yun:}$v.salary{/yun}</td>
											<td style="width: 5%">{yun:}$v.pre{/yun}%</td>
											{yun:}if $v.yq!=1{/yun}
												<td style="width: 10%"><a href="javascript:;" onclick="inviteResume(this)" uid="{yun:}$v.uid{/yun}" eid="{yun:}$v.id{/yun}" jobname="{yun:}$job.name{/yun}" jobid="{yun:}$job.id{/yun}" username="{yun:}$v.name{/yun}">{yun:}t key='resume_00029'{/yun}</a></td>
											{yun:}else{/yun}
												<td style="width: 10%"><a href="javascript:void(0);">{yun:}t key='wap_00291'{/yun}</a></td>
											{yun:}/if{/yun}
										</tr>
										{yun:}/if{/yun}
									{yun:}/foreach{/yun}
								</tbody>
							</table>
							{yun:}if !$resume{/yun}
							<div class="com_msg_no">
							   <p class="com_msg_no_name">{yun:}t key='member_com_00601'{/yun}</p>
							 
							</div>
							<div class="com_member_newindex_user">
								<div class="com_member_newindex_user_tit">{yun:}t key='member_com_00602'{/yun}</div>
								<div id="resumelist"></div>
							</div>
							{yun:}/if{/yun}
						</div> 
							<div class="diggg mt10 fltR">{yun:}$pagenav{/yun}</div>  
							<div class="clear"></div> 
					  </form>
				</div>
			</div>
		</div>
	</div>
</div> 

<script>
{yun:}if !$resume{/yun}
$(function(){
	$.get('index.php?c=index&act=resumeajax', {rand: Math.random()}, function (data) {
	    var res = JSON.parse(data);
	    if (res.list.length > 0) {
	        var html = '';
	        for (var i = 0; i < res.list.length; i++) {
	           html += '<div class="com_member_newindex_userlist">';
	           html += '<div class="com_member_newindex_userlist_c">';
	           html += '<div class="com_member_newindex_userpic">';
	           html += '<a href="' + res.list[i].resumeurl + '" target="_blank"><img src="' + res.list[i].photo + '" width="40" height="40" title="' + res.list[i].username_n + '"/></a>';
	           html += '</div>';
	           html += '<div class="com_member_newindex_username">';
	           html += '<a href="' + res.list[i].resumeurl + '" target="_blank">' + res.list[i].username_n + '</a>';
	           html += '</div>';
	           html += '<div class="com_member_newindex_userinfo">';
	           html += res.list[i].exp_n + ' · ' + res.list[i].edu_n;
	           html += '</div>';
	           html += '<div class="com_member_newindex_userwant">';
	           html += '{yun:}t key='wap_com_00021'{/yun} <span class="com_member_newindex_userwantjob">' + res.list[i].jobname + '</span>';
	           html += '</div>';
	             html += '<div class="com_member_newindex_userms">';
	            html += '<a href="' + res.list[i].resumeurl + '" class="com_member_newindex_usermsbth">{yun:}t key='resume_00029'{/yun}</a>';
	           html += '</div>';
	           html += '</div>';
	           html += '</div>';
	        }
	        $("#resumelist").prepend(html);
	    } else {
	        $("#noresumelist").removeClass('none');
	    }
	})
})
{yun:}/if{/yun}
</script>
{yun:}include file="$comstyle/yqms.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}