{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody">
		
		{yun:}include file="$comstyle/left.htm"{/yun}
  		<div class=right_box>
  			<div class="newmember_screenbox">
  			<div class="newmember_screen">	
  			<div class="newmember_screenname">	{yun:}t key='member_com_left_00003'{/yun}</div>   </div>
				    </div>
  		  <div class=admincont_box>
  		 
  			
  				<div class="clear"></div>
  				
  				<div class="com_body"  >
  					<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
  					<table class="com_table  ">
  						{yun:}if $rows{/yun}
  						<tr>
  							<th>{yun:}t key='member_com_report_00004'{/yun}</th>
  							<th>{yun:}t key='member_com_report_00005'{/yun}</th>
				         	<th>{yun:}t key='member_com_report_00002'{/yun}</th>
				         	<th>{yun:}t key='member_com_report_00003'{/yun} </th>
				         	<th>{yun:}t key='member_com_report_00001'{/yun} </th>
				         	<th>{yun:}t key='member_user_atn_00003'{/yun}</th>
            			</tr>
						{yun:}/if{/yun}
						{yun:}foreach from=$rows item=msg{/yun}
						<tr>
							<td align="center">{yun:}$msg.r_name{/yun} </td>
			              	<td align="center">{yun:}$msg.username{/yun}</td>
			              	<td align="center">{yun:}$msg.r_reason{/yun}</td>
			              	<td align="center">{yun:}$msg.inputtime|date_format:'%Y-%m-%d %H:%M'{/yun} </td>
			               	<td align="center">{yun:}if $msg.result{/yun}{yun:}$msg.result{/yun}{yun:}else{/yun}{yun:}t key='admin_user_users_zixun_00009'{/yun}{yun:}/if{/yun} </td>
			              	<td align="center"><a href="javascript:void(0)" onclick="layer_del('{yun:}t key='admin_system_domain_component_domainadmingroup_00001'{/yun}？', 'index.php?c=report&act=del&id={yun:}$msg.id{/yun}'); " class="cblue">{yun:}t key='common.delete'{/yun}</a></th>
	            		</tr>
						{yun:}foreachelse{/yun}
						<tr>
							<div class="msg_no">您还没有投诉记录。</div>
						</tr>
						{yun:}/foreach{/yun}
					</table>
					
					<div class="diggg" style="margin-top:10px;">{yun:}$pagenav{/yun}</div>
				</div> 
			</div>
		</div>
	</div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}