<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>PHP output Excel Example</title>
    </head>
        <table width="100%" border="1">
    <tr>
        <th>{yun:}t key='member_com_com_resume_xls_00005'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00006'{/yun}</th>
        <th>{yun:}t key='common_02014'{/yun}UID</th>
        <th>{yun:}t key='wap_tiny_add_00004'{/yun}</th>
        <th>{yun:}t key='wap_com_jobadd_00049'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00009'{/yun}</th>
        <th>{yun:}t key='member_user_info_00010'{/yun}</th>
        <th>{yun:}t key='member_user_info_00013'{/yun}</th>
        <th>{yun:}t key='member_user_info_00012'{/yun}</th>
        <th>{yun:}t key='member_user_info_00008'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00007'{/yun}</th>
        <th>{yun:}t key='member_user_info_00011'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00008'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00011'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00004'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00001'{/yun}</th>
        <th>{yun:}t key='wap_user_info_00020'{/yun}</th>
        <th>{yun:}t key='wap_user_info_00017'{/yun}</th>
        <th>{yun:}t key='member_user_info_00006'{/yun}</th>
        <th>{yun:}t key='wap_user_info_00019'{/yun}</th>  
        <th>{yun:}t key='wap_resume_index_00023'{/yun}</th>
        <th>{yun:}t key='member_com_com_resume_xls_00003'{/yun}</th>
        <th>{yun:}t key='wap_com_resumecolumn_00003'{/yun}</th>
        <th>意向城市</th>
        <th>{yun:}t key='member_com_com_resume_xls_00010'{/yun}</th>
        <th>{yun:}t key='wap_user_addexpect_00004'{/yun}</th>
        <th>{yun:}t key='wap_com_jobadd_00025'{/yun}</th>
        <th>{yun:}t key='wap_member_publictwo_00004'{/yun}</th>
        <th>{yun:}t key='wap_resume_index_00019'{/yun}</th>
        <th>{yun:}t key='wap_resume_index_00015'{/yun}</th>
        <th>{yun:}t key='wap_resume_index_00021'{/yun}</th>
        <th>{yun:}t key='wap_resume_index_00017'{/yun}</th>
        <th>{yun:}t key='wap_resume_index_00025'{/yun}</th>
        <th>{yun:}t key='member_com_resume_xls_00001'{/yun}</th>
    </tr>
    {yun:}foreach item=v key=key from=$list{/yun}
    <tr>
        <td>{yun:}$v.id{/yun}</td>
        <td>{yun:}$v.name{/yun}</td>
        <td>{yun:}$v.resume.uid{/yun}</td>
        <td>{yun:}$v.resume.username_n{/yun}</td>
        <td>{yun:}$v.sex_n{/yun}</td>
        <td>{yun:}$v.resume.birthday{/yun}</td>
        <td>{yun:}$v.resume.marriage_n{/yun}</td>
        <td>{yun:}if $v.resume.height{/yun}{yun:}$v.resume.height{/yun}CM{yun:}/if{/yun}</td>
        <td>{yun:}$v.resume.nationality{/yun}</td>
        <td>{yun:}if $v.resume.weight{/yun}{yun:}$v.resume.weight{/yun}KG{yun:}/if{/yun}</td>
        <td>{yun:}$v.resume.idcard{/yun}</td>
        <td>{yun:}$v.resume.telphone{/yun}</td>
        <td>{yun:}$v.resume.telhome{/yun}</td>
        <td>{yun:}$v.resume.email{/yun}</td>
        <td>{yun:}$v.edu_n{/yun}</td>
        <td>{yun:}$v.resume.homepage{/yun}</td>
        <td>{yun:}$v.resume.address{/yun}</td>
        <td>{yun:}$v.exp_n{/yun}</td>
        <td>{yun:}$v.resume.domicile{/yun}</td>
        <td>{yun:}$v.resume.living{/yun}</td>
        <td>{yun:}$v.resume.description{/yun}</td>
        <td>{yun:}$v.hy_n{/yun}</td>
        <td>{yun:}$v.job_classid{/yun}</td>
        <td>{yun:}$v.city_classid{/yun}</td>
        <td>{yun:}$v.salary{/yun}</td>
        <td>{yun:}$v.type_n{/yun}</td>
        <td>{yun:}$v.report_n{/yun}</td>
        <td>{yun:}$v.lastupdate|date_format:"%Y-%m-%d"{/yun}</td>
        <td>{yun:}$v.user_edu{/yun}</td>
        <td>{yun:}$v.user_training{/yun}</td>
        <td>{yun:}$v.user_skill{/yun}</td>
        <td>{yun:}$v.user_work{/yun}</td>
        <td>{yun:}$v.user_project{/yun}</td>
        <td>{yun:}$v.user_other{/yun}</td>
    </tr>
    {yun:}/foreach{/yun}
    </table>