<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>PHP output Excel Example</title>
    </head>
        <table width="100%" border="1">
    <tr>
        <th>{yun:}t key='member_com_00012'{/yun}</th>
        <th>{yun:}t key='member_com_00013'{/yun}</th>
        <th>{yun:}t key='common_02014'{/yun}UID</th>
        <th>{yun:}t key='wap_00529'{/yun}</th>
        <th>{yun:}t key='wap_com_00303'{/yun}</th>
        <th>{yun:}t key='member_com_00016'{/yun}</th>
        <th>{yun:}t key='member_user_00162'{/yun}</th>
        <th>{yun:}t key='member_user_00165'{/yun}</th>
        <th>{yun:}t key='member_user_00164'{/yun}</th>
        <th>{yun:}t key='member_user_00160'{/yun}</th>
        <th>{yun:}t key='member_com_00014'{/yun}</th>
        <th>{yun:}t key='member_user_00163'{/yun}</th>
        <th>{yun:}t key='member_com_00015'{/yun}</th>
        <th>{yun:}t key='member_com_00018'{/yun}</th>
        <th>{yun:}t key='member_com_00011'{/yun}</th>
        <th>{yun:}t key='member_com_00008'{/yun}</th>
        <th>{yun:}t key='wap_user_00243'{/yun}</th>
        <th>{yun:}t key='wap_user_00240'{/yun}</th>
        <th>{yun:}t key='member_user_00158'{/yun}</th>
        <th>{yun:}t key='wap_user_00242'{/yun}</th>  
        <th>{yun:}t key='wap_00463'{/yun}</th>
        <th>{yun:}t key='member_com_00010'{/yun}</th>
        <th>{yun:}t key='wap_com_00353'{/yun}</th>
        <th>意向城市</th>
        <th>{yun:}t key='member_com_00017'{/yun}</th>
        <th>{yun:}t key='wap_user_00012'{/yun}</th>
        <th>{yun:}t key='wap_com_00279'{/yun}</th>
        <th>{yun:}t key='wap_00326'{/yun}</th>
        <th>{yun:}t key='wap_00459'{/yun}</th>
        <th>{yun:}t key='wap_00455'{/yun}</th>
        <th>{yun:}t key='wap_00461'{/yun}</th>
        <th>{yun:}t key='wap_00457'{/yun}</th>
        <th>{yun:}t key='wap_00465'{/yun}</th>
        <th>{yun:}t key='member_com_00038'{/yun}</th>
    </tr>
    {yun:}foreach item=v key=key from=$list{/yun}
    <tr>
        <td>{yun:}$v.id{/yun}</td>
        <td>{yun:}$v.name{/yun}</td>
        <td>{yun:}$v.resume.uid{/yun}</td>
        <td>{yun:}$v.resume.username_n{/yun}</td>
        <td>{yun:}$v.sex_n{/yun}</td>
        <td>{yun:}$v.resume.birthday{/yun}</td>
        <td>{yun:}$v.resume.marriage_n{/yun}</td>
        <td>{yun:}if $v.resume.height{/yun}{yun:}$v.resume.height{/yun}CM{yun:}/if{/yun}</td>
        <td>{yun:}$v.resume.nationality{/yun}</td>
        <td>{yun:}if $v.resume.weight{/yun}{yun:}$v.resume.weight{/yun}KG{yun:}/if{/yun}</td>
        <td>{yun:}$v.resume.idcard{/yun}</td>
        <td>{yun:}$v.resume.telphone{/yun}</td>
        <td>{yun:}$v.resume.telhome{/yun}</td>
        <td>{yun:}$v.resume.email{/yun}</td>
        <td>{yun:}$v.edu_n{/yun}</td>
        <td>{yun:}$v.resume.homepage{/yun}</td>
        <td>{yun:}$v.resume.address{/yun}</td>
        <td>{yun:}$v.exp_n{/yun}</td>
        <td>{yun:}$v.resume.domicile{/yun}</td>
        <td>{yun:}$v.resume.living{/yun}</td>
        <td>{yun:}$v.resume.description{/yun}</td>
        <td>{yun:}$v.hy_n{/yun}</td>
        <td>{yun:}$v.job_classid{/yun}</td>
        <td>{yun:}$v.city_classid{/yun}</td>
        <td>{yun:}$v.salary{/yun}</td>
        <td>{yun:}$v.type_n{/yun}</td>
        <td>{yun:}$v.report_n{/yun}</td>
        <td>{yun:}$v.lastupdate|date_format:"%Y-%m-%d"{/yun}</td>
        <td>{yun:}$v.user_edu{/yun}</td>
        <td>{yun:}$v.user_training{/yun}</td>
        <td>{yun:}$v.user_skill{/yun}</td>
        <td>{yun:}$v.user_work{/yun}</td>
        <td>{yun:}$v.user_project{/yun}</td>
        <td>{yun:}$v.user_other{/yun}</td>
    </tr>
    {yun:}/foreach{/yun}
    </table>