{yun:}include file="$comstyle/header.htm"{/yun} 
<script>
function statusbody(id){
  var statusbody=$("#statusbody"+id).attr('statusbody');
  $("#showbody").html(statusbody)
  $.layer({
    type : 1,
    title : "{yun:}t key='member_user_commsg_00002'{/yun}",
    closeBtn : [0 , true],
    border : [10 , 0.3 , '#000', true],
    area : ['320px','auto'],
    page : {dom : '#infobox'}
  });
}
</script>
<div class="w1000">
  <div class="admin_mainbody"> 
  {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
    <div class="newmember_screenbox">
    <div class="newmember_screen">  
    <div class="newmember_screenname">  {yun:}t key='wap_com_jobcolumn_00002'{/yun}</div>   </div>
            </div>
      <div class=admincont_box>
       
        <div class="clear"></div>
        <div class="com_body" >
       
          <table class="com_table ">
      {yun:}if $rows{/yun}
            <tr>
              <th >{yun:}t key='member_com_special_00001'{/yun}</th>
              <th>{yun:}t key='wap_js_umeditor_lang_zh_cn_zh_cn_00020'{/yun}</th>
              <th>{yun:}t key='member_user_job_00011'{/yun} </th>
              <th width="60">{yun:}t key='member_user_atn_00003'{/yun}</th>
            </tr>
      {yun:}/if{/yun}
            {yun:}foreach item=v from=$rows{/yun}
            <tr>
              <td><a href="{yun:}url m=special c=show id='`$v.sid`'{/yun}" class="cblue" target=_blank>{yun:}$v.title{/yun}</a></td>
              <td align="center">{yun:}$v.time|date_format:'%Y-%m-%d'{/yun}</td>
              <td align="center">{yun:}if $v.status==1{/yun}<font color="green">{yun:}t key='wap_user_commsg_00005'{/yun}</font>{yun:}elseif $v.status==2{/yun}<span class="tip_no"><i class="tip_no_icon"></i>{yun:}t key='wap_user_commsg_00007'{/yun}</span>{yun:}else{/yun}<span class="tip_no"><i class="tip_no_icon"></i>{yun:}t key='wap_user_commsg_00006'{/yun}</span>{yun:}/if{/yun}{yun:}if $v.status==2{/yun} <a href="javascript:void(0);" class="wtg_ly cblue " id="statusbody{yun:}$v.id{/yun}" statusbody="{yun:}$v.statusbody{/yun}" onclick="statusbody('{yun:}$v.id{/yun}');" >{yun:}t key='member_com_info_00053'{/yun}</a> {yun:}/if{/yun}</td>
              <td align="center"> <a href="javascript:void(0)" onclick="layer_del("{yun:}t key='wap_user_look_job_00001'{/yun}", 'index.php?c=special&act=del&id={yun:}$v.id{/yun}');" class="com_bth cblue">{yun:}t key='common.delete'{/yun}</a></td>
            </tr>
            {yun:}foreachelse{/yun}
            <tr>
              <td colspan="8" class="table_end"><div class="com_msg_no">
                  <p>亲爱的用户，目前您还没有报名专题招聘</p>
                  <a class="com_msg_no_bth com_submit" href="{yun:}url m=special{/yun}" target="_blank">查看专题招聘信息</a> </div></td>
            </tr>
            {yun:}/foreach{/yun}
               {yun:}if !empty($rows){/yun}
            <tr>
              <td colspan="8" class="table_end"><div class="diggg">{yun:}$pagenav{/yun}</div></td>
            </tr>
             {yun:}/if{/yun}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="admin_Operating_sh" id="infobox" style="padding:10px;display:none;">
  <div class="" style="padding:5px; height:auto;color:#C30; font-size:14px; line-height:23px;white-space: normal; word-break: break-all;" id="showbody"> </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}