{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
      
      <div class=right_box>
                <div class="newmember_tit">
                                <ul>
                                    <li><a href="index.php?c=binding">{yun:}t key='wap_user_00340'{/yun}</a></li>
                                    <li class="newmember_titcur"><a href="index.php?c=vs">{yun:}t key='member_com_00070'{/yun}</a></li>
                                    <li><a href="index.php?c=logout">账号注销</a></li>
                                     
                                         
                                </ul>
                            </div>
                            
                            <div class=admincont_box>
                            <div class="com_body" style="padding-top:15px;">
                            <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                            <form name="MyForm" target="supportiframe" action='index.php?c=vs&act=save' method="post" onkeydown="if(event.keyCode==13){return false;}">
                                <div class="admin_password">
                                    <span class="text_s_left">{yun:}t key='member_com_00381'{/yun}：</span>
                                    <input type="password" id="oldpassword" name="oldpassword" class="com_info_text"/>
                                    <span id="msg_oldpassword" class="vs_right_span">填写您的原始密码！</span>
                                </div>

                                <div class="admin_password">
                                    <span class="text_s_left">{yun:}t key='common_02081'{/yun}&nbsp;密&nbsp;{yun:}t key='common_02093'{/yun}：</span>
                                    <input type="password" id="password" name="password" class="com_info_text"/>
                                    <span id="msg_password" class="vs_right_span">新密码格式为 6-20个字符{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun},{yun:}t key='default_00345'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='common_01973'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='common_01697'{/yun}@!#.$-_{yun:}/if{/yun}{yun:}/if{/yun}！</span>
                                </div>

                                <div class="admin_password">
                                    <span class="text_s_left">{yun:}t key='wap_com_00343'{/yun}：</span>
                                    <input type="password" id="repassword" name="repassword" class="com_info_text"/>
                                    <span id="msg_repassword" class="vs_right_span">请再次确认您的新密码！</span>
                                </div>
                                <div class="admin_password">
                                    <span class="text_s_left">&nbsp;</span>
                                    <input type="hidden" value="2" name="usertype"/>
                                    <input type="submit" name="submit" class="btn_01" value="更改密码" onclick="return Showsub1();">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
           
    </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}