<script>
window.FPW_I18N = {
    enterMobile: '{yun:}t key='wap_js_00119'{/yun}',
    mobileFormatError: '{yun:}t key='wap_js_00117'{/yun}',
    enterEmail: '{yun:}t key='wap_00697'{/yun}',
    emailFormatError: '{yun:}t key='wap_js_00120'{/yun}',
    emailFormatErrorEx: '{yun:}t key='wap_js_00108'{/yun}',
    enterSmsCode: '{yun:}t key='wap_00690'{/yun}',
    enterEmailCode: '{yun:}t key='wap_00753'{/yun}',
    enterImageCode: '{yun:}t key='wap_js_00116'{/yun}',
    doNotResend: '{yun:}t key='wap_js_00118'{/yun}',
    resendPrefix: '{yun:}t key='wap_js_00122'{/yun}',
    resend: '{yun:}t key='wap_js_00124'{/yun}',
    selectRecoverMethod: '{yun:}t key='wap_00766'{/yun}',
    verifyBeforeChange: '{yun:}t key='wap_00767'{/yun}',
    passwordMinLength: '{yun:}t key='wap_00768'{/yun}',
    passwordMismatch: '{yun:}t key='wap_js_00138'{/yun}',
    enterContactName: '{yun:}t key='wap_00769'{/yun}',
    enterContactPhone: '{yun:}t key='wap_00770'{/yun}',
    contactPhoneFormatError: '{yun:}t key='wap_com_00132'{/yun}',
    enterContactEmail: '{yun:}t key='wap_00771'{/yun}',
    systemBusy: '{yun:}t key='wap_00772'{/yun}',
    tip: '{yun:}t key='wap_user_00205'{/yun}',
    confirm: '{yun:}t key='common_02016'{/yun}'
};
var sendtypeData = [{
    type: 'moblie',
    text: '{yun:}t key='wap_00761'{/yun}'
}, {
    type: 'email',
    text: '{yun:}t key='wap_00764'{/yun}'
}, {
    type: 'shensu',
    text: '{yun:}t key='wap_00765'{/yun}'
}];
</script>
