<script src="{yun:}$config.sy_weburl{/yun}/js/yun-i18n.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
window.yunI18nInit({
    lang: '{yun:}$config.sy_lang{/yun}',
    langPackUrl: '{yun:}url m=wap c=index a=langpack{/yun}'
});
{yun:}include file="$wapstyle/publichtm/wap_api_enum.htm"{/yun}
{yun:}include file="$wapstyle/publichtm/wap_js_i18n.htm"{/yun}
var WAP_PUBLIC_I18N = {
	operationFailed: '{yun:}t key='wap_js_00141'{/yun}',
	signSuccessPrefix: '{yun:}t key='wap_01251'{/yun}',
	signedTodayComeTomorrow: '{yun:}t key='wap_01252'{/yun}',
	cancel: '{yun:}t key='wap_js_00080'{/yun}',
	login: '{yun:}t key='wap_js_00145'{/yun}',
	confirmLogout: '{yun:}t key='wap_00818'{/yun}',
	reportAfterContact: '{yun:}t key='wap_01253'{/yun}',
	alreadyReportedResume: '{yun:}t key='wap_01254'{/yun}',
	confirmReportResume: '{yun:}t key='wap_01255'{/yun}',
	followBtn: '{yun:}t key='common_01949'{/yun}',
	followBtnAdd: '{yun:}t key='wap_01264'{/yun}',
	unfollow: '{yun:}t key='wap_js_00140'{/yun}',
	followSuccess: '{yun:}t key='wap_01256'{/yun}',
	unfollowSuccess: '{yun:}t key='wap_00985'{/yun}',
	followersSuffix: '{yun:}t key='wap_01257'{/yun}',
	oldPasswordWrong: '{yun:}t key='wap_01258'{/yun}',
	newPasswordMinLength: '{yun:}t key='wap_01259'{/yun}',
	newPasswordMustDiffer: '{yun:}t key='wap_01260'{/yun}',
	passwordMismatch: '{yun:}t key='wap_js_00138'{/yun}',
	enterPassword: '{yun:}t key='wap_js_00139'{/yun}',
	commentEmpty: '{yun:}t key='wap_01261'{/yun}',
	commentFailed: '{yun:}t key='wap_01262'{/yun}',
	pleaseLogin: '{yun:}t key='wap_js_00154'{/yun}',
	loginSuccess: '{yun:}t key='wap_01263'{/yun}',
	minRechargePrefix: '{yun:}t key='wap_01265'{/yun}',
	insufficientRecharge: '{yun:}t key='wap_js_00136'{/yun}',
	selectPaymentMethod: '{yun:}t key='wap_01042'{/yun}',
	fillPromoteDays: '{yun:}t key='wap_00882'{/yun}',
};
var USER_PICKER_I18N = {
	nameFullPublic: '{yun:}t key='wap_user_00239'{/yun}',
	nameShowId: '{yun:}t key='wap_js_00167'{/yun}',
	nameGenderTitle: '{yun:}t key='wap_js_00168'{/yun}',
	selectEducation: '{yun:}t key='wap_js_00114'{/yun}',
	selectExperience: '{yun:}t key='wap_00937'{/yun}',
	selectMarriage: '{yun:}t key='wap_user_00235'{/yun}',
	selectProficiency: '{yun:}t key='wap_user_00072'{/yun}',
	noLimit: '{yun:}t key='common_01936'{/yun}',
	toPresent: '{yun:}t key='wap_js_00170'{/yun}',
};
</script>
<script src="{yun:}$wap_style{/yun}/js/jquery.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/vue.min.js?v={yun:}$config.cachecode{/yun}"></script> 
<script src="{yun:}$config_wapdomain{/yun}/js/vant/lib/vant.min.js?v={yun:}$config.cachecode{/yun}"></script> 
<script src="{yun:}$config_wapdomain{/yun}/js/vant/phpyun_vant.js?v={yun:}$config.cachecode{/yun}"></script> 
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/nativeshare.htm"{/yun}


{yun:}if ($ball!=2 && !empty($smarty.get.c) && !in_array($smarty.get.c, array('job','resume','sysnews','login','register','forgetpw','ask','article'))) || (!empty($smarty.get.a) && !in_array($smarty.get.a, array('applyjobuid'))){/yun}
<section id="ball" class="goBackHome">
    <a href="javascript:void(0)" onclick="yunfootClose()">
        <img src="{yun:}$wap_style{/yun}/images/severs.png" alt="">
    </a>
</section>
<script src="{yun:}$wap_style{/yun}/js/tuozhuai.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}/if{/yun}
<!-- Bottom navigation popup -->
<div id="footerVue" class="none">
	<van-popup v-model="yunfoot" position="bottom" round closeable>
		<footer>
		    <div class="footerbox">
				 <div class="footerbox_tit">
		        </div>
		        <div class="foot_nav_box">
				<dl class="index_navlist" style="height:70px;">
					<a href="{yun:}url m=wap{/yun}">
						<dt class="index_nav_icon"><image src="{yun:}$wap_style{/yun}/images/blackhome.png?v={yun:}$config.cachecode{/yun}" ></image></dt>
						<dd>{yun:}t key='wap_00075'{/yun}</dd>
					</a>
				</dl>
				<dl class="index_navlist" style="height:70px;">
					<a href="{yun:}url m=wap c=login{/yun}">
						<dt class="index_nav_icon"><image src="{yun:}$wap_style{/yun}/images/usercent.png?v={yun:}$config.cachecode{/yun}" ></image></dt>
						<dd>{yun:}t key='common.user_center'{/yun}</dd>
					</a>
				</dl>
	            {yun:}foreach from=$navlist key=key item=v{/yun}
				{yun:}if $key<6{/yun}
				<dl class="index_navlist" style="height:70px;">
					<a href="{yun:}$v.url_n{/yun}">
						<dt class="index_nav_icon"><image src="{yun:}$v.pic_n{/yun}" ></image></dt>
						<dd>{yun:}$v.name{/yun}</dd>
					</a>
				</dl>
				{yun:}/if{/yun}
				{yun:}/foreach{/yun}
		        </div>
		    </div>
		</footer>
	</van-popup>
</div>
<script>
var footerVue = new Vue({
        el: '#footerVue',
        data: {
			yunfoot: false
		},
		mounted(){
			document.getElementById('footerVue').style.display = 'block';
		}
	});
</script>

{yun:}if !empty($smarty.get.c) && (!in_array($smarty.get.c, array('job','resume')) || !empty($smarty.get.a)){/yun}
<div class='none'>{yun:}tongji{/yun}</div>
{yun:}/if{/yun}