<script>
window.REG_I18N = {
    enterUsername: '{yun:}t key='wap_js_00056'{/yun}',
    enterPassword: '{yun:}t key='wap_js_00061'{/yun}',
    enterMobile: '{yun:}t key='wap_01117'{/yun}',
    enterSmsCode: '{yun:}t key='wap_01118'{/yun}',
    agreeLoginProtocol: '{yun:}t key='wap_01266'{/yun}',
    enterAuthCode: '{yun:}t key='wap_js_00129'{/yun}',
    loginSuccess: '{yun:}t key='wap_01263'{/yun}',
    nameRequired: '{yun:}t key='wap_01267'{/yun}',
    nameHanFormat: '{yun:}t key='wap_js_00044'{/yun}',
    companyNameRequired: '{yun:}t key='wap_01268'{/yun}',
    companyNameExists: '{yun:}t key='wap_01269'{/yun}',
    companyContactRequired: '{yun:}t key='wap_01270'{/yun}',
    usernameRequired: '{yun:}t key='wap_01271'{/yun}',
    usernameExists: '{yun:}t key='wap_js_00053'{/yun}',
    usernameSpecialChar: '{yun:}t key='wap_js_00046'{/yun}',
    usernameBanned: '{yun:}t key='wap_js_00050'{/yun}',
    mobileFormatError: '{yun:}t key='wap_00306'{/yun}',
    mobileBanned: '{yun:}t key='wap_js_00049'{/yun}',
    emailRequired: '{yun:}t key='wap_01272'{/yun}',
    emailFormatError: '{yun:}t key='wap_js_00108'{/yun}',
    passwordRequired: '{yun:}t key='wap_01273'{/yun}',
    passwordLength: '{yun:}t key='wap_js_00045'{/yun}',
    confirmPasswordRequired: '{yun:}t key='admin_system_00228'{/yun}',
    passwordMismatch: '{yun:}t key='wap_js_00138'{/yun}',
    smsCodeRequired: '{yun:}t key='wap_01274'{/yun}',
    agreeRegisterProtocol: '{yun:}t key='wap_js_00041'{/yun}',
    imageCodeRequired: '{yun:}t key='wap_01275'{/yun}',
    codeWebLogin: '{yun:}t key='wap_js_00062'{/yun}',
    codeWebRegister: '{yun:}t key='wap_js_00064'{/yun}',
    mobileEmpty: '{yun:}t key='wap_01276'{/yun}',
    unbindMobileDesc: '{yun:}t key='wap_01277'{/yun}',
    mobileRegisteredPersonal: '{yun:}t key='wap_js_00042'{/yun}',
    mobileRegisteredCompany: '{yun:}t key='wap_js_00043'{/yun}',
    personalNamePrefix: '{yun:}t key='wap_01281'{/yun}',
    companyNamePrefix: '{yun:}t key='wap_js_00057'{/yun}',
    mobileRegistered: '{yun:}t key='wap_01278'{/yun}',
    unbindEmailDesc: '{yun:}t key='wap_01279'{/yun}',
    emailRegisteredPersonal: '{yun:}t key='wap_js_00047'{/yun}',
    emailRegisteredCompany: '{yun:}t key='wap_js_00048'{/yun}',
    emailRegistered: '{yun:}t key='wap_01280'{/yun}',
    enterImageCode: '{yun:}t key='wap_js_00116'{/yun}',
    doNotResendFrequently: '{yun:}t key='wap_js_00052'{/yun}',
    resend: '{yun:}t key='wap_js_00110'{/yun}',
    secondUnit: '{yun:}t key='common_02094'{/yun}',
    userNotExist: '{yun:}t key='wap_js_00055'{/yun}',
    enterPasswordAlt: '{yun:}t key='wap_js_00139'{/yun}',
    passwordWrong: '{yun:}t key='wap_js_00059'{/yun}',
    accountLocked: '{yun:}t key='common_01072'{/yun}',
    unbindSuccess: '{yun:}t key='wap_01282'{/yun}',
    usernamePasswordRequired: '{yun:}t key='wap_01283'{/yun}',
    processing: '{yun:}t key='wap_js_00150'{/yun}',
    codeWebRecover: '{yun:}t key='wap_js_00123'{/yun}'
};
</script>
