{yun:}* Central API/DB enum literals and code_web module names (single hub for DB-aligned Chinese values) *{/yun}
{yun:}assign var="wap_code_register" value="注册会员"{/yun}
{yun:}assign var="wap_code_login" value="前台登录"{/yun}
{yun:}assign var="wap_code_forgetpw" value="找回密码"{/yun}
{yun:}assign var="wap_code_feedback" value="意见反馈"{/yun}
{yun:}assign var="wap_code_once" value="店铺招聘"{/yun}
{yun:}assign var="wap_code_tiny" value="普工简历"{/yun}
{yun:}assign var="wap_code_ask" value="职场提问"{/yun}
{yun:}assign var="wap_db_present" value="至今"{/yun}
{yun:}assign var="wap_db_male" value="男"{/yun}
{yun:}assign var="wap_db_female" value="女"{/yun}
{yun:}assign var="wap_db_unlimited" value="不限"{/yun}
{yun:}assign var="wap_db_negotiable" value="面议"{/yun}
{yun:}assign var="wap_db_confidential" value="保密"{/yun}
{yun:}assign var="wap_db_no_exp" value="无经验"{/yun}
{yun:}assign var="wap_db_today" value="今天"{/yun}
{yun:}assign var="wap_db_yesterday" value="昨天"{/yun}
{yun:}assign var="wap_db_recruiting" value="正在招聘"{/yun}
{yun:}assign var="wap_db_decline_interview" value="拒绝面试"{/yun}
{yun:}assign var="wap_db_block_company" value="屏蔽企业"{/yun}
{yun:}assign var="wap_db_sq_found_job" value="已经找到工作"{/yun}
{yun:}assign var="wap_db_sq_rest" value="想休息一段时间"{/yun}
{yun:}assign var="wap_db_sq_sick" value="生病了"{/yun}
{yun:}assign var="wap_db_sq_wrong_info" value="看错信息了"{/yun}
{yun:}assign var="wap_db_sq_long_time" value="很长时间没有查看"{/yun}
{yun:}assign var="wap_db_sq_other" value="其它原因"{/yun}
<script>
var WAP_API_ENUM = {
	PRESENT: '至今',
	SEX_MALE: '男',
	SEX_FEMALE: '女',
	UNLIMITED: '不限',
	NEGOTIABLE: '面议',
	CONFIDENTIAL: '保密',
	NO_EXPERIENCE: '无经验',
	TODAY: '今天',
	YESTERDAY: '昨天',
	RECRUITING: '正在招聘',
	DECLINE_INTERVIEW: '拒绝面试',
	BLOCK_COMPANY: '屏蔽企业',
	MOBILE_PLACEHOLDER: '请输入手机号码',
	SQ_FOUND_JOB: '已经找到工作',
	SQ_REST: '想休息一段时间',
	SQ_SICK: '生病了',
	SQ_WRONG_INFO: '看错信息了',
	SQ_LONG_TIME: '很长时间没有查看',
	SQ_OTHER: '其它原因'
};
var WAP_CODE_WEB = {
	REGISTER: '注册会员',
	FRONT_LOGIN: '前台登录',
	FORGET_PW: '找回密码',
	FEEDBACK: '意见反馈',
	ONCE_JOB: '店铺招聘',
	TINY_RESUME: '普工简历',
	ASK_QUESTION: '职场提问'
};
var PRESENT_API_VALUE = WAP_API_ENUM.PRESENT;
</script>
