<script>
var WAP_JS_I18N = {
	s8441b348: '{yun:}t key='common_01936'{/yun}',
	s0f06f441: '{yun:}t key='wap_00017'{/yun}',
	s86050b0b: '{yun:}t key='wap_00729'{/yun}',
	s44436bee: '{yun:}t key='wap_00731'{/yun}',
	sdb562be6: '{yun:}t key='wap_00769'{/yun}',
	s54e1477a: '{yun:}t key='wap_00770'{/yun}',
	sf2259d93: '{yun:}t key='wap_00882'{/yun}',
	s464159cd: '{yun:}t key='wap_01042'{/yun}',
	sbe7c667d: '{yun:}t key='wap_01042'{/yun}',
	s26b80a7f: '{yun:}t key='wap_01043'{/yun}',
	s62823e9c: '{yun:}t key='wap_01044'{/yun}',
	sa3079e90: '{yun:}t key='wap_01105'{/yun}',
	sd54aadf8: '{yun:}t key='wap_01109'{/yun}',
	s625fb26b: '{yun:}t key='wap_01172'{/yun}',
	s79b262be: '{yun:}t key='wap_01265'{/yun}',
	sf7b16299: '{yun:}t key='wap_01272'{/yun}',
	s377e9f00: '{yun:}t key='wap_01331'{/yun}',
	se4e2c965: '{yun:}t key='wap_01389'{/yun}',
	s56b57214: '{yun:}t key='wap_01412'{/yun}',
	sa5f8f963: '{yun:}t key='wap_01507'{/yun}',
	s715989b6: '{yun:}t key='wap_01509'{/yun}',
	sea93a33d: '{yun:}t key='wap_01513'{/yun}',
	s54f98bcb: '{yun:}t key='wap_01566'{/yun}',
	s000c20c2: '{yun:}t key='wap_01624'{/yun}',
	sf3718100: '{yun:}t key='wap_01625'{/yun}',
	s0686af78: '{yun:}t key='wap_01626'{/yun}',
	s849f7764: '{yun:}t key='wap_01627'{/yun}',
	s0e49ba5b: '{yun:}t key='wap_01628'{/yun}',
	s6eb28873: '{yun:}t key='wap_01629'{/yun}',
	s2e71d44e: '{yun:}t key='wap_01630'{/yun}',
	se29d59da: '{yun:}t key='wap_01631'{/yun}',
	sbdf6e3b2: '{yun:}t key='wap_01632'{/yun}',
	s451becee: '{yun:}t key='wap_01633'{/yun}',
	sdc3614c7: '{yun:}t key='wap_01634'{/yun}',
	s7dd29307: '{yun:}t key='wap_01635'{/yun}',
	s97c45b89: '{yun:}t key='wap_01636'{/yun}',
	s99266bf1: '{yun:}t key='wap_01637'{/yun}',
	s8c5a39ec: '{yun:}t key='wap_01638'{/yun}',
	s0a703283: '{yun:}t key='wap_01639'{/yun}',
	sd96774f7: '{yun:}t key='wap_01640'{/yun}',
	sbc29c813: '{yun:}t key='wap_01641'{/yun}',
	s000c8b79: '{yun:}t key='wap_01642'{/yun}',
	s61c8c44c: '{yun:}t key='wap_01643'{/yun}',
	s7d5b4808: '{yun:}t key='wap_01644'{/yun}',
	s140d55ec: '{yun:}t key='wap_01645'{/yun}',
	s0c714e0a: '{yun:}t key='wap_01646'{/yun}',
	s3fbe0259: '{yun:}t key='wap_01647'{/yun}',
	s78365e7d: '{yun:}t key='wap_01648'{/yun}',
	s7f2c8eb4: '{yun:}t key='wap_01649'{/yun}',
	s9ca54186: '{yun:}t key='wap_01650'{/yun}',
	sd37489f1: '{yun:}t key='wap_01651'{/yun}',
	sb7579ede: '{yun:}t key='wap_01652'{/yun}',
	se817719c: '{yun:}t key='wap_01653'{/yun}',
	s46204ccf: '{yun:}t key='wap_01654'{/yun}',
	s2c549ec0: '{yun:}t key='wap_01655'{/yun}',
	se9eba2fb: '{yun:}t key='wap_01656'{/yun}',
	s67d1ef91: '{yun:}t key='wap_01657'{/yun}',
	s2864ebae: '{yun:}t key='wap_01658'{/yun}',
	s75dc91e2: '{yun:}t key='wap_01659'{/yun}',
	sc4809043: '{yun:}t key='wap_01660'{/yun}',
	s13833753: '{yun:}t key='wap_01661'{/yun}',
	s7bceedae: '{yun:}t key='wap_01662'{/yun}',
	sf54d7416: '{yun:}t key='wap_01663'{/yun}',
	s6a0d5b2d: '{yun:}t key='wap_01664'{/yun}',
	s6b46f113: '{yun:}t key='wap_01665'{/yun}',
	sf07c814e: '{yun:}t key='wap_01666'{/yun}',
	sbb04b415: '{yun:}t key='wap_01667'{/yun}',
	seb3b55e3: '{yun:}t key='wap_01668'{/yun}',
	sa6ee3682: '{yun:}t key='wap_01669'{/yun}',
	s44323441: '{yun:}t key='wap_01670'{/yun}',
	sdeffb737: '{yun:}t key='wap_01671'{/yun}',
	s67da70a6: '{yun:}t key='wap_01672'{/yun}',
	s75754a1b: '{yun:}t key='wap_01673'{/yun}',
	sb5db7785: '{yun:}t key='wap_01674'{/yun}',
	sfb9ab0e0: '{yun:}t key='wap_01675'{/yun}',
	s1220df68: '{yun:}t key='wap_01676'{/yun}',
	sc6843816: '{yun:}t key='wap_01677'{/yun}',
	s853c8076: '{yun:}t key='wap_01678'{/yun}',
	sdd9b65f4: '{yun:}t key='wap_01679'{/yun}',
	s46eb34ac: '{yun:}t key='wap_01680'{/yun}',
	s6ad537e7: '{yun:}t key='wap_01681'{/yun}',
	s1125855c: '{yun:}t key='wap_01682'{/yun}',
	s6cf18fb6: '{yun:}t key='wap_01683'{/yun}',
	s2e155c8c: '{yun:}t key='wap_01684'{/yun}',
	s72752bb5: '{yun:}t key='wap_01685'{/yun}',
	se137a4be: '{yun:}t key='wap_01686'{/yun}',
	s31fc844c: '{yun:}t key='wap_01687'{/yun}',
	s6071a22e: '{yun:}t key='wap_01688'{/yun}',
	sb7c75e16: '{yun:}t key='wap_01689'{/yun}',
	s20462283: '{yun:}t key='wap_01690'{/yun}',
	s96c8f480: '{yun:}t key='wap_01691'{/yun}',
	sa239e34a: '{yun:}t key='wap_01692'{/yun}',
	saccf91d4: '{yun:}t key='wap_01693'{/yun}',
	se655c8fd: '{yun:}t key='wap_01694'{/yun}',
	s7abbb483: '{yun:}t key='wap_01695'{/yun}',
	s28d64085: '{yun:}t key='wap_01696'{/yun}',
	s8e5d7d0d: '{yun:}t key='wap_01697'{/yun}',
	s5f88fe78: '{yun:}t key='wap_01698'{/yun}',
	s204ee72a: '{yun:}t key='wap_01699'{/yun}',
	s5f7642f7: '{yun:}t key='wap_01700'{/yun}',
	s3fd33816: '{yun:}t key='wap_01701'{/yun}',
	sfd2b6431: '{yun:}t key='wap_01702'{/yun}',
	sd71d86f8: '{yun:}t key='wap_01703'{/yun}',
	s46dd03e4: '{yun:}t key='wap_01704'{/yun}',
	s6e22a705: '{yun:}t key='wap_01705'{/yun}',
	sd4cef9af: '{yun:}t key='wap_01706'{/yun}',
	se8950cb1: '{yun:}t key='wap_01707'{/yun}',
	sa7dd3c74: '{yun:}t key='wap_01708'{/yun}',
	s146512d4: '{yun:}t key='wap_01709'{/yun}',
	s27d2081e: '{yun:}t key='wap_01710'{/yun}',
	sf344099d: '{yun:}t key='wap_01711'{/yun}',
	sfe04a72c: '{yun:}t key='wap_01712'{/yun}',
	s589dbad7: '{yun:}t key='wap_01713'{/yun}',
	s6652cef7: '{yun:}t key='wap_01714'{/yun}',
	sa5b6512d: '{yun:}t key='wap_01715'{/yun}',
	s9409291b: '{yun:}t key='wap_01716'{/yun}',
	s14dcbbef: '{yun:}t key='wap_01717'{/yun}',
	sf8d4a7de: '{yun:}t key='wap_01718'{/yun}',
	s6744c781: '{yun:}t key='wap_01719'{/yun}',
	sd8a56db4: '{yun:}t key='wap_01720'{/yun}',
	s2534b1c6: '{yun:}t key='wap_01721'{/yun}',
	sde0076a0: '{yun:}t key='wap_01722'{/yun}',
	s7f5969cb: '{yun:}t key='wap_01723'{/yun}',
	s80f21d16: '{yun:}t key='wap_01724'{/yun}',
	sd86db5ba: '{yun:}t key='wap_01725'{/yun}',
	s81522afd: '{yun:}t key='wap_01726'{/yun}',
	sc909e6eb: '{yun:}t key='wap_01727'{/yun}',
	s433ee5de: '{yun:}t key='wap_js_00002'{/yun}',
	s9c82aec9: '{yun:}t key='wap_js_00003'{/yun}',
	sb0bee53e: '{yun:}t key='wap_js_00004'{/yun}',
	sb6a09844: '{yun:}t key='wap_js_00005'{/yun}',
	s38b0b472: '{yun:}t key='wap_js_00035'{/yun}',
	s05faad4f: '{yun:}t key='wap_js_00036'{/yun}',
	se28c9d7a: '{yun:}t key='wap_js_00037'{/yun}',
	s4e02faad: '{yun:}t key='wap_js_00038'{/yun}',
	s8fbd3faf: '{yun:}t key='wap_js_00039'{/yun}',
	s74c11dae: '{yun:}t key='wap_js_00040'{/yun}',
	s3ae6924b: '{yun:}t key='wap_js_00066'{/yun}',
	sa8b0c204: '{yun:}t key='wap_js_00075'{/yun}',
	sebe62412: '{yun:}t key='wap_js_00103'{/yun}',
	s15136bf7: '{yun:}t key='wap_js_00104'{/yun}',
	se434e644: '{yun:}t key='wap_js_00106'{/yun}',
	see948b48: '{yun:}t key='wap_js_00107'{/yun}',
	s5dfb1f62: '{yun:}t key='wap_js_00108'{/yun}',
	s9918a236: '{yun:}t key='wap_js_00109'{/yun}',
	s029ca60d: '{yun:}t key='wap_js_00110'{/yun}',
	s35b8f10c: '{yun:}t key='wap_js_00111'{/yun}',
	sd3c24630: '{yun:}t key='wap_js_00112'{/yun}',
	s37ef15ec: '{yun:}t key='wap_js_00114'{/yun}',
	s2de0d491: '{yun:}t key='wap_js_00128'{/yun}',
	s597a5f0f: '{yun:}t key='wap_js_00130'{/yun}',
	s379efabf: '{yun:}t key='wap_js_00131'{/yun}',
	sa7632d12: '{yun:}t key='wap_js_00132'{/yun}',
	sec2d9a4f: '{yun:}t key='wap_js_00135'{/yun}',
	se3cef0ed: '{yun:}t key='wap_js_00146'{/yun}',
	sb486a8af: '{yun:}t key='wap_js_00147'{/yun}',
	sf8988e46: '{yun:}t key='wap_js_00148'{/yun}',
	sf154b609: '{yun:}t key='wap_js_00149'{/yun}',
	s5945fbd1: '{yun:}t key='wap_js_00154'{/yun}',
	se512d692: '{yun:}t key='wap_js_00155'{/yun}',
	scf4f169c: '{yun:}t key='wap_js_00156'{/yun}',
	seb3fe0aa: '{yun:}t key='wap_js_00157'{/yun}',
	sabe2c5d2: '{yun:}t key='wap_js_00158'{/yun}',
	s3b6eb9c6: '{yun:}t key='wap_js_00159'{/yun}',
	sfb2248df: '{yun:}t key='wap_js_00171'{/yun}',
	sday: '{yun:}t key='common_02067'{/yun}',
	sminute: '{yun:}t key='common_02058'{/yun}',
	ssecond: '{yun:}t key='common_02094'{/yun}',
};
var PICKER_I18N = {
	all: WAP_JS_I18N.ssa8b0c204,
	usd: WAP_JS_I18N.ss433ee5de,
	cny: WAP_JS_I18N.ssb0bee53e,
	publicLabel: WAP_JS_I18N.ssb6a09844,
	privateLabel: WAP_JS_I18N.ss9c82aec9,
};
var CMC_I18N = {
	maxPrefix: WAP_JS_I18N.ss35b8f10c,
	maxSuffix: WAP_JS_I18N.ssd3c24630,
	noData: WAP_JS_I18N.ss21efd88b,
};
</script>
