{yun:}* Central API/DB enum literals and code_web module names (single hub for DB-aligned Chinese values) *{/yun}
{yun:}assign var="wap_code_register" value="注册会员"{/yun}
{yun:}assign var="wap_code_login" value="前台登录"{/yun}
{yun:}assign var="wap_code_forgetpw" value="找回密码"{/yun}
{yun:}assign var="wap_code_feedback" value="意见反馈"{/yun}
{yun:}assign var="wap_code_once" value="店铺招聘"{/yun}
{yun:}assign var="wap_code_tiny" value="普工简历"{/yun}
{yun:}assign var="wap_code_ask" value="职场提问"{/yun}
{yun:}assign var="wap_db_present" value="至今"{/yun}
{yun:}assign var="wap_db_male" value="男"{/yun}
{yun:}assign var="wap_db_female" value="女"{/yun}
{yun:}assign var="wap_db_unlimited" value="不限"{/yun}
{yun:}assign var="wap_db_negotiable" value="面议"{/yun}
{yun:}assign var="wap_db_confidential" value="保密"{/yun}
{yun:}assign var="wap_db_no_exp" value="无经验"{/yun}
{yun:}assign var="wap_db_today" value="今天"{/yun}
{yun:}assign var="wap_db_yesterday" value="昨天"{/yun}
{yun:}assign var="wap_db_recruiting" value="正在招聘"{/yun}
{yun:}assign var="wap_db_decline_interview" value="拒绝面试"{/yun}
{yun:}assign var="wap_db_block_company" value="屏蔽企业"{/yun}
{yun:}assign var="wap_db_sq_found_job" value="已经找到工作"{/yun}
{yun:}assign var="wap_db_sq_rest" value="想休息一段时间"{/yun}
{yun:}assign var="wap_db_sq_sick" value="生病了"{/yun}
{yun:}assign var="wap_db_sq_wrong_info" value="看错信息了"{/yun}
{yun:}assign var="wap_db_sq_long_time" value="很长时间没有查看"{/yun}
{yun:}assign var="wap_db_sq_other" value="其它原因"{/yun}
<script>
var WAP_API_ENUM = {
	PRESENT: "{yun:}t key='wap_js_00170'{/yun}",
	SEX_MALE: "{yun:}t key='common_02092'{/yun}",
	SEX_FEMALE: "{yun:}t key='common_02069'{/yun}",
	UNLIMITED: "{yun:}t key='common_01936'{/yun}",
	NEGOTIABLE: "{yun:}t key='common.negotiable'{/yun}",
	CONFIDENTIAL: "{yun:}t key='wap_user_00333'{/yun}",
	NO_EXPERIENCE: "{yun:}t key='wap_01623'{/yun}",
	TODAY: "{yun:}t key='common_01940'{/yun}",
	YESTERDAY: "{yun:}t key='common_02000'{/yun}",
	RECRUITING: "{yun:}t key='member_user_00047'{/yun}",
	DECLINE_INTERVIEW: "{yun:}t key='wap_01053'{/yun}",
	BLOCK_COMPANY: "{yun:}t key='wap_01060'{/yun}",
	MOBILE_PLACEHOLDER: "{yun:}t key='wap_user_00142'{/yun}",
	SQ_FOUND_JOB: "{yun:}t key='wap_user_00349'{/yun}",
	SQ_REST: "{yun:}t key='wap_user_00347'{/yun}",
	SQ_SICK: "{yun:}t key='wap_user_00360'{/yun}",
	SQ_WRONG_INFO: "{yun:}t key='wap_user_00351'{/yun}",
	SQ_LONG_TIME: "{yun:}t key='wap_user_00346'{/yun}",
	SQ_OTHER: "{yun:}t key='wap_user_00352'{/yun}"
};
var WAP_CODE_WEB = {
	REGISTER: "{yun:}t key='wap_js_00064'{/yun}",
	FRONT_LOGIN: "{yun:}t key='wap_js_00062'{/yun}",
	FORGET_PW: "{yun:}t key='wap_js_00123'{/yun}",
	FEEDBACK: "{yun:}t key='wap_user_00203'{/yun}",
	ONCE_JOB: "{yun:}t key='wap_js_00130'{/yun}",
	TINY_RESUME: "{yun:}t key='wap_js_00066'{/yun}",
	ASK_QUESTION: "{yun:}t key='wap_00105'{/yun}"
};
var PRESENT_API_VALUE = WAP_API_ENUM.PRESENT;
</script>
