<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
    <div id="hyfl" class="moduleElenAl">
        <div class="moduleSeachs">
            <div class="">{{ lc('admin_00322') }}</div>
            <div class="nrtopbtn">
                <el-button type="primary" icon="el-icon-document-add" @click="dialogVisible = true" size="mini">{{ lc('admin_00326') }}</el-button>
            </div>
        </div>
        <div class="moduleElTable">
            <el-table :data="tableData" stripe border style="width: 100%;height: 100%;"
                :header-cell-style="{ background: '#f5f7fa', color: '#606266' }" v-loading="loading" :empty-text="emptytext">
                <el-table-column type="selection" width="55"> </el-table-column>
                <el-table-column prop="id" :label="lc('member_com_00345')" width="180">
                </el-table-column>
                <el-table-column :label="lc('admin_00323')" property="name">
                    <template slot-scope="scope">
                        <span>{{ scope.row.name }}<img src="../../../admin/images/bine.png" alt=""
                                style="margin-left: 4px;" width="14" height="14"></span>
                    </template>
                </el-table-column>
                <el-table-column :label="lc('admin_00324')" property="px">
                    <template slot-scope="scope">
                        <span>{{ scope.row.px }}<img src="../../../admin/images/bine.png" alt=""
                                style="margin-left: 4px;" width="14" height="14"></span>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" :label="lc('member_user_00048')" width="120">
                    <div class="TableLink">
                        <el-link type="primary">{{ lc('wap_00071') }}</el-link>
                        <el-link type="primary">{{ lc('wap_js_00073') }}</el-link>
                    </div>
                    <div class="TableLink">
                        <el-link type="primary">{{ lc('admin_00306') }}</el-link>
                        <el-link type="primary" @click="deldialog = true">{{ lc('wap_js_00077') }}</el-link>
                    </div>
                </el-table-column>
            </el-table>
        </div>
        <div class="modulePaging">
            <div class="">
                <div class="">
                    <el-checkbox v-model="checked" style="margin-right: 8px">{{ lc('wap_js_00074') }}</el-checkbox>
                    <el-button>{{ lc('member_com_00055') }}</el-button>
                </div>
            </div>
        </div>
        <el-dialog :title="lc('admin_00222')" width="30%" :visible.sync="dialogVisible" :modal-append-to-body="false">
            <div class="hydialog_item">
                <span>{{ lc('admin_00260') }}</span>
                <el-input type="textarea" v-model="lbname" style="flex: 1;"></el-input>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogVisible = false">{{ lc('wap_js_00091') }}</el-button>
            </div>
        </el-dialog>
        <!-- 删除弹窗 -->
        <el-dialog :title="lc('admin_00308')" :visible.sync="deldialog" width="20%" :modal-append-to-body="false">
            <span>{{ lc('wap_user_00001') }}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="deldialog = false">{{ lc('admin_user_weipin_00043') }}</el-button>
                <el-button type="primary" @click="deldialog = false">{{ lc('wap_com_00019') }}</el-button>
            </span>
        </el-dialog>
    </div>

</body>
<script>
    const custoapp = new Vue({
        el: '#hyfl',
        data: function () {
            return {
                emptytext: lc('wap_js_00113'),
                loading: false,
                tableData: [
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "1",
                    },
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "2",
                    },
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "4",
                    },
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "6",
                    },
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "9",
                    },
                    {
                        id: "1", //分类编号
                        name: "一级分类：A区", //分类名称
                        px: "7",
                    },
                ], //表格数据
                randomKey: Math.random(),
                checked: false,
                zmselect: '',
                options: [{
                    value: '选项1',
                    label: lc('admin_00327')
                }, {
                    value: '选项2',
                    label: lc('admin_00328')
                }, {
                    value: '选项3',
                    label: lc('admin_00329')
                }, {
                    value: '选项4',
                    label: lc('admin_00330')
                }, {
                    value: '选项5',
                    label: lc('admin_00331')
                }],
                sfoptions: [
                    {
                        value: '选项1',
                        label: lc('common_02085')
                    }, {
                        value: '选项2',
                        label: lc('common_02063')
                    }],
                dialogVisible: false,
                lbname: '',
                deldialog: false,
            }
        },
        methods: {

        }
    });
</script>

</html>
<style>
    .cell span {
        display: flex;
        align-items: center;
    }

    .hydialog_item {
        display: flex;
    }
	.el-table .el-table__cell {
	    padding: 12px 0;
	}
</style>