<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/message.css?v={yun:}$config.cachecode{/yun}" type="text/css">
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="prompt_message">
{yun:}if $smarty.get.type==1{/yun}
<!--注册成功过-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/msg_zq.png"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='default_00299'{/yun}</div>
<div class="prompt_message_right_p">
{yun:}t key='common_02329'{/yun}<font color="#CC0000">{yun:}t key='common_02330'{/yun}</font>！<br>{yun:}t key='wap_00737'{/yun}{yun:}$config.sy_webname{/yun}<span class="prompt_message_right_s">（{yun:}$config.sy_weburl{/yun}）</span>{yun:}t key='common_01944'{/yun}！</div>
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='wap_00739'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}elseif $smarty.get.type==2{/yun}
<!--{yun:}t key='common_02140'{/yun}-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/msg_sd.png"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='common_01912'{/yun}  {yun:}t key='wap_00733'{/yun}</div>
<div class="prompt_message_right_p">{yun:}t key='common_01912'{/yun}，由于在您的账户中发现了不安全的情况，您的账户暂时无法<br>
{yun:}t key='member_user_00284'{/yun}！请联系客服解除锁定！</div>
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='default_00301'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}elseif $smarty.get.type==3{/yun}
<!--账号激活-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/sh_wtg1.gif"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='default_00306'{/yun}</div>
<div class="prompt_message_right_p">您的账户暂时还没有通过审核，如果您有什么疑问,{yun:}t key='wap_00509'{/yun}。</div>
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='default_00301'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}elseif $smarty.get.type==4{/yun}
<!--{yun:}t key='admin_user_00375'{/yun}-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/msg_jh.png"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='default_00302'{/yun}</div>
{yun:}if $uid{/yun}
<a href="{yun:}$config.sy_weburl{/yun}/member" class="prompt_message_right_member">{yun:}t key='default_00307'{/yun}</a>
{yun:}else{/yun}
<div class="prompt_message_right_p">欢迎成为{yun:}$config.sy_webname{/yun}<span class="prompt_message_right_s">（{yun:}$config.sy_weburl{/yun}）</span>{yun:}t key='default_00304'{/yun}</div>
<a href="{yun:}url m=login{/yun}" class="prompt_message_right_member">{yun:}t key='default_00307'{/yun}</a>
{yun:}/if{/yun}
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='default_00301'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}elseif $smarty.get.type==5{/yun}
<!--{yun:}t key='wap_user_00166'{/yun}-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/sh_wtg1.gif"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='default_00308'{/yun}</div>
<div class="prompt_message_right_p">您的账户正在审核中，如果您有什么疑问,{yun:}t key='wap_00509'{/yun}。</div>
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='default_00301'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}elseif $smarty.get.type==6{/yun}
<!--{yun:}t key='admin_user_00375'{/yun}-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$style{/yun}/images/msg_jh.png"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">{yun:}t key='default_00303'{/yun}</div>
{yun:}if $uid{/yun}
<a href="{yun:}$config.sy_weburl{/yun}/member" class="prompt_message_right_member">{yun:}t key='default_00307'{/yun}</a>
{yun:}else{/yun}
<div class="prompt_message_right_p">{yun:}t key='default_00300'{/yun}</div>
<div class="prompt_message_right_p">
想成为{yun:}$config.sy_webname{/yun}<span class="prompt_message_right_s">（{yun:}$config.sy_weburl{/yun}）</span>{yun:}t key='default_00305'{/yun}</div>
<a href="{yun:}url m=register usertype=1 type=1{/yun}" class="prompt_message_right_member">{yun:}t key='common_02331'{/yun}</a>
{yun:}/if{/yun}
</div>
</div>
<div class="prompt_message_touch">{yun:}t key='default_00301'{/yun}<span class="prompt_message_touch_tel">{yun:}$config.sy_freewebtel{/yun}</span></div>
</div>
{yun:}/if{/yun}
</div>
<div class="clear"></div>
{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/reg_ajax.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
{yun:}include file="$tplstyle/footer.htm"{/yun}