<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../../../admin/header.js"></script>
    <script src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
    <div id="yemanapp" class="moduleDome">
        <div class="moduleHeadr">
            <el-page-header @back="goBack" :content="lc('wap_js_00073')">
            </el-page-header>
            <!-- <span>设置前台导航菜单，可以修改增加排序导航，点击此处</span> -->
        </div>
        <div class="moduleTable">
            <table class="tableVue">
                <thead>
                    <tr align="left">
                        <th width="200">{{ lc('member_com_00021') }}</th>
                        <th width="400">{{ lc('member_user_00181') }}</th>
                        <th>{{ lc('member_com_00207') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="TableTite">{{ lc('admin_00219') }}</div>
                        </td>
                        <td>
                            <div class="TableInpt">
                                <el-input :placeholder="lc('wap_user_00076')" v-model="input3">
                                    <!-- <span slot="suffix" class="slotspan">天</span> -->
                                </el-input>
                            </div>
                        </td>
                        <td>
                            <div class="TableShuom">
                                <span>{{ lc('admin_00219') }}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="TableTite">{{ lc('admin_system_00140') }}</div>
                        </td>
                        <td>
                            <div class="TableInpt">
                                <el-input type="textarea" :placeholder="lc('wap_user_00076')" v-model="input3">
                                    <!-- <span slot="suffix" class="slotspan">天</span> -->
                                </el-input>
                            </div>
                        </td>
                        <td>
                            <div class="TableShuom">
                                <span>{{ lc('admin_system_00140') }}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="TableTite">{{ lc('admin_system_00105') }}</div>
                        </td>
                        <td>
                            <div class="TableInpt">
                                <el-input :placeholder="lc('wap_user_00076')" v-model="input3">
                                    <!-- <span slot="suffix" class="slotspan">天</span> -->
                                </el-input>
                            </div>
                        </td>
                        <td>
                            <div class="TableShuom">
                                <span>{{ lc('admin_00218') }}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="setBasicButn" style="border: none;">
            <el-button type="primary" size="medium">{{ lc('wap_user_00176') }}</el-button>
        </div>
    </div>
    <!-- script -->
    <script>
        const custoapp = new Vue({
            el: '#yemanapp',
            data: function () {
                return {
                    radio: '1',
                    options: [{
                        value: '选项1',
                        label: window.lc('admin_00327')
                    }, {
                        value: '选项2',
                        label: window.lc('admin_00328')
                    }, {
                        value: '选项3',
                        label: window.lc('admin_00329')
                    }, {
                        value: '选项4',
                        label: window.lc('admin_00330')
                    }, {
                        value: '选项5',
                        label: window.lc('admin_00331')
                    }],
                    value: '',
                    input3: '',
                    fileList: [
                        {
                            name: 'food.jpeg',
                            url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
                        },
                    ]
                }
            },
            components: {
                // 'jibenset': httpVueLoader('./component/jibenset.vue'),
            },
            methods: {
                handleClick(tab, event) {
                    console.log(tab, event);
                },
                goBack() {
                    history.go(-1);
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },
            }
        });
    </script>
</body>

</html>