{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
            <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='wap_com_00408'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
        <div  class="resume_Prompt_box">
        <div  class="resume_Prompt"><i class="resume_Prompt_icon"></i>{yun:}t key='wap_com_00408'{/yun},请耐心等待企业回复！</div></div>
       
       
       
       
       
        <div id="gms_showclew"></div>
        <div id="" class="resume_box_list">
        {yun:}if !empty($rows){/yun}
            <div class="job_Consulting_tit">
                <span class="job_Consulting_span job_Consulting_jobname">{yun:}t key='wap_com_00288'{/yun}</span>
                <span class="job_Consulting_span job_Consulting_comname">{yun:}t key='wap_com_00157'{/yun}</span>
                <span class="job_Consulting_span job_Consulting_jobtime">{yun:}t key='member_user_00061'{/yun}</span>
                <span class="job_Consulting_span job_Consulting_jobtime">{yun:}t key='wap_com_00406'{/yun}</span>
                <span class="job_Consulting_span job_Consulting_jobcz">{yun:}t key='member_user_00048'{/yun}</span>
            </div>
            {yun:}/if{/yun}
            {yun:}foreach item=log from=$rows{/yun}
            <div class="job_Consulting_list ">
            
            <div class="job_Consulting_span  job_Consulting_jobname">
            {yun:}if $log.job_name{/yun}<a href="{yun:}url m=job c=comapply id='`$log.jobid`'{/yun}" class="job_Consulting_jobname_a" target="_blank">{yun:}$log.job_name{/yun}</a> 
                    
                  {yun:}else{/yun} 
                    {yun:}t key='common_02082'{/yun}
                   {yun:}/if{/yun}    
                    </div>
            
            
            
               
                 <div class="job_Consulting_span job_Consulting_comname">

                                  <a href="{yun:}url m=company c=show id='`$log.job_uid`'{/yun}" target="_blank">{yun:}$log.com_name{/yun}</a>
                        
                
                </div>
                  <div class="job_Consulting_span job_Consulting_jobtime">{yun:}$log.datetime|date_format:'%Y-%m-%d'{/yun}</div>

                  <div class="job_Consulting_span job_Consulting_jobtime">
                    {yun:}if $log.status=='1'{/yun}
                    {yun:}t key='wap_user_00165'{/yun}
                    {yun:}else if $log.status=='2'{/yun}
                    <font color=red>{yun:}t key='wap_user_00167'{/yun}</font>
                      {yun:}if $log.statusbody{/yun}
                      <span class="com_m_line">|</span>
                      <a href="javascript:;" onclick="show_msg('{yun:}$log.statusbody{/yun}')">{yun:}t key='wap_user_00004'{/yun}</a>
                      {yun:}/if{/yun}
                    {yun:}else{/yun}
                    <font color=red>{yun:}t key='wap_user_00166'{/yun}</font>
                    {yun:}/if{/yun}
                  </div>

                 <div class="job_Consulting_span job_Consulting_jobcz">
                    <a href="javascript:void(0)" onclick="layer_del("{yun:}t key='wap_user_00001'{/yun}", 'index.php?c=commsg&act=del&id={yun:}$log.id{/yun}');" class="List_dete cblue">{yun:}t key='common.delete'{/yun}</a>
                </div>
                <div class="job_Consulting_box">
                    <i class="List_Title_span_zx_icon"></i>
                    
                    
                    
                   <div class="job_Consulting_my">
                   <div class="job_Consulting_my_box">
                   <span class="job_Consulting_my_ask">{yun:}t key='member_user_00480'{/yun}</span>{yun:}$log.content{/yun}</div>
                   </div>
                   <span class="List_Title_content_Advisory_r">
                    {yun:}if $log.reply!=""{/yun}
                    <a href="javascript:;" class="" id="{yun:}$log.id{/yun}"></a>
                    {yun:}else{/yun}
                      <div class="job_Consulting_my">  <div class=""><span class="job_Consulting_zt"><i class="job_Consulting_zticon"></i>{yun:}t key='member_user_00481'{/yun}</span></div></div>
                    {yun:}/if{/yun}
                    {yun:}if $log.reply!=""{/yun}
                       <div class="job_Consulting_my">
                     <div class="job_Consulting_com">
                        <i class="job_Consulting_icon"></i>
                    <div class="" id="msg{yun:}$log.id{/yun}">
                    {yun:}t key='wap_user_00155'{/yun}：{yun:}$log.reply{/yun}
                       <div class="job_Consulting_hftime">  {yun:}t key='admin_user_00369'{/yun}：{yun:}$log.reply_time|date_format:'%Y-%m-%d'{/yun}</div>
                        
                    </div> </div>
                    </div>
                    {yun:}/if{/yun}
                </div>
            </div>
            {yun:}foreachelse{/yun}
            <div class="msg_no"> {yun:}t key='member_user_00482'{/yun}</div>
            {yun:}/foreach{/yun}
        </div>
        <div class="diggg">{yun:}$pagenav{/yun}</div>
    </div>
</div>

<script type="text/javascript"> 
  function show_msg(msg) {
        $("#msgs").html(msg);
        var layindex = $.layer({
            type: 1,
            title: "{yun:}t key='member_user_00062'{/yun}",
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['400px', '210px'],
            page: {
                dom: "#showmsg"
            }
        });
        $("#layindex").val(layindex);
    }
</script>
<div id="showmsg" style="display:none; width: 400px;">
    <div>
        <div id="infobox">
            <div class="admin_Operating_sh" style="padding:10px; ">
                <div class="admin_Operating_sh_h1" style="padding:5px;">
                    <div style="height:80px;overflow:auto;" id="msgs"></div>
                </div>
                <div class="admin_Operating_sub" style="margin-top:10px;"> &nbsp;&nbsp;
                    <input type="button" onClick="layer.close($('#layindex').val());" class="cancel_btn" value='{yun:}t key='wap_js_00094'{/yun}'>
                </div>
            </div>
        </div>
    </div>
</div> 
{yun:}include file="$userstyle/footer.htm"{/yun} 