{yun:}include file="$userstyle/header.htm"{/yun}
<script>
function CheckPost(){
	var minsalary=$.trim($("#minsalary").val());
	var maxsalary=$.trim($("#maxsalary").val());
	if(maxsalary){
		if(parseInt(maxsalary)<=parseInt(minsalary)){
			layer.msg("{yun:}t key='wap_com_00264'{/yun}", 2, 8);return false;
		}
	}
}
</script>
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
       <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='member_user_00108'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>

        <div style="clear:both"></div>
        <div style="float:left" class="formbox02">
           
            <div style="clear:both"></div>
            <form action="index.php?c=finder&act=save" method="post" target="supportiframe" name="MyForm" onsubmit="return CheckPost();" class="layui-form">
                <ul class="Finder_box">
                    <li><span class="Finder_span">{yun:}t key='member_com_00089'{/yun}：</span><input name="name" type='text' style="width:260px" value="{yun:}$info.name{/yun}" class="layui-input" placeholder=" 如，搜索会计"></li>
                    <li><span class="Finder_span">{yun:}t key='member_com_00088'{/yun}：</span><input name="keyword" type='text' style="width:260px" value="{yun:}$parav.keyword{/yun}" class="layui-input" placeholder=" 如，会计"></li>
                    <li><span class="Finder_span">{yun:}t key='member_com_00091'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur0 fltL ">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="hy" lay-filter="" id="hyid">
                          <option value="">请选择行业</option>
                          {yun:}foreach from=$industry_index key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.hy==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_user_00018'{/yun}：</span>
                    <div class="text" ><div class="text_seclet_cur fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="job1" lay-filter="job" id="job1id">
                          <option value="">{yun:}t key='wap_com_00272'{/yun}</option>
                          {yun:}foreach from=$job_index key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.job1==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$job_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                      <div class="layui-input-inline">
                        <select name="job1_son" lay-filter="job" id="job1_sonid">
                          <option value="">{yun:}t key='wap_com_00272'{/yun}</option>
                          {yun:}foreach from=$job_type[$parav.job1] key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.job1_son==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$job_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                      <div class="layui-input-inline">
                        <select name="job_post" lay-filter="" id="job_postid">
                          <option value="">{yun:}t key='wap_com_00272'{/yun}</option>
                          {yun:}foreach from=$job_type[$parav.job1_son] key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.job_post==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$job_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_00349'{/yun}：</span>
                    <div class="text" ><div class=" text_seclet_cur2 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="provinceid" lay-filter="city" id="provinceid">
                          <option value="">{yun:}t key='member_user_00109'{/yun}</option>
                          {yun:}foreach from=$city_index key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.provinceid==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                      <div class="layui-input-inline">
                        <select name="cityid" lay-filter="city" id="cityid">
                          <option value="">{yun:}t key='member_user_00109'{/yun}</option>
                          {yun:}foreach from=$city_type[$parav.provinceid] key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.cityid==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                      <div class="layui-input-inline" {yun:}if !$parav.three_cityid{/yun}style='display:none;'{yun:}/if{/yun} id="cityshowth">
                        <select name="three_cityid" lay-filter="" id="three_cityid">
                          <option value="">{yun:}t key='member_user_00109'{/yun}</option>
                          {yun:}foreach from=$city_type[$parav.cityid] key=j item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.three_cityid==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_com_00290'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur3 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                      <input id="minsalary" name="minsalary" type="text" value="{yun:}$parav.minsalary{/yun}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" placeholder="{yun:}t key='wap_user_00013'{/yun}">
                      </div>
                      <div class="layui-input-inline">
                      <input id="maxsalary" name="maxsalary" type="text" value="{yun:}$parav.maxsalary{/yun}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"class="layui-input" placeholder="{yun:}t key='wap_user_00014'{/yun}">
                      </div>
                    </div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_com_00283'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur4 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="edu" lay-filter="" id="eduid">
                          <option value="">请选择学历要求</option>
                          {yun:}foreach from=$comdata.job_edu item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.edu==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_user_00240'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur5 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="exp" lay-filter="" id="expid">
                          <option value="">请选择工作经验</option>
                          {yun:}foreach from=$comdata.job_exp item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.exp==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_com_00332'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur6 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="sex" lay-filter="" id="sexid">
                          <option value="">请选择性别要求</option>
                          {yun:}foreach item=v key=j from=$com_sex{/yun}
                          <option value="{yun:}$j{/yun}" {yun:}if $parav.sex==$j{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$v{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_com_00279'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur8 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="report" lay-filter="" id="reportid">
                          <option value="">请选择到岗时间</option>
                          {yun:}foreach from=$comdata.job_report item=v{/yun}
                          <option value="{yun:}$v{/yun}" {yun:}if $parav.report==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$comclass_name[$v]{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li>
                    <li><span class="Finder_span">{yun:}t key='wap_00326'{/yun}：</span>
                    <div class="text" ><div class="text_seclet text_seclet_cur10 fltL">
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select name="uptime" lay-filter="" id="uptimeid">
                          <option value="">{yun:}t key='member_user_00110'{/yun}</option>
                          {yun:}foreach from=$uptime item=v key=j{/yun}
                          <option value="{yun:}$j{/yun}" {yun:}if $parav.uptime==$j{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$v{/yun}</option>
                          {yun:}/foreach{/yun}
                        </select>
                      </div>
                    </div>
                    </div></div>
                    </li> 
                    <li><span class="Finder_span"></span><input name="id" value="{yun:}$info.id{/yun}" type="hidden" /><input class="layui-btn layui-btn-normal" type="submit" value="{yun:}t key='member_user_00114'{/yun}" name="submitBtn"></li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script language=javascript src='{yun:}$plusstyle{/yun}/city.cache.js?v={yun:}$config.cachecode{/yun}'></script>
<script>
layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;
    if(ct.length>0 && ct!='new Array()'){
    	form.on('select(city)', function(data){
    		$.post(weburl+"/index.php?m=ajax&c=ajax",{str:data.value},function(htm){
    			if(data.elem.name=='provinceid'){
    				$("#cityid").html(htm);
    				$("#three_cityid").html("<option value=''>{yun:}t key='wap_user_00100'{/yun}</option>");
    			}else if(data.elem.name=='cityid'){
    				$("#cityshowth").show();
    				$("#three_cityid").html(htm);
    			}
    			form.render('select');
    		});
    	});
    }else{
      if($("#cityid")){
        $("#cityid").parent().remove();
      }
      if($("#three_cityid")){
        $("#three_cityid").parent().remove();
      }
      form.render('select');
      
    }
	form.on('select(job)', function(data){
		$.post(weburl+"/member/index.php?m=ajax&c=getjoblist",{id:data.value},function(htm){
			if(data.elem.name=='job1'){
				$("#job1_sonid").html(htm);
				$("#job_postid").html("<option value=''>{yun:}t key='wap_user_00100'{/yun}</option>");
			}else if(data.elem.name=='job1_son'){
				$("#job_postid").html(htm);
			}
			form.render('select');
		});
	});
});
</script>
{yun:}include file="$userstyle/footer.htm"{/yun}