{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
      <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}$config.integral_pricename{/yun}{yun:}t key='wap_com_00304'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
   <div class="job_list_tit"> <ul class="">
	<li ><a href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}{yun:}t key='member_com_00209'{/yun}</a></li>
      <li class="job_list_tit_cur"><a href="index.php?c=integral_reduce">{yun:}t key='wap_user_00252'{/yun}</a></li>
 <li><a href="index.php?c=reward_list">{yun:}$config.integral_pricename{/yun}{yun:}t key='admin_yunying_00117'{/yun}</a></li>
	</ul> 
    </div>
      <div class="integral_cont"> 
      <ul class="integral_cont_list">
        <li> <span class="integral_cont_list_span">{yun:}t key='admin_user_00348'{/yun}：</span> <span class="integral_cont_list_span_c" style="border:none">  <b>{yun:}$config.integral_resume_top{/yun}</b> {yun:}t key='common_02056'{/yun} / {yun:}t key='common_02067'{/yun} </span> </li>
      </ul>
    </div>
  </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}