{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
	{yun:}include file="$userstyle/left.htm"{/yun}
	
	
	<div class="yun_m_rightsidebar">
			<div class="user_new_tit"><span class="user_new_tit_n">{yun:}t key='wap_user_index_00029'{/yun}</span><span class="user_new_tit_r">{yun:}t key='member_user_likejob_00001'{/yun}</span></div>
	    <div class="yun_m_rightbox fltR mt20 re">
	    
	   
	    <div id="gms_showclew"></div>
	    <form action="index.php" method="get" target="supportiframe" id="myform" class="layui-form">
	      <input type="hidden" name="c" value="favorite">
	      <input type="hidden" name="act" value="del">
	
		<div class="resume_box_list  ">
		<div class="user_new_listtit">
						<div class=" user_new_job">{yun:}t key='member_user_favorite_00004'{/yun}</div>
					<div class=" user_new_time">{yun:}t key='member_user_favorite_00005'{/yun}</div>
					<div class=" user_new_zt">{yun:}t key='member_user_likejob_00004'{/yun}</div>
					<div class=" user_new_yqh">{yun:}t key='member_user_likejob_00006'{/yun}</div>
					<div class=" user_new_cz">{yun:}t key='member_user_atn_00003'{/yun}</div>
				</div>
				
				{yun:}foreach item=v from=$job{/yun}
				
				
				<div class="jobnotice_list">
								<div class=" user_new_job">
							<div class=""> <a href="{yun:}url m=job c=comapply id=$v.id{/yun}" target="_blank" class="user_new_jobname">{yun:}$v.name{/yun}</a> 	</div>
										
							<div class="user_new_comname" style="padding-top: 10px;">  <a href="{yun:}url m=company c=show id='`$job.com_id`'{/yun}" target="_blank" title="{yun:}$job.com_name{/yun}" class="">{yun:}$v.com_name{/yun} </a> </div>
							</div>
				                   
								<div class="user_new_time"><span class="user_new_xz_n">{yun:}$v.job_salary{/yun}</span>&nbsp;</div>
				
								<div class="user_new_zt"><span>{yun:}$v.job_edu{/yun}{yun:}t key='home.education_suffix'{/yun}</span><span class="look_myresume_comline">|</span><span>{yun:}$v.job_exp{/yun}{yun:}t key='home.experience_suffix'{/yun}</span></div>
				<div class=" user_new_yqh">{yun:}$v.pre{/yun}%</div>
								<div class=" user_new_cz">
								 <a href="{yun:}url m=job c=comapply id=$v.id{/yun}" target="_blank" class="user_new_yqh_a ">{yun:}t key='wap_com_job_00044'{/yun}</a> 
				
						</div>
							</div>
				
				
				{yun:}foreachelse{/yun}
				 
						<div class="msg_no">
							<p>{yun:}t key='member_user_likejob_00002'{/yun} </p>
							<p>{yun:}t key='member_user_likejob_00003'{/yun}</p>
							<a href="{yun:}url m=job{/yun}" target="_blank" class="msg_no_sq uesr_submit">{yun:}t key='member_user_likejob_00005'{/yun}</a>
						</div>
					 
				{yun:}/foreach{/yun} 
				
			   
	 
			
			
		
	
	                 
			</div>
	             
	 
	          </form>
	  </div>
	</div>
	
	<!--
	<div class="yun_m_rightbox fltR mt20 re">

		<div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='wap_user_index_00029'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
		<div class="resume_Prompt_box">
			<div class="resume_Prompt"><i class="resume_Prompt_icon"></i>{yun:}t key='member_user_likejob_00001'{/yun}</div>
		</div>

		<div class="remindbox01 mt20">
			<div id="gms_showclew"></div>
			<div class="resumelistbox01 mt10">
				<div id="" class="resume_box_list">
					 
 
						{yun:}foreach item=v from=$job{/yun}
						
						
						<div class="jobnotice_list">
							<div class=""><a href="{yun:}url m=job c=comapply id=$v.id{/yun}" target="_blank" class="ppjobname">{yun:}$v.name{/yun}</a></div>
							
							<div class="ppxz">{yun:}$v.job_salary{/yun}</div>
							<div><span>{yun:}$v.job_edu{/yun}{yun:}t key='home.education_suffix'{/yun}</span>	<span>{yun:}$v.job_exp{/yun}{yun:}t key='home.experience_suffix'{/yun}</span></div>
							<div>{yun:}if $v.job_sex{/yun}{yun:}$v.job_sex{/yun}{yun:}else{/yun}{yun:}t key='wap_user_resume_00011'{/yun}{yun:}/if{/yun}</div>
							<span>{yun:}t key='wap_com_jobadd_00025'{/yun}：{yun:}$v.job_report{/yun}</span>
						
							<div>{yun:}t key='member_user_likejob_00006'{/yun}：{yun:}$v.pre{/yun}%</div>
						</div>
						{yun:}foreachelse{/yun}
						 
								<div class="msg_no">
									<p>{yun:}t key='member_user_likejob_00002'{/yun} </p>
									<p>{yun:}t key='member_user_likejob_00003'{/yun}</p>
									<a href="{yun:}url m=job{/yun}" target="_blank" class="msg_no_sq uesr_submit">{yun:}t key='member_user_likejob_00005'{/yun}</a>
								</div>
							 
						{yun:}/foreach{/yun} 
				</div>
			</div>
			<div class="diggg">{yun:}$pagenav{/yun}</div>
		</div>
	</div>
</div>-->
{yun:}include file="$userstyle/footer.htm"{/yun}