{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
	<div class="yun_m_rightsidebar">
		<div class="user_new_tit"><span class="user_new_tit_n">{yun:}t key='wap_com_00407'{/yun}</span><span class="user_new_tit_r">{yun:}t key='member_user_00102'{/yun}</span></div>
     <div class="yun_m_rightbox fltR mt20 re">

       

        <div class="remindbox01 mt10">
            <div id="gms_showclew"></div>
            <form action="index.php" method="get" target="supportiframe" id='myform' class="layui-form">
                <input type="hidden" name="c" value="look" />
                <input type="hidden" name="act" value="del" />
                <div class="resumelistbox01 ">
                    <div class="resume_box_list">
                     
                        {yun:}if !empty($look){/yun}
						
						<div class="user_new_listtit">
								<div class=" user_new_job">{yun:}t key='common.company'{/yun}</div>
							<div class=" user_new_job" style="width:280px;">{yun:}t key='wap_01536'{/yun}</div>
							<div class=" user_new_zt">{yun:}t key='member_user_00197'{/yun}</div>
							<div class=" user_new_cz">{yun:}t key='member_user_00048'{/yun}</div>
						</div>
						
                        {yun:}/if{/yun}
                        {yun:}foreach item=log from=$look{/yun}
						<div class="jobnotice_list">
								<div class=" user_new_job">
									{yun:}if $log.com_name{/yun}
										{yun:}if $log.usertype==2{/yun}
									    <a href="{yun:}url m=company c=show id='`$log.com_id`'{/yun}" target="_blank" title="{yun:}$log.com{/yun}" class="user_new_jobname">
									    {yun:}$log.com_name{/yun}
									    </a>
										<div class="look_myresume_comxz">{yun:}if $log.pr_n{/yun}{yun:}$log.pr_n{/yun} <span class="look_myresume_comline">|</span>{yun:}/if{/yun} {yun:}$log.mun_n{/yun} {yun:}if $log.sdate{/yun} <span class="look_myresume_comline">|</span> {yun:}$log.sdate{/yun}{yun:}t key='common_02077'{/yun}{yun:}/if{/yun}</div>
									    {yun:}/if{/yun}
									{yun:}else{/yun}{yun:}t key='common_02163'{/yun}！ <div class="look_myresume_comxz">{yun:}t key='member_user_00524'{/yun}</div>{yun:}/if{/yun}
									&nbsp
									<div class=""></div>
								</div>
							<div class=" user_new_job" style="width:280px;">
							{yun:}if $log.com_job{/yun}
							<div class="user_new_joball">{yun:}$log.com_job{/yun}</div>
							<span class="user_new_joball_n">{yun:}$log.com_job_num{/yun}</span> {yun:}t key='wap_com_00094'{/yun} <a href="{yun:}url m=job{/yun}?keyword={yun:}$log.com_name{/yun}" class="user_new_joball_more">{yun:}t key='common.more'{/yun}></a>
							{yun:}else{/yun}{yun:}t key='default_00033'{/yun}{yun:}/if{/yun}&nbsp
							
							
							</div>
							<div class=" user_new_zt">{yun:}$log.datetime|date_format:'%Y-%m-%d'{/yun}</div>
							<div class=" user_new_cz"><a href="javascript:void(0)" onclick="layer_del("{yun:}t key='wap_user_00001'{/yun}", 'index.php?c=look&act=del&id={yun:}$log.id{/yun}');" class="user_new_yqh_sc">
                                {yun:}t key='common.delete'{/yun}
                                </a></div>
						</div>
						
						
					
                        {yun:}foreachelse{/yun}
                       <div class="msg_no">
      <p>{yun:}t key='wap_01007'{/yun}，暂无谁看过我的简历，想要获得更多的工作机会，</p>
  <p>{yun:}t key='member_user_00526'{/yun}</p>
<a href="{yun:}url m=job{/yun}" target="_blank" class="msg_no_sq uesr_submit">{yun:}t key='member_user_00527'{/yun}</a>
</div>
                        {yun:}/foreach{/yun}
                        {yun:}if $look{/yun}
                        
                        
                        
                        
                        <div class="diggg">{yun:}$pagenav{/yun}</div>
                        {yun:}/if{/yun}
                    </div>                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
	layui.use(['form','layer', 'laydate'], function(){
    	var $ = layui.$,
			form = layui.form,
			laydate = layui.laydate,
			layer = layui.layer;
    	
    	form.on('checkbox(alluser)', function (data) {
       	 	$("input[name='del[]']").each(function () {
            	this.checked = data.elem.checked;
        	});
        	form.render('checkbox');
      	});
  	});
</script>
{yun:}include file="$userstyle/footer.htm"{/yun} 