{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
    <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='member_user_00185'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
    
        <div id="gms_showclew"></div>
      <div class="job_list_tit">
         <ul class="">
         <li {yun:}if $smarty.get.c=='partapply'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}> <a href="index.php?c=partapply">{yun:}t key='wap_user_00302'{/yun}</a></li>
        <li {yun:}if $smarty.get.c=='partcollect'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=partcollect">{yun:}t key='wap_user_00303'{/yun}</a></li>
         </ul>
         </div>  <div class="resume_box_list mt20">  
            {yun:}if empty($rows){/yun}
             <div class="msg_no">
              <p>{yun:}t key='wap_01007'{/yun}，您还没有收藏兼职哦，想要获得更多工作机会</p>
              <p>{yun:}t key='member_user_00534'{/yun}</p>
              <a href="{yun:}url m=part{/yun}" target="_blank" class="msg_no_sq uesr_submit">立即搜索我感兴趣的兼职职位>></a> </div>
            {yun:}else{/yun}

            <div class="part_time_job_tit">
      <div class="part_time_job_span part_time_jobname">{yun:}t key='wap_com_00326'{/yun}</div> 
        <div class="part_time_job_span part_time_jobname">{yun:}t key='wap_com_00157'{/yun}</div> 
      <div class="part_time_job_span part_time_jobzt">{yun:}t key='wap_com_00290'{/yun}</div> 
      <div class="part_time_job_span part_time_jobxz">{yun:}t key='member_user_00199'{/yun}</div>
       <div class="part_time_job_span part_time_jobtime">{yun:}t key='member_user_00198'{/yun}</div> 
       <div class="part_time_job_span part_time_jobcz">{yun:}t key='member_user_00048'{/yun}</div> 
	   </div>

            {yun:}foreach item=job from=$rows{/yun}
          <div class="part_time_job_list">
               <div class="part_time_job_span part_time_jobname">
                    <a href="{yun:}url m=part c=show id='`$job.jobid`'{/yun}" target="_blank" class="part_time_job_a">{yun:}$job.jobname{/yun}&nbsp;</a>
             
                </div>
                   <div class="part_time_job_span part_time_jobname"><a href="{yun:}url m=company c=show id='`$job.comid`'{/yun}" target="_blank" title="{yun:}$job.com_name{/yun}">{yun:}$job.com_name{/yun}</a></div> 
                 <div class="part_time_job_span part_time_jobzt ">&nbsp;{yun:}$job.salary{/yun}</div>
                <div class="part_time_job_span part_time_jobxz ">&nbsp;{yun:}$job.billing_cycle{/yun}</div>
                <div class="part_time_job_span part_time_jobtime ">&nbsp;{yun:}$job.cityname{/yun}</div>
                <div class="part_time_job_span part_time_jobcz ">
                    <a href="javascript:void(0)" onclick="layer_del("{yun:}t key='wap_user_00001'{/yun}", 'index.php?c=partcollect&act=del&id={yun:}$job.id{/yun}');" class="re_sc cblue">{yun:}t key='common.delete'{/yun}</a>
                </div>
            </div>
            {yun:}/foreach{/yun}
            {yun:}/if{/yun}
        </div>
        <div class="diggg" style="float:right; margin-top:10px;">{yun:}$pagenav{/yun}</div>
    </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}