{yun:}include file="$userstyle/header.htm"{/yun}

<script src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js?v={yun:}$config.cachecode{/yun}"></script>

<script>
    var weburl = "{yun:}$config.sy_weburl{/yun}";
</script>

<div class="yun_w1200">

    {yun:}include file="$userstyle/left.htm"{/yun}

    <div class="yun_m_rightbox fltR mt20 re">

		<div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='member_user_00059'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>

        <div class="clear"></div>

        <div class="job_list_tit">
            <ul>
                <li>
                    <a href="index.php?c=info">{yun:}t key='wap_00456'{/yun}</a><i class="left_sidebar_leftmune_icon"></i>
               	</li>
                <li class="job_list_tit_cur">
                    <a href="index.php?c=passwd">{yun:}t key='member_user_00058'{/yun}</a>
                </li>
                <li>
                    <a href="index.php?c=binding">{yun:}t key='member_user_00057'{/yun}</a>
                </li>
                <li>
                    <a href="index.php?c=uppic">{yun:}t key='member_user_00053'{/yun} </a>
                </li>

            </ul>
        </div>

        <div class="account_settings">

            <div class="account_settings_list">
            
                <div class="account_settings_list_left">
                    <i class="account_settings_list_left_icon account_settings_list_left_icon_user"></i>
                    <div class="account_settings_tit">{yun:}t key='wap_user_00336'{/yun}</div>
                   	{yun:}t key='member_user_00535'{/yun}
                </div>
                
                {yun:}if $member.setname==1{/yun}
                	<a href="javascript:void(0);" onclick="showEditUsername();" class="account_settings_bth_hv">{yun:}t key='wap_js_00073'{/yun}</a>
                {yun:}else{/yun}
                	<div class="account_settings_bth">{yun:}t key='member_user_00233'{/yun}</div>
                {yun:}/if{/yun}
                
            </div>

            <div class="account_settings_list">
                <div class="account_settings_list_left">
                    <i class="account_settings_list_left_icon account_settings_list_left_icon_m"></i>
                    <div class="account_settings_tit">{yun:}t key='member_user_00536'{/yun}</div>
                 	{yun:}t key='member_user_00537'{/yun}
                </div>
                <a href="javascript:void(0);" onclick="showEditPass();" class="account_settings_bth_hv">{yun:}t key='wap_js_00073'{/yun}</a>
            </div>

            {yun:}if $resume.email_status==1{/yun}
	            
	            <div class="account_settings_list">
	                <div class="account_settings_list_left">
	                    <i class="account_settings_list_left_icon account_settings_list_left_icon_yx"></i>
	                    <div class="account_settings_tit">安全邮箱{yun:}$resume.email{/yun}</div>
	                   	{yun:}t key='member_user_00203'{/yun}
	                </div>
	                <a href="javascript:void(0)" onclick="layer_del("{yun:}t key='member_user_00051'{/yun}",'index.php?c=binding&act=del&type=email');" class="account_settings_bth">{yun:}t key='member_user_00054'{/yun}</a>
	            </div>
	            
            {yun:}else{/yun}
            
	            <div class="account_settings_list">
	                <div class="account_settings_list_left">
	                    <i class="account_settings_list_left_icon account_settings_list_left_icon_yx"></i>
	                    <div class="account_settings_tit">安全邮箱{yun:}$resume.email{/yun}<span class="account_settings_tit_zt"><i class="account_settings_tit_icon"></i>{yun:}t key='wap_user_00181'{/yun}</span></div>
	                    <div class="account_settings_tip"> {yun:}t key='member_user_00203'{/yun}</div>
	                </div>
	                <a href="javascript:getshow('email','{yun:}t key='member_user_00231'{/yun}');" class="account_settings_bth_hv">{yun:}t key='member_user_00234'{/yun}</a>
	            </div>
	            
            {yun:}/if{/yun} 
            
            {yun:}if $resume.moblie_status==1{/yun}
	            
	            <div class="account_settings_list">
	                <div class="account_settings_list_left">
	                    <i class="account_settings_list_left_icon account_settings_list_left_icon_sj"></i>
	                    <div class="account_settings_tit">安全手机{yun:}$resume.telphone{/yun}</div>
	                  	{yun:}t key='member_user_00202'{/yun}
	                </div>
	                <a href="javascript:getshow('moblie','{yun:}t key='member_user_00215'{/yun}');" class="account_settings_bth">{yun:}t key='member_user_00228'{/yun}</a>
	            </div>
	            
            {yun:}else{/yun}
            
	            <div class="account_settings_list">
	                <div class="account_settings_list_left">
	                    <i class="account_settings_list_left_icon account_settings_list_left_icon_sj"></i>
	                    <div class="account_settings_tit">安全手机{yun:}$resume.telphone{/yun}<span class="account_settings_tit_zt"><i class="account_settings_tit_icon"></i>{yun:}t key='wap_user_00182'{/yun}</span></div>
	                    <div class="account_settings_tip"> {yun:}t key='member_user_00202'{/yun}</div>
	                </div>
	                <a href="javascript:getshow('moblie','{yun:}t key='member_user_00219'{/yun}');" class="account_settings_bth_hv">{yun:}t key='member_user_00236'{/yun}</a>
	            </div>
	            
            {yun:}/if{/yun}

            <div class="account_settings_list">
                <div class="account_settings_list_left">
                    <i class="account_settings_list_left_icon account_settings_list_left_icon_sf"></i>
                    <div class="account_settings_tit">{yun:}t key='wap_01030'{/yun}{yun:}if $resume.idcard_status lt 1&& !$resume.idcard_pic{/yun}<span class="account_settings_tit_zt"><i class="account_settings_tit_icon"></i>{yun:}t key='wap_user_00182'{/yun}</span>{yun:}/if{/yun}</div>
                    <div class="account_settings_tip"> {yun:}t key='member_user_00210'{/yun}</div>
                    {yun:}if $resume.idcard_status==2&& $resume.statusbody{/yun}{yun:}t key='member_user_00062'{/yun}{yun:}$resume.statusbody{/yun}{yun:}/if{/yun}
                </div>
                {yun:}if $resume.idcard_status==1{/yun}
                	
                	<a href="javascript:getshow2('yyzz','{yun:}t key='wap_01030'{/yun}');" class="account_settings_bth">{yun:}t key='wap_user_00128'{/yun}</a>
                	
                {yun:}else{/yun} 
                
					{yun:}if $resume.idcard_pic{/yun} 
						
						{yun:}if $resume.idcard_status==2{/yun}
				
							<a href="javascript:getshow2('yyzz','{yun:}t key='wap_01030'{/yun}');" class="account_settings_bth">{yun:}t key='member_user_00538'{/yun}</a>
				
						{yun:}else{/yun}
				
							<a href="javascript:getshow2('yyzz','{yun:}t key='wap_01030'{/yun}');" class="account_settings_bth">{yun:}t key='wap_user_00178'{/yun}</a>
				
						{yun:}/if{/yun} 
						
					{yun:}else{/yun}

						<a href="javascript:getshow2('yyzz','{yun:}t key='wap_01030'{/yun}');" class="account_settings_bth">{yun:}t key='member_user_00235'{/yun}</a>

					{yun:}/if{/yun} 
					
				{yun:}/if{/yun}
				
            </div>

        </div>
    </div>
</div>

<div id="showEditUsername" style="display:none;">
    <form action='index.php?c=passwd' target="supportiframe" method="post">
        <div class="Binding_pop_box" style="padding:10px;width:430px;height:200px; background:#fff">
            <div class="Binding_pop_box_msg">
                用户名要求长度{yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}{yun:}t key='common_02053'{/yun}
                {yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun}
                    ,{yun:}t key='default_00346'{/yun}
                    {yun:}if $config.reg_name_han=='1'{/yun}{yun:}t key='wap_user_00345'{/yun} {yun:}/if{/yun}
                    {yun:}if $config.reg_name_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}
                    {yun:}if $config.reg_name_zm=='1'{/yun}{yun:}t key='common_01973'{/yun} {yun:}/if{/yun}
                    {yun:}if $config.reg_name_sp=='1'{/yun}{yun:}t key='common_01697'{/yun}@!#.$-_{yun:}/if{/yun}
                {yun:}/if{/yun}
            </div>
            <div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_00172'{/yun}</span>
                    <input type="text" name="username" id="username" value="" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
                </div>

                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_user_00371'{/yun}：</span>
                    <input type="password" name="password" id="password" value="" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
                </div>

                <div class="Binding_pop_sub" style="margin-top:10px; margin-bottom: 25px;">
                    <span class="Binding_pop_box_list_left">&nbsp;</span>
                    <input class="layui-btn layui-btn-normal" type="submit" name="submit2" value="{yun:}t key='common.confirm'{/yun}" />
                    <input class="layui-btn layui-btn-primary" type="button" value="{yun:}t key='common.cancel'{/yun}" onclick="layer.close($('#layindex').val());" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="showEditPass" style="display:none;">
    <form name='MyForm' action='' target="supportiframe" method="post" onsubmit="return Showsub();">
        <div class="Binding_pop_box" style="padding:10px;width:430px;height:200px; background:#fff">
            <div class="Binding_pop_box_msg">密码长度8~16{yun:}t key='common_02053'{/yun}{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}，{yun:}t key='default_00346'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='common_01973'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='common_01697'{/yun}@!#.$-_{yun:}/if{/yun}{yun:}/if{/yun}！</div>
            <div>
                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='member_user_00227'{/yun}</span>
                    <input type="password" name="oldpassword" id="oldpassword" value="" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
                </div>

                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_user_00305'{/yun}：</span>
                    <input type="password" name="password" id="newpassword" value="" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
                </div>

                <div class="Binding_pop_box_list">
                    <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_com_00343'{/yun}：</span>
                    <input type="password" name="repassword" id="repassword" value="" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
                </div>

                <div class="Binding_pop_sub" style="margin-top:10px; margin-bottom: 25px;">
                    <span class="Binding_pop_box_list_left">&nbsp;</span>
                    <input class="layui-btn layui-btn-normal" type="submit" name="submit" value="{yun:}t key='common.confirm'{/yun}" />
                    <input class="layui-btn layui-btn-primary" type="button" value="{yun:}t key='common.cancel'{/yun}" onclick="layer.close($('#layindex').val());" />
                </div>
            </div>
        </div>
    </form>
</div>

<!--绑定邮箱弹出框-->
<div id="email" style="display:none;">
    <div class="Binding_pop_box" style="padding:10px;width:430px;height:260px; background:#fff">
        <div class="Binding_pop_box_msg">{yun:}t key='member_user_00209'{/yun}</div>
        <div>
            <div class="Binding_pop_box_list">
                <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='member_user_00223'{/yun}</span>
                <input type="text" name="email" value="{yun:}$resume.email{/yun}" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">
            </div>
            <div class="Binding_pop_box_list">
                <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_00110'{/yun}：</span>

                <input type="text" name="email_code" maxlength="6" class="Binding_pop_box_tpyz_text">
                <a href="javascript:void(0);" onclick="checkCode('vcode_img');" class="Binding_pop_box_yz_pic"> <img id="vcode_img" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php">
                </a>

            </div>
            <div class="Binding_pop_sub" style="margin-top:10px;">
                <span class="Binding_pop_box_list_left">&nbsp;</span>
                <input class="layui-btn layui-btn-normal" type="button" onclick="sendbemail('vcode_img');" value="{yun:}t key='member_user_00217'{/yun}">
                <input class="layui-btn layui-btn-primary" type="button" value="{yun:}t key='common.cancel'{/yun}" onclick="layer.close($('#layindex').val());">
            </div>
        </div>
    </div>
</div>

<!--弹出框 end-->
<!--绑定手机弹出框-->
<div id="moblie" style=" display:none;">
    <div class="Binding_pop_box" style="padding:10px;width:430px;height:280px; background:#fff;">
        <div class="Binding_pop_box_msg">绑定完成后，您可以使用该手机号码登录账号、{yun:}t key='wap_js_00123'{/yun}</div>
        <div>
            <div class="Binding_pop_box_list">
                <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_user_00241'{/yun}：</span>
                <input type="text" name="moblie" value="{yun:}$resume.telphone{/yun}" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">

            </div>
			<div class="Binding_pop_box_list">
				<span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_00110'{/yun}：</span>

				<input type="text" name="phoneimg_code" maxlength="6" class="Binding_pop_box_tpyz_text">
				<a href="javascript:void(0);" onclick="checkCode('pcode_img');" class="Binding_pop_box_yz_pic"> <img id="pcode_img" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php">
				</a>

			</div>
            <div class="Binding_pop_box_list">
                <span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_com_00036'{/yun}：</span>
                <div class="Binding_pop_box_r"> <input type="text" id="moblie_code" class="Binding_pop_box_yz_text" style="width:90px;">
                    <a href="javascript:;" onclick="sendmoblie('pcode_img');" id="time" class="Binding_pop_box_yz_send">{yun:}t key='member_user_00216'{/yun}</a>
                </div>
            </div>
            <div class="Binding_pop_sub" style="margin-top:20px;">
                <span class="Binding_pop_box_list_left">&nbsp;</span>
                <input class="layui-btn layui-btn-normal" onclick="check_moblie();" type="button" value="{yun:}t key='common.save'{/yun}">
                <input class="layui-btn layui-btn-primary" type="button" value="{yun:}t key='common.cancel'{/yun}" onclick="layer.close($('#layindex').val());">
            </div>
        </div>
    </div>
</div>
<!--弹出框 end-->

<!--身份证弹出框-->
<div id="yyzz" style=" display:none;">
	<div style="width:630px;">
		<div class="license_box">
            <div class="license_tip">{yun:}t key='wap_js_00125'{/yun}：身份证中的照片与账号的真实姓名保持一致，扫描件中的身份证号,姓名需清晰可辨，否则不能通过认证</div>

            <form id="certform" name="MyForm" target="supportiframe" method="post" action="index.php?c=binding&act=savecert" enctype="multipart/form-data">
                <div class="license_left" style="width: 380px;">
                    <div class="license_tit">{yun:}t key='member_user_00214'{/yun}</div>
                    
                    <div class="license_list"><span class="license_list_name"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='member_user_00230'{/yun}</span>
                        <input type="text" name="name" id="name" value='{yun:}$resume.name{/yun}' class="Binding_pop_box_list_text license_left_text">
                    </div>

					<div class="license_list"><span class="license_list_name"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='wap_00543'{/yun}</span>
                        <input type="text" name="idcard" id="idcard" value='{yun:}$resume.idcard{/yun}' class="Binding_pop_box_list_text license_left_text">
                    </div>
                    
                    <div class="license_list">
                    	<span class="license_list_name"><i class="Binding_pop_box_list_left_i">*</i>{yun:}t key='member_user_00225'{/yun}</span>
                        <button type="button" class="yun_bth_pic noupload" lay-data="{imgid: 'imgicon',parentid: 'imgparent'}">{yun:}t key='wap_00540'{/yun}</button>
                        <input type="hidden" id="laynoupload" value="1"/>
						<input type="hidden" id="old_cert" value="{yun:}$resume.idcard_pic{/yun}" />
						
                        <div id="imgparent" class="licensefile_box_img {yun:}if !$resume.idcard_pic{/yun}none{yun:}/if{/yun}">
                            <img id="imgicon" src="{yun:}$resume.idcard_pic{/yun}" width="40" height="40" />
							<div id="newbind" class="Binding_pop_box_msg_cont_new none">{yun:}t key='common_02081'{/yun}</div>
                            <a id="checka" href="javascript:;" data_url="{yun:}$resume.idcard_pic{/yun}" onclick="showpic(this)" class="Binding_pop_box_msg_cont_pic_p">{yun:}t key='member_user_00229'{/yun}</a>
                        </div>

                        <div class="licensefile_box_tip">{yun:}t key='common_02002'{/yun}{yun:}$config.file_maxsize{/yun}M,{yun:}t key='common_01996'{/yun}{yun:}$config.pic_type{/yun}{yun:}t key='common_02005'{/yun}</div>
                        
                    </div>
                    
                    <div class="license_list">
                        <input class="license_list_bth" type="button" onclick="check_user_cert()" value="{yun:}t key='common.submit'{/yun}">
                    </div>
                    
                </div>
            </form>
            
            <div class="license_right" style="width: 220px; right:10px;">
                <div class="license_tit">{yun:}t key='member_user_00211'{/yun}</div>
            
                <div class="license_ewm">
                    <img src="{yun:}url m=upload c=qrcode type=2{/yun}" alt="{yun:}t key='member_user_00213'{/yun}" width="130" height="130" />
                </div>
            
                <div class="license_right_p"> {yun:}t key='member_user_00222'{/yun} </div>
                <div class=""> {yun:}t key='member_user_00208'{/yun} </div>
                
            </div>
		</div>
	</div>
</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>

<script type="text/javascript">
	layui.use(['layer'], function() {
		var layer = layui.layer,
			$ = layui.$;
	});	
	function showpic(obj){
		var url =	$(obj).attr('data_url');
		var picjson={
		  "data": [ {
			  "src": url, //{yun:}t key='common_01714'{/yun}
			  "thumb": url //缩略图地址
			}]
		}
		layer.photos({
			photos: picjson
			,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift{yun:}t key='admin_00103'{/yun}）
		});
	}

    function Showsub() {
        var oldpass = $("#oldpassword").val();
        var pass = $("#newpassword").val();
        var repass = $("#repassword").val();
        oldpass = $.trim(oldpass);
        pass = $.trim(pass);
        repass = $.trim(repass);

        if(oldpass == "") {
            layer.msg("{yun:}t key='admin_system_00226'{/yun}", 2, 8);
            // $("#oldpassword").focus();
            return false;
        } else if(oldpass.length < 6 || oldpass.length > 20) {
            layer.msg("{yun:}t key='member_user_00207'{/yun}", 2, 8);
            // $("#oldpassword").focus();
            return false;
        }

        if(pass == "") {
            layer.msg("{yun:}t key='admin_system_00227'{/yun}", 2, 8);
            // $("#newpassword").focus();
            return false;
        } else if(pass.length < 6 || pass.length > 20) {
            layer.msg("{yun:}t key='member_user_00206'{/yun}", 2, 8);
            // $("#newpassword").focus();
            return false;
        }

        if(repass == "") {
            layer.msg("{yun:}t key='member_user_00212'{/yun}", 2, 8);
            // $("#repassword").focus();
            return false;
        } else if(repass.length < 6 || repass.length > 20) {
            layer.msg("{yun:}t key='member_user_00206'{/yun}", 2, 8);
            // $("#repassword").focus();
            return false;
        }
        if(repass != pass) {
            layer.msg("{yun:}t key='member_user_00205'{/yun}", 2, 8);
            // $("#repassword").focus();
            return false;
        }

        if(oldpass != "" && oldpass == pass) {
            layer.msg("{yun:}t key='member_user_00204'{/yun}", 2, 8);
            return false;
        }

        return true;
    }

    function showEditPass() {
        var layindex = $.layer({
            type: 1,
            title: "{yun:}t key='member_user_00226'{/yun}",
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['450px', 'auto'],
            page: {
                dom: "#showEditPass"
            }
        });
        $("#layindex").val(layindex);
    }

    function showEditUsername() {
        var layindex = $.layer({
            type: 1,
            title: "{yun:}t key='member_user_00220'{/yun}",
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['450px', 'auto'],
            page: {
                dom: "#showEditUsername"
            }
        });
        $("#layindex").val(layindex);
    }

    function getshow2(id, title) {
        var layindex = $.layer({
            type: 1,
            title: title,
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['650px', 'auto'],
            page: {
                dom: "#" + id
            }
        });
        $("#layindex").val(layindex);
    }
</script>
<!--弹出框 end-->
<input type="hidden" id="linktel" value="{yun:}$resume.telphone{/yun}" />
<input type="hidden" id="linkmail" value="{yun:}$resume.email{/yun}" />
<input type="hidden" id="send" value="0" /> 
{yun:}include file="$userstyle/footer.htm"{/yun}