{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
	{yun:}include file="$userstyle/left.htm"{/yun}
	<div class="yun_m_rightbox fltR mt20 re">
		<div class="member_right_index_h1 fltL"> 
			<span class="member_right_h1_span fltL">{yun:}t key='member_user_00190'{/yun}</span> 
			<i class="member_right_h1_icon user_bg"></i>
		</div>
	<div>

	<div id="gms_showclew"></div>
	
	<div class="job_list_tit"> 
		<ul class="">
			<li><a href="index.php?c=paylist">{yun:}t key='member_user_00239'{/yun}</a></li>
			<li class="job_list_tit_cur"><a href="index.php?c=paylog">{yun:}t key='member_user_00544'{/yun}</a></li>
		</ul> 
	</div> 
	
	<div class="resume_box_list mt20">
	{yun:}if !empty($rows){/yun}
		<div class="paylist_tit">
			<div class="paylist_span paylist_dh">{yun:}t key='member_user_00548'{/yun}</div>
			<div class="paylist_span paylist_money">{yun:}t key='member_user_00549'{/yun}</div>
			<div class="paylist_span paylist_paylong_bz">{yun:}t key='member_user_00242'{/yun}</div>
			<div class="paylist_span paylist_cz"> {yun:}t key='member_user_00241'{/yun}	 </div>
		</div>
	{yun:}/if{/yun}
	{yun:}foreach from=$rows item=log{/yun}
		{yun:}assign var="state" value=$log.pay_state{/yun}
		<div class="paylist_list">
			<div class="paylist_span paylist_dh">{yun:}$log.order_id{/yun}</div>
			<div class="paylist_span paylist_money">
				{yun:}$log.order_price{/yun}
				{yun:}if $log.type==2{/yun}{yun:}t key='common_02056'{/yun}
				{yun:}else{/yun}{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}
				{yun:}/if{/yun}
			</div>
			<div class="paylist_span paylist_paylong_bz">{yun:}$log.pay_remark{/yun}&nbsp;</div>
			<div class="paylist_span paylist_cz">{yun:}$log.pay_time{/yun} </div>
		</div>
	{yun:}foreachelse{/yun}
		<div class="msg_no">{yun:}t key='member_user_00550'{/yun}</div>
	{yun:}/foreach{/yun}
	<div class="diggg">{yun:}$pagenav{/yun}</div>
</div>
</div>
</div>
</div>

{yun:}include file="$userstyle/footer.htm"{/yun}