{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
       <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='member_user_00188'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>   
       <div class="resume_box_list">
        {yun:}if $config.sy_resumeout_day_num{/yun}
        <div class="resume_Prompt"><i class="resume_Prompt_icon"></i>{yun:}t key='wap_js_00125'{/yun}：每天最多可外发简历{yun:}$config.sy_resumeout_day_num{/yun}{yun:}t key='common_02089'{/yun}。</div>
        {yun:}/if{/yun}
        <div class="message_content" style="margin-top:0;">  
            <div id="" class="resume_fk_box" style="margin-top:0;">
            <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                <form name="MyForm" onsubmit="return check_out();" target="supportiframe" action="index.php?c=resumeout&act=send" method="post" class="layui-form">
                  <div class="yun_send_resume_list">
                  <div class="yun_send_resume_list_name"><span class="yun_send_resume_list_x">*</span>将要发送的简历：</div>
                  <div class="yun_send_resume_list_right" >
                    <div class="layui-form-item">
                      <div class="layui-input-inline">
                        <select lay-filter="resume" id="resumeallid">
                        <option value="">{yun:}t key='member_user_00279'{/yun}</option>
                        {yun:}foreach from=$rows item=resume{/yun}
                        <option value="{yun:}$resume.id{/yun}-{yun:}$resume.name{/yun}">{yun:}$resume.name{/yun}</option>
                        {yun:}/foreach{/yun}
                        </select>
                        <input type="hidden" id="resumeid" name="resume" value="" />
                        <input type="hidden" id="resumename" name="resumename" value="" />
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="yun_send_resume_list">
                    <div class="yun_send_resume_list_name"> <span class="yun_send_resume_list_x">*</span>企业的邮箱地址：</div>
                    <div class="yun_send_resume_list_right">
                    <input type="text" class="yun_send_resume_txt" id="email" name="email" value="">
                    </div>
                  </div>
                  <div class="yun_send_resume_list">
                    <div class="yun_send_resume_list_name"><span class="yun_send_resume_list_x">*</span>应聘的企业名称：</div> 
                    <div class="yun_send_resume_list_right" >
                    <input type="text" class="yun_send_resume_txt" id="comname" name="comname" value="" maxlength="20"><i>（限20{yun:}t key='common_02073'{/yun}）</i>
                    </div>
                  </div>
                  <div class="yun_send_resume_list">
                    <div class="yun_send_resume_list_name"><span class="yun_send_resume_list_x">*</span>应聘的职位名称：</div>
                    <div class="yun_send_resume_list_right" >
                    <input type="text" class="yun_send_resume_txt" id="jobname" name="jobname" value="" maxlength="20"><i>（限20{yun:}t key='common_02073'{/yun}）</i>
                    </div>
                  </div>
                  <div class="yun_send_resume_list">
                    <div class="yun_send_resume_list_name">&nbsp;</div> 
                    <div class="yun_send_resume_list_right" >
                    {yun:}if $outmsg!=''{/yun}
                    <a href="javascript:void(0);" onclick="layer.msg('{yun:}$outmsg{/yun}',2,8)" class="layui-btn layui-btn-normal" rel="nofollow">{yun:}t key='resume_00033'{/yun}</a>
                    {yun:}else{/yun}
                    <input type="submit" name="submit" class="layui-btn layui-btn-normal" value="{yun:}t key='resume_00033'{/yun}">
                    {yun:}/if{/yun}
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="resumeout_tit mt40">
            <div class="resumeout_span resumeout_comname" >{yun:}t key='wap_com_00157'{/yun}</div>
            <div class="resumeout_span resumeout_jobname" >{yun:}t key='wap_com_00288'{/yun}</div>
            <div class="resumeout_span resumeout_pop" >{yun:}t key='member_user_00281'{/yun}</div>
            <div class="resumeout_span resumeout_emil">{yun:}t key='member_user_00282'{/yun}</div>
            <div class="resumeout_span resumeout_xg">相关简历</div>
            <div class="resumeout_span resumeout_send" >{yun:}t key='member_user_00280'{/yun}</div>
            <div class="resumeout_span List_Title_w80" >{yun:}t key='member_user_00048'{/yun}</div>
        </div>
        {yun:}foreach from=$out item=item{/yun}
        <div class="resumeout_listbox">
            <div class="resumeout_span resumeout_comname" >{yun:}$item.comname{/yun}</div>
            <div class="resumeout_span resumeout_jobname" >{yun:}$item.jobname{/yun}</div>
            <div class="resumeout_span resumeout_pop" >{yun:}$item.recipient{/yun}</div>
            <div class="resumeout_span resumeout_emil">{yun:}$item.email{/yun}</div>
            <div class="resumeout_span resumeout_xg">{yun:}$item.resume{/yun}</div>
            <div class="resumeout_span resumeout_send" >{yun:}$item.datetime|date_format:"%Y-%m-%d"{/yun}</div>
            <div class="resumeout_span List_Title_w80" ><a href="javascript:void(0)" onclick="layer_del("{yun:}t key='wap_user_00001'{/yun}",'index.php?c=resumeout&act=del&id={yun:}$item.id{/yun}');" class="List_dete cblue"> {yun:}t key='common.delete'{/yun}</a></div>
        </div>
        {yun:}foreachelse{/yun}
        <div class="msg_no">暂无简历外发信息！</div>
        {yun:}/foreach{/yun}
        <div class="diggg">{yun:}$pagenav{/yun}</div>
    </div>
</div></div>
<script>
layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;
	form.on('select(resume)',function(data){
		var str=data.elem.value.split('-');
		$("#resumeid").val(str[0]);
		$("#resumename").val(str[1]);
	});
});</script>
{yun:}include file="$userstyle/footer.htm"{/yun}