{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
         <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}$config.integral_pricename{/yun}{yun:}t key='wap_com_00304'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
          <div class="job_list_tit"> 
        <ul class="">
	<li ><a href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}{yun:}t key='member_com_00209'{/yun}</a></li>
      <li><a href="index.php?c=integral_reduce">{yun:}t key='wap_user_00252'{/yun}</a></li>
 <li class="job_list_tit_cur"><a href="index.php?c=reward_list">{yun:}$config.integral_pricename{/yun}{yun:}t key='admin_yunying_00117'{/yun}</a></li>
	</ul> 
    </div>
    
    <div class="reward_box">
      {yun:}if $rows{/yun}
   <div class="reward_tit">
   <div class="reward_tit_name reward_spname"><span class="reward_sp_pd">{yun:}t key='member_user_00039'{/yun}</span></div>
   <div class="reward_tit_name reward_spje">{yun:}t key='member_com_00031'{/yun}{yun:}$config.integral_pricename{/yun}   </div>
   <div class="reward_tit_name reward_spsl">{yun:}t key='wap_00404'{/yun}   </div>
    <div class="reward_tit_name reward_sptime">兑换日期  </div>
   <div class="reward_tit_name reward_spzt">{yun:}t key='member_user_00181'{/yun}   </div>
   </div>
     {yun:}foreach from=$rows item=log{/yun}
     
    <div class="reward_list">
   <div class="reward_tit_name reward_spname"><span class="train_bm_sp_pd"><a href="{yun:}url m=redeem c=show id=$log.gid{/yun}" target="_blank" class="reward_a">{yun:}$log.name{/yun}</a></span></div>
   <div class="reward_tit_name reward_spje">{yun:}$log.integral{/yun} </div>
   <div class="reward_tit_name reward_spsl">{yun:}$log.num{/yun} 件   </div>
    <div class="reward_tit_name reward_sptime">{yun:}$log.ctime|date_format:'%Y-%m-%d %H:%M:%S'{/yun}  </div>
   <div class="reward_tit_name reward_spzt">{yun:}if $log.status=="0"{/yun} <span class="wate_verify">{yun:}t key='wap_user_00174'{/yun}</span>
   <a href="javascript:void(0)" onclick="layer_del('确定要取消？', 'index.php?c=reward_list&act=del&id={yun:}$log.id{/yun}');" class="cblue">{yun:}t key='wap_user_00003'{/yun}</a> 
   {yun:}elseif $log.status=="1"{/yun} <span class="y_verify">{yun:}t key='member_user_00042'{/yun}</span> {yun:}elseif $log.status=="2"{/yun} 
   <span class="n_verify">{yun:}t key='wap_user_00167'{/yun}</span>{yun:}if $log.statusbody{/yun}<a href="javascript:void(0)" onclick="layer.open({title:'{yun:}t key='wap_user_00004'{/yun}',content: '{yun:}$log.statusbody{/yun}'});" class="cblue">{yun:}t key='member_user_00043'{/yun}</a>{yun:}/if{/yun} {yun:}/if{/yun}   </div>
                
                <div class="reward_other">{yun:}t key='member_user_00242'{/yun}：{yun:}$log.body{/yun}<span class="reward_tel">{yun:}t key='common.phone'{/yun}：{yun:}$log.linktel{/yun}</span><span class="">{yun:}t key='wap_user_00267'{/yun}：{yun:}$log.linkman{/yun}</span></div>
                {yun:}if $log.express{/yun}
               <div class="reward_other"> 快递公司：{yun:}$log.express{/yun}
                {yun:}/if{/yun}{yun:}if $log.expnum{/yun}
               <span class="reward_tel"> {yun:}t key='common_01957'{/yun}：{yun:}$log.expnum{/yun}</span>
                </div>
                {yun:}/if{/yun}
   </div>
       
           
             {yun:}/foreach{/yun}
           {yun:}if $config.sy_redeem_web==1{/yun}
            <div class="reward_wxts"> 
                <div class="wxts">{yun:}t key='wap_user_00205'{/yun}：</div>
               {yun:}t key='member_user_00040'{/yun} <span style="color:#f60;">{yun:}$num{/yun}</span> 份礼品，还有<span style="color:#f60;">{yun:}$statis.integral{/yun}</span>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}。 <a href="{yun:}url m=redeem{/yun}" class="cblue"  target="_blank" >我要兑换</a><br>
            </div> 
            {yun:}/if{/yun}  
          </div>
            {yun:}else{/yun}
            <div class="msg_no">
            {yun:}if $config.sy_redeem_web==1{/yun}
            您共有<span style="color:#f60;">{yun:}$statis.integral{/yun}</span>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}，还没有兑换记录，<a class="cblue" href="{yun:}url m=redeem{/yun}" target="_blank">现在就去兑换</a>。
            {yun:}/if{/yun} 
            </div>
         {yun:}/if{/yun} 
    
    <div>
      <div id="gms_showclew"></div>
     
          <div class="diggg">{yun:}$pagenav{/yun}</div>
        </div>
      </div> </div>
  
{yun:}include file="$userstyle/footer.htm"{/yun}