{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
            <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='member_user_00287'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
    
    
  <div class="clear"></div>
  <div>
      <div class="passwd_list mt10">
        <ul>
          <li>{yun:}t key='wap_00172'{/yun}
            <input type="text" id="username" name="username" value="" class="pass_text"/>
            &nbsp;&nbsp;<em id="msg_oldpassword">{yun:}t key='member_user_00578'{/yun}</em></li>
          <li>　{yun:}t key='wap_user_00305'{/yun}：
            <input type="password" id="password" name="password" class="pass_text"/>
            &nbsp;&nbsp;<em id="msg_password">{yun:}t key='member_user_00579'{/yun}</em></li>
          <li>{yun:}t key='wap_com_00343'{/yun}：
            <input type="password" id="repassword" name="repassword" class="pass_text"/>
            &nbsp;&nbsp;<em id="msg_repassword">{yun:}t key='member_user_00580'{/yun}</em></li>
          <li>
            <input type="button" name="submit" class="passwd_btn" value=" {yun:}t key='member_user_00288'{/yun} " onclick="Savenamepost();">
          </li>
        </ul>
      </div>
  </div>
</div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}