{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">

		{yun:}include file="$userstyle/left.htm"{/yun}

		   <div class="yun_m_rightbox fltR mt20 re">
    
         <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">{yun:}t key='wap_user_00339'{/yun}</span> <i class="member_right_h1_icon user_bg"></i></div>
         <div class="resume_box_list">
	<div class="resume_Prompt"><i class="resume_Prompt_icon"></i>{yun:}t key='wap_js_00125'{/yun}：账户分离后数据无法恢复，该账号下所有与当前身份相关的数据都将迁入新账户 </div>

<div class="clear"></div>
			 {yun:}if $userStatue || $userStat || $userSta{/yun}
			    <div class="transfer_stepbox">
        <ul class="transfer_stepbox_list">
        <li class="transfer_stepcur"><span class="transfer_stepbox_n">1</span><em class="transfer_stepbox_name">{yun:}t key='wap_00998'{/yun}</em></li>
        <li class="transfer_stepcur"><span class="transfer_stepbox_line"></span></li>
        <li><span class="transfer_stepbox_n">2</span><em class="transfer_stepbox_name">{yun:}t key='wap_00999'{/yun} </em></li>
        <li><span class="transfer_stepbox_line"></span></li>
        <li><span class="transfer_stepbox_n"><i class="transfer_stepbox_cgicon"></i></span><em class="transfer_stepbox_name">{yun:}t key='wap_01000'{/yun}</em></li>
        </ul>
        </div>
        <div class="clear"></div>
        <div class="transfer_textlistbox">
		<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
        <form id="infoform" action="index.php?c=transfer&act=save" name="myform" method="post" target="supportiframe"  autocomplete="off"  class="layui-form" onsubmit="return checkform();">
		<div class="transfer_textlist">
		<span class="transfer_textlist_n"><font color="#f00">*</font>  {yun:}t key='common_02165'{/yun}：</span>
		<div class="transfer_textxz">
		<input   name="bdtype[]"  value="moblie"  type="checkbox" title="{yun:}t key='wap_user_00369'{/yun}" data-tag="{yun:}t key='wap_user_00369'{/yun}" class="changewelfare" >
		<input   name="bdtype[]"  value="email"  type="checkbox" title="{yun:}t key='wap_user_00370'{/yun}" data-tag="{yun:}t key='wap_user_00370'{/yun}" class="changewelfare" >
		<input   name="bdtype[]"  value="wxid"  type="checkbox" title="{yun:}t key='wap_user_00368'{/yun}" data-tag="{yun:}t key='wap_user_00368'{/yun}" class="changewelfare" >
		<input   name="bdtype[]"  value="qqid"  type="checkbox" title="{yun:}t key='wap_js_00065'{/yun}QQ" data-tag="{yun:}t key='wap_js_00065'{/yun}QQ" class="changewelfare" >
		<input   name="bdtype[]"  value="sinaid"  type="checkbox" title="{yun:}t key='wap_01013'{/yun}" data-tag="{yun:}t key='wap_01013'{/yun}" class="changewelfare" >
		</div>
		</div>
		<div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font>  {yun:}t key='member_user_00584'{/yun}</span><input type="password" name="oldpass" value="" class="transfer_text" placeholder="{yun:}t key='wap_01002'{/yun}"></div>

          <div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font> {yun:}t key='member_user_00585'{/yun}</span><input type="text"  name="username" value="" class="transfer_text" placeholder="{yun:}t key='member_user_00588'{/yun}">
          	<div style="padding-top:10px; color:#999; font-size:12px; ">
          	用户名要求长度{yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}{yun:}t key='common_02053'{/yun}
            {yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun}
                ,{yun:}t key='default_00346'{/yun}
                {yun:}if $config.reg_name_han=='1'{/yun}{yun:}t key='wap_user_00345'{/yun} {yun:}/if{/yun}
                {yun:}if $config.reg_name_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}
                {yun:}if $config.reg_name_zm=='1'{/yun}{yun:}t key='common_01973'{/yun} {yun:}/if{/yun}
                {yun:}if $config.reg_name_sp=='1'{/yun}{yun:}t key='common_01697'{/yun}@!#.$-_{yun:}/if{/yun}
            {yun:}/if{/yun}
            </div>
          </div>

           <div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font>{yun:}t key='wap_01005'{/yun}：</span><input type="password" name="password" value="" class="transfer_text" placeholder="{yun:}t key='member_user_00589'{/yun}">
           	{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}
                           
             <div style="padding-top:10px; color:#999; font-size:12px; ">
                    {yun:}t key='default_00345'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='common_01973'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='common_01697'{/yun}@!#.$-_{yun:}/if{/yun}
                </div>
         
            {yun:}/if{/yun}
           </div>

            <div class="transfer_textlist"> <div class="transfer_tip">数据迁移后，可登录新账户，{yun:}t key='member_com_00203'{/yun}、微信等</div>
				<input type="submit" name="submit" value="{yun:}t key='member_user_00590'{/yun}" class="transfer_bth">
            </div>

			</form>
   </div>
			 {yun:}else{/yun}
			 <div class="msg_no">
				 <p>{yun:}t key='wap_01007'{/yun}，目前你的账号只有个人身份，无需账户分离</p>
			 </div>
			 {yun:}/if {/yun}
			<div class="clear"></div>
			
				</div>
			</div>
		</div>

	

 <script>
 
 layui.use(['form','layer'], function(){
	    var $ = layui.$,
			form = layui.form,
			layer = layui.layer;
  	});

	function checkform(){
				

		var oldpass = $("input[name='oldpass']").val();
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();

		if(oldpass == '') {
			layer.msg("{yun:}t key='member_user_00591'{/yun}", 2, 8);return false;

		}
		if(username == '') {
			layer.msg("{yun:}t key='wap_00208'{/yun}", 2, 8);return false;
		}
		if(password == '') {
			layer.msg("{yun:}t key='admin_00245'{/yun}6{yun:}t key='common_02098'{/yun}20位新密码!", 2, 8);return false;

		}else if(password.length<6 || password.length>20 ){
			
			  layer.msg("{yun:}t key='admin_00245'{/yun}6{yun:}t key='common_02098'{/yun}20位新密码!", 2, 8);return false;
		}
		layer.msg("{yun:}t key='member_user_00592'{/yun}", {
		  icon: 16
		  ,shade: 0.5,
		  time: 20000
		});
		return true;
	}
 </script>
{yun:}include file="$userstyle/footer.htm"{/yun}