<div class="tabmenubox01 mt9">
    <ul>
        <li {yun:}if $smarty.get.c=='job'{/yun}class="cur"{yun:}/if{/yun}>
            <a href="index.php?c=job" title="{yun:}t key='wap_com_00106'{/yun}">{yun:}t key='wap_user_00270'{/yun}</a>
        </li>
        <li {yun:}if $smarty.get.c=='favorite'{/yun}class="cur"{yun:}/if{/yun}>
            <a href="index.php?c=favorite">{yun:}t key='wap_user_00269'{/yun}</a>
        </li>
        <li {yun:}if $smarty.get.c=='blacklist'{/yun}class="cur"{yun:}/if{/yun}>
            <a href="index.php?c=blacklist">{yun:}t key='member_user_00593'{/yun}</a>
        </li>
        <li {yun:}if $smarty.get.c=='atn'{/yun}class="cur"{yun:}/if{/yun}>
            <a href="index.php?c=atn">{yun:}t key='wap_01571'{/yun}</a>
        </li>
        
    </ul>
</div>