<link rel="stylesheet" href="{yun:}$wap_style{/yun}/hb/reset.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<section class='zhongxin'>
    <div>
        <ul class="poster-list-a pdb10 overflow ">

            {yun:}foreach from=$imgList item=v key=k{/yun}
            <li class="">
                <div class="hb_listbox">
                    <div class="poster_pic"><img src="{yun:}$v.pic_n{/yun}"></div>
                    <div class="hb_listbox_name" style="background:#fff;">
                        <div class="hb_cz">
                            <a href="javascript:;" onclick="showHbDiv('{yun:}$v.id{/yun}')">{yun:}t key='wap_00071'{/yun}</a>
                            <a href="javascript:;" onclick="downWhb('{yun:}$v.id{/yun}');">{yun:}t key='wap_00070'{/yun}</a>
                        </div>
                    </div>
                </div>
            </li>
            {yun:}/foreach{/yun}
        </ul>
    </div>

</section>

<div id="jobHbBox" style="display: none;"></div>

<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

<script>

    const weburl = '{yun:}$config.sy_weburl{/yun}';
    const id = '{yun:}$job_id{/yun}';
    
    function showHbDiv(hb) {
        
        const url = weburl+'/index.php?m=ajax&c=getJobHb&id=' + id + '&hb=' + hb;

        layer.open({
            type: 1,
            title: false,
            content: '<div class="hb_tc"><img src="'+url+'" style="max-width: 100%;"></div>',
            area: ['360px', 'auto'],
            offset: '35px',
            closeBtn: 0,
            shadeClose: true
        });
    }

    function downWhb(hb) {

        const url = weburl+'/index.php?m=ajax&c=getJobHb&id=' + id + '&hb=' + hb;

        const loading = layer.load("{yun:}t key='wap_00073'{/yun}");

        layer.open({
            type: 1,
            title: false,
            content: '<div class="hb_tc"><img src="'+url+'" style="max-width: 100%;"></div>',
            area: ['360px', 'auto'],
            offset: '35px',
            closeBtn: 0,
            shadeClose: true
        });

        layer.close(loading);

        const loading2 = layer.load("{yun:}t key='wap_00072'{/yun}");

        setTimeout(function () {

            layer.close(loading2);

            const a = document.createElement('a');          // Create download anchor
            const event = new MouseEvent('click');
            a.download = "jobHb'+'_'+ id+'_'+hb;		   // Download filename
            a.href = url;                                 // Blob URL
            a.dispatchEvent(event);

        }, 1000);


    }
</script>

