<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{yun:}$title{/yun}</title>
    <meta name=keywords content="{yun:}$keywords{/yun}"/>
    <meta name=description content="{yun:}$description{/yun}"/>
    <link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}/images/style.css?v={yun:}$config.cachecode{/yun}"/>
</head>
<body>
<div class="header_top">
    <div class="header_cont">
        {yun:}$com.name{/yun}{yun:}t key='common_01796'{/yun}
        <a href="{yun:}$config.sy_weburl{/yun}" class="header_cont_home">{yun:}t key='company_00001'{/yun}</a>
    </div>
</div>
<div class="">
    <div class="header_bg">
        <div class="header_banner">
            <img src="{yun:}if $banner.pic{/yun}{yun:}$banner.pic{/yun}{yun:}else{/yun}{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_banner{/yun}{yun:}/if{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_banner{/yun}',2);">
        </div>
    </div>
    <div class="header_combox">
        <div class="header_combox_cont">
            <div class="header_comlogo">{yun:}if $com.logo{/yun}<img src="{yun:}$com.logo{/yun}" width="90" height="90" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/>{yun:}else{/yun}<img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="185" height="75"/>{yun:}/if{/yun}</div>
            <div class="header_cominfo">
                <div class="header_cominfo_top"><h1 class="header_cominfo_name" style="display:inline-block">
                    {yun:}$com.name{/yun}</h1>
                    <div class="header_combox_rz">
                        {yun:}if $com.email_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="{yun:}t key='wap_01246'{/yun}" title="{yun:}t key='admin_user_00286'{/yun}" class="png"/>
                        {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="{yun:}t key='wap_01246'{/yun}" title="{yun:}t key='wap_01246'{/yun}" class="png"/> {yun:}/if{/yun}
                        {yun:}if $com.moblie_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="{yun:}t key='wap_01245'{/yun}" title="{yun:}t key='member_user_00117'{/yun}" class="png"/>
                        {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="{yun:}t key='wap_01245'{/yun}" title="{yun:}t key='wap_01245'{/yun}" class="png"/> {yun:}/if{/yun}
                        {yun:}if $com.yyzz_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="{yun:}t key='common_02517'{/yun}" title="{yun:}t key='common_02518'{/yun}" class="png"/>
                        {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="{yun:}t key='common_02517'{/yun}" title="{yun:}t key='common_02517'{/yun}" class="png"/> {yun:}/if{/yun}
                    </div>
                    {yun:}if $ComMember.source==6 && $ComMember.claim==0 && $ComMember.email!=""{/yun}
                    <a href="javascript:claim('{yun:}url m=ajax c=claim uid=$com.uid{/yun}');">{yun:}t key='resume_00011'{/yun}</a>
                    {yun:}/if{/yun}
                    <div class="wrap_l_name_p">
                        {yun:}if $usertype=='1'{/yun}
                            {yun:}if $isatn.id{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">{yun:}t key='wap_js_00140'{/yun}</a>
                            {yun:}else{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a> {yun:}/if{/yun}
                        {yun:}else{/yun}
                            {yun:}if $uid{/yun}
                                {yun:}if $config.sy_user_change==1{/yun}
                                    <a href="javascript:void(0);" onclick="layer.msg('{yun:}t key='default_00110'{/yun}', 2, 8)" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                                {yun:}else{/yun}
                                    <a href="javascript:void(0)" onclick="layer.msg('{yun:}t key='wap_00030'{/yun}', 2,8)" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                                {yun:}/if{/yun}
                            {yun:}else{/yun}
                                <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                            {yun:}/if{/yun}
                        {yun:}/if{/yun}
                    </div>
                    
                </div>
                {yun:}if $com.welfare_n{/yun}
                <div class="com_welfare">
                    {yun:}foreach from=$com.welfare_n item=wlist{/yun}
                    <span class="com_welfare_s">{yun:}$wlist{/yun}</span>
                    {yun:}/foreach{/yun}
                </div>
                {yun:}/if{/yun}
            </div>
            <div class="header_comtj">
                <ul class="header_comtj_list">
                    <li title="{yun:}t key='company_00036'{/yun}">
                        <span class="header_comtj_n">{yun:}$num{/yun}{yun:}t key='common_02050'{/yun}</span>
                        <span class="header_comtj_p">{yun:}t key='wap_00185'{/yun}</span>
                        <i class="header_comtj_list_icon"></i>
                    </li>
                    <li title="{yun:}t key='company_00033'{/yun}">
                        <span class="header_comtj_n">{yun:}$pre{/yun}%</span>
                        <span class="header_comtj_p">{yun:}t key='company_00037'{/yun}</span>
                        <i class="header_comtj_list_icon"></i>
                    </li>
                    <li title="{yun:}t key='company_00034'{/yun}">
                        <span class="header_comtj_n">{yun:}$operatime{/yun}</span>
                        <span class="header_comtj_p">{yun:}t key='company_00042'{/yun}</span>
                        <i class="header_comtj_list_icon"></i>
                    </li>
                    <li title="{yun:}t key='company_00038'{/yun}">
                        <span class="header_comtj_n">{yun:}$com.ant_num{/yun}{yun:}t key='common_02051'{/yun}</span>
                        <span class="header_comtj_p">{yun:}t key='company_00044'{/yun}</span>
                        <i class="header_comtj_list_icon"></i>
                    </li>
                    <li title="{yun:}t key='company_00035'{/yun}">
                        <span class="header_comtj_n"><span class="com_show_info_sj_list_n">{yun:}if $com.login_date{/yun}{yun:}$com.login_date|date_format:"%Y-%m-%d"{/yun}{yun:}else{/yun}{yun:}t key='admin_user_00139'{/yun} {yun:}/if{/yun}</span></span>
                        <span class="header_comtj_p">{yun:}t key='company_00039'{/yun}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="com_cont">
    <div class="com_left">
        <div class="com_nav">
            <ul>
                <li class="c_currer"><a href="{yun:}url m=company c=show id=$com.uid{/yun}">{yun:}t key='common.home'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#about">{yun:}t key='wap_00189'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#contact">{yun:}t key='wap_00462'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#job">{yun:}t key='wap_00185'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#show">{yun:}t key='wap_user_00157'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#news">{yun:}t key='company_00019'{/yun}</a><i class="c_currer_line"></i></li>
                <li><a href="#product">{yun:}t key='company_00018'{/yun}</a><i class="c_currer_line"></i></li>
            </ul>
        </div>
        <div class="com_left_pd">
            <div class="com_list">
                <div class="com_tit none" id="companybusiness"><span class="com_tit_s"><i class="com_tit_icon"></i>{yun:}t key='wap_00041'{/yun}</span>
                </div>
                <!----{yun:}t key='admin_tool_00488'{/yun} start---->
                <div class="business none" id="businessInfo">
                    <div class="businessInfo">
                        <ul class="basicMsgList clearfix">
                            <li><div class="clearfix"><span>{yun:}t key='admin_user_company_00063'{/yun}：</span><em id="creditCode"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00034'{/yun}</span><em id="estiblishTime"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00033'{/yun}</span><em id="orgNumber"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00037'{/yun}</span><em id="Time"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00087'{/yun}：</span><em id="companyOrgType"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00036'{/yun}</span><em id="regInstitute"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00038'{/yun}</span><em id="regStatus"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_00035'{/yun}</span><em id="regCapital"></em></div></li>
                        </ul>
                        <dl class="basicMsgList">
                            <dt>{yun:}t key='wap_01574'{/yun}</dt>
                            <dd id="regLocation"></dd>
                        </dl>
                        <dl class="basicMsgList mt20">
                            <dt>{yun:}t key='wap_00039'{/yun}</dt>
                            <dd id="businessScope"></dd>
                        </dl>
                        <div class="qxb clearfix">
                            <div class="qxb_tg"><span>{yun:}t key='common_02513'{/yun}</span>
                                <div class="hxb"><a href="" class="tianyancha" id="tianyancha" target='_blank'></a></div>
                                <span>{yun:}t key='company_00022'{/yun}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!----{yun:}t key='admin_tool_00488'{/yun} end---->
                <div class="com_list">

                    <div class="clear"></div>

                    <div class="com_tit" id="about"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconabout"></i>{yun:}t key='wap_00189'{/yun}</span></div>
                    <div class="com_about">
                        {yun:}if $com.content{/yun}
                        <div style="width:100%;height:auto; overflow:hidden" id="com_content" class="company_img_auto">{yun:}$com.content{/yun}</div>
                        <div class="company_show_more none"><a href="javascript:;" onclick="showcc()">{yun:}t key='common.view_more'{/yun}</a></div>
                        {yun:}else{/yun}
                        <div class="com_msg_no">{yun:}t key='wap_00028'{/yun}</div>
                        {yun:}/if{/yun}
                    </div>
                </div>
                <div class="c_content_recru">
                    <div class="com_tit" id="job"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconjob"></i>{yun:}t key='wap_00185'{/yun}</span></div>
                    {yun:}if $departmentNames{/yun}
                    <div class="department_box">
                        <span class="department_box_tit">{yun:}t key='company_00017'{/yun}</span>
                        <a href="javascript:void(0)" class="department_a department_a_cur" data-uid="{yun:}$smarty.get.id{/yun}" data-style="{yun:}$smarty.get.style{/yun}">{yun:}t key='common.all'{/yun}</a>
                        {yun:}foreach from=$departmentNames key=j item=v{/yun}
                        <a href="javascript:void(0)" class="department_a" data-name="{yun:}$v{/yun}" data-uid="{yun:}$smarty.get.id{/yun}" data-style="{yun:}$smarty.get.style{/yun}">{yun:}$v{/yun}</a>
                        {yun:}/foreach{/yun}
                    </div>
                    {yun:}/if{/yun}
                    <!-- {yun:}t key='default_00236'{/yun} start-->
                    <div class="comshow_job" id="company_job_list">
                        {yun:}if $num=='0'{/yun}
                        <div class="firm_tips_no"> {yun:}t key='wap_00027'{/yun}</div>
                        {yun:}else{/yun}
                        {yun:}joblist ispage=1 limit=5 item=jlist com_id='auto.id' depower='all'{/yun}
                        <div class="firm_post">
                            <div class="fpc_name"><a href="{yun:}url m=job c=comapply id=$jlist.id{/yun}" target="_blank">{yun:}$jlist.name{/yun}</a></div>
                            <div class="firm_post_joblist">
                                {yun:}if $jlist.job_salary{/yun}<span class="comshow_job_xz"><i>{yun:}$jlist.job_salary{/yun}</i></span>{yun:}/if{/yun}
                                {yun:}if $jlist.job_city_two{/yun}<span class="comshow_job_city">{yun:}$jlist.job_city_two{/yun}</span>{yun:}/if{/yun}
                                {yun:}if $jlist.job_exp{/yun}<span class="comshow_job_jy">{yun:}$jlist.job_exp{/yun}{yun:}t key='home.experience_suffix'{/yun}</span>{yun:}/if{/yun}
                                {yun:}if $jlist.job_edu{/yun}<span class="comshow_job_xl">{yun:}$jlist.job_edu{/yun}{yun:}t key='home.education_suffix'{/yun}</span>{yun:}/if{/yun}
                            </div>
                            {yun:}if $jlist.lastupdate{/yun}
                            <div class="firm_post_jobtime">{yun:}t key='wap_00326'{/yun}：{yun:}$jlist.lastupdate|date_format:"%Y-%m-%d"{/yun}</div>
                            {yun:}/if{/yun}
                            <a href="{yun:}url m=job c=comapply id=$jlist.id{/yun}" class="firm_post_jobbth">{yun:}t key='company_00020'{/yun}</a>
                        </div>
                        {yun:}/joblist{/yun}
                        {yun:}if $pagenav{/yun}
                        <div class="pages" style="margin-top:20px">
                            <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','1','5','1');">{yun:}t key='default_00326'{/yun}</a>
                            {yun:}foreach from=$pgarr item=v key=k{/yun}
                            {yun:}if $k==0{/yun}
                            <a href="javascript:void(0);" class="selected" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}$v-1{/yun}',5,'{yun:}$v{/yun}')">{yun:}$v{/yun}</a>
                            {yun:}else{/yun}
                            <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}$v-1{/yun}',5,'{yun:}$v{/yun}')">{yun:}$v{/yun}</a>
                            {yun:}/if{/yun}
                            {yun:}/foreach{/yun}
                            <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','1','5','2');">{yun:}t key='default_00327'{/yun}</a>
                            <a href="javascript:void(0);">{yun:}t key='common_01915'{/yun} {yun:}$pages{/yun}</a>
                        </div>
                        {yun:}/if{/yun}
                        {yun:}/if{/yun}
                    </div>
                    <!-- {yun:}t key='default_00236'{/yun} end-->
                </div>

                <div class="clear"></div>
                <div class="c_content_envir" id="show">
                    <div class="com_tit"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconhj"></i>{yun:}t key='wap_user_00157'{/yun}</span></div>
                    {yun:}if !empty($shows){/yun}
                    <div class="c_envir_pic">
                        <ul id="layer-pic">
                            {yun:}foreach from=$shows key=key item=row{/yun}
                            <li style="padding-right:8px; padding-left:8px;"><a href="javascript:void(0);"><img src="{yun:}$row.picurl{/yun}" lay-src='{yun:}$row.picurl{/yun}' width="180" height="127" alt="{yun:}$row.title{/yun}"/></a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                    {yun:}else{/yun}
                    <div class="com_msg_no">{yun:}t key='company_00041'{/yun}</div>
                    {yun:}/if{/yun}
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
                <div class="com_tit" id="news"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconnews"></i>{yun:}t key='company_00019'{/yun}</span></div>
                {yun:}if !empty($NewsList){/yun}
                <div class="com_news">
                    <ul class="">
                        {yun:}foreach from=$NewsList item=row{/yun}
                        <li><p><a href="{yun:}url m=company c=newsshow id=$com.uid nid=$row.id style=$smarty.get.style{/yun}" target="_blank">{yun:}$row.title{/yun}</a></p></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                {yun:}else{/yun}
                <div class="com_msg_no">{yun:}t key='company_00040'{/yun}</div>
                {yun:}/if{/yun}

                <div class="clear"></div>
                <div class="com_tit" id="product"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconcp"></i>{yun:}t key='company_00018'{/yun}</span></div>
                {yun:}if !empty($ProductList){/yun}
                <div class="com_cp_list">
                    {yun:}foreach from=$ProductList item=row{/yun}
                    <dl>
                        <dt><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}"><img src="{yun:}formatpicurl path=$row.pic{/yun}" width="210" height="140"/></a></dt>
                        <dd><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}">{yun:}$row.title{/yun}</a></dd>
                    </dl>
                    {yun:}/foreach{/yun}
                </div>
                {yun:}else{/yun}
                <div class="com_msg_no">{yun:}t key='common_02525'{/yun}</div>
                {yun:}/if{/yun}
            </div>

            <div class="clear"></div>

            <div class="maincenters companysearch_menuBoxs">
                <div id="sortBoxs">
                    <div class="com_lb_tit">
                        <ul>
                            <li class="search_curs" id="typezb" onmousemove="searchtype('zb');">{yun:}t key='default_00231'{/yun}</li>
                            <li id="typezp" onmousemove="searchtype('zp');">{yun:}t key='default_00232'{/yun}</li>
                            <li id="typerm" onmousemove="searchtype('rm');">{yun:}t key='wap_00385'{/yun}</li>
                        </ul>
                    </div>
                    <div class="com_lb_box">
                        <!-- {yun:}t key='default_00231'{/yun} start-->
                        <div class="contentBox_conts " id="type_zb">
                            <div class="Industry_lists">
                                {yun:}if $city.three_cityid{/yun}
                                {yun:}foreach item=v from=$city_type[$city.cityid]{/yun}
                                <a href="{yun:}listurl provinceid=$city.provinceid cityid=$city.cityid type=three_cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                {yun:}/foreach{/yun}
                                {yun:}elseif $city.cityid{/yun}
                                {yun:}foreach item=v from=$city_type[$city.provinceid]{/yun}
                                <a href="{yun:}listurl provinceid=$city.provinceid type=cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                {yun:}/foreach{/yun}
                                {yun:}else{/yun}
                                {yun:}foreach item=v from=$city_index{/yun}
                                <a href="{yun:}listurl type=provinceid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                {yun:}/foreach{/yun}
                                {yun:}/if{/yun}
                            </div>
                        </div>
                        <!-- {yun:}t key='default_00231'{/yun} end-->
                        <!-- {yun:}t key='default_00232'{/yun} start-->
                        <div class="contentBox_conts none" id="type_zp">
                            <div class="Industry_lists">
                                {yun:}foreach item=v from=$industry_index{/yun}
                                <a href="{yun:}listurl type=hy v=$v{/yun}">{yun:}$industry_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                {yun:}/foreach{/yun}
                            </div>
                        </div>
                        <!-- {yun:}t key='default_00232'{/yun} end-->
                        <!-- {yun:}t key='wap_00385'{/yun} start-->
                        <div class="contentBox_conts none" id="type_rm">
                            <div class="Industry_lists">
                                {yun:}key limit=20 recom=1 type=3 item=keylist{/yun}
                                <a href="{yun:}$keylist.url{/yun}">{yun:}$keylist.key_name{/yun}</a>
                                {yun:}/key{/yun}
                            </div>
                        </div>
                        <!-- {yun:}t key='wap_00385'{/yun} end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="com_right">
        <div class="com_right_box">
            <div class="com_tit">{yun:}t key='wap_00456'{/yun}</div>
            <div class="c_nr_hybox">
                <div class="c_nr_hy"><em>{yun:}t key='admin_user_company_00373'{/yun}</em><span>{yun:}$com.hy_info{/yun}</span></div>
                <div class="c_nr_hy"><em>{yun:}t key='default_00281'{/yun}</em><span>{yun:}$com.pr_info{/yun}</span></div>
                <div class="c_nr_hy"><em>{yun:}t key='company_00024'{/yun}</em><span>{yun:}$com.mun_info{/yun}</span></div>
                <div class="c_nr_hy"><em>{yun:}t key='default_00280'{/yun}</em><span>{yun:}$com.provinceid{/yun}</span></div>
                {yun:}if $com.money{/yun}<div class="c_nr_hy"><em>{yun:}t key='company_00023'{/yun}</em>{yun:}$com.money{/yun}{yun:}if $com.moneytype==1{/yun}{yun:}t key='wap_js_00004'{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00002'{/yun}{yun:}/if{/yun}</div>{yun:}/if{/yun}
                {yun:}if $com.sdate{/yun}<div class="c_nr_hy"><em>{yun:}t key='company_00021'{/yun}</em>{yun:}$com.sdate{/yun}</div>{yun:}/if{/yun}
            </div>
            <div class="com_tit" id="contact" data-slide='2'>{yun:}t key='wap_00462'{/yun}</div>
            {yun:}if $config.com_link_look == 1{/yun}
            <!--{yun:}t key='admin_user_company_00296'{/yun}-->
            {yun:}if $link.errorcode=="9"{/yun}
            <div class="firm_det_link">
                {yun:}if $com.linkman{/yun}<span class="firm_mes1">联 &nbsp;系&nbsp;{yun:}t key='common_02051'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkman{/yun}</em> </i></span>{yun:}/if{/yun}
                {yun:}if $com.linkjob{/yun}<span class="firm_mes1">{yun:}t key='common_01637'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkjob{/yun}</em> </i></span>{yun:}/if{/yun}
                {yun:}if $com.linkphone{/yun} <span class="firm_mes1">{yun:}t key='wap_com_00014'{/yun}：<i>{yun:}$com.linkphone{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.linktel{/yun} <span class="firm_mes1">{yun:}t key='wap_user_00265'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linktel{/yun}</em> </i></span>{yun:}/if{/yun}
                {yun:}if $com.linkmail{/yun} <span class="firm_mes1">{yun:}t key='company_00015'{/yun}<i>{yun:}$com.linkmail{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.linkqq{/yun} <span class="firm_mes1">{yun:}t key='company_00011'{/yun}<i>{yun:}$com.linkqq{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.zip{/yun} <span class="firm_mes1">{yun:}t key='company_00016'{/yun}<i>{yun:}$com.zip{/yun}</i></span> {yun:}/if{/yun}
                {yun:}if $com.website{/yun} <span class="firm_mes1">{yun:}t key='wap_com_00162'{/yun}：<i>{yun:}$com.website{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.busstops{/yun} <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_com_00166'{/yun}：<i>{yun:}$com.busstops{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.address{/yun} <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_00040'{/yun}：<i>{yun:}$com.address{/yun}</i></span>{yun:}/if{/yun}
                {yun:}if $com.comqcode{/yun}
                <div class="com_wx">
                    <img src="{yun:}$com.comqcode{/yun}" width="120" height="120">
                    <div class="">{yun:}t key='company_00043'{/yun}</div>
                </div>
                {yun:}/if{/yun}
            </div>
            {yun:}else{/yun}
            {yun:}if $link.errorcode==1 || $link.errorcode==2 || $link.errorcode==6 || $link.errorcode==5{/yun}
            <div class="firm_login">
                <div class="firm_login_con"><span>{yun:}$link.msg{/yun}</span></div>
            </div>
            {yun:}elseif $link.errorcode=="4"{/yun}
            <div class="firm_login">
                <div class="firm_login_con"><span>{yun:}$link.msg{/yun}</span>
                    <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&act=add" class="firm_login_zc">{yun:}t key='wap_user_00197'{/yun}</a>
                </div>
            </div>
            {yun:}elseif $link.errorcode=="3"{/yun}
            <div class="firm_login">
                <div class="firm_login_con">
                    <div><span>{yun:}$link.msg{/yun}</span></div>{yun:}t key='company_00045'{/yun} <a class="firm_login_dl" href="javascript:void(0);" onclick="showlogin('1');">{yun:}t key='common.login'{/yun}</a> or <a class="firm_login_zc" href="{yun:}url m=register{/yun}">{yun:}t key='common.register'{/yun}</a>
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $com.address{/yun}
            <div class="firm_det_link" style="padding:0px 0;">
                <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_00040'{/yun}：<i>{yun:}$com.address{/yun}</i></span>
            </div>
            {yun:}/if{/yun}
            {yun:}/if{/yun}
            {yun:}elseif $config.com_link_look == 2 && ($com.linkphone || $com.linktel){/yun}
            <!--扫码查看联系方式-->
            <div class="firm_login">
                <div class="firm_login_con"><span>{yun:}t key='common_02477'{/yun}</span>
                    <a href="javascript:void(0)" onclick="wxscanshowtel('{yun:}$com.uid{/yun}')" class="firm_login_zc">{yun:}t key='common_02514'{/yun}</a>
                </div>
            </div>
            {yun:}/if{/yun}
        </div>
        <div class="clear"></div>
        <div class="com_right_box">
            <div class="com_tit">{yun:}t key='wap_00195'{/yun}</div>
            <div class="clear"></div>
            <div class="wx_share_fx">
                <div class="wx_share_fx_img">
                    
                    <img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="120" height="120">
                    
                </div>
                <div class="wx_share_fx_p">{yun:}t key='wap_00195'{/yun}</div>
            </div>
        </div>
    </div>
</div>
<!--内容结束-->
<div class="clear"></div>
<div id="telQrcodeBox" class="none">
    <div class="job_tel_wx_box">
        <div id="tel_wxqrcode" class="job_tel_wx_zs">{yun:}t key='wap_00031'{/yun}</div>
        <div class="job_tel_wx_p"><span class="job_tel_wx_bth">{yun:}t key='default_00220'{/yun}</span></div>
    </div>
</div>
<script>
    var weburl = "{yun:}$config.sy_weburl{/yun}", integral_pricename = '{yun:}$config.integral_pricename{/yun}',
        pricename = '{yun:}$config.integral_pricename{/yun}', code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}';
</script>
{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/ScrollPic.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer,
            $ = layui.$;
        layer.photos({
            photos: '#layer-pic',
            anim: 5
        });
    });
    <!--//--><![CDATA[//><!--
    var li_num = $("#layer-pic li").length;
    if (li_num > 3) {//如果图片数量不足，就不执行切换
        var scrollPic_02 = new ScrollPic();
        scrollPic_02.scrollContId = "layer-pic"; //内容容器ID
        scrollPic_02.arrLeftId = "LeftArr";//左箭头ID
        scrollPic_02.arrRightId = "RightArr"; //右箭头ID
        scrollPic_02.frameWidth = 710;//显示框宽度
        scrollPic_02.pageWidth = 196; //翻页宽度
        scrollPic_02.speed = 10; //移动速度(单位毫秒，越小越快)
        scrollPic_02.space = 10; //每次移动像素(单位px，越大越快)
        scrollPic_02.autoPlay = true; //自动播放
        scrollPic_02.autoPlayTime = 2; //自动播放间隔时间(秒)
        scrollPic_02.initialize(); //初始化
    }
    //--><!]]>
    $(function () {
        tianyancha('{yun:}url m=ajax c=getbusiness{/yun}', '{yun:}$com.name{/yun}');
        $('.c_top_daoh li').click(function () {
            $(this).addClass('c_currer').siblings().removeClass('c_currer');
        });
        $(".c_recru_list").find("li").hover(function () {
            var aid = $(this).attr("aid");
            $("#y" + aid).addClass("c_list_curre");
        }, function () {
            var aid = $(this).attr("aid");
            $("#y" + aid).removeClass("c_list_curre");
        });

        $.post('{yun:}url m=ajax c=getbusiness{/yun}', {name: '{yun:}$com.name{/yun}'}, function (data) {
            if (data) {
                var business = eval('(' + data + ')');
                $('#creditCode').html(business.creditCode);
                $('#estiblishTime').html(business.estiblishTime);
                $('#orgNumber').html(business.orgNumber);
                $('#Time').html(business.fromTime + "{yun:}t key='common_02098'{/yun}" + business.toTime);
                $('#companyOrgType').html(business.companyOrgType);
                $('#regInstitute').html(business.regInstitute);
                $('#regStatus').html(business.regStatus);
                $('#regLocation').html(business.regLocation);
                $('#regCapital').html(business.regCapital);
                $('#businessScope').html(business.businessScope);
                $('#tianyancha').attr('href', 'https://www.tianyancha.com/company/' + business.companyId);
                $('#businessInfo').show();
            }
        })
        var cheight = $("#com_content").height();
        if (parseInt(cheight) > 270) {
            $("#com_content").attr('style', 'width:100%;height:270px; overflow:hidden');
            $(".company_show_more").show();
        }
    });

    function showcc() {
        $("#com_content").attr('style', 'width:100%;height:auto; overflow:hidden');
        $(".company_show_more").find('a').html("{yun:}t key='wap_00146'{/yun}");
        $(".company_show_more").find('a').attr('onclick', 'hidecc()');
    }

    function hidecc() {
        $("#com_content").attr('style', 'width:100%;height:270px; overflow:hidden');
        $(".company_show_more").find('a').html("{yun:}t key='common.view_more'{/yun}");
        $(".company_show_more").find('a').attr('onclick', 'showcc()');
    }

    function page(id, page, limit, updown) {
        if (page < 1) {
            page = 1;
        }
        loadlayer();
        $.ajax({
            type: "POST",
            global: false,
            url: "{yun:}url m=company c=prestr{/yun}",
            data: {
                id: id,
                page: page,
                limit: limit,
                updown: updown,
                style: 1
            },
            success: function (data) {
                layer.closeAll('loading');
                var data = eval("(" + data + ")");
                if (data.num < 0) {
                    var $html = '<div class="firm_tips_no"> {yun:}t key='wap_00027'{/yun}</div>'
                } else {
                    var $html = data.joblist;
                }
                $("#company_job_list").html($html);
            }
        });
    }

    function searchtype(id) {
        $(".search_curs").removeClass("search_curs");
        $("#type" + id).addClass("search_curs");
        $(".contentBox_conts").hide();
        $("#type_" + id).show();
    }

    $(document).ready(function () {
        $(".department_a").click(function () {
            $(".department_a").removeClass('department_a_cur');
            $(this).addClass('department_a_cur');
            var departmentName = $(this).attr('data-name');
            var comuid = $(this).attr('data-uid');
            var style = $(this).attr('data-style');
            var html = '';
            if (departmentName) {
                $.ajax({
                    url: "{yun:}url m=company c=departmentjob{/yun}",
                    data: {comuid: comuid, departmentName: departmentName, style: style},
                    type: 'POST',
                    success: function (data) {
                        $('#company_job_list').html(data);
                    }
                });
            } else {
                page(comuid, 1, 5, 1);
            }
        });
    });

    function departmentjobpage(comuid, departmentName, style, page, limit, updown) {
        var html = '';
        $.ajax({
            url: "{yun:}url m=company c=departmentjob{/yun}",
            data: {
                comuid: comuid,
                departmentName: departmentName,
                style: style,
                page: page,
                limit: limit,
                updown: updown
            },
            type: 'POST',
            success: function (data) {
                $('#company_job_list').html(data);
            }
        });
    }

    function wxscanshowtel(id) {
        $('#tel_wxqrcode').html('<img src="index.php?c=telQrcode&id=' + id + '" width="120" height="120">');
        $.layer({
            type: 1,
            title: "{yun:}t key='common_02477'{/yun}",
            closeBtn: [0, true],
            offset: ['100px', ''],
            border: [10, 0.3, '#000', true],
            area: ['300px', '320px'],
            page: {
                dom: "#telQrcodeBox"
            }
        });
    }
</script>


{yun:}include file="$tplstyle/public_search/login.htm"{/yun}
{yun:}include file="$tplstyle/footer.htm"{/yun} 