<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}" />
<meta name="description" content="{yun:}$description{/yun}" />
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<link rel="stylesheet" href="{yun:}$com_style{/yun}/images/comapply.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
</head>
<body class="companyshowbg">
{yun:}include file="$tplstyle/header.htm"{/yun}
    <div class="clear"></div>
    <div class="com_details_top">
	<div class="w1200">
	
<div class="com_details_current">{yun:}t key='common_01498'{/yun}：<a href="{yun:}$config.sy_weburl{/yun}">{yun:}t key='common.home'{/yun}</a> > <a href="{yun:}url m=company{/yun}">{yun:}t key='default_company_index_00004'{/yun}</a> > <span><a href="{yun:}url m=company c=show id=$com.uid{/yun}">{yun:}t key='wap_company_show_00004'{/yun}</a> </span></div>
	<div class="com_details_top_c">
	 {yun:}if $com.hotlogo==1 {/yun}
			<span class="com_details_name_mq" title="{yun:}t key='wap_joblist_vue_00001'{/yun}"> </span>
		{yun:}/if{/yun}
	<div class="com_details_info_box">
	<div class="com_details_logo"><a href="{yun:}url m=company c=show id=$com.uid{/yun}"><img src="{yun:}$com.logo{/yun}" width="140" height="140" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" alt="{yun:}$com.name{/yun}" /></a></div>

	<h1 class="com_details_name"><a href="{yun:}url m=company c=show id=$com.uid{/yun}">{yun:}$com.name|mb_substr:0:30:'utf-8'{/yun} </a> 
		{yun:}if $comrat.com_pic!="0" && $comrat.com_pic!=""{/yun}
			<img src="{yun:}$comrat.com_pic{/yun}" width="18" height="18" title="{yun:}t key='admin_user_company_component_addhotjob_00003'{/yun}" /> 
		{yun:}/if{/yun}    
        
       
        {yun:}if $com.yyzz_status==1{/yun}<i class="job_details_cominfo_rz job_details_cominfo_rz_zz" title="执照认证"></i> {yun:}/if{/yun}
        {yun:}if $com.moblie_status==1{/yun}<i class="job_details_cominfo_rz job_details_cominfo_rz_sj" title="{yun:}t key='member_com_binding_00012'{/yun}"></i>{yun:}/if{/yun}
        {yun:}if $com.email_status==1{/yun}<i class="job_details_cominfo_rz job_details_cominfo_rz_yx" title="{yun:}t key='wap_com_integral_00007'{/yun}"></i>{yun:}/if{/yun}
                
	</h1>
	<div class="com_details_info">
		{yun:}if $com.provinceid{/yun}
			{yun:}$com.provinceid{/yun}
				{yun:}if $com.cityid{/yun} - {yun:}$com.cityid{/yun}{yun:}/if{/yun}
		{yun:}/if{/yun} 
		{yun:}if $com.hy_info{/yun}
			<span class="com_details_line">|</span>{yun:}$com.hy_info{/yun}
		{yun:}/if{/yun} 
		
		
		
		{yun:}if $com.pr_info{/yun}
			<span class="com_details_line">|</span>{yun:}$com.pr_info{/yun} 
		{yun:}/if{/yun} 
		
		{yun:}if $com.mun_info{/yun}
			<span class="com_details_line">|</span>{yun:}$com.mun_info{/yun} 
		{yun:}/if{/yun} 
		
		{yun:}if $com.money{/yun}
			<span class="com_details_line">|</span>{yun:}t key='company_green_index_00013'{/yun}{yun:}$com.money{/yun}
				{yun:}if $com.moneytype==1{/yun}{yun:}t key='wap_js_member_caregory_00004'{/yun}{yun:}else{/yun}{yun:}t key='wap_js_member_caregory_00002'{/yun}{yun:}/if{/yun} 
		{yun:}/if{/yun} 
		
		{yun:}if $com.sdate{/yun}
			<span class="com_details_line">|</span>{yun:}$com.sdate{/yun}{yun:}t key='company_green_index_00011'{/yun}
		{yun:}/if{/yun}</div> 

		<div class="com_details_data_box" >
		<div class="com_details_data_box_c" >
		<div class="com_details_data"><div class="com_details_data_n">{yun:}$num{/yun}</div><div class="com_details_dataname">{yun:}t key='wap_company_show_00006'{/yun}</div><i class="com_details_data_line"></i></div>
		<div class="com_details_data"><div class="com_details_data_n">{yun:}$invite_resume{/yun}</div><div class="com_details_dataname">{yun:}t key='company_default_index_00007'{/yun}</div><i class="com_details_data_line"></i></div>
		<div class="com_details_data"><div class="com_details_data_n">{yun:}$pre{/yun}%</div><div class="com_details_dataname"> {yun:}t key='company_default_index_00004'{/yun}</div><i class="com_details_data_line"></i></div>

		<div class="com_details_data"><div class="com_details_data_n">{yun:}if $com.login_date{/yun}
									{yun:}$com.login_date|date_format:"%Y-%m-%d"{/yun}
								{yun:}else{/yun}
									{yun:}t key='admin_user_member_component_alluser_00025'{/yun} 
								{yun:}/if{/yun}</div><div class="com_details_dataname"> 最近登录时间</div></div>

		</div>
		</div>
		</div>
		<div class="com_details_opt">
		<div class="com_details_opt_fxbox">
			{yun:}if $usertype=='1'{/yun} 
						{yun:}if $isatn.id{/yun}
							<a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="com_details_opt_gz company_att">{yun:}t key='wap_js_public_00003'{/yun}</a>
						{yun:}else{/yun}
							<a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="com_details_opt_gz">{yun:}t key='common_01949'{/yun}</a>
						{yun:}/if{/yun} 
					{yun:}else{/yun} 
						{yun:}if $uid{/yun}
							<a href="javascript:void(0)" onclick="layer.msg('{yun:}t key='wap_company_show_dark_00005'{/yun}', 2, 8)" class="com_details_opt_gz">+ {yun:}t key='common_01949'{/yun}</a>
                        {yun:}else{/yun}
							<a href="javascript:void(0)" onclick="showlogin('1');" class="com_details_opt_gz">+ {yun:}t key='common_01949'{/yun}</a>
                        {yun:}/if{/yun}
					{yun:}/if{/yun} 
                    </div>
		<div class="com_details_opt_fxbox"><a href="javascript:void(0);" onmousemove="$('#getwapurl').show();" onmouseout="$('#getwapurl').hide();" rel="nofollow"  class="com_details_opt_fx">{yun:}t key='wap_evaluategradeshow_00001'{/yun}</a>     <div class="comapply_sq_r_cy none" id="getwapurl">
              <div class="comapply_sq_r_cont"> 
                <div class="comapply_sq_r_tipa"> {yun:}t key='default_job_search_00003'{/yun}：{yun:}t key='wap_com_job_00055'{/yun}</div>
                <img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="130" height="130" />
                <div class="comapply_sq_r_tipsm"> ↑{yun:}t key='default_job_comapply_00021'{/yun}↑<br>
                  {yun:}t key='company_default_index_00001'{/yun}</div>
              </div>
            </div> </div>
			 
		</div>

				
		</div>
		</div>
		</div>



        <div class="clear"></div>
    
    
	<div class="w1200">
    <div class="com_details_left"> 
    

     <div class="com_show_leftbox" style="min-height:1000px">
    <div class="com_details_tit"><span class="com_details_tit_s">{yun:}t key='company_default_newsshow_00001'{/yun}</span><i class="com_details_tit_line yun_bg_color"></i></div>
   <div style="width:100%; padding:20px 0; text-align:center; font-size:18px;">    {yun:}$NewsInfo.title{/yun}</div>
				<div class="firm_det_con company_img_auto"> {yun:}$NewsInfo.body{/yun} </div>
			</div>		
                
     


    </div>
      <div class="com_details_right">
      <div class="com_details_rightbox">
      <div class="com_details_tit"><span class="com_details_tit_s">{yun:}t key='wap_company_show_dark_00015'{/yun}</span><i class="com_details_tit_line yun_bg_color"></i></div>

						{yun:}if $com.address{/yun}
						<div class="com_details_tel_me">
							<div class="">{yun:}t key='wap_js_umeditor_lang_zh_cn_zh_cn_00014'{/yun}：{yun:}$com.address{/yun}</div>
						</div>
						{yun:}/if{/yun}


        {yun:}if $com.x!='' && $com.y!='' && $config.map_key{/yun}
         
                    <div class="com_show_lmap">
                        <div class="frc_map" id="company_baidu_map">
							<script type="text/javascript">
								window._AMapSecurityConfig = {
									securityJsCode:'{yun:}$config.map_secret{/yun}'
								}
							</script>
							<script type="text/javascript" src="{yun:}$config.mapurl{/yun}" charset="utf-8"></script>
							<script src="{yun:}$config.sy_weburl{/yun}/js/map.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
                            <div id="maps_container" style="width:245px;height:205px;"></div>
                            <input type="hidden" id="map_x" value="{yun:}$com.x{/yun}" />
                            <input type="hidden" id="map_y" value="{yun:}$com.y{/yun}" />
                        </div>
                        <div class="frc_map_look">
                            <a href="javascript:showmap('map_show','{yun:}$com.x{/yun}', '{yun:}$com.y{/yun}', '{yun:}$com.name{/yun}', '{yun:}$com.address{/yun}');">{yun:}t key='company_default_index_00003'{/yun}</a>
                        </div>
                    </div>
              
			{yun:}/if{/yun}
    </div>
   
            
{yun:}if !empty($NewsList){/yun}
 <div class="com_details_rightbox">
 <div class="com_details_tit"><span class="com_details_tit_s">{yun:}t key='company_green_index_00009'{/yun}</span><i class="com_details_tit_line yun_bg_color"></i></div>

               

                    <ul class="com_show_news">
                        {yun:}foreach from=$NewsList item=row{/yun}
							<li>
								<p>
									<a href="{yun:}url m=company c=newsshow id=$com.uid nid=$row.id{/yun}" target="_blank">{yun:}$row.title{/yun}</a>
								</p>
							</li>
                        {yun:}/foreach{/yun}
                    </ul>
      </div>         
			{yun:}/if{/yun}
      
    </div>
 </div>  
   	<div id="map_show"style="display:none;">
	  <div class="map_query_box">
	    <div id="map_container" style="width:1100px;height:450px;"></div>
	    <div class="map_query" id="map_search">
	      <div class="map_query_tit">{yun:}t key='default_job_comapply_00038'{/yun} <span class="map_query_tit_s">{yun:}t key='default_job_comapply_00007'{/yun}</span></div>
	      <div class="map_query_list"><span class="map_query_list_s">{yun:}t key='default_job_comapply_00046'{/yun}</span><i class="map_query_list_line"></i>
	        <input type="text" class="map_startlist map_query_text" placeholder="{yun:}t key='default_job_comapply_00041'{/yun}" id="map_start" name="map_start" />
	      </div>
	      <div class="map_query_list"> <span class="map_query_list_s">{yun:}t key='default_job_comapply_00045'{/yun}</span><i class="map_query_list_line"></i> {yun:}if $com.x{/yun}
	        <input type="text" class="map_startend map_query_text" id="map_end" name="map_end" />
	        {yun:}else{/yun}
	        <input type="text" class="map_startend map_query_text" placeholder="{yun:}t key='default_job_comapply_00040'{/yun}" value="{yun:}$Info.address{/yun}" id="map_end" name="map_end" />
	        {yun:}/if{/yun} </div>
	      <div class="map_query_bth_box">
	        <input type="button" class="mapsubmit map_query_bth " value="{yun:}t key='default_job_comapply_00032'{/yun}" name="submit" onclick="bus_query('map_container', '{yun:}$com.x{/yun}', '{yun:}$com.y{/yun}');" />
	        <span>
	        <input type="button" class="mapsubmit map_query_bth map_query_bth_car" value="{yun:}t key='default_job_comapply_00042'{/yun}"  name="submit" onclick="map_drving('map_container', '{yun:}$com.x{/yun}', '{yun:}$com.y{/yun}');"/>
	        </span></div>
	    </div>
	    <div class="map_query_result">
	      <div id="panel"></div>
	    </div>
	  </div>
	</div>


<div class="clear"></div>

{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->

<script>
$(function () {
    {yun:}if $com.y!='' && $com.x!=''&& $config.map_key{/yun}
	getmapnoshowcont_diffDomains('maps_container', "{yun:}$com.x{/yun}", "{yun:}$com.y{/yun}", "map_x", "map_y",'company_baidu_map');
	{yun:}/if{/yun}
	$(".firm_post").hover(function () {
		$(this).find(".firm_post_right").show();
	}, function () {;
		$(this).find(".firm_post_right").hide();
	});
   
});
</script>

{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 
{yun:}include file="$tplstyle/footer.htm"{/yun}