{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<style>body{ background:#fff}</style>
<div class="">
	<div class="fk_box_lx">
	<div class="fk_box_tit">{yun:}t key='wap_00107'{/yun}</div>
        <span class="advice_list_fs" data-code="1">{yun:}t key='common_01983'{/yun}</span> 
		<span class="advice_list_fs" data-code="2">{yun:}t key='wap_00111'{/yun}</span>
		<span class="advice_list_fs" data-code="3">{yun:}t key='wap_00113'{/yun}</span> 
		<span class="advice_list_fs" data-code="4">{yun:}t key='wap_00112'{/yun}</span> 
		<input type="hidden" name="infotype" />
    <div class="fk_textarea"><textarea class="advice_list_textarea" id="content" name="content" data-id="{yun:}$id{/yun}" placeholder="{yun:}t key='wap_01455'{/yun}"></textarea></div>
    	</div>
	<div class="advice_list_c">
	<div class="advice_list">
		<span class="advice_list_s">{yun:}t key='wap_user_00267'{/yun}</span>
		<input class="advice_list_text" name="username" id="username" type="text" placeholder="{yun:}t key='wap_00106'{/yun}" value="{yun:}$advice_name{/yun}">
	</div>
	
	<div class="advice_list ">
		<span class="advice_list_s">{yun:}t key='wap_00109'{/yun}</span>
		<input class="advice_list_text" name="moblie" id="moblie" type="text" placeholder="{yun:}t key='wap_js_00119'{/yun}" value="{yun:}$advice_mobile{/yun}">
	</div>
	{yun:}if strpos($config.code_web,"意见反馈")!==false{/yun} 
		{yun:}if $config.code_kind>2{/yun}
		<div class="gtdx-captcha">
			<div id="bind-captcha" data-id='' data-type=''></div>
			<input type='hidden' id="verify_token"  name="verify_token" value="">
			{yun:}if $config.code_kind==6{/yun}
			<input type='hidden' id="verify_str" name="verify_str" value="" />
			{yun:}/if{/yun}
			<input type='hidden' id="popup-submit">
			<input type='hidden' id="bind-submit">
		</div>
		{yun:}else{/yun}
		<div class="advice_list ">
			<span class="advice_list_s">{yun:}t key='wap_00110'{/yun}</span>
			<div class="advice_list_yz">
				<input class="zx_yx_input" id="msg_CheckCode" type="text" placeholder="{yun:}t key='wap_user_00143'{/yun}" value="" maxlength="6" name="authcode">
			</div>
			<img class="advice_list_yzm" id="vcode_imgs" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_imgs');">
		</div>
        {yun:}/if{/yun} 
    {yun:}/if{/yun}
    {yun:}if $config.sy_msg_isopen==1 && $config.sy_msg_cert==1 && $config.sy_advice_mobilecode==1{/yun}
	    <!-- SMS code input -->
		<div class="advice_list advice_list_hq">
			<span class="advice_list_s">{yun:}t key='wap_01456'{/yun}</span>
			<div class="advice_list_yz">
				<input class="zx_yx_input" name="advice_code" id="advice_code" type="text" maxlength='6'  placeholder="{yun:}t key='wap_01457'{/yun}">
			</div>
			<div class="advice_list_hqbth" id="send_msg_tip" onclick="send_advice_msg('{yun:}$config_wapdomain{/yun}/index.php?c=advice&a=sendmsg');"> {yun:}t key='wap_com_00036'{/yun}
			</div>
		</div>
		
	
	{yun:}/if{/yun}
	

    </div>
	<div class="advice_list_but mt15">
		<input class="" type="submit" id="submit" name="submit" value="{yun:}t key='common.submit'{/yun}" onclick="advice('vcode_imgs');">
	</div>
</div>

<div class="advice_list_p">
	{yun:}t key='common_02173'{/yun}!<br>{yun:}t key='wap_01589'{/yun}
	<div>{yun:}t key='wap_00108'{/yun}：{yun:}$config.sy_freewebtel{/yun}</div>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
{yun:}include file="$wapstyle/verify_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
	var sy_advice_mobilecode = '{yun:}$config.sy_advice_mobilecode{/yun}',
		code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}';
	var Timer;
	var smsTimer_time = 90; // Countdown seconds
	var smsTimer_flag = 90; // Countdown flag
	var smsTime_speed = 1000; // Interval 1 second

	// SendmobileSMS
	function send_advice_msg(url) {
		var moblie = $('#moblie').val();
		var code;
		
		var verify_token,verify_str;
		if(moblie == "" || moblie == "{yun:}t key='wap_user_00142'{/yun}") {

			showToast("{yun:}t key='wap_user_00142'{/yun}");
			return false;
		} else {

			if(!isjsMobile(moblie)) {
				showToast("{yun:}t key='wap_00306'{/yun}");
				return false;
			}
		}
		var codesear = new RegExp("{yun:}t key='wap_user_00203'{/yun}");
		if(codesear.test(code_web)) {
			if(code_kind == 1) {
				code = $.trim($("#msg_CheckCode").val());
				if(!code) {
					showToast("{yun:}t key='wap_js_00116'{/yun}");
					return false;
				}
			} else if(code_kind > 2) {

				$("#bind-captcha").attr('data-id','send_msg_tip');
				$("#bind-captcha").attr('data-type','click');
				verify_token = $('input[name="verify_token"]').val();

				if(verify_token == '') {
					if (code_kind == 6) {
                        $("#bind-captcha").trigger("click");
                    } else {
                        $("#bind-submit").trigger("click");
                    }
					return false;
				}
				verify_str = $('input[name="verify_str"]').val();
			}
		}

		if(smsTimer_time == smsTimer_flag) {
			Timer = setInterval("smsTimer($('#send_msg_tip'))", smsTime_speed);
			showLoading();
			$.post(url, {
				moblie: moblie,
				authcode: code,
				verify_token:verify_token,
				verify_str:verify_str
			}, function(data) {
				hideLoading();
				if(data){
					var res = JSON.parse(data);
					if(res.error != 1){
						clearInterval(Timer);
					}
					showToast(res.msg, 2, function(){
						if(res.error != 1){
							if(code_kind == 1) {
								checkCode('vcode_img');
								
							} else if(code_kind >2) {
								$("#popup-submit").trigger("click");
							}
						}
					});
				}
			})
		} else {
			showToast("{yun:}t key='wap_js_00118'{/yun}", 2);
			return false;
		}
	}
	// Countdown
	function smsTimer(obj) {
		if(smsTimer_flag > 0) {
			$(obj).html("{yun:}t key='wap_js_00122'{/yun}" + smsTimer_flag + 's)');
			$(obj).attr({
				'style': 'background:#eaebed;'
			});
			smsTimer_flag--;
		} else {
			$(obj).html("{yun:}t key='wap_js_00124'{/yun}");
			$(obj).attr({
				'style': 'background:#eaebed;'
			});
			smsTimer_flag = smsTimer_time;
			clearInterval(Timer);
		}
	}

	$(document).ready(function() {

		$('.advice_list_fs').click(function(event) {
		
			$('.advice_list_fs').each(function(index, el) {
				$(this).removeClass('advice_list_fs_cur');
			});
			$(this).addClass('advice_list_fs_cur');
			$('input[name="infotype"]').val($(this).data('code'));
		});
	});
	
	function advice(img) {
		var infotype 	= 	$.trim($('input[name="infotype"]').val());
		var content 	= 	$.trim($("#content").val());
		var username 	= 	$.trim($("#username").val());
		var moblie 		= 	$.trim($("#moblie").val());
		var advice_code = '';
		
		if (infotype == '') {
			showToast("{yun:}t key='wap_01458'{/yun}", 2);
			return false;
		}
		
		if (username == "") {
			showToast('{yun:}t key=\'wap_01459\'{/yun}', 2);
			return false;
		}

		if (moblie == "") {
			showToast('{yun:}t key=\'wap_01460\'{/yun}', 2);
			return false;
		} else if (!isjsMobile(moblie)) {
			showToast('{yun:}t key=\'wap_01461\'{/yun}', 2);
			return false
		}

		if (content == "") {
			showToast('{yun:}t key=\'wap_01462\'{/yun}', 2);
			return false;
		}
		
		if(sy_advice_mobilecode=='1'){
			var advice_code = $('#advice_code').val();
			if(advice_code==''){
				showToast("{yun:}t key='common_02172'{/yun}", 2);
				return false;
			}
		}
		// Verify captcha
		var verify_token = '',verify_str = '';
		var authcode = '';
		if(sy_advice_mobilecode!='1'){
			var codesear = new RegExp("{yun:}t key='wap_user_00203'{/yun}");
			if(codesear.test(code_web)) {
				if(code_kind == 1) {
					authcode = $.trim($("#msg_CheckCode").val());
					if(!authcode) {
						showToast("{yun:}t key='wap_js_00116'{/yun}");
						return false;
					}
				} else if(code_kind > 2) {

					$("#bind-captcha").attr('data-id','submit');
					$("#bind-captcha").attr('data-type','click');
					verify_token = $('input[name="verify_token"]').val();

					if(verify_token == '') {
						if (code_kind == 6) {
                            $("#bind-captcha").trigger("click");
                        } else {
                            $("#bind-submit").trigger("click");
                        }
						return false;
					}
					verify_str = $('input[name="verify_str"]').val();
				}
			}
		}
		
		showLoading();
		
		$.post(wapurl + "/index.php?c=advice&a=saveadd", {
			infotype : infotype,
			content : content,
			username : username,
			moblie : moblie,
			authcode : authcode,
			advice_code:advice_code,
			verify_token:verify_token,
			verify_str:verify_str
		}, function(data) {
			hideLoading();
			var data = eval('(' + data + ')');
			
			if (data.errcode == "8" && !data.url) {
				showToast(data.msg, 2, function() {
					checkCode(img)
				});
				return false;
			} else if (data.errcode == 9) {
				showToast(data.msg, 2, function() {
					window.location.href = data.url
				});
				return false;
			} else {
				showToast(data.msg, 2, function() {
					window.location.href = data.url
				});
				return false;
			}
		});
	}
</script>
</body>
</html>

