{yun:}include file="$wapstyle/header_cont.htm"{/yun}
{yun:}include file="$wapstyle/nav.htm"{/yun}
<!--回答页面-->

{yun:}foreach from=$rows item=alist{/yun}
<div class="askfriend_ct">
  <div class="home_question_answer">
<a href="{yun:}url m=wap c=ask a=content id='`$alist.qid`'{/yun}">{yun:}$alist.title{/yun}</a></div>

  <div class="answer_qus">
    <div class="answer_qus_ct">
        <div>{yun:}t key='wap_01316'{/yun}{yun:}$alist.content{/yun}</div> 
        <div class="question_mm">
        <div class="question_tm"><font color="#999">{yun:}$alist.add_time|date_format:"%Y-%m-%d"{/yun}</font></div>
     {yun:}if $uid==$myuid{/yun}
     {yun:}if $alist.status==0{/yun}
     <div>{yun:}t key='member_user_00181'{/yun}：{yun:}t key='member_com_00222'{/yun}</div>
     {yun:}else if $alist.status==2{/yun}
      <div class="">
        {yun:}t key='wap_user_00325'{/yun} {yun:}if $alist.statusbody{/yun}
              <span class="" style="color:red">{yun:}t key='member_user_00043'{/yun}：{yun:}$alist.statusbody{/yun}</span>
          {yun:}/if{/yun}
      </div>
      {yun:}/if{/yun}

    <div class="question_de" ><a href="javascript:void(0)" onclick="vant_del('{yun:}t key='wap_01317'{/yun}','{yun:}url m=wap c=ask a=delask type=1 id=$alist.id{/yun}')">{yun:}t key='common.delete'{/yun}</a></div></div>
    
    {yun:}/if{/yun}
    </div>
  </div>  </div>
</div>
{yun:}foreachelse{/yun}
<div class="noresult png">
{yun:}if $uid==$myuid{/yun}
{yun:}t key='wap_01318'{/yun}
<a href="{yun:}url m=wap c=ask{/yun}#answer"  class="wap_mb_no_sr" style="color:#fff;">{yun:}t key='wap_01319'{/yun}</a>
{yun:}else{/yun}
{yun:}t key='wap_01320'{/yun}
{yun:}/if{/yun}</div>
{yun:}/foreach{/yun}
<div class="pages">{yun:}$pagenav{/yun}</div> 
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
</body>
</html>