
<script src="{yun:}$wap_style{/yun}/js/list_bottom.js?v={yun:}$config.cachecode{/yun}"></script>
<div id="company_wx_vue" class="none">
    
    <div class="com_list_box" v-for="item in comlist" :key="item.name">
        <div class="ptyhybox" style="position: relative;"  v-if="item.fact_status=='1'">
            <div class="ptyhy"><i class="ptyhy_icon"></i>{yun:}t key='wap_00274'{/yun} </div> 
        </div> 
        <a :data-href="item.wapurl" href="javascript:void(0)" onclick="toPage(this)" class="job_list">
            <div class="com_list_t_box">
                <div class="com_list_logo_box"><img v-bind:src="item.logo"
                     onerror="if($(this).attr('load')!='1'){$(this).attr('load',1);this.src='{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}';}"></div>
                <div class="com_list_box_c">
                    <h3>{{item.name}}
                       
                    </h3>
                    <img v-if="item.rating_logo" v-bind:src="item.rating_logo" width="12" height="12" />
                    <img v-if="item.hotlogo" src="{yun:}$style{/yun}/images/firm_icon.png" />
                    <i v-if="item.yyzz_status=='1'" class="job_qy_rz_icon"></i>
                </div>
                <div class="com_list_box_js">
                  <span class="com_list_box_js_n">  {{item.job_city_one?item.job_city_one:''}}-{{item.job_city_two?item.job_city_two:''}}</span>
                  <span class="com_list_box_js_n">  50-200</span>
                 <span class="com_list_box_js_n">   {{item.pr_n?item.pr_n:''}}</span>
                </div>
            </div>
           <!-- <div class="com_list_t_box_bq" v-if="item.jobname">
                
                <span class="com_list_box_joblist_a"  v-for="(job,index) in item.jobname" :key="index">{{job}}</span>
                
            </div>-->
        </a>
        
        <a v-if="item.jobnum>0" :data-href="item.wapurl_showjob" href="javascript:void(0)" onclick="toPage(this)">
            <div class="com_list_box_joblist">
                <span class="com_list_box_jobzs"><em class="com_list_box_jobncor">{{item.jobnum}}</em>{yun:}t key='wap_com_00094'{/yun}</span>
                <i class="com_list_box_jobzs_more"></i>
            </div>
        </a>
        
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
      el: '#company_wx_vue',
      data: {
        comlist:[]
      }
    });

    var compage = 0;

    function fetchData_list() {
        compage++;
        var searchurl = document.getElementById('searchurl').value;

        // Cache handling start
        let storageDetail = sessionStorage.getItem("storageDetail"),
            storageCacheType = sessionStorage.getItem("storageCacheType"),
            storageSearchurl = sessionStorage.getItem("storageSearchurl"),
            storagePage = sessionStorage.getItem("storagePage"),
            storageListStr = sessionStorage.getItem("storageList"),
            storageList = storageListStr ? JSON.parse(storageListStr) : [];

        // Use cache when returning from detail
        if (storageCacheType && storageCacheType == 'company' &&
            storageDetail && storageList.length > 0 && compage <= storagePage) {// Use cache when page <= cached page
            sessionStorage.removeItem("storageDetail"); // Clear detail-return flag
            storagePage = storagePage ? parseInt(storagePage) : 1;
            compage = storagePage; // Restore page from cache
            if (storageSearchurl) {
                document.getElementById('searchurl').value = storageSearchurl; // Restore search
            }
            app.$data.comlist = storageList; // Restore list
            app.$nextTick(function(){
                document.getElementById('listdiv').insertAdjacentHTML('beforeend',$("#company_wx_vue").html());
            })
            return; // Skip fetch when using cache
        } else {
            if (compage == 1) {
                storageList = []; // Reset cache on reload
            }
        }
        // Cache handling end

        $.post(wapurl + 'index.php?c=company&a=ajaxLoad', {searchurl: searchurl,page: compage}, function(res){
			document.getElementById('pageLoading').classList.add('none');
            if(res){
                var data = eval('(' + res + ')');

                if(data.length > 0){
                    app.$data.comlist = data;

                    sessionStorage.setItem("storageCacheType", "company");
                    sessionStorage.setItem("storageSearchurl", searchurl);
                    sessionStorage.setItem("storagePage", compage);
                    storageList = storageList.concat(data)
                    sessionStorage.setItem("storageList", JSON.stringify(storageList));

					app.$nextTick(function(){
					    document.getElementById('listdiv').insertAdjacentHTML('beforeend',$("#company_wx_vue").html());
					})
                }else{
					document.getElementById('pageNoMore').classList.remove('none');
				}
            }
        });
    }

    fetchData_list();

    function toPage(e) {
        sessionStorage.setItem("storageDetail", 1);
        window.location.href = $(e).data('href');
    }
</script>