{yun:}include file="$wapstyle/header.htm"{/yun}
<style>
    .About_Us img {
        max-width: 100%;
    }

    body {
        background-color: #2d3343;
        color: #dfe4e7
    }

    .goBackHome {
        display: none;
    }
</style>

<!-- 页面头部导航栏 -->
<div class="companyheader">
    <div class="scwheader">
        <div class="company_top">
            <a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}"
               class="scw_back"></a>
            <div class="com_topright ">

                {yun:}if $usertype=='1'{/yun}
                    {yun:}if $isatn.id{/yun}
                        <span class="atn_{yun:}$row.uid{/yun}">
                            <a href="javascript:void(0)" onclick="atn('{yun:}$row.uid{/yun}','{yun:}url m=wap c=ajax a=atncompany{/yun}')" id='atn_{yun:}$row.uid{/yun}' class="com_topygzicon"></a>
                        </span>
                    {yun:}else{/yun}
                        <span class=" atn_{yun:}$row.uid{/yun}">
                            <a href="javascript:void(0)" onclick="atn('{yun:}$row.uid{/yun}','{yun:}url m=wap c=ajax a=atncompany{/yun}')" id='atn_{yun:}$row.uid{/yun}' class="com_topgzicon " title="{yun:}t key='common_01949'{/yun}"></a>
                        </span>
                    {yun:}/if{/yun}
                {yun:}else{/yun}
                    {yun:}if $usertype{/yun}
                        <a href="javascript:void(0)" class="com_topgzicon " title="{yun:}t key='common_01949'{/yun}" {yun:}if $config.sy_user_change==1{/yun}onclick="showToast('{yun:}t key='wap_00032'{/yun}');" {yun:}else{/yun}onclick="showToast('{yun:}t key='wap_00030'{/yun}');"{yun:}/if{/yun}> </a>
                    {yun:}else{/yun}
                        <a href="javascript:void(0)" class=" com_topgzicon" title="{yun:}t key='common_01949'{/yun}" onclick="pleaselogin("{yun:}t key='wap_00026'{/yun}",'{yun:}url m=wap c=login{/yun}')"></a>
                    {yun:}/if{/yun}
                {yun:}/if{/yun}

                {yun:}if $hbNum > 0{/yun}
                    <a href="javascript:void(0);" onclick="shareShow();" title="{yun:}t key='wap_com_00246'{/yun}" class="com_topfxicon"></a>
                {yun:}else{/yun}
                    {yun:}if $config.sy_h5_share==1{/yun}
                        <a href="javascript:void(0);" data-url='{yun:}url m=wap c=company a=share id=$row.uid{/yun}' id="shareClick" class="com_topfxicon" title="{yun:}t key='wap_com_00246'{/yun}"></a>
                    {yun:}else{/yun}
                        <a href="javascript:void(0);" class="com_topfxicon" id="shareClick" title="{yun:}t key='wap_com_00246'{/yun}"></a>
                    {yun:}/if{/yun}
                {yun:}/if{/yun}
            </div>
        </div>
    </div>
</div>

<div class="scw_comshow">
    <div class="scw_comshow_infobox">
        <div class="scw_comshow_name">
            {yun:}if $row.shortname{/yun}
            <span>{yun:}$row.shortname{/yun}</span>
            {yun:}else{/yun}
            <span>{yun:}$row.name{/yun}</span>
            {yun:}/if{/yun}
        </div>
        <div class="scw_comshow_info">
            {yun:}if $comclass_name[$row.mun]{/yun}
            <span>{yun:}$comclass_name[$row.mun]{/yun} ·</span>
            {yun:}/if{/yun}
            {yun:}if $comclass_name[$row.pr]{/yun}
            <span>{yun:}$comclass_name[$row.pr]{/yun} ·</span>
            {yun:}/if{/yun}
            <span>{yun:}$industry_name[$row.hy]{/yun}</span>
        </div>

        {yun:}if $row.yyzz_status=='1'{/yun}
            <div class="scwyrz"><i class="scwyrz_icon"></i>已安全认证</div>
        {yun:}/if{/yun}
        {yun:}if $row.hotlogo==1 {/yun}
            <div class="scwyrz"><i class="scwymq_icon"></i>优质名企</span></div>
        {yun:}/if{/yun}
        <div class="scw_comshow_logo">
            <img src="{yun:}$row.logo{/yun}" alt="" width="100%" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);">
        </div>
    </div>
    <!-- {yun:}t key='wap_com_00167'{/yun} -->
    {yun:}if $row.welfare_n{/yun}
    <div class="scw_comfl">
        <ul>
            {yun:}foreach from=$row.welfare_n item=waflist{/yun}
            <li>{yun:}$waflist{/yun}</li>
            {yun:}/foreach{/yun}
        </ul>
    </div>
    {yun:}/if{/yun}

    {yun:}if $row.address{/yun}
    <div class="scw_comadd" {yun:}if $config.map_key{/yun}  onclick="navigateTo('{yun:}url m=wap c=job a=jobmap uid=$row.uid{/yun}')"{yun:}/if{/yun}>
        <div class="scw_comadd_tit">{yun:}t key='wap_00040'{/yun}</div>
        <div class="scw_comadd_add">{yun:}$row.address{/yun}
            {yun:}if $row.x && $row.y && $config.map_key{/yun}
            <span class=" ">距离<em id="distance"></em></span>
            <input type="hidden" id="map_x" value="{yun:}$mapx{/yun}"/>
            <input type="hidden" id="map_y" value="{yun:}$mapy{/yun}"/>
            <span class="scw_comadd_dh">{yun:}t key='wap_00042'{/yun}</span>
            {yun:}/if{/yun}
        </div>
    </div>
    {yun:}/if{/yun}

    <div class="scw_comcont">
        <div class="scw_comcont_tit">{yun:}t key='wap_com_00168'{/yun}</div>
        <div class="scw_comcont_p">
            {yun:}if $row.content{/yun}
            <p id="com_content" class="About_Us_body attention_to_new">{yun:}$row.content{/yun}</p>
            <div class="com_show_cont none"><a href="javascript:;" onclick="showcc()"></a></div>
            {yun:}else{/yun}
            <div class="wap_member_no">{yun:}t key='wap_00028'{/yun}</div>
            {yun:}/if{/yun}
        </div>
    </div>

    <!-- {yun:}t key='wap_00041'{/yun} -->
    <div class="scw_comcont none" id="businessInfo">
        <div class="scw_comcont_tit">{yun:}t key='wap_00041'{/yun}</div>
        <div id="com_business" class="scw_comcont_p">
            <p class=""> {yun:}t key='wap_00034'{/yun}<em id="estiblishTime"></em></p>
            <p class=""> {yun:}t key='wap_00033'{/yun}<em id="orgNumber"></em></p>
            <p class=""> {yun:}t key='wap_00037'{/yun}<em id="Time"></em></p>
            <p class=""> {yun:}t key='wap_00087'{/yun}：<em id="companyOrgType"></em></p>
            <p class=""> {yun:}t key='wap_00036'{/yun}<em id="regInstitute"></em></p>
            <p class=""> {yun:}t key='wap_00038'{/yun}<em id="regStatus"></em></p>
            <p class=""> {yun:}t key='wap_00035'{/yun}<em id="regCapital"></em></p>
            <p class=""> 注册地址：<em id="regLocation"></em></p>
            <p class=""> {yun:}t key='admin_user_company_00063'{/yun}：<em id="creditCode"></em></p>
            <p class=""> {yun:}t key='wap_00039'{/yun}<em id="businessScope"></em></p>
            <div class="scw_comcont_tyc">
                {yun:}t key='admin_yunying_00139'{/yun}： <a href="" class="tianyancha" id="tianyancha" target='_blank'> <img src="{yun:}$wap_style{/yun}/images/logo@2x.png" alt="" width="100%"> </a>
            </div>
        </div>
        <div class="on-off"><a href="javascript:void(0);" onclick="showbb()"></a></div>
    </div>

    <!-- {yun:}t key='wap_com_00401'{/yun} -->
    {yun:}if $show{/yun}
    <div class="scw_comcont">
        <div class="scw_comcont_tit">{yun:}t key='wap_com_00401'{/yun}</div>
        <div class="business_album">
            <div class="business_album_phone swiper-container nessAlbumPhone" id="imgswiper">
                <ul class="swiper-wrapper">
                    {yun:}foreach from=$show item=v{/yun}
                    <li class="swiper-slide imgPreview" data-group='comshow' data-src="{yun:}$v.picurl{/yun}"><img src="{yun:}$v.picurl{/yun}" alt=""></li>
                    {yun:}/foreach{/yun}
                </ul>
            </div>
        </div>
    </div>
    {yun:}/if{/yun}


    
    <!-- 卡片视图 -->
    <div class="scw_job">
        <div class="scw_job_c">
            <div class="scw_job_tit"> 正在招聘职位<span class="tm_job_m">{yun:}$row.zpNum{/yun}</span></div>
            <div class="scw_jobbox" style=" display: none;">
                {yun:}if $departmentNames{/yun}
                <div class=" ">
                    <a href="javascript:void(0)" class="department_a department_a_cur" data-uid="{yun:}$smarty.get.id{/yun}">{yun:}t key='common.all'{/yun}</a>
                    {yun:}foreach from=$departmentNames key=j item=v{/yun}
                    <a href="javascript:void(0)" class="department_a" data-name="{yun:}$v{/yun}" data-uid="{yun:}$smarty.get.id{/yun}">{yun:}$v{/yun}</a>
                    {yun:}/foreach{/yun}
                </div>
                {yun:}/if{/yun}

                {yun:}assign var=uid value=$row.uid{/yun}
                <!-- 卡片主体 -->
                <div id="company_job_list">
                    {yun:}joblist namelen=8 comlen=12 ispage=0 com_id='auto.id' islt=4 item=job_list name=joblist1 depower='all'{/yun}
                    <div class="recommend_post_card_box">
                        <!-- 卡片视图主体部分 -->
                        <a href="{yun:}url m=wap c=job a=comapply id=$job_list.id{/yun}"
                           title="{yun:}$job_list.name{/yun}">
                            <div class="recommend_post_card">
                                <div class="recommend_post_card_top">
                                    <div class="recommend_post_card_name">{yun:}$job_list.name_n{/yun}</div>
                                    <div class="recommend_post_card_money">{yun:}$job_list.job_salary{/yun}</div>
                                </div>
                                <div class="newjob_info"><span>{yun:}$job_list.job_city_one{/yun}-{yun:}$job_list.job_city_two{/yun}</span>
                                    {yun:}if $job_list.job_edu{/yun}
                                    <i class="newjob_info_line"></i><span>{yun:}$job_list.job_edu{/yun}{yun:}t key='home.education_suffix'{/yun}</span>
                                    {yun:}/if{/yun}
                                    {yun:}if $job_list.job_exp{/yun}
                                    <i class="newjob_info_line"></i> <span>{yun:}$job_list.job_exp{/yun}{yun:}t key='home.experience_suffix'{/yun}</span>
                                    {yun:}/if{/yun}

                                </div>
                                {yun:}if $job_list.welfarename{/yun}
                                <div class="welfare">
                                    {yun:}foreach from=$job_list.welfarename item=waflist{/yun}
                                    <span class="welfare_n">{yun:}$waflist{/yun}</span>
                                    {yun:}/foreach{/yun}
                                </div>
                                {yun:}/if{/yun}
                                <div class="recommend_post_card_bottom">
                                    <div class="recommend_post_card_bottom_left">
                                        <div class="recommend_post_card_bottom_left_logo"><img
                                                src="{yun:}$job_list.logo{/yun}" alt="" width="100%"></div>
                                        <i class="recommend_post_card_bottom_left_word">{yun:}$job_list.com_name{/yun}</i>
                                    </div>
                                    <div class="recommend_post_card_bottom_right">{yun:}$job_list.time{/yun}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {yun:}joblistelse{/yun}
                    <div class="wap_member_no">{yun:}t key='wap_00027'{/yun}</div>
                    {yun:}/joblist{/yun}
                </div>
            </div>
        </div>
    </div>
    <div class="scw_jobbg"></div>
</div>

<div id="app" style="display: none;">
    <!-- 投递简历弹出框 -->
    <van-dialog v-model="telQrcodeBoxShow" title="{yun:}t key='wap_00462'{/yun}" :show-confirm-button="false" close-on-click-overlay>
        <div class="">
            <div class="">
                <div id="tel_wxqrcode" class="" v-html="telQrcode"></div>
                <div class="">{yun:}t key='wap_00029'{/yun}</div>
            </div>
        </div>
    </van-dialog>
    <!--分享面板-->
    <van-share-sheet v-model="shareShow" title="{yun:}t key='wap_js_00040'{/yun}" :options="shareoptions" @select="shareSelect"></van-share-sheet>
    {yun:}if $config.sy_h5_share==1{/yun}
    <div class="none" data-url='{yun:}url m=wap c=company a=share id=$row.id{/yun}' id="shareClick"></div>
    {yun:}else{/yun}
    <div class="none" id="shareClick"></div>
    {yun:}/if{/yun}
</div>

{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}

<link rel="stylesheet" href="{yun:}$wap_style{/yun}/js/swiper/swiper.min.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<script src="{yun:}$wap_style{/yun}/js/swiper/swiper.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link rel="stylesheet" href="{yun:}$wap_style{/yun}/css/member_style.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>

<script>
    $(document).ready(function () {
        $(".scw_job_tit").click(function () {
            $(".scw_jobbox").animate({
                height: 'toggle'
            });
            $(".scw_jobbg").toggle();
        });
        $(".scw_jobbg").click(function () {
            $(".scw_jobbox").animate({
                height: 'toggle'
            });
            $(this).toggle();
        });
    });
</script>

<script type="text/javascript">
    var uid = '{yun:}$row.uid{/yun}',
        wapurl = '{yun:}url m=wap{/yun}';
    var config = {
        url: '{yun:}url m=wap c=company a=share id=$row.uid{/yun}',
        title: '{yun:}$row.name{/yun}-{yun:}$config.sy_webname{/yun}',
        desc: '',
        img: '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
        img_title: '{yun:}$row.name{/yun}',
        from: '{yun:}$config.sy_webname{/yun}'
    };
    const hbNum = '{yun:}$hbNum{/yun}';

    var shareoptions = [
        {
            name: "{yun:}t key='wap_com_00249'{/yun}",
            icon: 'wechat',
            className: 'wechat'
        }
    ];

    '{yun:}if $hbNum > 0{/yun}'
    shareoptions.splice(1, 0, {
        name: '分享海报',
        icon: '{yun:}$wap_style{/yun}/images/fx_hb.png',
        className: 'poster'
    });
    '{yun:}/if{/yun}'

    var comshowvue = new Vue({
        el: '#app',
        data: {
            telQrcodeBoxShow: false,
            telQrcode: "{yun:}t key='wap_00031'{/yun}",
            comid: uid,
            // share
            shareShow: false,
            shareoptions: shareoptions
        },
        created() {
            $('#app').css('display', 'block');
        },
        methods: {

            telQrcodeBox: function () {
                var that = this;
                that.telQrcode = '<img src="'+wapurl+'index.php?c=company&a=telQrcode&id=' + uid + '" width="120" height="120">';
                that.telQrcodeBoxShow = true;
            },

            shareSelect: function (e) {
                var that = this;
                var classname = e.className;
                this.closetip();
                if (classname == 'wechat') {
                    $('#shareClick').click();
                } else if (classname == 'poster') {
                    window.location.href = wapurl + 'index.php?c=company&a=whb&id=' + that.comid + '&from=com';
                }
            },
            closetip: function () {
                var that = this;
                that.telQrcodeBoxShow = false;
                that.shareShow = false;
            }
        }
    });

    function shareShow() {
        comshowvue.$data.shareShow = !comshowvue.$data.shareShow;
    }

    function telQrcodeBox() {
        comshowvue.telQrcodeBox();
    }

    $(function () {
        $.post('{yun:}url m=wap c=ajax a=getbusiness{/yun}', {
            name: '{yun:}$row.name{/yun}'
        }, function (data) {
            if (data) {
                var business = eval('(' + data + ')');
                $('#creditCode').html(business.creditCode);
                $('#estiblishTime').html(business.estiblishTime);
                $('#orgNumber').html(business.orgNumber);
                $('#Time').html(business.fromTime + "{yun:}t key='common_02098'{/yun}" + business.toTime);
                $('#companyOrgType').html(business.companyOrgType);
                $('#regInstitute').html(business.regInstitute);
                $('#regStatus').html(business.regStatus);
                $('#regLocation').html(business.regLocation);
                $('#regCapital').html(business.regCapital);
                $('#businessScope').html(business.businessScope);
                $('#tianyancha').attr('href', 'https://www.tianyancha.com/company/' + business.companyId);
                $('#businessInfo').show();
            }
        });
        var cheight = $("#com_content").height();
        var bheight = $("#com_business").height();
        if (parseInt(cheight) > 145) {
            $("#com_content").attr('style', 'width:100%;height:145px; overflow:hidden');
            $(".com_show_cont").show();
        }
        if (parseInt(bheight) > 145) {
            $("#com_business").attr('style', 'line-height:30px;height:auto; overflow:hidden');
            $(".on-off").show();
        }
        var myimgswiper = new Swiper('#imgswiper', {
            direction: 'horizontal',
            autoplay: true,
            loop: false
        });
    })

    function addtellog() {
        $.post(wapurl + "?c=ajax&a=addJobTelLog", {
            comid: '{yun:}$row.uid{/yun}',
        }, function (data) {
        });
    }

    function showcc() {
        $("#com_content").attr('style', 'width:100%;height:auto; overflow:hidden');
        $(".com_show_cont").addClass('com_show_cont2');
        $(".com_show_cont").find('a').attr('onclick', 'hidecc()');
    }

    function hidecc() {
        $("#com_content").attr('style', 'width:100%;height:145px; overflow:hidden');
        $(".com_show_cont").removeClass('com_show_cont2');
        $(".com_show_cont").find('a').attr('onclick', 'showcc()');
    }

    function showbb() {
        $("#com_business").attr('style', 'line-height:30px;height:auto; overflow:hidden');
        $(".on-off").find('a').attr('onclick', 'hidebb()');
    }

    function hidebb() {
        $("#com_business").attr('style', 'line-height:30px;height:145px; overflow:hidden');
        $(".on-off").find('a').html('');
        $(".on-off").find('a').attr('onclick', 'showbb()');
    }

    $(document).ready(function () {
        $(".department_a").click(function () {
            $(".department_a").removeClass('department_a_cur');
            $(this).addClass('department_a_cur');
            var departmentName = $(this).attr('data-name');
            var comuid = $(this).attr('data-uid');
            var html = '';
            $.ajax({
                url: wapurl + "index.php?c=company&a=departmentjob",
                data: {
                    comuid: comuid,
                    departmentName: departmentName
                },
                type: 'POST',
                success: function (data) {
                    var html = '';
                    if (departmentName == '') {
                        $("#company_job_list").attr("style", "display:none;");
                    }
                    var res = JSON.parse(data);
                    for (let i in res) {

                        html += '<div class="recommend_post_card_box">' +
                                    '<a href="{yun:}url m=wap c=job a=comapply id=$job_list.id{/yun}" title="{yun:}$job_list.name{/yun}">' +
                                    '<div class="recommend_post_card">' +
                                        '<div class="recommend_post_card_top">' +
                                            '<div class="recommend_post_card_name">'+res[i].name+'</div>' +
                                            '<div class="recommend_post_card_money">'+res[i].job_salary+'</div>' +
                                        '</div>' +
                                        '<div class="newjob_info">' +
                                            '<span>'+res[i].job_city_one + '-' + res[i].job_city_two + '</span>';
                        if (res[i].job_edu) {
                            html +=         '<i class="newjob_info_line"></i><span>' + res[i].job_edu + "{yun:}t key='home.education_suffix'{/yun}</span>";
                        }
                        if (res[i].job_exp) {
                            html +=         '<i class="newjob_info_line"></i><span>' + res[i].job_exp + "{yun:}t key='home.experience_suffix'{/yun}</span>";
                        }
                        html +=         '</div>';

                        if (res[i].welfare_n){
                            html    +=  '<div class="welfare">';
                            res[i].welfare_n.forEach(function (index, item) {
                                html+=  '<span class="welfare_n">'+index+'</span>'
                            });
                            html    +=  '</div>';
                        }

                        html +=         '<div class="recommend_post_card_bottom">' +
                                            '<div class="recommend_post_card_bottom_left">' +
                                                '<div class="recommend_post_card_bottom_left_logo">' +
                                                    '<img src="'+res[i].com_logo_n+'" alt="" width="100%">' +
                                                '</div>' +
                                                '<i class="recommend_post_card_bottom_left_word">'+res[i].com_name+'</i>' +
                                            '</div>' +
                                            '<div class="recommend_post_card_bottom_right">'+res[i].lastupdate_n+'</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</a>' +
                            '</div>';
                    }

                    $('#company_job_list').html(html);
                }
            });
        });
    });

</script>

{yun:}if $row.x && $row.y && $config.map_key{/yun}
<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'{yun:}$config.map_secret{/yun}'
    }
</script>
<script type="text/javascript" src="{yun:}$config.mapurl{/yun}"></script>
<script>
    // Baidu map ranging
    var map = null;

    function getdistance() {
        var map_x = $("#map_x").val();
        var map_y = $("#map_y").val();
        var x = '{yun:}$row.x{/yun}',
            y = '{yun:}$row.y{/yun}';
        if (map_x == 0 && map_y == 0) {
            AMap.plugin('AMap.Geolocation', function() {
               var geolocation = new AMap.Geolocation();
            
              geolocation.getCurrentPosition(function(status,result){
                    if(status=='complete' && result.info == 'SUCCESS'){
                        var position = result.position;
                        map_x = position.lng;
                        map_y = position.lat;
                        $("#map_x").val(map_x);
                        $("#map_y").val(map_y);
                        var p1 = [x, y];
                        var p2 = [map_x, map_y];
                        // {yun:}t key='common.back'{/yun} p1 到 p2 间的地面距离，单位：米
                        var dis = AMap.GeometryUtil.distance(p1, p2);
                        var mapdistance = '(' + (dis / 1000).toFixed(1) + 'km)';
                        $("#distance").html(mapdistance);
                    }
              });
            })
        } else if (map_x > 0 && map_y > 0) {
            var p1 = [x, y];
            var p2 = [map_x, map_y];
            // {yun:}t key='common.back'{/yun} p1 到 p2 间的地面距离，单位：米
            var dis = AMap.GeometryUtil.distance(p1, p2);
            var mapdistance = '(' + (dis / 1000).toFixed(1) + 'km)';
            $("#distance").html(mapdistance);
        }
    }

    $(function () {
        
        getdistance();
    })
</script>
{yun:}/if{/yun}
</body></html>