{yun:}include file="$wapstyle/header.htm"{/yun}
<style>
    body {
        background: #fff
    }
</style>
<!-- Page header back button -->
<div class="Back_to_the_previous_level">
    <div class="login_back" onclick="goBack()">
        <img src="{yun:}$wap_style{/yun}/images/return.png" alt="" width="100%" height="100%">
    </div>
</div>
<div class="login_cont">
	<div class="bottom_nav_bom" style="padding-top: 0px; text-align: right;"><i class="bottom_nav_bom_word">{yun:}t key='wap_00672'{/yun}</i> <a href="{yun:}url m=wap c=register{/yun}" class="register_1">{yun:}t key='wap_00673'{/yun}</a></div>
	<div class="login_welcome">
		<div>{yun:}t key='wap_00674'{/yun}</div>
		<div>{yun:}t key='wap_00675'{/yun}</div>
	</div>
    {yun:}if $wxid && ($wxnickname || $wxpic){/yun}
        <div class="login_titlebox">
            <div class="login_title_logo">
                <img src="{yun:}$wxpic{/yun}" alt="" width="100%" height="100%">
            </div>
            <div class="login_title_info">
                {yun:}t key='wap_00407'{/yun}{yun:}t key='wap_00624'{/yun}<i>{yun:}t key='wap_00676'{/yun}</i>
            </div>
        </div>
    {yun:}/if{/yun}

    <!-- Login form -->
    <form id="login_form">
        <input id="qfyuid" name="qfyuid" type="hidden" value=""/>
        <input type="hidden" name="backurl" id="backurl" value="{yun:}$backurl{/yun}"/>
        <input type="hidden" name="act_login" id="act_login" value="0"/>
        <input name="usertype" type="hidden" value="{yun:}$smarty.get.usertype{/yun}"/>
        <input name="wxid" type="hidden" value="{yun:}$smarty.get.wxid{/yun}"/>
        {yun:}if $smarty.get.job{/yun}
        <input name="job" type="hidden" value="{yun:}$smarty.get.job{/yun}"/>
        {yun:}/if{/yun}

        <div class="The_login_subject">
            <div id="login_normal_box">
                <div class="login_textbox">
                    <input type="text" name="username" placeholder="{yun:}t key='wap_00208'{/yun}/{yun:}t key='member_user_00282'{/yun}/{yun:}t key='wap_user_00180'{/yun}" class="account_number">
                </div>
                <div class="login_textbox">
                    <input type="password" id="password" value="" name="password" placeholder="{yun:}t key='wap_js_00139'{/yun}"/>
                    <input type="text" id="login_password" style="display: none"/>
                    <div class="close_open"><img src="{yun:}$wap_style{/yun}/images/conceal.png" alt="" width="100%" height="100%" id="close"></div>
                </div>
            </div>
            <!-- SMS login -->
            {yun:}if $config.sy_msg_login==1{/yun}
            <div id="login_sj_box" class="login_textbox" style="display:none;">
                <input type="tel" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" placeholder="{yun:}t key='wap_js_00119'{/yun}" name="moblie" id="usermoblie" class="account_number">
            </div>
            {yun:}/if{/yun}

            {yun:}if strstr($config.code_web, $wap_code_login){/yun}
                <div>
                    {yun:}if $config.code_kind>2{/yun}
                    <div class="gtdx-captcha">
                        <div id="bind-captcha" data-id='login_bth' data-type='click'></div>
                        <input type='hidden' id="verify_token" name="verify_token" value="" />
						{yun:}if $config.code_kind==6{/yun}
                        <input type='hidden' id="verify_str" name="verify_str" value="" />
                        {yun:}/if{/yun}
                        <input type='hidden' id="popup-submit" />
                        <input type='hidden' id="bind-submit" />
                    </div>
                    {yun:}else{/yun}
                    <div class="login_textbox">
                        <input class="inputitemtxt" placeholder="{yun:}t key='wap_00262'{/yun}" name="authcode" id="checkcode" type="text"
                               maxlength="6"/>
                        <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php"
                             onclick="checkCode('vcode_img');"/>
                    </div>

                    {yun:}/if{/yun}
                </div>
            {yun:}/if{/yun}

            {yun:}if $config.sy_msg_login==1{/yun}
                <div class="passwords" id="login_sjyz_box" style="display:none;">
                    <div class="login_textbox">
                        <input name="dynamiccode" type="text" maxlength='6' class="inputitemtxt" value="" placeholder="{yun:}t key='wap_00677'{/yun}" onblur="changeCaptcha()"/>
                        <input type="password" id="login_code" style="display: none"/>
                        <div class="dx_yz_hq" id="send_msg_tip" onclick="send_msg('{yun:}$config_wapdomain{/yun}/index.php?c=login&a=sendmsg');"> {yun:}t key='wap_user_00144'{/yun}</div>
                    </div>
                </div>
            {yun:}/if{/yun}
            <div class="login_xy">
                <div class="login_xy_zx">
                    <input type="checkbox" id="xieyicheck" name="xieyicheck" value="1" checked onclick="choosexie(this)"/>
                </div>
                <div>
                    <i class="policy">{yun:}t key='wap_00309'{/yun}</i>
                    <a href="{yun:}url m=wap c=protocol{/yun}" class="Privacy">{yun:}t key='wap_00678'{/yun}</a>
                    <i class="policy">{yun:}t key='wap_00679'{/yun}</i>
                    <a href="{yun:}url m=wap c=privacy{/yun}" class="Privacy">《{yun:}t key='wap_00313'{/yun}》</a>
                </div>
            </div>
            <div id="login_bth" class="login_bth" onclick="login()">{yun:}t key='common.login'{/yun}</div>
        </div>

        {yun:}if $checkurl!="{yun:}url m=wap c=forgetpw{/yun}"{/yun}
        <input type="hidden" name="checkurl" value="{yun:}$checkurl{/yun}"/>
        {yun:}/if{/yun}
    </form>
    <!-- {yun:}t key='wap_00110'{/yun} -->
    <div class="login_otherfs">
        {yun:}if $config.sy_msg_isopen==1 && $config.sy_msg_login==1{/yun}
        <div class="verification_code_word" id="mobile_login">{yun:}t key='wap_00648'{/yun}</div>
        {yun:}/if{/yun}
        <div class="verification_code_word" id="acount_login" style="display: none"> {yun:}t key='wap_00308'{/yun}</div>
        <a href="{yun:}url m=wap c=forgetpw{/yun}" class="login_wjmm">{yun:}t key='wap_00680'{/yun}</a>
    </div>
</div>
<!-- Other login methods -->
{yun:}if $config.sy_qqlogin==1 || $config.sy_sinalogin==1 || ($config.wx_rz==1 && !$wxid){/yun}
<div class="bottom_nav">
    <div class="bottom_nav_top">{yun:}t key='wap_00681'{/yun}</div>
    <div class="bottom_nav_center">
        {yun:}if $config.wx_rz==1 && !$wxid{/yun}
        <a class="bottom_nav_center_logo" href="{yun:}url m=wap c=wxconnect{/yun}">
            <img src="{yun:}$wap_style{/yun}/images/weixin.png" alt="" width="100%" height="100%">
        </a>
        {yun:}/if{/yun}
        {yun:}if $config.sy_qqlogin==1{/yun}
            <a class="bottom_nav_center_logo" href="{yun:}$config.sy_weburl{/yun}/qqlogin.php">
                <img src="{yun:}$wap_style{/yun}/images/QQ@2x.png" alt="" width="100%" height="100%">
            </a>
        {yun:}/if{/yun}
        {yun:}if $config.sy_sinalogin==1{/yun}
            <a class="bottom_nav_center_logo" href="{yun:}url m=wap c=sinaconnect{/yun}">
                <img src="{yun:}$wap_style{/yun}/images/weibu.png" alt="" width="100%" height="100%">
            </a>
        {yun:}/if{/yun}
    </div>

</div>
{yun:}/if{/yun}

{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
{yun:}include file="$wapstyle/publichtm/reg_ajax_i18n.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/reg_ajax.js?v={yun:}$config.cachecode{/yun}"></script>
{yun:}include file="$wapstyle/verify_js.htm"{/yun}
<script>
    var wapurl = "{yun:}url m=wap{/yun}",
        wapRegUrl = "{yun:}url m=wap c=register{/yun}",
        weburl = "{yun:}$config.sy_weburl{/yun}",
        code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}',
        sy_login_type = '{yun:}$config.sy_login_type{/yun}';

    $(document).ready(function () {
        $('#close').on('click', function () {
            var $inp = $('#password');
            $inp.attr('type') === 'password' ? $inp.attr('type', 'text') : $inp.attr('type', 'password')
            $(this).attr('src') == '{yun:}$wap_style{/yun}/images/conceal.png' ? $(this).attr('src', '{yun:}$wap_style{/yun}/images/conceal_1.png') : $(this).attr('src', '{yun:}$wap_style{/yun}/images/conceal.png')
        });
        $("#username").focus(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue) {
                $(this).attr("placeholder", "");
            }
        }).blur(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue || $(this).val() == "") {
                $(this).attr("placeholder", "{yun:}t key='wap_00302'{/yun}");
            }
        })
        $("#password").focus(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue) {
                $(this).attr("placeholder", "");
            }
        }).blur(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue || $(this).val() == "") {
                $(this).attr("placeholder", "{yun:}t key='wap_00682'{/yun}");
            }
        })
        $("#usermoblie").focus(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue) {
                $(this).attr("placeholder", "");
            }
        }).blur(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue || $(this).val() == "") {
                $(this).attr("placeholder", "{yun:}t key='wap_js_00119'{/yun}");
            }
        })
        $(".inputitemtxt").focus(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue) {
                $(this).attr("placeholder", "");
            }
        }).blur(function () {
            var txAreaVal = $(this).val();
            if (txAreaVal == this.defaultValue || $(this).val() == "") {
                $(this).attr("placeholder", "{yun:}t key='wap_00690'{/yun}");
            }
        })
        // Account login and SMS login tab switch
        $('#acount_login').click(function (data) {
            $('#acount_login').css("display", "none");
            $('#mobile_login').css("display", "block");
            $('#login_normal_box').css("display", "block");
            $('#login_sj_box').css("display", "none");
            $('#login_sjyz_box').css("display", "none");
            $('#act_login').val('0');
            $('#bind-captcha').attr('data-id', 'login_bth');
            $('#bind-captcha').attr('data-type', 'click');
        });
        $('#mobile_login').click(function (data) {
            $('#mobile_login').css("display", "none");
            $('#acount_login').css("display", "block");
            $('#login_sj_box').css("display", "block");
            $('#login_sjyz_box').css("display", "block");
            $('#login_normal_box').css("display", "none");
            $('#act_login').val('1');
            $('#bind-captcha').attr('data-id', 'send_msg_tip');
            $('#bind-captcha').attr('data-type', 'click');
        });

        if (sy_login_type == '2' && $('#mobile_login')) {
            $('#mobile_login').trigger("click");
        }
    });
    var Timer;
    var smsTimer_time = 90; // Countdown seconds
    var smsTimer_flag = 90; // Countdown seconds
    var smsTime_speed = 1000; // Interval 1 second

    // SendmobileSMS
    function send_msg(url) {
        var moblie = $('#usermoblie').val();
        var code;

        var verify_token,verify_str;
        if (moblie == "" || moblie == "{yun:}t key='wap_user_00142'{/yun}") {

            showToast("{yun:}t key='wap_user_00142'{/yun}");
            return false;
        } else {

            if (!isjsMobile(moblie)) {
                showToast("{yun:}t key='wap_00306'{/yun}");
                return false;
            }
        }
        var codesear = new RegExp("{yun:}t key='wap_js_00062'{/yun}");
        if (codesear.test(code_web)) {
            if (code_kind == 1) {
                code = $.trim($("#checkcode").val());
                if (!code) {
                    showToast("{yun:}t key='wap_js_00116'{/yun}");
                    return false;
                }
            } else if (code_kind > 2) {
                // Change verification type to SMS
                $('#bind-captcha').attr('data-id', 'send_msg_tip');
                $('#bind-captcha').attr('data-type', 'click');
                verify_token = $('input[name="verify_token"]').val();
                if (verify_token == '') {
                    if (code_kind == 6) {
                        $("#bind-captcha").trigger("click");
                    } else {
                        $("#bind-submit").trigger("click");
                    }
                    return false;
                }
				verify_str = $('input[name="verify_str"]').val();
            }
        }
        if (smsTimer_time == smsTimer_flag) {
            showLoading();
            $.post(url, {
                moblie: moblie,
                authcode: code,
                verify_token: verify_token,
                verify_str: verify_str
            }, function (data) {
                hideLoading();
                if (data) {
                    var res = JSON.parse(data);
                    if (res.error == 1) {
                        Timer = setInterval("smsTimer($('#send_msg_tip'))", smsTime_speed);
                    }
                    showToast(res.msg, 2, function () {
                        if (res.error != 1) {
                            if (code_kind == 1) {
                                checkCode('vcode_img');

                            } else if (code_kind > 2) {
                                $("#popup-submit").trigger("click");
                            }
                            if (res.url){
                                location.href = res.url;
                            }
                        }
                        if (res.msg == "{yun:}t key='wap_00307'{/yun}") {
                            location.href = wapRegUrl;
                        }
                    });
                }
            })
        } else {
            showToast("{yun:}t key='wap_js_00118'{/yun}", 2);
            return false;
        }
    }

    // Countdown
    function smsTimer(obj) {
        if (smsTimer_flag > 0) {
            $(obj).html("{yun:}t key='wap_js_00122'{/yun}" + smsTimer_flag + 's)');
            $(obj).attr({
                'style': 'background: ;'
            });
            smsTimer_flag--;
        } else {
            $(obj).html("{yun:}t key='wap_js_00124'{/yun}");
            $(obj).attr({
                'style': 'background: ;'
            });
            smsTimer_flag = smsTimer_time;
            clearInterval(Timer);
        }
    }

    function changeCaptcha() {
        // {yun:}t key='common_01315'{/yun}
        $('#bind-captcha').attr('data-id', 'login_bth');
        $('#bind-captcha').attr('data-type', 'click');
    }
</script>
</body>
</html>
