<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun},wap" />
<meta name="description" content="{yun:}$description{/yun}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-compatible"content="IE=edge"/>
<meta name="viewport" content="width=device-width" initial-scale="1"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no,email=no"/>
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/style.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
</head>
<div class="loginlock">{yun:}t key='wap_user_00205'{/yun}</div>
<style>
body{ background:#fff}
</style>  
<!-- Account locked -->
<div class="prompt_message">
<div class="prompt_message_cont">
<div class="prompt_message_i"><i class="prompt_message_i_icon_sd"></i></div>
<div class="prompt_message_tit">{yun:}t key='wap_00733'{/yun}</div>
<div class="prompt_message_p">{yun:}t key='common_01912'{/yun}，{yun:}t key='wap_00734'{/yun}</div>
<div class="prompt_message_box">
<div class="prompt_message_p2">{yun:}t key='wap_00735'{/yun}</div>
<div class="prompt_message_tel">{yun:}$config.sy_freewebtel{/yun}</div>
</div></div>
</div>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/jquery.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script type="text/javascript">
function show(obj){
var obj=document.getElementById(obj);  // Get container element by id
  // Hide the following content if it is shown
  if(obj.style.display=="block"){
     obj.style.display="none";
  }else 
  obj.style.display="block";
}
</script>
</html>