{yun:}include file="$wapstyle/header.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/jquery.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<style type="text/css">
	body {background: #fff}
	.header_h {display: none;}
	.regok_box ul li {min-height: 1.933333rem; padding: 0.5rem 0.8rem; height: auto;}
</style>
<div class="login_tit">
	<a class="hd-lbtn" href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}"><i class="header_top_l"></i></a>{yun:}t key='wap_00683'{/yun}
	<div class="regok_tit_p">{yun:}t key='wap_00684'{/yun}"{yun:}t key='common.mine'{/yun}-{yun:}t key='wap_com_00307'{/yun}"{yun:}t key='wap_00685'{/yun}</div>
</div>
<div class="regok_box">
	<ul>
		<li>
			<a href="javascript:void(0);" onclick="chooseIdent('{yun:}url m=wap c=register usertype=1 step=2{/yun}')">
				<div class="regok_box_center">
					<div class="regok_box_logo">
						<img src="{yun:}$wap_style{/yun}/images/genius.png" alt="" width="100%" height="100%">
					</div>
					<div class="regok_box_user">
					<p>{yun:}t key='wap_00686'{/yun}</p>
					<span>{yun:}t key='wap_00687'{/yun}</span>
				</div>
					<div class="regok_box_nav">
						<img src="{yun:}$wap_style{/yun}/images/dredge_add.png" alt="" width="100%" height="100%" >
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="chooseIdent('{yun:}url m=wap c=register usertype=2 step=2{/yun}')">
				<div class="regok_box_center">
					<div class="regok_box_logo">
						<img src="{yun:}$wap_style{/yun}/images/company.png" alt="" width="100%" height="100%">
					</div>
					<div class="regok_box_user">
					<p>{yun:}t key='wap_00688'{/yun}</p>
					<span>{yun:}t key='wap_00689'{/yun}</span>
				</div>
					<div class="regok_box_nav">
						<img src="{yun:}$wap_style{/yun}/images/dredge_add.png" alt="" width="100%" height="100%" >
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}

</body>
<script>
	function chooseIdent(url) {
		// Handle browser history to prevent being able to return to the registration page
		window.history.replaceState({}, "", wapurl+"index.php");
		window.location.href = url;
	}
</script>
</html>