{yun:}include file="$wapstyle/publichtm/wap_api_enum.htm"{/yun}
{yun:}include file="$wapstyle/header.htm"{/yun}
<style>
body{ background:#fff}
</style>
<div id="yunvue" class="none">        
    <!-- Page header back button -->
    <div class="Back_to_the_previous_level"  >
        <div class="login_back" onclick="goBack()">
            <img src="{yun:}$wap_style{/yun}/images/return.png" alt=""  width="100%" height="100%">
        </div>
      </div>
      <!-- Main content -->
   <div class="login_cont">
		{yun:}if $wxid && ($wxnickname || $wxpic){/yun}
		<div class="login_titlebox">
			<div class="login_title_logo">
				<img src="{yun:}$wxpic{/yun}" alt="" width="100%" height="100%">
			</div>
			<div class="login_title_info">{yun:}t key='wap_00407'{/yun}</div>
		</div>
		{yun:}else{/yun}
		<!-- Username registration -->
		<div class=" bottom_nav_bom"  style="padding-top: 0px; text-align: right;"><i class="bottom_nav_bom_word">{yun:}t key='wap_00691'{/yun}</i>
		     <a href="{yun:}url m=wap c=login{/yun}" class="register_1">{yun:}t key='wap_00285'{/yun}</a>
		</div>
         {yun:}if $config.reg_moblie=='1' && $type==2{/yun}
          <div class="login_welcome">{yun:}t key='wap_00692'{/yun}</div>
          {yun:}/if{/yun} 
          {yun:}if $config.reg_email=='1' && $type==3{/yun}
          <div class="login_welcome">{yun:}t key='wap_00411'{/yun}</div>
          {yun:}/if{/yun} 
          {yun:}if $config.reg_user=='1' && $type==1{/yun}
          <div class="login_welcome">{yun:}t key='wap_00409'{/yun}</div>
          {yun:}/if{/yun}
		{yun:}/if{/yun}

           <!-- Registration form -->
           <div class="The_login_subject">
        <form id="reg_form">
          <input name="regway" id="regway" type="hidden" value="{yun:}$type{/yun}" />
          {yun:}if $config.reg_email=='1' && $type == 3{/yun}
             <div class="login_textbox">
            <input type="text" value="" placeholder="{yun:}t key='wap_00697'{/yun}" name="email" id="email" onBlur="check_email();" class="account_number">
           </div>
           <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_js_00139'{/yun}" id="password" name="password" onblur="check_password();" />


           </div>{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}
			<div class="zc_tip">
			{yun:}t key='wap_00693'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun}{yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}
			</div>
			{yun:}/if{/yun}
            {yun:}if $config.reg_passconfirm=='1'{/yun}
            <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_00410'{/yun}" name="passconfirm" id="passconfirm" />
            
           </div>
           {yun:}/if{/yun}
           {yun:}if strpos($config.code_web,$wap_code_register)!==false{/yun}
           <div>
              {yun:}if $config.code_kind>2{/yun}
              <input type='hidden' id="noblur" value="1" />
              <div class="gtdx-captcha">
              {yun:}if $config.sy_msg_regcode==1 || $config.reg_real_name_check == 1{/yun}
              <div id="bind-captcha" data-id='send_msg_tips' data-type='click'></div>
              {yun:}else{/yun}
              <div id="bind-captcha" data-id='login_bth' data-type='click'></div>
              {yun:}/if{/yun}
              
              
              <input type='hidden' id="verify_token"  name="verify_token" value="">
			  {yun:}if $config.code_kind==6{/yun}
              <input type='hidden' id="verify_str" name="verify_str" value="" />
              {yun:}/if{/yun}
              <input type='hidden' id="popup-submit"> 
              <input type='hidden' id="bind-submit">
            </div>
            {yun:}else{/yun}
           <div class="login_textbox">
            <input class="inputitemtxt" placeholder="{yun:}t key='wap_user_00141'{/yun}" onblur="check_code()" name="checkcode" id="checkcode" type="text" maxlength="6" />
            <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />
           </div>
              {yun:}/if{/yun}
            </div>
           {yun:}/if{/yun}
           {yun:}if $config.reg_real_name_check == 1{/yun}
           <div class="login_textbox">
            <input type="tel" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  placeholder="{yun:}t key='wap_js_00119'{/yun}" name="moblie" id="moblie" onBlur="check_moblie();" class="account_number">
           </div>
           <div class="login_textbox">
            <input type="text" value="" autocomplete="off"  placeholder="{yun:}t key='wap_user_00143'{/yun}" name="moblie_code" id="moblie_code" />
            <input type="password" id="login_code" style="display: none"/>
            <div class="dx_yz_hq" id="send_msg_tips" onclick="sendmsg('vcode_img');"><span id="time">{yun:}t key='wap_user_00144'{/yun}</span></div>
           </div>
           {yun:}/if{/yun} 
          {yun:}elseif $type==2 || $type == ''{/yun}
            <div class="login_textbox">
            <input type="tel" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  placeholder="{yun:}t key='wap_js_00119'{/yun}" name="moblie" id="moblie" onBlur="check_moblie();" class="account_number">
           </div>
           {yun:}if strpos($config.code_web,$wap_code_register)!==false{/yun}
           <div class="">
              {yun:}if $config.code_kind>2{/yun}
              <input type='hidden' id="noblur" value="1" />
              <div class="gtdx-captcha">
              {yun:}if $config.sy_msg_regcode==1 || $config.reg_real_name_check == 1{/yun}
              <div id="bind-captcha" data-id='send_msg_tips' data-type='click'></div>
              {yun:}else{/yun}
              <div id="bind-captcha" data-id='login_bth' data-type='click'></div>
              {yun:}/if{/yun}
              
              
              <input type='hidden' id="verify_token"  name="verify_token" value="">
			  {yun:}if $config.code_kind==6{/yun}
              <input type='hidden' id="verify_str" name="verify_str" value="" />
              {yun:}/if{/yun}
              <input type='hidden' id="popup-submit"> 
              <input type='hidden' id="bind-submit">
            </div>
            {yun:}else{/yun}
           <div class="login_textbox">
            <input class="inputitemtxt" placeholder="{yun:}t key='wap_user_00141'{/yun}" onblur="check_code()" name="checkcode" id="checkcode" type="text" maxlength="6" />
            <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />
           </div>
              {yun:}/if{/yun}
            </div>
           {yun:}/if{/yun}
           <div class="login_textbox">
            <input type="text" value="" autocomplete="off"  placeholder="{yun:}t key='wap_user_00143'{/yun}" name="moblie_code" id="moblie_code" />
            <input type="password" id="login_code" style="display: none"/>
            <div class="dx_yz_hq" id="send_msg_tips" onclick="sendmsg('vcode_img');"><span id="time">{yun:}t key='wap_user_00144'{/yun}</span></div>
           </div>
            <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_js_00139'{/yun}" id="password" name="password" onblur="check_password();" />

           </div>
		   {yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}
		   <div class="zc_tip">{yun:}t key='wap_00693'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun}{yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}</div>{yun:}/if{/yun}
            {yun:}if $config.reg_passconfirm=='1'{/yun}
            <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_00410'{/yun}" name="passconfirm" id="passconfirm" />
            
           </div>
           {yun:}/if{/yun}
          {yun:}elseif $type==1{/yun}
           <div class="login_textbox">
            <input type="text" placeholder="{yun:}t key='wap_00698'{/yun} {yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}{yun:}t key='wap_00699'{/yun}" name="username" id="username" class="account_number" onblur="check_username();">
           </div>
		   {yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun}

			<div class="zc_tip">{yun:}t key='wap_00696'{/yun}{yun:}if $config.reg_name_han=='1'{/yun}{yun:}t key='wap_user_00345'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_name_num=='1'{/yun}{yun:}t key='common_01997'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_name_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_name_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}</div>{yun:}/if{/yun}



           <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_js_00139'{/yun}" id="password" name="password" onblur="check_password();" />

           </div>
		   {yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}<div class="zc_tip">{yun:}t key='wap_00693'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun}{yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}</div>{yun:}/if{/yun}
            {yun:}if $config.reg_passconfirm=='1'{/yun}
            <div class="login_textbox">
            <input type="password" value="" placeholder="{yun:}t key='wap_00410'{/yun}" name="passconfirm" id="passconfirm" />
            
           </div>
           {yun:}/if{/yun}
           {yun:}if strpos($config.code_web,$wap_code_register)!==false{/yun}
            <div>
              {yun:}if $config.code_kind>2{/yun}
              <div class="gtdx-captcha">
                  {yun:}if $config.reg_real_name_check == 1{/yun}
                <div id="bind-captcha" data-id='send_msg_tips' data-type='click'></div>
                {yun:}else{/yun}
                <div id="bind-captcha" data-id='login_bth' data-type='click'></div>
                {yun:}/if{/yun}
                
                <input type='hidden' id="verify_token"  name="verify_token" value="">
				{yun:}if $config.code_kind==6{/yun}
				<input type='hidden' id="verify_str" name="verify_str" value="" />
				{yun:}/if{/yun}
                <input type='hidden' id="popup-submit"> 
                <input type='hidden' id="bind-submit">
              </div>
              {yun:}else{/yun}
              <div class="login_textbox">
                <input class="inputitemtxt" placeholder="{yun:}t key='wap_user_00141'{/yun}" onblur="check_code()" name="checkcode" id="checkcode" type="text" maxlength="6" />
                <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />
              </div>
              {yun:}/if{/yun}
            </div>
           {yun:}/if{/yun}
           {yun:}if $config.reg_real_name_check == 1{/yun}
           <div class="login_textbox">
            <input type="tel" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  placeholder="{yun:}t key='wap_js_00119'{/yun}" name="moblie" id="moblie" onBlur="check_moblie();" class="account_number">
           </div>
           <div class="login_textbox">
            <input type="text" value="" autocomplete="off"  placeholder="{yun:}t key='wap_user_00143'{/yun}" name="moblie_code" id="moblie_code" />
            <input type="password" id="login_code" style="display: none"/>
            <div class="dx_yz_hq" id="send_msg_tips" onclick="sendmsg('vcode_img');"><span id="time">{yun:}t key='wap_user_00144'{/yun}</span></div>
           </div>
           {yun:}/if{/yun} 
           {yun:}/if{/yun}
           <div class="login_xy">
    <div class="login_xy_zx">
                   <input type="checkbox" id="xieyicheck" value="1" checked onclick="choosexie(this)" />
               </div>
               
               <i class="policy">{yun:}t key='wap_00309'{/yun}</i>
               <a href="{yun:}url m=wap c=protocol{/yun}" class="Privacy" class="Privacy">{yun:}t key='wap_00678'{/yun}</a>
               <i class="policy">{yun:}t key='wap_00679'{/yun}</i>
               <a href="{yun:}url m=wap c=privacy{/yun}" class="Privacy">《{yun:}t key='wap_00313'{/yun}》</a>
                
              </div>
           
      <div class="login_bthbox">
                <input type="hidden" id="send" name="send" value="0" />
                <input type="hidden" id="isRealnameCheck" name="isRealnameCheck" value="{yun:}$config.reg_real_name_check{/yun}" />
               <div id="login_bth" class="login_bth" onclick="checkRegUser()">{yun:}t key='wap_00242'{/yun}</div>
           </div>
        </form>
           </div>
             <!-- Captcha -->
         <div class="login_otherfs">
           {yun:}if $config.reg_moblie=='1' && $type!=2{/yun}
				<a href="{yun:}url m=wap c=register  type=2{/yun}" class="{yun:}if $type != 2 && $type!=1{/yun}login_wjmm{yun:}/if{/yun}">{yun:}t key='wap_00692'{/yun}</a>
			{yun:}/if{/yun} 
			{yun:}if $config.reg_email=='1' && $type!=3{/yun}
				<a href="{yun:}url m=wap c=register  type=3{/yun}" class="{yun:}if $type != 3&& $type!=2{/yun}login_wjmm{yun:}/if{/yun}">{yun:}t key='wap_00411'{/yun}</a>
			{yun:}/if{/yun} 
			{yun:}if $config.reg_user=='1' && $type!=1{/yun}
				<a href="{yun:}url m=wap c=register type=1{/yun}" class="{yun:}if $type != 1&& $type!=3{/yun}login_wjmm{yun:}/if{/yun}">{yun:}t key='wap_00409'{/yun}</a>
			{yun:}/if{/yun}
           </div>
           <!-- Existing account -->
      </div>
      <input type="hidden" id="zy_uid" value="" />
      <input type="hidden" id="zy_mobile" value="" />
      <input type="hidden" id="zy_email" value="" />

      <van-popup v-model="checkmobileshow" round   closeable :style="{width: '80%'}">
          <div id="written_off">
			
            <div class="reg_have_tipbox">
                <div class="reg_have_tip">
                    <div class="reg_have_tip_tit_name">{yun:}t key='wap_user_00205'{/yun}</div> 
                    <div class="reg_have_tip_tit"><span id="zy_type">{{zy_type}}</span></div>
                    <div class="reg_have_tip_zc" id="zy_name"><span class=reg_have_tip_comname>{{zy_name}}</span></div>
                </div>
                <div class="reg_have_tip_p">
                     {yun:}t key='wap_00704'{/yun}<br><span class=""id="jcbind"> <span id="desc_toast"> {{desctoast}}</span></span><br>
                 {yun:}t key='wap_00705'{/yun}<br>{yun:}$config.sy_freewebtel{/yun}
                </div>  <div class="reg_have_tip_bthbox">
               <a href="{yun:}url m=wap c=forgetpw{/yun}" class="reg_have_tip_bth">{yun:}t key='wap_js_00123'{/yun}</a>
                    <a href="javascript:void(0);" onclick="CheckPW();" class="reg_have_tip_bth" id="jcbind">{yun:}t key='wap_user_00138'{/yun}</a>
                 </div>
                
            </div>
        </div>
      </van-popup>
      <van-popup v-model="checkPWshow" closeable round :style="{  width: '80%' }">
         <div class="login_mmbshow">  <div class=reg_have_tip_tit_name>{yun:}t key='wap_00702'{/yun}</div>
        <div class=login_mmbox>
          <input type="password" value="" id="login_password"placeholder="{yun:}t key='wap_00703'{/yun}" class="login_mm">
          <div class=login_mmboxbth><input type="submit" value="{yun:}t key='common_02016'{/yun}" class=tiny_show_tckbox_bth1 onclick="post_pass();" /></div></div></div>
      </van-popup>
 </div>     
    {yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
    {yun:}include file="$wapstyle/publichtm/reg_ajax_i18n.htm"{/yun}
    <script src="{yun:}$wap_style{/yun}/js/reg_ajax.js?v={yun:}$config.cachecode{/yun}"></script>
    {yun:}include file="$wapstyle/verify_js.htm"{/yun}
</body>
<script>
    var wapurl = "{yun:}url m=wap{/yun}",
        weburl = "{yun:}$config.sy_weburl{/yun}",
        pricename = "{yun:}$config.integral_pricename{/yun}",
        integral_pricename = "{yun:}$config.integral_pricename{/yun}",
        code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}',
        sy_reg_type = '{yun:}$config.sy_reg_type{/yun}';
    var yunvue =  new Vue({
        el:"#yunvue",
        data:{
          checkmobileshow: false,
          zy_name: '',
          zy_type:'',
          checkPWshow:false,
          desctoast:'',
        },
        created() {   
         this.getInfo();
        },
        methods: {
          getInfo() {
           
               
               $("#yunvue").css('display', 'block');
          },
          yinsi() {
            this.yinsidata = true;
          },
        },

    })
    $(function(){
        $("#moblie").focus(function(event) {
          if ($(this).val()=='') {
            $(this).attr("placeholder","");
          }
        });
        $("#moblie").blur(function(event) {
          if ($(this).val()=='') {
            $(this).attr("placeholder","{yun:}t key='wap_js_00119'{/yun}");
          }
        });
        // Username field
          $("#username").focus(function(){
            
            if($(this).val()==''){
            $(this).attr("placeholder","");
             }
         });
         $("#username").blur(function(){
             if($(this).val() == ""){
             $(this).attr("placeholder","{yun:}t key='wap_00698'{/yun} {yun:}t key='wap_00707'{/yun}{yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}{yun:}t key='wap_00699'{/yun}{yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun}{yun:}t key='wap_user_00306'{/yun}{yun:}if $config.reg_name_han=='1'{/yun}{yun:}t key='wap_user_00345'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_ne_num=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}t key='common_01997'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_name_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_name_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}{yun:}/if{/yun}");
             }
         });
         // Password field
        $('#password').focus(function(){
        if($(this).val()==''){
            $(this).attr("placeholder","")
        }
         });
         $('#password').blur(function(){
             var text_value = $(this).val();
             if(text_value==""){
                 $(this).attr("placeholder","{yun:}t key='wap_00701'{/yun}{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}{yun:}t key='wap_user_00306'{/yun}{yun:}if $config.reg_pw_num=='1'{/yun}{yun:}t key='common_01997'{/yun}{yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}{yun:}t key='wap_00706'{/yun} {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}{yun:}t key='wap_00695'{/yun}{yun:}/if{/yun}{yun:}/if{/yun}");
             }
             
         });
        // Confirm password field
        $('#passconfirm').focus(function(){
        var text_value=$(this).val();
        if(text_value == ""){
            $(this).attr("placeholder","")
        }
         });
         $('#passconfirm').blur(function(){
             var text_value = $(this).val();
             if(text_value==""){
                 $(this).attr("placeholder","{yun:}t key='wap_00410'{/yun}");
             }
         });


         
    });
</script>
</html>