{yun:}include file="$wapstyle/header.htm"{/yun}

<script type="text/javascript">
    var integral_pricename = '{yun:}$config.integral_pricename{/yun}';
    var isHeight = "{yun:}$Info.height_status{/yun}";
</script>
<div id="app" class="none">
    <!-- Resume detail page header -->
	
    <div class="Edit_your_resume_header">
        <a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}" class="Edit_your_resume_header_left">
            <img src="{yun:}$wap_style{/yun}/images/return.png" alt="" width="100%" height="100%">
        </a>
        <div class="Edit_your_resume_header_center"></div>
        {yun:}if $Info.talent_pool{/yun} 
            <span onclick="talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}')" class="new_user_headericon" title="{yun:}t key='wap_00378'{/yun}">   <img src="{yun:}$wap_style{/yun}/images/ysc_n.png" alt="" width="100%" height="100%"></span>
        {yun:}else{/yun} 
            <a href="javascript:talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}');" class="new_user_headericon" title="{yun:}t key='wap_00379'{/yun}"> <img src="{yun:}$wap_style{/yun}/images/r_sc.png" alt="" width="100%" height="100%"></a>
        {yun:}/if{/yun} 
		
		{yun:}if $usertype=='2'{/yun}
		    <a href="javascript:void(0)" eid={yun:}$Info.id{/yun} uid="{yun:}$Info.uid{/yun}" r_name="{yun:}$Info.username_n{/yun}"  class="new_user_headerjb repeat_list"><img src="{yun:}$wap_style{/yun}/images/details_report.png" alt="" width="100%" height="100%"></a>
		{yun:}elseif $uid{/yun} 
		    <a href="javascript:void(0)" onclick="showToast(RESUME_SHOW_I18N.comReportOnly);"  class="new_user_headerjb"><img src="{yun:}$wap_style{/yun}/images/details_report.png" alt="" width="100%" height="100%"></a>
		{yun:}else{/yun}
		    <a href="javascript:void(0)" onclick="pleaselogin(RESUME_SHOW_I18N.loginComAccount,'{yun:}url m=wap c=login{/yun}')"class="new_user_headerjb">  <img src="{yun:}$wap_style{/yun}/images/details_report.png"  width="100%" height="100%"></a> 
		{yun:}/if{/yun}
		 
       
    </div>
    <!-- Page body -->
    <div class="resume_body">
		
		{yun:}if $Info.sqInfo{/yun}
		<div class="td_lsitbox">
			<img src="{yun:}$wap_style{/yun}/images/tdtip.png" class="td_lsiticon">
		{yun:}t key='wap_01594'{/yun} {yun:}$Info.sqInfo.sq_job_time{/yun} {yun:}t key='wap_01595'{/yun}
		    <div class="td_lsit">{yun:}t key='wap_01596'{/yun} <span class="">{yun:}$Info.sqInfo.sq_job_name{/yun}</span></div>
		    <div class="td_lsittime"> <span class="">{yun:}t key='wap_01597'{/yun} {yun:}$Info.login_date_n{/yun}</span></div>
		
		</div>
		{yun:}/if{/yun}
	
		
		
        <!-- Profile card -->
        <div class="resume_body_card">
			<div class="new_user_box">
			<span class="new_user_name">  {yun:}if $Info.m_status==1{/yun} 
                                    {yun:}$Info.name{/yun}
                                {yun:}else{/yun} 
                                    {yun:}$Info.username_n{/yun} 
                                {yun:}/if{/yun}</span>
			<span class="new_user_zt"> {yun:}if $Info.jobstatus{/yun} {yun:}$Info.jobstatus{/yun}-{yun:}/if{/yun} {yun:}$Info.report{/yun}</span> 
			 <div class="Edit_your_resume_card_name_logo">
                        <img src="{yun:}$Info.photo{/yun}" alt=""  style="width: 100%; height: 100%; border-radius: 50%;">
						
						{yun:}if $Info.sex == 2 {/yun}
							<i class="yun_newedition_resume_userxb"></i>
						{yun:}elseif $Info.sex == 1{/yun}
							<i class="yun_newedition_resume_userxb_n"></i>
						{yun:}/if{/yun}
						
                    </div>
			</div>
			<div class="new_user_info">
			<div class="">{yun:}$Info.user_exp{/yun}{yun:}t key='wap_com_00305'{/yun} · {yun:}$Info.useredu{/yun}{yun:}t key='wap_com_00301'{/yun} · {yun:}if $Info.age==0{/yun}{yun:}t key='wap_01598'{/yun}{yun:}else{/yun}{yun:}$Info.age{/yun}{yun:}t key='common_02074'{/yun}{yun:}/if{/yun}{yun:}if $Info.living{/yun} · {yun:}$Info.living{/yun}{yun:}/if{/yun}</div>
			{yun:}if $Info.height{/yun}{yun:}$Info.height{/yun}cm · {yun:}/if{/yun}
			{yun:}if $Info.weight{/yun}{yun:}$Info.weight{/yun}kg · {yun:}/if{/yun} 
			{yun:}if $Info.user_marriage{/yun}{yun:}$Info.user_marriage{/yun} · {yun:}/if{/yun} 
			{yun:}if $Info.nationality{/yun}{yun:}$Info.nationality{/yun}{yun:}/if{/yun} 
			</div>
		
			{yun:}if ($Info.uid == $uid && $usertype == 1) || $Info.m_status == 1{/yun}
			<div class="new_user_touchbox">
				{yun:}if $Info.telphone{/yun}
				<div class="new_user_touch"><i class="new_user_touchiocn"></i>{yun:}$Info.telphone{/yun} </div>
				{yun:}/if{/yun}
				
				  {yun:}if $Info.email{/yun}
				<div class="new_user_touch"><i class="new_user_touchyx"></i>{yun:}$Info.email{/yun}  </div>
				{yun:}/if{/yun}
				
			
				{yun:}if $Info.qq{/yun}
					<div class="new_user_touch"><i class="new_user_touchqq"></i>{yun:}$Info.qq{/yun} </div>
				{yun:}/if{/yun}
				{yun:}if $Info.wxid{/yun} 
					<div class="new_user_touch"><i class="new_user_touchwx"></i>{yun:}$Info.wxid{/yun} </div>
				{yun:}/if{/yun}
				{yun:}if $Info.address{/yun}
				<div class="new_user_touch"><i class="new_user_touchdz"></i>{yun:}$Info.address{/yun}</div>   
				{yun:}/if{/yun} 
			 </div>    
			{yun:}/if{/yun}
          
            <!-- Job intention -->
            <div class="Preview_your_resume_intention">
                <div class="Preview_your_resume_header">
                  
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00460'{/yun}</div>
                </div>
                <div class="user_qwinfobox">
                    <div class="user_qwinfo">
                            <span>{yun:}$Info.customjob{/yun}</span>
                            <span>· {yun:}foreach from=$Info.expectcity key=key item=v{/yun}{yun:}if $key <5{/yun}{yun:}$v{/yun}{yun:}/if{/yun}{yun:}/foreach{/yun}</span>
                            {yun:}if $Info.type{/yun}<span> ·</span><span>{yun:}$Info.type{/yun}</span>{yun:}/if{/yun}
                        
                    </div>
                    <div class="user_qwxz">{yun:}$Info.salary{/yun}</div>
                </div>
                <div class="Preview_your_resume_category">{yun:}foreach from=$Info.expectjob key=key item=v{/yun} 
                    {yun:}if $key <5{/yun}{yun:}$v{/yun}{yun:}/if{/yun}{yun:}/foreach{/yun} · {yun:}$Info.hy{/yun}{yun:}t key='wap_01600'{/yun}  </div>

                <div class="Preview_your_resume_category">{yun:}$Info.lastupdate{/yun} {yun:}t key='wap_00225'{/yun} </div>
                {yun:}if $Info.height_status == 2{/yun}<i class="yun_newedition_resume_good"> </i>{yun:}/if{/yun}
            </div>
        {yun:}if $resumeCkeck==1{/yun}
            <!-- Work experience -->
            {yun:}if $Info.user_work{/yun}
            <div class="Preview_your_resume_experience">
                <div class="Preview_your_resume_header">

                    <div class="Preview_your_resume_word" style="position: relative;">{yun:}t key='wap_00457'{/yun}{yun:}if $Info.avghour>0{/yun}<span class="newuser_js_time">{yun:}t key='wap_01599'{/yun} {yun:}$Info.avghourInfo{/yun}</span>{yun:}/if{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_work item=worklist{/yun}
                <div>
                    <div class="resume_experience_company">{yun:}$worklist.name{/yun} <span class="gzsc">{yun:}$worklist.time_n{/yun}</span></div>
                 
                        <div class="newuser_js_date">
                            {yun:}if $worklist.sdate!=0{/yun}
                            {yun:}$worklist.sdate|date_format:"%Y.%m"{/yun}{yun:}if $worklist.edate{/yun} - {yun:}$worklist.edate|date_format:"%Y.%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}
                           
                            {yun:}/if{/yun}
                            {yun:}if $worklist.title{/yun}<span class="newuser_js_name">{yun:}$worklist.title{/yun}</span>{yun:}/if{/yun}
                        </div>
                  
                    {yun:}if $worklist.content{/yun}<div class="newuser_js">{yun:}$worklist.content{/yun}</div>{yun:}/if{/yun}
                    
                </div>
                {yun:}/foreach{/yun}
                <div class=""></div>
            </div>
            {yun:}/if{/yun}
            <!-- Education -->
            {yun:}if $Info.user_edu{/yun}
            <div class="Preview_your_resume_education">
                <div class="Preview_your_resume_header">
               
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00459'{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_edu item=edulist{/yun}
                <div class="Preview_your_resume_education_school">{yun:}$edulist.name{/yun}</div>
                <div class="newuser_js_date">
                    <span>{yun:}if $edulist.sdate>0{/yun}{yun:}$edulist.sdate|date_format:"%Y.%m"{/yun}{yun:}if $edulist.edate{/yun} - {yun:}$edulist.edate|date_format:"%Y.%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}{yun:}/if{/yun}</span>
                   
                            {yun:}if $edulist.education{/yun}<span class="newuser_js_name">{yun:}$edulist.education_n{/yun}  · </span>{yun:}/if{/yun}
                            {yun:}if $edulist.specialty{/yun}<span>{yun:}$edulist.specialty{/yun}</span>{yun:}/if{/yun}
                        
                </div>
                {yun:}/foreach{/yun}
            </div>
            {yun:}/if{/yun}
            <!-- Project experience -->
            {yun:}if $Info.user_xm{/yun}
            <div class="Preview_your_resume_experience">
                <div class="Preview_your_resume_header">
                 
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00465'{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_xm item=projectlist{/yun}
                <div>
                    <div class="resume_experience_company">{yun:}$projectlist.name{/yun}</div>
                     <div class="newuser_js_date">
                         {yun:}if $projectlist.sdate>0{/yun}
                           {yun:}$projectlist.sdate|date_format:"%Y.%m"{/yun}{yun:}if $projectlist.edate{/yun} - {yun:}$projectlist.edate|date_format:"%Y.%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}{yun:}/if{/yun}
                            {yun:}if $projectlist.title{/yun}<span class="newuser_js_name">{yun:}$projectlist.title{/yun}</span>{yun:}/if{/yun}
                    

                    </div>
                    {yun:}if $projectlist.content{/yun}
                    <div  class="newuser_js">{yun:}$projectlist.content{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                {yun:}/foreach{/yun}
            </div>
            {yun:}/if{/yun}
            <!-- Training -->
            {yun:}if $Info.user_tra{/yun}
            <div class="Preview_your_resume_experience">
                <div class="Preview_your_resume_header">
                 
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00455'{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_tra item=traininglist{/yun}
                <div>
                    <div class="resume_experience_company">{yun:}$traininglist.name{/yun}</div>
                     <div class="newuser_js_date">
                         {yun:}if $traininglist.sdate>0{/yun}<span>{yun:}$traininglist.sdate|date_format:"%Y.%m"{/yun}{yun:}if $traininglist.edate{/yun} - {yun:}$traininglist.edate|date_format:"%Y.%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}</span>{yun:}/if{/yun}
                            {yun:}if $traininglist.title{/yun}<span class="newuser_js_name">{yun:}$traininglist.title{/yun}</span>{yun:}/if{/yun}
                        </div>

                    {yun:}if $traininglist.content{/yun}
                    <div  class="newuser_js">{yun:}$traininglist.content{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                {yun:}/foreach{/yun}
            </div>
            {yun:}/if{/yun}
            {yun:}if $Info.user_skill{/yun}
            <!-- Professional skills -->
            <div class="Preview_your_resume_professional_skill">
                <div class="Preview_your_resume_header">
                  
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00461'{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_skill item=skilllist{/yun}
                <div class="resume_professional_skill_word">
                    <ul>
                        <li>{yun:}$skilllist.name{/yun}</li>
                        <li>{yun:}t key='member_user_00083'{/yun}{yun:}$skilllist.longtime{/yun}{yun:}t key='wap_00841'{/yun}</li>
                        <li>{yun:}$skilllist.ing_n{/yun}</li>
                    </ul>
                    {yun:}if $skilllist.picurl{/yun}
                        <van-image
                          class="imgPreview  new_add" data-group="skill" data-src="{yun:}$skilllist.picurl{/yun}" 
                          width="95"
                          height="70"
                          fit="cover"
                          src="{yun:}$skilllist.picurl{/yun}"
                        />
                    {yun:}/if{/yun}
                </div>
                {yun:}/foreach{/yun}
            </div>
            {yun:}/if{/yun}
            <!-- Portfolio -->
            {yun:}if $Info.user_show{/yun}
                
                <div class="Preview_your_resume_production">
                    <div class="Preview_your_resume_header">
                   
                        <div class="Preview_your_resume_word">{yun:}t key='wap_01601'{/yun}</div>
                    </div>
                    <div class="Preview_your_resume_production_img">
                        <ul>
                            {yun:}foreach from=$Info.user_show item=v{/yun}
                            {yun:}if $v.picurl{/yun}
                            <li>
                                <van-image
                                  class="imgPreview" data-group="usershow" data-src="{yun:}$v.picurl{/yun}" 
                                  width="100%"
                                  height="100%"
                                  fit="cover"
                                  src="{yun:}$v.picurl{/yun}"
                                />
                            </li>
                            {yun:}/if{/yun}
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
               
            {yun:}/if{/yun}
            <!-- Other info -->
            {yun:}if $Info.user_other{/yun}
            <div class="Preview_your_resume_experience">
                <div class="Preview_your_resume_header">
                 
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00493'{/yun}</div>
                </div>
                {yun:}foreach from=$Info.user_other item=otherlist{/yun}
                <div>
                    <div class="resume_experience_company">{yun:}$otherlist.name{/yun}</div>
                    {yun:}if $otherlist.content{/yun}
                    <div class="newuser_js">{yun:}$otherlist.content{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                {yun:}/foreach{/yun}
            </div>
            {yun:}/if{/yun}

            <!-- Pasted resume content -->
            {yun:}if $Info.doc && $Info.user_doc.doc{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
                   
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00495'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">{yun:}$Info.user_doc.doc{/yun}</div>
            </div>
            {yun:}/if{/yun}
            <!-- Self evaluation -->
            {yun:}if $Info.description{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
               
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00463'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">{yun:}$Info.description{/yun}</div>
                {yun:}if $Info.arrayTag{/yun}
                <div class="Preview_your_resume_advantage_label">
                    <ul>
                        {yun:}foreach from=$Info.arrayTag item=v{/yun} 
                        <li>{yun:}$v{/yun}</li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                {yun:}/if{/yun}
            </div>
            {yun:}/if{/yun}
            
        
        {yun:}else{/yun}
            {yun:}if $tj.education{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
                  
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00459'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    <div class="">{yun:}$tj.edumin{/yun}-{yun:}$tj.edumax{/yun}</div>
                    {yun:}t key='wap_00469'{/yun}{yun:}$tj.education{/yun}{yun:}t key='wap_00471'{/yun} 
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $tj.worknum>0{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
               
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00457'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    <div class="">{yun:}$tj.workmin{/yun}-{yun:}$tj.workmax{/yun}</div>
                    {yun:}t key='wap_00467'{/yun}{yun:}$tj.worknum{/yun}{yun:}t key='common_01887'{/yun}，{yun:}t key='wap_00446'{/yun}{yun:}$tj.workavg{/yun}{yun:}t key='wap_00474'{/yun}，{yun:}t key='common_02009'{/yun}{yun:}$tj.worktit{/yun}{yun:}t key='wap_00472'{/yun} 
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $tj.xmnum>0{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
               
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00465'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    <div class="">{yun:}$tj.xmmin{/yun}-{yun:}$tj.xmmax{/yun}</div>
                    {yun:}t key='wap_00443'{/yun}{yun:}$tj.xmnum{/yun}{yun:}t key='wap_00466'{/yun}，{yun:}t key='wap_00444'{/yun}{yun:}$tj.xmtit{/yun}{yun:}t key='wap_00473'{/yun} 
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $tj.trainnum>0{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
                 
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00455'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    <div class="">{yun:}$tj.trainmin{/yun}-{yun:}$tj.trainmax{/yun}</div>
                    {yun:}t key='wap_00467'{/yun}{yun:}$tj.trainnum{/yun}{yun:}t key='wap_00441'{/yun}  
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $tj.skillnum>0{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
              
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00461'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    {yun:}t key='wap_00450'{/yun}{yun:}$tj.skillnum{/yun}{yun:}t key='wap_00448'{/yun}{yun:}$tj.skillpic{/yun}{yun:}t key='wap_00445'{/yun} 
                </div>
            </div>
            {yun:}/if{/yun}
            {yun:}if $tj.shownum>0{/yun}
            <div class="Preview_your_resume_advantage">
                <div class="Preview_your_resume_header">
                 
                    <div class="Preview_your_resume_word">{yun:}t key='wap_00492'{/yun}</div>
                </div>
                <div class="Preview_your_resume_advantage_word">
                    {yun:}t key='wap_user_00123'{/yun}{yun:}$tj.shownum{/yun}{yun:}t key='wap_00442'{/yun}
                </div>
            </div>
            {yun:}/if{/yun}
            <div class="resume_lookall">
                <a href="javascript:void(0);" onclick="showresdet('{yun:}$config.resume_open_check{/yun}','{yun:}$uid{/yun}')" class="resume_lookall_a">{yun:}t key='wap_01602'{/yun}</a>
            </div>
        {yun:}/if{/yun}
        </div>
    </div>

    <!-- Footer -->
	<div class="yun_czfoot {yun:}if $Info.uid == $uid{/yun}none{yun:}/if{/yun}" >
		<div class="yun_czfootfixed">
			<div class="yun_czfoot_c">
				<div class="yun_czfoot_l">
                    <div class="yun_czfoot_s">
                        <a href="{yun:}url m=wap{/yun}" class="yun_czfoot_s_p yun_czfoot_syicon">   
                            <div class="">{yun:}t key='wap_00191'{/yun}</div>
                        </a>
                    </div>
					<div class="yun_czfoot_s">
						{yun:}if $config.sy_h5_share==1{/yun}
							<a href="javascript:void(0);" data-url="{yun:}url m=wap c=resume a=share id=$Info.id{/yun}" id="shareClick" class="yun_czfoot_s_p yun_czfoot_scicon"> 	
								<div class="">{yun:}t key='wap_com_00246'{/yun}</div>
							</a>
						{yun:}else{/yun}
							<a href="javascript:void(0);" id="shareClick" class="yun_czfoot_s_p yun_czfoot_scicon ">	
								<div class="">{yun:}t key='wap_com_00246'{/yun}</div>
							</a>
						{yun:}/if{/yun}
					</div> 
					<div class="yun_czfoot_s">
						{yun:}if $Info.userid_msg{/yun}
						<div class="yun_czfoot_s_p yun_czfoot_dhicon2">{yun:}t key='wap_00291'{/yun}</div>
						{yun:}else{/yun}
							{yun:}if $usertype==1{/yun}
								{yun:}if $config.sy_user_change==1{/yun}
								<a href="javascript:void(0);" onclick="showToast(RESUME_SHOW_I18N.applyComAccount)" class=" ">
									<div class="yun_czfoot_s_p yun_czfoot_dhicon1">{yun:}t key='wap_com_00429'{/yun}</div> 
								</a>
								
								{yun:}else{/yun} 
								<a href="javascript:void(0);" onclick="showToast(RESUME_SHOW_I18N.applyComAccountInvite)" class="">
									<div class="yun_czfoot_s_p yun_czfoot_dhicon1">{yun:}t key='wap_com_00429'{/yun}</div> 
								</a>
								{yun:}/if{/yun}
							{yun:}else{/yun}
								{yun:}if $uid{/yun}
								{yun:}if $Info.sqInfo{/yun}
								<a href="javascript:void(0);" uid="{yun:}$Info.uid{/yun}" onclick="sq_resume(this)">
									<div class="yun_czfoot_s_p yun_czfoot_dhicon1">{yun:}t key='wap_com_00429'{/yun}</div> 
								</a>
								{yun:}else{/yun}
								<a href="javascript:void(0);" uid="{yun:}$Info.uid{/yun}"  onclick="issq_resume(this)">
									<div class="yun_czfoot_s_p yun_czfoot_dhicon1">{yun:}t key='wap_com_00429'{/yun}</div> 
								</a>
								{yun:}/if{/yun}
								{yun:}else{/yun}
								<a href="javascript:void(0);" onclick="pleaselogin(RESUME_SHOW_I18N.loginComAccount,'{yun:}url m=wap c=login{/yun}')" class="">
									<div class="yun_czfoot_s_p yun_czfoot_dhicon1">{yun:}t key='wap_com_00429'{/yun}</div> 
								</a>
								{yun:}/if{/yun}
							{yun:}/if{/yun}
						{yun:}/if{/yun}
					</div>
				</div> 
				<div class="yun_czfoot_r">
					
					{yun:}if $Info.m_status=="1"{/yun}
						<div class="yun_czfoot_lt yun_czfoot_lt_td">
							<a href="{yun:}if $Info.telphone{/yun} tel:{yun:}$Info.telphone{/yun}{yun:}elseif $Info.telhome{/yun}tel:{yun:}$Info.telhome{/yun} {yun:}/if{/yun}">{yun:}t key='wap_00279'{/yun}</a> 
						</div>
					{yun:}elseif !$username{/yun} 
					<div class="yun_czfoot_lt yun_czfoot_lt_td">
						<a href="javascript:phone('1')" >{yun:}t key='wap_00279'{/yun}</a> 
					</div>
					{yun:}elseif $usertype!=2&&$usertype !=3 {/yun} 
					<div class="yun_czfoot_lt yun_czfoot_lt_td">
						<a href="javascript:phone('2')" >{yun:}t key='wap_00279'{/yun}</a> 
					</div>
					{yun:}elseif $freenum{/yun}
					<div class="yun_czfoot_lt yun_czfoot_lt_td">
						<a href="javascript:void(0)" onclick="for_link('{yun:}$Info.id{/yun}')">{yun:}t key='wap_00279'{/yun}</a>
					</div>
					{yun:}else{/yun}
					<div class="yun_czfoot_lt yun_czfoot_lt_td">
						<a href="javascript:void(0)" onclick="comlink('{yun:}$Info.downresumes{/yun}','{yun:}$Info.id{/yun}')" >{yun:}t key='wap_00279'{/yun}</a> 
					</div>
					{yun:}/if{/yun}

				</div>
			</div>
		</div>
	</div>
	


    <!-- Full resume view prompts -->
    <van-popup v-model="resdetShow" position="center" round :closeable="true" :style="{width:'80%'}">
        <!-- Resume details open to employers with active jobs -->
		<template v-if="fbshow==1">
			<div class="new_jobshow_name">{{i18n.warmTip}}</div>
			<div class="new_jobshow_tel">{{i18n.resumeJobRequired}}</div>
			<div class="new_jobshow_telbth"><a href="{yun:}url m=wap{/yun}member" class="new_jobshow_telbth_a">{{i18n.publishJob}}</a></div>
		</template>

        <!-- Resume visible after viewing contact info -->
		<template v-if="fbshow==2">
			<div class="new_jobshow_name">{{i18n.warmTip}}</div>
			<div class="new_jobshow_tel">{{i18n.resumeContactRequired}}</div>
			<div class="new_jobshow_telbth">
				<a href="javascript:void(0)" onclick="comlink('{yun:}$Info.downresumes{/yun}','{yun:}$Info.id{/yun}')" class="new_jobshow_telbth_a">{{i18n.viewContact}}</a>
			</div>
		</template>
    </van-popup>

	<!-- Phone popup -->
	<van-popup v-model="prvBox" position="center" :style="{ width:'90%',background:'none'}" closeable @closed="prvBoxClose">
		<div class="popupSubject">
			<div class="popupTop">
				<p>{{i18n.privacyVirtual}}</p>
				<h3>{{prvlinktel}}</h3>
				<span v-if="prvtime">{{i18n.validityPrefix}} {{prvtime}} {{i18n.secondUnit}}</span>
				<span v-else>{{i18n.numberExpired}}</span>
			</div>
			<div class="popupButton">
				<a v-if="prvtime" :href="'tel:' + prvlinktel" onclick="addtellog();">{{i18n.dialNow}}</a>
				<a v-else href="javascript:;" @click="location.reload();">{{i18n.refreshToRetry}}</a>
				<p>{{i18n.usePhonePrefix}} <span>{{prvusertel}}</span> {{i18n.callPhone}}</p>
			</div>
		</div>
	</van-popup>
    
</div>

    {yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}

    <script type="text/javascript">

        var RESUME_SHOW_I18N = {
            comReportOnly: '{yun:}t key='wap_00483'{/yun}',
            loginComAccount: '{yun:}t key='wap_js_00171'{/yun}',
            comViewOnly: '{yun:}t key='wap_00485'{/yun}',
            resumeLoginRequired: '{yun:}t key='wap_00478'{/yun}',
            viewContactTitle: '{yun:}t key='wap_00447'{/yun}',
            canViewMore: '{yun:}t key='wap_00489'{/yun}',
            resumeUnit: '{yun:}t key='common_01888'{/yun}',
            confirmViewSuffix: '{yun:}t key='wap_01603'{/yun}',
            viewBtn: '{yun:}t key='wap_com_00427'{/yun}',
            cancelBtn: '{yun:}t key='wap_js_00080'{/yun}',
            comFavOnly: '{yun:}t key='wap_00484'{/yun}',
            operationError: '{yun:}t key='wap_00486'{/yun}',
            applyComAccount: '{yun:}t key='wap_00488'{/yun}',
            applyComAccountInvite: '{yun:}t key='wap_00482'{/yun}'
        };
        
        $(function(){
            '{yun:}if $usertype==2{/yun}'
                var eid = '{yun:}$eid{/yun}';
                $.post(wapurl+'index.php?c=resume&a=history',{eid:eid},function(data){
                    if(data){
                        return true;            
                    }
                })
            '{yun:}/if{/yun}'
        }) 
        var resumeshow_vue =  new Vue({
            el:"#app",
            data:{
                fbshow: 0,
                resdetShow: false,
                prvBox: false,
				prvlinktel: '',
				prvtime: 0,
				prvusertel: '',
                i18n: {
                    warmTip: '{yun:}t key='wap_user_00205'{/yun}',
                    resumeJobRequired: '{yun:}t key='wap_00480'{/yun}',
                    publishJob: '{yun:}t key='wap_00322'{/yun}',
                    resumeContactRequired: '{yun:}t key='wap_00477'{/yun}',
                    viewContact: '{yun:}t key='wap_00447'{/yun}',
                    privacyVirtual: '{yun:}t key='wap_00481'{/yun}',
                    validityPrefix: '{yun:}t key='member_com_00315'{/yun}',
                    secondUnit: '{yun:}t key='common_02094'{/yun}',
                    numberExpired: '{yun:}t key='wap_00491'{/yun}',
                    dialNow: '{yun:}t key='wap_00494'{/yun}',
                    refreshToRetry: '{yun:}t key='wap_00487'{/yun}',
                    usePhonePrefix: '{yun:}t key='wap_00490'{/yun}',
                    callPhone: '{yun:}t key='wap_00279'{/yun}'
                }
            },
			mounted(){
				document.getElementById('app').style.display = 'block';
			},
            methods: {
				prvBoxClose(){
					window.location.reload();
				}
            },
        });
        
        function showresdet(rescheck,uid) {
            if(uid){
                if(rescheck==3){
                	resumeshow_vue.$data.fbshow = 1;
					resumeshow_vue.$data.resdetShow = true;
                }else if(rescheck==4){
                	resumeshow_vue.$data.fbshow = 2;
					resumeshow_vue.$data.resdetShow = true;
                }else if(rescheck==2){
                	showToast(RESUME_SHOW_I18N.comViewOnly);
                }
            }else{
                pleaselogin(RESUME_SHOW_I18N.resumeLoginRequired, wapurl+'index.php?m=wap&c=login');
            }
        }
        // View contact info; prompt remaining resume download quota
        function isDownResume(eid, num, url) {
            
            vant.Dialog.confirm({
                title: RESUME_SHOW_I18N.viewContactTitle,
                message: RESUME_SHOW_I18N.canViewMore + num + RESUME_SHOW_I18N.resumeUnit + RESUME_SHOW_I18N.confirmViewSuffix,
                theme: 'round',
                confirmButtonText: RESUME_SHOW_I18N.viewBtn,
                cancelButtonText: RESUME_SHOW_I18N.cancelBtn
            }).then(function(){
                for_link(eid);
            })
        }


        function for_link(eid) {
        
            showLoading();
            $.post("{yun:}url m=wap c=ajax a=forlink{/yun}",{eid : eid},function(data) {
                
                hideLoading();
                
                var data   = eval('(' + data + ')');
                var status = data.status;
                var type   = data.type;
                var online = data.online;
                
                if (status == 1) {
                    // Mandatory action prompt
					certVue.$data.checked = data.msgList;
					certVue.$data.yunCert = true;
                    
                } else if (status == 2) {
                    
                    showConfirm(data.msg,function(){
                        window.location.href = wapurl+"member/index.php?c=server&server=downresume&id="+ eid;
                    });

                }else if (status == 3) {

                    if(data.msg) {
                        showToast(data.msg);
                    }else{
                        location.reload(true);
                    }
                    
                } else  {
                    showToast(data.msg);
                }
            });
             
        }
        function talent_pool(uid, eid) {
            $.post("{yun:}url m=wap c=ajax a=talentpool{/yun}", {
                eid : eid,
                uid : uid
            }, function(data) {
                var data = eval('(' + data + ')');
                if (data.state == '0') {
                    showToast(RESUME_SHOW_I18N.comFavOnly);
                    return false;
                } else if (data.state == '1') {
                    showToast(data.msg,2,function(){
                        location.reload(true);
                    });
                    
                } else if (data.state == '2') {
                    showToast(data.msg);
                } else if (data.state == '3') {
                    pleaselogin(data.msg, '{yun:}url m=wap c=login{/yun}')
                } else {
                    showToast(RESUME_SHOW_I18N.operationError);
                }
            });
        }
        function phone(data) {
            if (data == 1) {
                pleaselogin(RESUME_SHOW_I18N.loginComAccount, '{yun:}url m=wap c=login{/yun}')
            } else if (data == 2) {
                showToast(RESUME_SHOW_I18N.comViewOnly);
                return false;
            }
        }
        var config = {
            url : '{yun:}url m=wap c=resume a=share id=$Info.id{/yun}',
            title : '{yun:}$title{/yun}-{yun:}$config.sy_webname{/yun}',
            desc : '',
            img : '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
            img_title : '{yun:}$title{/yun}',
            from : '{yun:}$config.sy_webname{/yun}'
        };
        

        function comlink(nums,id){
            
            resumeshow_vue.$data.resdetShow = false;   
            resumeshow_vue.$data.fbshow = 0;
               
            hideLoading();
            
            if(nums > 0){
            
                isDownResume(id,nums,wapurl+'index.php?m=ajax&c=forlink');
            }else{
                
                for_link(id,wapurl+'index.php?m=ajax&c=forlink');
            }
        }
		
		window.localStorage.removeItem("needRefresh");
		window.addEventListener('pageshow', function(){
			var storage = window.localStorage.getItem("needRefresh");
			if(storage){
				window.location.reload();
			}
		})
    </script>
    <!-- WeChat share markup -->
    <div style='margin: 0 auto; width: 0px; height: 0px; overflow: hidden;'>
        <img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}" />
    </div>
	{yun:}if $usertype == 2{/yun}
    {yun:}include file="$wapstyle/publichtm/sq_resume.htm"{/yun}
	<!-- Mandatory action prompt popup -->
	{yun:}include file="$wapstyle/publichtm/yun_cert.htm"{/yun}
	{yun:}/if{/yun}
</body>

</html>
