{yun:}include file="$wapstyle/header_cont.htm"{/yun}

<div class="clear"></div>

<div class="wxbind_cont">

    <div class="qqconnect_box">
        <div class="qqconnect_box_pic"><img width="100px;" height="100px;" src="{yun:}$smarty.session.wx.pic{/yun}"></div>
        <div class="qqconnect_box_p">{yun:}$smarty.session.wx.nickname{/yun}</div>
        <div class="qqconnect_box_p" style="padding-top:5px;">尊敬的微信用户</div>
    </div>
	<!--非实名并且是先注册的，有快速创建账号-->
    <div class="qqconnect_box_p">{yun:}t key='default_wxconnect_index_00001'{/yun}{yun:}if $config.reg_real_name_check != 1 && $config.sy_reg_type==1{/yun}，{yun:}t key='common_01917'{/yun}<a href="javascript:void(0);" onclick="creatacount();" style="color: #276bf2">{yun:}t key='wap_qqbind_00003'{/yun}</a>{yun:}else{/yun}，<a href="{yun:}url m=wap c=register bind=1{/yun}" style="color: #276bf2">{yun:}t key='wap_qqbind_00001'{/yun}</a>{yun:}/if{/yun}</div>

    <form method="post" action="{yun:}$config_wapdomain{/yun}/index.php?c=wxconnect&a=wxbind" onsubmit="return checkwxbind(this);">
        <input type="hidden" id="provider" value="weixin"/>

        <div id="login_normal_box">
            <div class="forminputitem">
                <div class="wxbind_text">
                    <input name="username" type="text" id="username" value="{yun:}$smarty.get.username{/yun}" placeholder="{yun:}t key='member_user_resumeout_00004'{/yun}/{yun:}t key='wap_user_ident_00004'{/yun}/{yun:}t key='admin_user_member_component_alluser_00026'{/yun}" class="wxbind_text_input "/>
                </div>
            </div>
            <div>
                <div class="wxbind_text">
                    <input name="password" type="password" id="password" class="wxbind_text_input" placeholder="输入密码"/>
                </div>
            </div>
        </div>

        {yun:}if $config.sy_msg_login==1{/yun}
            <div id="login_sj_box" style="display: none;">
                <div class="wxbind_text">
                    <input name="moblie" id="moblie" type="number" class="wxbind_text_input" value="" placeholder="{yun:}t key='wap_user_ident_00004'{/yun}" data-input-clear="3" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
                    <span class="mui-icon mui-icon-clear mui-hidden"></span>
                </div>
                <div class="logoin_msg none" id="show_mobile">
                    <div class="logoin_msg_tx">{yun:}t key='wap_user_bindingbox_00001'{/yun}</div>
                </div>
            </div>
        {yun:}/if{/yun}

        {yun:}if strpos($config.code_web,"前台登录")!==false{/yun}
            {yun:}if $config.code_kind >2{/yun}
            <div class="gtdx-captcha">
                <div id="bind-captcha" data-id='sublogin' data-type='click'></div>
                <input type='hidden' id="verify_token" name="verify_token" value="">
                {yun:}if $config.code_kind==6{/yun}
                <input type='hidden' id="verify_str" name="verify_str" value="" />
                {yun:}/if{/yun}
                <input type='hidden' id="popup-submit">
                <input type='hidden' id="bind-submit">
                <input type='hidden' id="noblur" value="1"/>
            </div>
            {yun:}else{/yun}
                <div class="wxbind_text wxbind_textpd">
                    <input class="wxbind_text_input" placeholder="{yun:}t key='wap_advice_00007'{/yun}" name="authcode" id="checkcode" type="text" maxlength="6">
                    <div class="wxbind_img">
                        <img id="vcode_img" class=" " src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');">
                    </div>
                </div>
            {yun:}/if{/yun}
        {yun:}/if{/yun}

        {yun:}if $config.sy_msg_login==1{/yun}
        <div id="login_sjyz_box" style="display: none;">
            <div class="wxbind_text wxbind_textpd">
                <input name="moblie_code" type="text" maxlength="6" class="wxbind_text_input" id="moblie_code" value="" placeholder="{yun:}t key='wap_com_bindingbox_00002'{/yun}">
                <div class="logoin_msg none" id="show_dynamiccode">
                    <div class="logoin_msg_tx">请填写发送的验证码</div>
                    <div class="logoin_msg_icon"></div>
                </div>
                <a href="javascript:void(0);" class="wxbind_text_send" id="send_msg_tip" onclick="send_msg('{yun:}$config_wapdomain{/yun}/index.php?c=wxconnect&a=sendmsg');"><span id="time">{yun:}t key='wap_user_bindingbox_00005'{/yun}</span></a>
            </div>
        </div>
        {yun:}/if{/yun}

        <div class="wxbind_login_bthbox">
            <a href="javascript:void(0);" class="wxbind_login_bth" id="sublogin" onclick="bindacount();">{yun:}t key='wap_qqbind_00004'{/yun}</a>
            <input class="wxbind_login_bth" id="submlogin" value="{yun:}t key='wap_qqbind_00004'{/yun}" type="submit" style="display: none;" />
        </div>

    </form>

    <!-- {yun:}t key='wap_advice_00007'{/yun} -->
    <div class="login_otherfs">
        {yun:}if $config.sy_msg_isopen==1 && $config.sy_msg_login==1{/yun}
        <div class="verification_code_word" id="mobile_login">短信登录</div>
        {yun:}/if{/yun}
        <div class="verification_code_word" id="acount_login" style="display: none"> {yun:}t key='wap_login_00009'{/yun}</div>
    </div>
</div>

<style>
    body {
        background: #fff
    }
</style>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/reg_ajax.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/verify_js.htm"{/yun}

<script>
    var wapurl = "{yun:}url m=wap{/yun}",
        weburl = "{yun:}$config.sy_weburl{/yun}",
        code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}";

    $(document).ready(function () {
        //账号登录和手机登录tab{yun:}t key='wap_js_umeditor_dialogs_emotion_emotion_00001'{/yun}
        $("#acount_login').click(function (data) {
            $('#acount_login').css("display", "none");
            $('#mobile_login').css("display", "block");
            $('#sublogin').css("display", "block");
            $('#submlogin').css("display", "none");
            $('#login_normal_box').css("display", "block");
            $('#login_sj_box').css("display", "none");
            $('#login_sjyz_box').css("display", "none");
            $('#bind-captcha').attr('data-id', 'sublogin');
            $('#bind-captcha').attr('data-type', 'click');
        });
        $('#mobile_login').click(function (data) {
            $('#mobile_login').css("display", "none");
            $('#acount_login').css("display", "block");
            $('#sublogin').css("display", "none");
            $('#submlogin').css("display", "block");
            $('#login_sj_box').css("display", "block");
            $('#login_sjyz_box').css("display", "block");
            $('#login_normal_box').css("display", "none");
            $('#bind-captcha').attr('data-id', 'send_msg_tip');
            $('#bind-captcha').attr('data-type', 'click');
        });
    });

    var Timer;
    var smsTimer_time = 90; //倒数 90
    var smsTimer_flag = 90; //倒数 90
    var smsTime_speed = 1000; //速度 1秒钟

    // SendmobileSMS
    function send_msg(url) {
        var moblie = $('#moblie').val();
        var code;

        var verify_token, verify_str;
        if (moblie == "" || moblie == "{yun:}t key='wap_user_bindingbox_00003'{/yun}") {

            showToast("{yun:}t key='wap_user_bindingbox_00003'{/yun}");
            return false;
        } else {
            if (!isjsMobile(moblie)) {
                showToast("{yun:}t key='wap_login_00007'{/yun}");
                return false;
            }
        }
        var codesear = new RegExp("{yun:}t key='wap_js_reg_ajax_00022'{/yun}");
        if (codesear.test(code_web)) {
            if (code_kind == 1) {
                code = $.trim($("#checkcode").val());
                if (!code) {
                    showToast("{yun:}t key='wap_js_forgetpw_00001'{/yun}");
                    return false;
                }
            } else if (code_kind > 2) {
                // Change verification type to SMS
                $('#bind-captcha').attr('data-id', 'send_msg_tip');
                $('#bind-captcha').attr('data-type', 'click');
                verify_token = $('input[name="verify_token"]').val();
                if (verify_token == '') {
                    if (code_kind == 6) {
                        $("#bind-captcha").trigger("click");
                    } else {
                        $("#bind-submit").trigger("click");
                    }
                    return false;
                }
				verify_str = $('input[name="verify_str"]').val();
            }
        }

        if (smsTimer_time == smsTimer_flag) {
            Timer = setInterval("smsTimer($('#send_msg_tip'))", smsTime_speed);
            showLoading();
            $.post(url, {
                moblie: moblie,
                authcode: code,
                verify_token: verify_token,
                verify_str: verify_str
            }, function (data) {
                hideLoading();
                if (data) {
                    var res = JSON.parse(data);
                    if (res.error != 1) {
                        clearInterval(Timer);
                    }
                    showToast(res.msg, 2, function () {
                        if (res.error != 1) {
                            if (code_kind == 1) {

                                checkCode('vcode_img');
                            } else if (code_kind > 2) {

                                $("#popup-submit").trigger("click");
                            }
                            if (res.url){
                                location.href = res.url;
                            }
                        }
                    });
                }
            })
        } else {
            showToast("{yun:}t key='wap_js_forgetpw_00003'{/yun}", 2);
            return false;
        }
    }

    // Countdown
    function smsTimer(obj) {
        if (smsTimer_flag > 0) {
            $(obj).html("{yun:}t key='wap_js_forgetpw_00007'{/yun}" + smsTimer_flag + 's)');
            $(obj).attr({
                'style': 'background: ;'
            });
            smsTimer_flag--;
        } else {
            $(obj).html("{yun:}t key='wap_js_forgetpw_00009'{/yun}");
            $(obj).attr({
                'style': 'background: ;"
            });
            smsTimer_flag = smsTimer_time;
            clearInterval(Timer);
        }
    }

    function changeCaptcha() {
        // {yun:}t key='common_01315'{/yun}
        $("#bind-captcha').attr('data-id', 'login_bth');
        $('#bind-captcha').attr('data-type', 'click");
    }

    // 判断安卓物理返回键,从wxoauth来的,{yun:}t key='member_user_headnav_00006'{/yun};其他的正常返回
    var u = navigator.userAgent;
    var isAndroid = u.indexOf("Android') > -1 || u.indexOf('Adr') > -1; //android终端
    if (isAndroid) {
        $(function () {
            var wxoauth = $('#wxoauth').val();
            history.pushState(null, null, location.href);
            window.addEventListener('popstate', function (event) {
                history.pushState(null, null, location.href);
                if (wxoauth == '1') {
                    location.href = wapurl;
                } else {
                    window.history.go(-1);
                }
            });
        })
    }
</script>
</body>
</html>
