<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}

<div class="jh_main">
	<div class="jh_main_name">{yun:}$smarty.cookies.username{/yun}{yun:}t key='wap_00616'{/yun}</div>
	<div class="jh_wel">
		<span class="jh_wel_con">{yun:}t key='wap_00617'{/yun}<i>{yun:}$config.sy_webname{/yun}</i>{yun:}t key='common_02487'{/yun}<em>{yun:}t key='common_02488'{/yun}</em>。</span>
	</div>
	<div class="jh_content">
		<div class="jh_con">
			<div class="jh_con_det">
				<div class="jh_con_detcon">
					<div class="jh_con_det_name">{yun:}t key='wap_00544'{/yun}</div>
					<p>{yun:}t key='common_02489'{/yun}</p>
					<a href="{yun:}url m=login c=setutype usertype=1{/yun}">{yun:}t key='common_02490'{/yun}</a>
				</div>
			</div>
			<div class="jh_con_qiu png">{yun:}t key='default_00357'{/yun}</div>
		</div>
		<div class="jh_con">
			<div class="jh_con_det">
				<div class="jh_con_detcon">
					<div class="jh_con_det_name">{yun:}t key='wap_00619'{/yun}</div>
					<p>{yun:}t key='default_00356'{/yun}</p>
					<a href="{yun:}url m=login c=setutype usertype=2{/yun}">{yun:}t key='common_02490'{/yun}</a>
				</div>
			</div>
			<div class="jh_con_qiu jh_con_pin png">{yun:}t key='default_00358'{/yun}</div>
		</div>
		
	</div>
</div>
{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->
{yun:}include file="$tplstyle/footer.htm"{/yun}