<!DOCTYPE html>
<html lang="en">

<head>
    <script data-cfasync="false" src="../../../admin/header.js?v=20260825a"></script>
    <script data-cfasync="false" src="../../../admin/httpVueLoader.js"></script>
</head>

<body>
    <div id="indexapp" class="homeModule">
        <div v-if="islook">
            <template v-if="index_lookstatistc=='2'">
                <hometop :topinfo="topinfo"></hometop>
                <div class="indexSubFlex">
                    <div class="indexSubLets">
                        <!-- <hometop :topinfo="topinfo"></hometop> -->
                        <homecenter></homecenter>
                    </div>
                    <div class="indexSubRigt">
                        <indexright></indexright>
                    </div>
                </div>
                <!-- <hometop :topinfo="topinfo"></hometop>
				<homecenter></homecenter> -->
                <homebottom :sysinfo="sysinfo"></homebottom>
            </template>
            <el-empty v-else :description="lc('admin_index_00081')"></el-empty>
        </div>
    </div>
    <!-- script -->
    <script data-cfasync="false">
    const custoapp = new Vue({
        el: '#indexapp',
        data: function() {
            return {
                sysinfo: {},
                topinfo: {},

                index_lookstatistc: '',
                islook: false,
            }
        },
        components: {
            'hometop': httpVueLoader('./component/hometop.vue'),
            'homecenter': httpVueLoader('./component/homecenter.vue'),
            'homebottom': httpVueLoader('./component/homebottom.vue'),
            'indexright': httpVueLoader('./component/indexright.vue'),
        },
        created: function() {

            this.getData();
        },
        methods: {
            getData() {
                var that = this;

                httpPost('m=index&c=homeData').then(function(response) {
                    let res = response.data;
                    if (res.error == 0) {
                        that.sysinfo = res.data.sysinfo;
                        that.topinfo = res.data.topinfo;
                        that.index_lookstatistc = res.data.index_lookstatistc;
                    }
                    that.islook = true;
                })
            },
        }
    });
    </script>
</body>

</html>
