<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{yun:}$title{/yun}</title>
    <meta name="keywords" content="{yun:}$keywords{/yun}"/>
    <meta name="description" content="{yun:}$description{/yun}"/>
    <link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}/images/style.css?v={yun:}$config.cachecode{/yun}"/>
    
</head>
<body style="background:#f0f0f0">
<div class="c_w_header">
    <div class="c_header_tou01">
        <div class="wrap">
            <div class="c_tou01_huany">
                <div class="c_huany_xt fl">{yun:}$com.name{/yun}{yun:}t key='common_01796'{/yun}</div>
                <div class="fr"><a href="{yun:}$config.sy_weburl{/yun}" class="header_cont_home">返回人才网首页</a></div>
            </div>
        </div>
    </div>
    <div class="black_bg">
        <div class="black_banner"><img src="{yun:}if $banner.pic{/yun}{yun:}$banner.pic{/yun}{yun:}else{/yun}{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_banner{/yun}{yun:}/if{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_banner{/yun}',2);"></div>
    </div>
    <div class="black_cont">
        <div class="black_cont_cominfo">
            <div class="balck_logo">
                <div class="balck_logo_bg"><img src="{yun:}$com.logo{/yun}" width="120" height="120" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/></div>
            </div>
            <div class="black_cont_cominfo_right">
                <div class="black_cont_cominfo_nb">
                    <h1 class="black_cont_cominfo_name">{yun:}$com.name{/yun}</h1>
                    {yun:}if $ComMember.source==6 && $ComMember.claim==0 && $ComMember.email!=""{/yun}<a href="javascript:claim('{yun:}url m=ajax c=claim uid=$com.uid{/yun}');">{yun:}t key='resume_jianli3_index_00014'{/yun}</a>{yun:}/if{/yun}
                    {yun:}if $usertype=='1'{/yun}
                        {yun:}if $isatn.id{/yun}
                            <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">{yun:}t key='wap_js_public_00003'{/yun}</a>
                        {yun:}else{/yun}
                            <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atncompany{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                        {yun:}/if{/yun}
                    {yun:}else{/yun}
                        {yun:}if $uid{/yun}
                            {yun:}if $config.sy_user_change==1{/yun}
                            <a href="javascript:void(0);" onclick="layer.msg('{yun:}t key='default_company_index_00001'{/yun}', 2, 8)" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                            {yun:}else{/yun}
                            <a href="javascript:void(0)" onclick="layer.msg('{yun:}t key='wap_company_show_dark_00005'{/yun}', 2,8)" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                            {yun:}/if{/yun}
                        {yun:}else{/yun}
                            <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">{yun:}t key='common_01949'{/yun}</a>
                        {yun:}/if{/yun}
                    {yun:}/if{/yun}

                    {yun:}if $com.welfare_n{/yun}
                    <div class="com_welfare">
                        {yun:}foreach from=$com.welfare_n item=wlist{/yun}
                        <span class="com_welfare_s">{yun:}$wlist{/yun}</span>
                        {yun:}/foreach{/yun}
                    </div>
                    {yun:}/if{/yun}
                </div>
            </div>
        </div>
        <div class="black_cont_bg"></div>
    </div>
    <div class="clear"></div>
    <div class="black_com_w980">
        <div class="black_com_box">
            <div class="black_com_box_left">
                <div class="black_com_box_tit none" id="companybusiness"><span class="black_com_box_tit_s">{yun:}t key='wap_company_show_dark_00016'{/yun}</span>
                </div>
                <!--{yun:}t key='admin_tool_message_component_messageshow_00016'{/yun} Start -->
                <div class="business none" id="businessInfo">
                    <div class="businessInfo">
                        <ul class="basicMsgList clearfix">
                            <li><div class="clearfix"><span>{yun:}t key='admin_user_company_component_companyrz_renzheng_00002'{/yun}：</span><em id="creditCode"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00009'{/yun}</span><em id="estiblishTime"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00008'{/yun}</span><em id="orgNumber"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00012'{/yun}</span><em id="Time"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_publichtm_search_new_00010'{/yun}：</span><em id="companyOrgType"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00011'{/yun}</span><em id="regInstitute"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00013'{/yun}</span><em id="regStatus"></em></div></li>
                            <li><div class="clearfix"><span>{yun:}t key='wap_company_show_dark_00010'{/yun}</span><em id="regCapital"></em></div></li>
                        </ul>
                        <dl class="basicMsgList">
                            <dt>注册地址：</dt>
                            <dd id="regLocation"></dd>
                        </dl>
                        <dl class="basicMsgList mt20">
                            <dt>{yun:}t key='wap_company_show_dark_00014'{/yun}</dt>
                            <dd id="businessScope"></dd>
                        </dl>
                        <div class="qxb clearfix">
                            <div class="qxb_tg"><span>以上内容由</span>
                                <div class="hxb"><a href="" class="tianyancha" id="tianyancha" target='_blank'></a></div>
                                <span>{yun:}t key='company_green_index_00012'{/yun}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--{yun:}t key='admin_tool_message_component_messageshow_00016'{/yun} End -->
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='wap_company_show_00005'{/yun}</span></div>

                <div class="black_com_box_js">
                    {yun:}if $com.content{/yun}
                    <div style="width:100%;height:auto; overflow:hidden" id="com_content" class="company_img_auto">{yun:}$com.content{/yun}</div>
                    <div class="company_show_more none"><a href="javascript:;" onclick="showcc()">{yun:}t key='common.view_more'{/yun}</a></div>
                    {yun:}else{/yun}
                    <div class="firm_tips_no">{yun:}t key='wap_company_show_dark_00003'{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                <div class="black_com_box_tit" style="padding-bottom:0px;"><span class="black_com_box_tit_s">{yun:}t key='wap_company_index_00001'{/yun}</span></div>
                {yun:}if $departmentNames{/yun}
                <div class="department_box">
                    <span class="department_box_tit">{yun:}t key='company_green_index_00007'{/yun}</span>
                    <a href="javascript:void(0)" class="department_a department_a_cur" data-uid="{yun:}$smarty.get.id{/yun}" data-style="{yun:}$smarty.get.style{/yun}">{yun:}t key='common.all'{/yun}</a>
                    {yun:}foreach from=$departmentNames key=j item=v{/yun}
                    <a href="javascript:void(0)" class="department_a" data-name="{yun:}$v{/yun}" data-uid="{yun:}$smarty.get.id{/yun}" data-style="{yun:}$smarty.get.style{/yun}">{yun:}$v{/yun}</a>
                    {yun:}/foreach{/yun}
                </div>
                {yun:}/if{/yun}

                <!-- {yun:}t key='default_job_comapply_00039'{/yun} start -->
                <div class="comshow_job" id="company_job_list">

                    {yun:}if $num=='0'{/yun}
                    <div class="firm_tips_no"> {yun:}t key='wap_company_show_dark_00002'{/yun}</div>
                    {yun:}else{/yun}
                    {yun:}joblist ispage=1 limit=5 item=jlist com_id='auto.id' depower='all'{/yun}
                    <div class="firm_post">
                        <div class="fpc_name">
                            <a href="{yun:}url m=job c=comapply id=$jlist.id{/yun}" target="_blank">{yun:}$jlist.name{/yun}</a>
                        </div>
                        <div class="firm_post_joblist">
                            {yun:}if $jlist.job_salary{/yun}<span class="comshow_job_xz"><i>{yun:}$jlist.job_salary{/yun}</i></span> {yun:}/if{/yun}
                            {yun:}if $jlist.job_city_two{/yun}<span class="comshow_job_city">{yun:}$jlist.job_city_two{/yun}</span>{yun:}/if{/yun}
                            {yun:}if $jlist.job_exp{/yun}<span class="comshow_job_jy">{yun:}$jlist.job_exp{/yun}{yun:}t key='home.experience_suffix'{/yun}</span>{yun:}/if{/yun}
                            {yun:}if $jlist.job_edu{/yun}<span class="comshow_job_xl">{yun:}$jlist.job_edu{/yun}{yun:}t key='home.education_suffix'{/yun}</span>{yun:}/if{/yun}
                        </div>
                        {yun:}if $jlist.lastupdate{/yun}
                        <div class="firm_post_jobtime">{yun:}t key='wap_member_publictwo_00004'{/yun}：{yun:}$jlist.lastupdate|date_format:"%Y-%m-%d"{/yun}</div>
                        {yun:}/if{/yun}
                        <a href="{yun:}url m=job c=comapply id=$jlist.id{/yun}" class="firm_post_jobbth">{yun:}t key='company_green_index_00010'{/yun}</a>
                    </div>
                    {yun:}/joblist{/yun}
                    {yun:}if $pagenav{/yun}
                    <div class="pages" style="margin-top:20px">
                        <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','1','5','1');">{yun:}t key='default_special_gl_00003'{/yun}</a>
                        {yun:}foreach from=$pgarr item=v key=k{/yun}
                        {yun:}if $k==0{/yun}
                        <a href="javascript:void(0);" class="selected" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}$v-1{/yun}',5,'{yun:}$v{/yun}')">{yun:}$v{/yun}</a>
                        {yun:}else{/yun}
                        <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','{yun:}$v-1{/yun}',5,'{yun:}$v{/yun}')">{yun:}$v{/yun}</a>
                        {yun:}/if{/yun}
                        {yun:}/foreach{/yun}
                        <a href="javascript:void(0);" onclick="page('{yun:}$smarty.get.id{/yun}','1','5','2');">{yun:}t key='default_special_gl_00004'{/yun}</a>
                        <a href="javascript:void(0);">{yun:}t key='common_01915'{/yun} {yun:}$pages{/yun}</a>
                    </div>
                    {yun:}/if{/yun}
                    {yun:}/if{/yun}
                </div>
                <!-- {yun:}t key='default_job_comapply_00039'{/yun} end-->
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='wap_resume_index_00022'{/yun}</span></div>
                <div class="black_com_box_content">
                    {yun:}if $config.com_link_look == 1{/yun}
                    <!--{yun:}t key='admin_user_company_component_comset_index_00075'{/yun}-->
                    {yun:}if $link.errorcode=="9"{/yun}
                    <div class="firm_det_link">
                        {yun:}if $com.linkman{/yun}<span class="firm_mes1">联 &nbsp;系&nbsp;{yun:}t key='common_02051'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkman{/yun}</em> </i></span>{yun:}/if{/yun}
                        {yun:}if $com.linkjob{/yun}<span class="firm_mes1">{yun:}t key='common_01637'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkjob{/yun}</em> </i></span>{yun:}/if{/yun}
                        {yun:}if $com.linkphone{/yun} <span class="firm_mes1">{yun:}t key='wap_com_address_new_00014'{/yun}：<i>{yun:}$com.linkphone{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.linktel{/yun} <span class="firm_mes1">{yun:}t key='wap_user_invitecont_00004'{/yun}：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linktel{/yun}</em> </i></span>{yun:}/if{/yun}
                        {yun:}if $com.linkmail{/yun} <span class="firm_mes1">{yun:}t key='company_green_index_00005'{/yun}<i>{yun:}$com.linkmail{/yun}</i></span> {yun:}/if{/yun}
                        {yun:}if $com.linkqq{/yun} <span class="firm_mes1">{yun:}t key='company_green_index_00001'{/yun}<i>{yun:}$com.linkqq{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.zip{/yun} <span class="firm_mes1">{yun:}t key='company_green_index_00006'{/yun}<i>{yun:}$com.zip{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.website{/yun} <span class="firm_mes1">{yun:}t key='wap_com_info_00045'{/yun}：<i>{yun:}$com.website{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.busstops{/yun} <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_com_info_00049'{/yun}：<i>{yun:}$com.busstops{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.address{/yun} <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_company_show_dark_00015'{/yun}：<i>{yun:}$com.address{/yun}</i></span>{yun:}/if{/yun}
                        {yun:}if $com.comqcode{/yun} <span class="firm_mes1" style="width:100%;">{yun:}t key='default_footer_00003'{/yun}：<i><img src="{yun:}$com.comqcode{/yun}" width="120" height="120"></i></span> {yun:}/if{/yun}
                    </div>
                    {yun:}else{/yun}
                    {yun:}if $link.errorcode==1 || $link.errorcode==2 || $link.errorcode==6 || $link.errorcode==5{/yun}
                    <div class="firm_login">
                        <div class="firm_login_con"><span>{yun:}$link.msg{/yun}</span></div>
                    </div>
                    {yun:}elseif $link.errorcode=="4"{/yun}
                    <div class="firm_login">
                        <div class="firm_login_con"><span>{yun:}$link.msg{/yun}</span> <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&act=add" class="firm_login_zc">{yun:}t key='wap_user_index_00015'{/yun}</a></div>
                    </div>
                    {yun:}elseif $link.errorcode=="3"{/yun}
                    <div class="firm_login">
                        <div class="firm_login_con">
                            <span>{yun:}$link.msg{/yun}</span>
                            <a class="firm_login_dl" href="javascript:void(0);" onclick="showlogin('1');">{yun:}t key='wap_job_show_00042'{/yun}</a>
                            <a class="firm_login_zc" href="{yun:}url m=register{/yun}">{yun:}t key='wap_job_show_00041'{/yun}</a>
                        </div>
                    </div>
                    {yun:}/if{/yun}
                    {yun:}if $com.address{/yun}
                    <div class="firm_det_link">
                        <span class="firm_mes1" style="width:100%;">{yun:}t key='wap_company_show_dark_00015'{/yun}：<i>{yun:}$com.address{/yun}</i></span>
                    </div>
                    {yun:}/if{/yun}
                    {yun:}/if{/yun}
                    {yun:}elseif $config.com_link_look == 2 && ($com.linkphone || $com.linktel){/yun}
                    <!--扫码查看联系方式-->
                    <div class="firm_login">
                        <div class="firm_login_con"><span>微信扫码查看联系方式</span>
                            <a href="javascript:void(0)" onclick="wxscanshowtel('{yun:}$com.uid{/yun}')" class="firm_login_zc">扫码查看</a>
                        </div>
                    </div>
                    {yun:}/if{/yun}
                </div>
                {yun:}show{/yun}
                {yun:}if !empty($shows){/yun}
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='wap_user_comment_00003'{/yun}</span></div>
                <div class="black_com_box_content">
                    <ul class="black_hjlist" id="layer-pic">
                        {yun:}foreach from=$shows item=row{/yun}
                        <li><a href='javascript:void(0);'><img src=" {yun:}$row.picurl{/yun}" width="200" height="127" title="{yun:}$row.title{/yun}" layer-src="{yun:}$row.picurl{/yun}" alt="{yun:}$row.title{/yun}"/></a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                {yun:}/if{/yun}
                {yun:}if !empty($NewsList){/yun}
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='company_green_index_00009'{/yun}</span></div>
                <div class="black_com_box_content">
                    <ul class="black_newslist">
                        {yun:}foreach from=$NewsList item=row{/yun}
                        <li><p><a href="{yun:}url m=company c=newsshow id=$com.uid nid=$row.id style=$smarty.get.style{/yun}" target="_blank">{yun:}$row.title{/yun}</a></p></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
                {yun:}/if{/yun}
                {yun:}if !empty($ProductList){/yun}
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='company_green_index_00008'{/yun}</span></div>
                <div class="black_com_box_content">
                    {yun:}foreach from=$ProductList item=row{/yun}
                    <dl class="black_cplist">
                        <dt><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}"><img src="{yun:}formatpicurl path=$row.pic{/yun}" width="200" height="140"/></a></dt>
                        <dd><a href="{yun:}url m=company c=productshow id=$com.uid pid=$row.id style=$smarty.get.style{/yun}">{yun:}$row.title{/yun}</a></dd>
                    </dl>
                    {yun:}/foreach{/yun}
                </div>
                {yun:}/if{/yun}
                
                <div class="maincenters companysearch_menuBoxs">
                    <div id="sortBoxs">
                        <div class="com_lb_tit">
                            <ul>
                                <li class="search_curs" id="typezb" onmousemove="searchtype('zb');">{yun:}t key='default_job_comapply_00033'{/yun}</li>
                                <li id="typezp" onmousemove="searchtype('zp');">{yun:}t key='default_job_comapply_00034'{/yun}</li>
                                <li id="typerm" onmousemove="searchtype('rm');">{yun:}t key='wap_publichtm_search_00004'{/yun}</li>
                            </ul>
                        </div>
                        <div class="com_lb_box">
                            <!-- {yun:}t key='default_job_comapply_00033'{/yun} start-->
                            <div class="contentBox_conts " id="type_zb">
                                <div class="Industry_lists">
                                    {yun:}if $city.three_cityid{/yun}
                                    {yun:}foreach item=v from=$city_type[$city.cityid]{/yun}
                                    <a href="{yun:}listurl provinceid=$city.provinceid cityid=$city.cityid type=three_cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                    {yun:}/foreach{/yun}
                                    {yun:}elseif $city.cityid{/yun}
                                    {yun:}foreach item=v from=$city_type[$city.provinceid]{/yun}
                                    <a href="{yun:}listurl provinceid=$city.provinceid type=cityid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                    {yun:}/foreach{/yun}
                                    {yun:}else{/yun}
                                    {yun:}foreach item=v from=$city_index{/yun}
                                    <a href="{yun:}listurl type=provinceid v=$v page=1{/yun}">{yun:}$city_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                    {yun:}/foreach{/yun}
                                    {yun:}/if{/yun}
                                </div>
                            </div>
                            <!-- {yun:}t key='default_job_comapply_00033'{/yun} end-->
                            <!-- {yun:}t key='default_job_comapply_00034'{/yun} start-->
                            <div class="contentBox_conts none" id="type_zp">
                                <div class="Industry_lists">
                                    {yun:}foreach item=v from=$industry_index{/yun}
                                    <a href="{yun:}listurl type=hy v=$v{/yun}">{yun:}$industry_name[$v]{/yun}{yun:}t key='common_01994'{/yun}</a>
                                    {yun:}/foreach{/yun}
                                </div>
                            </div>
                            <!-- {yun:}t key='default_job_comapply_00034'{/yun} end-->
                            <!-- {yun:}t key='wap_publichtm_search_00004'{/yun} start-->
                            <div class="contentBox_conts none" id="type_rm">
                                <div class="Industry_lists">
                                    {yun:}key limit=20 recom=1 type=3 item=keylist{/yun}
                                    <a href="{yun:}$keylist.url{/yun}">{yun:}$keylist.key_name{/yun}</a>
                                    {yun:}/key{/yun}
                                </div>
                            </div>
                            <!-- {yun:}t key='wap_publichtm_search_00004'{/yun} end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="black_com_box_right">
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">投递查看</span></div>
                <div class="black_com_lookreseme">
                    <div class="black_com_lookreseme_n"><span class="black_com_lookreseme_n_n">{yun:}$pre{/yun}</span>%</div>{yun:}t key='company_green_index_00004'{/yun}
                </div>
                <div class="black_com_lookms">
                    <div class="black_com_lookreseme_n"><span class="black_com_lookreseme_n_n">{yun:}$invite_resume{/yun}</span></div>{yun:}t key='resume_resume_00015'{/yun}
                </div>
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">认证信息</span></div>
                <div class="">
                    {yun:}if $com.email_status=="1"{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="邮箱未认证" title="{yun:}t key='admin_user_users_component_usersall_00020'{/yun}" class="png"/>{yun:}t key='wap_user_alltask_00024'{/yun}</div>
                    {yun:}else{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="邮箱未认证" title="邮箱未认证" class="png"/>{yun:}t key='wap_user_idcard_00003'{/yun}</div>
                    {yun:}/if{/yun}
                    {yun:}if $com.moblie_status=="1"{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="手机未认证" title="{yun:}t key='member_user_headnav_00004'{/yun}" class="png"/>{yun:}t key='wap_user_alltask_00024'{/yun}</div>
                    {yun:}else{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="手机未认证" title="手机未认证" class="png"/>{yun:}t key='wap_user_idcard_00003'{/yun}</div>
                    {yun:}/if{/yun}
                    {yun:}if $com.yyzz_status=="1"{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="执照未认证" title="执照已认证" class="png"/>{yun:}t key='wap_user_alltask_00024'{/yun}</div>
                    {yun:}else{/yun}
                    <div class="rz_list"><img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="执照未认证" title="执照未认证" class="png"/>{yun:}t key='wap_user_idcard_00003'{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='wap_resume_index_00016'{/yun}</span></div>
                <div class="black_com_box_right_info">
                    <div class="c_nr_hy"><em>{yun:}t key='admin_user_company_component_joball_00045'{/yun}</em><span>{yun:}$com.hy_info{/yun}</span></div>
                    <div class="c_nr_hy"><em>{yun:}t key='default_part_show_00006'{/yun}</em><span>{yun:}$com.pr_info{/yun}</span></div>
                    <div class="c_nr_hy"><em>{yun:}t key='company_green_index_00014'{/yun}</em><span>{yun:}$com.mun_info{/yun}</span></div>
                    <div class="c_nr_hy"><em>{yun:}t key='default_part_show_00005'{/yun}</em><span>{yun:}$com.provinceid{/yun}</span></div>
                    {yun:}if $com.money{/yun}
                    <div class="c_nr_hy"><em>{yun:}t key='company_green_index_00013'{/yun}</em>{yun:}$com.money{/yun}{yun:}if $com.moneytype==1{/yun}{yun:}t key='wap_js_member_caregory_00004'{/yun}{yun:}else{/yun}{yun:}t key='wap_js_member_caregory_00002'{/yun}{yun:}/if{/yun}</div>
                    {yun:}/if{/yun}
                    {yun:}if $com.sdate{/yun}
                    <div class="c_nr_hy"><em>{yun:}t key='company_green_index_00011'{/yun}</em>{yun:}$com.sdate{/yun}</div>
                    {yun:}/if{/yun}
                </div>
                <div class="black_com_box_tit"><span class="black_com_box_tit_s">{yun:}t key='wap_evaluategradeshow_00001'{/yun}</span></div>
                <div class="wx_share_fx">
                    <div class="wx_share_fx_img">
                        
                        <img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="120" height="120">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容结束-->
    <div class="clear"></div>
    <div id="telQrcodeBox" class="none">
        <div class="job_tel_wx_box">
            <div id="tel_wxqrcode" class="job_tel_wx_zs">{yun:}t key='wap_company_show_dark_00006'{/yun}</div>
            <div class="job_tel_wx_p"><span class="job_tel_wx_bth">{yun:}t key='default_job_comapply_00022'{/yun}</span></div>
        </div>
    </div>
</div>
<script>
    var weburl = "{yun:}$config.sy_weburl{/yun}", integral_pricename = '{yun:}$config.integral_pricename{/yun}',
        pricename = '{yun:}$config.integral_pricename{/yun}', code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}';
</script>
{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/ScrollPic.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer,
            $ = layui.$;
        layer.photos({
            photos: '#layer-pic',
            anim: 5
        });
    });
    <!--//--><![CDATA[//><!--
    var li_num = $("#layer-pic li").length;
    if (li_num > 3) {//如果图片数量不足，就不执行切换
        var scrollPic_02 = new ScrollPic();
        scrollPic_02.scrollContId = "layer-pic"; //内容容器ID
        scrollPic_02.arrLeftId = "LeftArr";//左箭头ID
        scrollPic_02.arrRightId = "RightArr"; //右箭头ID
        scrollPic_02.frameWidth = 630;//显示框宽度
        scrollPic_02.pageWidth = 210; //翻页宽度
        scrollPic_02.speed = 10; //移动速度(单位毫秒，越小越快)
        scrollPic_02.space = 10; //每次移动像素(单位px，越大越快)
        scrollPic_02.autoPlay = true; //自动播放
        scrollPic_02.autoPlayTime = 2; //自动播放间隔时间(秒)
        scrollPic_02.initialize(); //初始化
    }

    //--><!]]>
    function searchtype(id) {
        $(".search_curs").removeClass("search_curs");
        $("#type" + id).addClass("search_curs");
        $(".contentBox_conts").hide();
        $("#type_" + id).show();
    }

    $(function () {
        tianyancha('{yun:}url m=ajax c=getbusiness{/yun}', '{yun:}$com.name{/yun}');

        $('.c_zj02_list li').click(function () {
            $(this).addClass('c_zj02_curr').siblings().removeClass('c_zj02_curr');
        });
        var cheight = $("#com_content").height();
        if (parseInt(cheight) > 270) {
            $("#com_content").attr('style', 'width:100%;height:270px; overflow:hidden');
            $(".company_show_more").show();
        }
    });

    function showcc() {
        $("#com_content").attr('style', 'width:100%;height:auto; overflow:hidden');
        $(".company_show_more").find('a').html("{yun:}t key='wap_article_00005'{/yun}");
        $(".company_show_more").find('a').attr('onclick', 'hidecc()');
    }

    function hidecc() {
        $("#com_content").attr('style', 'width:100%;height:270px; overflow:hidden');
        $(".company_show_more").find('a').html("{yun:}t key='common.view_more'{/yun}");
        $(".company_show_more").find('a').attr('onclick', 'showcc()');
    }

    function page(id, page, limit, updown) {
        if (page < 1) {
            page = 1;
        }
        loadlayer();
        $.ajax({
            type: "POST",
            global: false,
            url: "{yun:}url m=company c=prestr{/yun}",
            data: {
                id: id,
                page: page,
                limit: limit,
                updown: updown,
                style: 1
            },
            success: function (data) {
                layer.closeAll('loading');
                var data = eval("(" + data + ")");
                if (data.num < 0) {
                    var $html = '<div class="firm_tips_no"> {yun:}t key='wap_company_show_dark_00002'{/yun}</div>'
                } else {
                    var $html = data.joblist;
                }
                $("#company_job_list").html($html);
            }
        });
    }

    $(document).ready(function () {
        $(".department_a").click(function () {
            $(".department_a").removeClass('department_a_cur');
            $(this).addClass('department_a_cur');
            var departmentName = $(this).attr('data-name');
            var comuid = $(this).attr('data-uid');
            var style = $(this).attr('data-style');
            var html = '';
            if (departmentName) {
                $.ajax({
                    url: "{yun:}url m=company c=departmentjob{/yun}",
                    data: {comuid: comuid, departmentName: departmentName, style: style},
                    type: 'POST',
                    success: function (data) {
                        $('#company_job_list').html(data);
                    }
                });
            } else {
                page(comuid, 1, 5, 1);
            }
        });
    });

    function departmentjobpage(comuid, departmentName, style, page, limit, updown) {
        var html = '';
        $.ajax({
            url: "{yun:}url m=company c=departmentjob{/yun}",
            data: {
                comuid: comuid,
                departmentName: departmentName,
                style: style,
                page: page,
                limit: limit,
                updown: updown
            },
            type: 'POST',
            success: function (data) {
                $('#company_job_list').html(data);
            }
        });
    }

    function wxscanshowtel(id) {
        $('#tel_wxqrcode').html('<img src="index.php?c=telQrcode&id=' + id + '" width="120" height="120">');
        $.layer({
            type: 1,
            title: '微信扫码查看联系方式',
            closeBtn: [0, true],
            offset: ['100px', ''],
            border: [10, 0.3, '#000', true],
            area: ['300px', '320px'],
            page: {
                dom: "#telQrcodeBox"
            }
        });
    }
</script>

<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" class="none"></iframe>

{yun:}include file="$tplstyle/public_search/login.htm"{/yun}
{yun:}include file="$tplstyle/footer.htm"{/yun}