<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun},wap" />
<meta name="description" content="{yun:}$description{/yun}" />
<link rel="stylesheet" href="{yun:}$resume_style{/yun}/css/jquery.fullPage.css?v={yun:}$config.cachecode{/yun}">
<link rel="stylesheet" href="{yun:}$resume_style{/yun}/css/font-awesome.min.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<link type="text/css" href="{yun:}$resume_style{/yun}/css/rusume.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
</head>
<body>
{yun:}include file="$wapstyle/publichtm/wap_api_enum.htm"{/yun}
<div id="dowebok">
<section class="section">
    <div class="rusume_info_cont">
      <div class="rusume_info_Start">
        <div class="rusume_info_Start_k1"></div>
        <div class="rusume_info_h1"><span class="rusume_info_Start_span">{yun:}t key='wap_00453'{/yun}</span></div>
      </div>
      <div class="rusume_info_Start_k"></div>
    </div>
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}$Info.username_n{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  <section class="section">
    <div class="rusume_info_cont">
		
	  <div class="rusume_info_line"></div>
	  
      <div class="rusume_info_Frame_one">
        <div class="rusume_info_Frame_line"></div>
      </div>
	  
      <div class="rusume_info_Frame_img"> <img src="{yun:}$Info.photo{/yun}"  onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"/ class="" width="275" height="275"></div>
      <div class="rusume_info_name_top_line"></div>
      <div class="rusume_info_name_bottom_line"></div>
      <div class="rusume_info_name">{yun:}$Info.username_n{/yun}</div>
      <div class="rusume_info_p">{yun:}$Info.job_sex{/yun},
	  {yun:}if $Info.age==0{/yun}{yun:}t key='wap_user_00333'{/yun}{yun:}else{/yun}{yun:}$Info.age{/yun}{yun:}t key='common_02074'{/yun}{yun:}/if{/yun},
	  {yun:}$Info.useredu{/yun},
    {yun:}if $Info.user_exp==$wap_db_no_exp{/yun}{yun:}t key='wap_01623'{/yun}{yun:}else{/yun}
	  {yun:}$Info.user_exp{/yun}{yun:}t key='wap_com_00305'{/yun}{yun:}/if{/yun}
	  </div>
	  <div class="rusume_info_p2">{yun:}$Info.living{/yun}</div>
      <div class="rusume_info_qz">{yun:}$Info.jobstatus{/yun} </div>
    </div>
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00456'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  <section class="section">
    <div class="section_Work_title"> <span class="section_Work_span">{yun:}t key='wap_00460'{/yun}</span> <em class="section_Work_em">{yun:}t key='wap_01616'{/yun}</em> </div>
    <div class="job_Intention_line_l"></div>
    <div class="job_Intention_line_r"></div>
    <div class="job_Intention_cont">
    {yun:}if $Info.jobname{/yun}
      <div class="section_yx_by_p">{yun:}t key='wap_00496'{/yun}{yun:}$Info.jobname{/yun}</div>
      {yun:}/if{/yun}
      <div class="section_yx_by_p">{yun:}t key='wap_user_00016'{/yun}：<span class="section_yx_by_span">{yun:}if $Info.minsalary&&$Info.maxsalary{/yun}￥{yun:}$Info.minsalary{/yun}-{yun:}$Info.maxsalary{/yun}{yun:}else if $Info.minsalary{/yun}￥{yun:}$Info.minsalary{/yun}{yun:}t key='common_01942'{/yun}{yun:}else{/yun}{yun:}t key='common_02045'{/yun}{yun:}/if{/yun}</span></div>

      {yun:}if $Info.type{/yun}
      <div class="section_yx_by_p">{yun:}t key='resume_00025'{/yun}{yun:}$Info.type{/yun}</div>{yun:}/if{/yun}
      {yun:}if $Info.report{/yun}
      <div class="section_yx_by_p">{yun:}t key='resume_00024'{/yun}{yun:}$Info.report{/yun}</div>{yun:}/if{/yun}
      <div class="section_yx_by_p">{yun:}t key='member_user_00028'{/yun}
	  {yun:}foreach from=$Info.expectcity key=key item=v{/yun} 
	  {yun:}if $key<5{/yun} {yun:}$v{/yun} {yun:}/if{/yun}
	  {yun:}/foreach{/yun}
	  </div>
      {yun:}if $Info.hy{/yun}
      <div class="section_yx_by_p">{yun:}t key='member_user_00026'{/yun}{yun:}$Info.hy{/yun}</div>{yun:}/if{/yun}
    </div>
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00460'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
{yun:}if $resumeCkeck==1{/yun}  
  {yun:}if $Info.user_work{/yun}
  <section class="section"  id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00457'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01608'{/yun}</em> </div>
    {yun:}foreach from=$Info.user_work item=worklist{/yun}
    <div class="slide">
      <div class="section_Additional_con">
        <div class="section_Experience_list">
          <div class="section_Experience_date"><span class="section_Experience_t">{yun:}$worklist.sdate|date_format:"%Y-%m"{/yun} {yun:}t key='common_02098'{/yun} {yun:}if $worklist.edate{/yun}{yun:}$worklist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun} </span></div>
          <div class="section_Experience_box">
            <div class="section_Experience_name">{yun:}$worklist.name{/yun} </div>
            <div>{yun:}t key='wap_user_00154'{/yun}：{yun:}$worklist.title{/yun}</div>
            <div class="section_Experience_text">{yun:}t key='resume_00055'{/yun}{yun:}$worklist.content{/yun} </div>
          </div>
        </div>
      </div>
    </div>
    {yun:}/foreach{/yun}
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00457'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  {yun:}/if{/yun}
  {yun:}if $Info.user_edu{/yun}
  <section class="section" id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00459'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01609'{/yun}</em> </div>
    {yun:}foreach from=$Info.user_edu item=edulist{/yun}
    <div class="slide">
      <div class="section_Additional_con">
        <div class="section_Education_list">
          <div class="section_Education_date"><span class="section_Education_t">{yun:}$edulist.sdate|date_format:"%Y-%m"{/yun} {yun:}t key='common_02098'{/yun} {yun:}if $edulist.edate{/yun}{yun:}$edulist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}</span></div>
          <div class="section_Education_box">
            <aside class="section_Education_name"><span class="section_Education_t">{yun:}t key='wap_00468'{/yun}</span><em class="section_Education_n">{yun:}$edulist.name{/yun}</em> </aside>
            <aside><span class="section_Education_t">{yun:}t key='wap_00449'{/yun}</span>{yun:}$edulist.education_n{/yun}</aside>
            {yun:}if $edulist.title{/yun}<aside><span class="section_Education_t">{yun:}t key='wap_00470'{/yun}</span>{yun:}$edulist.title{/yun}</aside>{yun:}/if{/yun}          
          </div>
        </div>
      </div>
    </div>
    {yun:}/foreach{/yun}
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00459'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  {yun:}/if{/yun}
  
{yun:}if $Info.user_tra{/yun}
  <section class="section" id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00455'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01610'{/yun}</em> </div>
    
   {yun:}foreach from=$Info.user_tra item=traininglist{/yun}
    <div class="slide">
      <div class="section_Additional_con">
        <div class="section_Education_list">
          <div class="section_Education_date"><span class="section_Education_t"> {yun:}$traininglist.sdate|date_format:"%Y-%m"{/yun} {yun:}t key='common_02098'{/yun} {yun:}if $traininglist.edate{/yun}{yun:}$traininglist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}</span></div>
          <div class="section_Education_box">
            <aside class="section_Education_name"><span class="section_Education_t">{yun:}t key='wap_00468'{/yun}</span><em class="section_Education_n bold">{yun:}$traininglist.name{/yun}</em> </aside>
            <aside><span class="section_Education_t">{yun:}t key='member_user_00008'{/yun}</span>{yun:}$traininglist.title{/yun}</aside>
           {yun:}if $traininglist.content{/yun}<aside><span class="section_Education_t">{yun:}t key='wap_00476'{/yun}</span>{yun:}$traininglist.content{/yun}</aside>{yun:}/if{/yun}
          </div>
        </div>
      </div>
    </div>
   
      {yun:}/foreach{/yun}
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00455'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
    {yun:}/if{/yun}

     {yun:}if $Info.user_skill{/yun}
  <section class="section" id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00461'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01611'{/yun}</em> </div>
    
   {yun:}foreach from=$Info.user_skill item=skilllist{/yun}
    <div class="slide" style="width:100%">
      <div class="section_Skill_cont">
        <div class="section_Skill_list">
          <div class="section_Skill_time_icon"><i class="section_Skill_time_icon_fa fa fa-check-circle-o"></i></div>
          <div class="section_Skill_p"> <span class="section_Skill_con_t">{yun:}t key='wap_00452'{/yun}</span><em class="section_Skill_con_em">{yun:}$skilllist.name{/yun}</em> </div>
          {yun:}if $skilllist.longtime{/yun}<div class="section_Skill_p"> <span class="section_Skill_con_t">{yun:}t key='wap_00458'{/yun}</span><em class="section_Skill_con_em ">{yun:}t key='wap_01604'{/yun}{yun:}$skilllist.longtime{/yun}{yun:}t key='common_02077'{/yun}</em></div>{yun:}/if{/yun}
          {yun:}if $skilllist.picurl{/yun}
		  
          <div class="section_Skill_p"> <span  class="section_Skill_con_t">{yun:}t key='wap_00464'{/yun}</span><img src="{yun:}$skilllist.picurl{/yun}" width="95" height="70" style="vertical-align:middle"/></div>
          {yun:}/if{/yun}
        </div>
      </div>
    </div>
   
     {yun:}/foreach{/yun} 
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00461'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  
     {yun:}/if{/yun}
   {yun:}if $Info.user_xm{/yun}
     <section class="section" id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00465'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01615'{/yun}</em> </div>
    
    {yun:}foreach from=$Info.user_xm item=projectlist{/yun}
    <div class="slide">
      <div class="section_Additional_con">
        <div class="section_Project_list"> <i class="section_Project_yuan"></i> <i class="section_Project_yuan3"></i>
          <div class="section_Project_a1"><em class="section_Project_em section_Project_em_n">{yun:}$projectlist.name{/yun}</em> </div>
          <div class="section_Project_box">
            <div class="section_Project_a2"><span class="section_Project_s">{yun:}t key='wap_js_00088'{/yun}：</span><em class="section_Project_em">{yun:}$projectlist.sdate|date_format:"%Y-%m"{/yun} {yun:}t key='common_02098'{/yun} {yun:}if $projectlist.edate{/yun}{yun:}$projectlist.edate|date_format:"%Y-%m"{/yun}{yun:}else{/yun}{yun:}t key='wap_js_00170'{/yun}{yun:}/if{/yun}</em> </div>
            <div class="section_Project_a2"><span class="section_Project_s">{yun:}t key='wap_user_00154'{/yun}：</span><em class="section_Project_em">{yun:}$projectlist.title{/yun}</em> </div>
            {yun:}if $projectlist.content{/yun}<div class="section_Project_a2 section_Project_a2_text"><span class="section_Project_s">{yun:}t key='wap_00476'{/yun}</span><em class="section_Project_em">{yun:}$projectlist.content{/yun}</em> </div>{yun:}/if{/yun}
          </div>
        </div>
      </div>
    </div>
    {yun:}/foreach{/yun}
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00465'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
    {yun:}/if{/yun}
          {yun:}if $Info.user_other{/yun}
  <section class="section " id="jl">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_01607'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01613'{/yun}</em> </div>
    
    {yun:}foreach from=$Info.user_other item=otherlist{/yun}
    <div class="slide">
      <div class="section_Additional_con">
        <div class="rusume_Additional_p"><span class="rusume_Additional_span">{yun:}t key='wap_js_00099'{/yun}</span>{yun:}$otherlist.name{/yun}</div>
        {yun:}if $otherlist.content{/yun}<div class="rusume_Additional_p  rusume_Additional_text"><span class="rusume_Additional_span">{yun:}t key='wap_00476'{/yun}</span>{yun:}$otherlist.content{/yun}</div>{yun:}/if{/yun}
      </div>
    </div>
    {yun:}/foreach{/yun}
   
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_01607'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
    {yun:}/if{/yun}
  {yun:}if $Info.description{/yun}        
  <section class="section ">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00463'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01612'{/yun}</em> </div>
    <div class="section_re_body"> <i class="section_re_pj_line1"></i> <i class="section_re_pj_line2"></i> <i class="section_re_pj_line3"></i>
      <p class="section_re_pj"> <i class="section_re_pj_fa fa fa-scissors"></i>  {yun:}$Info.description{/yun} </p>
    </div>
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_00463'{/yun}</div>
      <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
    </div>
  </section>
  {yun:}/if{/yun}
 {yun:}else{/yun}
	<section class="section" id="jl">
		<div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00454'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01617'{/yun}</em> </div>
		{yun:}if $tj.education{/yun}
			{yun:}$tj.edumin{/yun}-{yun:}$tj.edumax{/yun} {yun:}t key='wap_00469'{/yun}{yun:}$tj.education{/yun}{yun:}t key='wap_00471'{/yun}{yun:}if $tj.edutit{/yun}	，{yun:}t key='wap_01605'{/yun}{yun:}$tj.edutit{/yun}{yun:}t key='wap_00473'{/yun}{yun:}/if{/yun}
		{yun:}/if{/yun}
		<br/>
		{yun:}if $tj.worknum>0{/yun}
			{yun:}$tj.workmin{/yun}-{yun:}$tj.workmax{/yun} {yun:}t key='wap_00467'{/yun}{yun:}$tj.worknum{/yun}{yun:}t key='common_01887'{/yun}，{yun:}t key='wap_00446'{/yun}{yun:}$tj.workavg{/yun}{yun:}t key='wap_00474'{/yun}，{yun:}t key='common_02009'{/yun}{yun:}$tj.worktit{/yun}{yun:}t key='wap_00472'{/yun}
		{yun:}/if{/yun}
		<br/>
		{yun:}if $tj.xmnum>0{/yun}
			{yun:}$tj.xmmin{/yun}-{yun:}$tj.xmmax{/yun} {yun:}t key='wap_00443'{/yun}{yun:}$tj.xmnum{/yun}{yun:}t key='wap_00466'{/yun}，{yun:}t key='wap_00444'{/yun}{yun:}$tj.xmtit{/yun}{yun:}t key='wap_00473'{/yun}
		{yun:}/if{/yun}
		<br/>
		{yun:}if $tj.trainnum>0{/yun}
			{yun:}$tj.trainmin{/yun}-{yun:}$tj.trainmax{/yun} {yun:}t key='wap_00467'{/yun}{yun:}$tj.trainnum{/yun}{yun:}t key='wap_00441'{/yun}
		{yun:}/if{/yun}
		<br/>
		{yun:}if $tj.skillnum>0{/yun}
			{yun:}t key='wap_00450'{/yun}{yun:}$tj.skillnum{/yun}{yun:}t key='wap_00448'{/yun}{yun:}$tj.skillpic{/yun}{yun:}t key='wap_00445'{/yun}
		{yun:}/if{/yun}
		<br/>
		{yun:}if $tj.shownum>0{/yun}
			{yun:}t key='wap_user_00123'{/yun}{yun:}$tj.shownum{/yun}{yun:}t key='wap_00442'{/yun}
		{yun:}/if{/yun}
		<br/>
		<div class="section_nav">
		  <div class="section_nav_line"></div>
		  <div class="section_nav_line_r"></div>
		  <div class="section_nav_p">{yun:}t key='wap_00454'{/yun}</div>
		  <div class="section_nav_icon"><i class="fa fa-angle-double-up"></i></div>
		</div>
	  </section>
{yun:}/if{/yun}		 
  <section class="section ">
    <div class="section_h2"> <span class="section_h2_span">{yun:}t key='wap_00462'{/yun}</span> <em class="section_h2_em">{yun:}t key='wap_01614'{/yun}</em> </div>
    <ul class="section_touch_ul">
		<li class="seek_contact"><a href="{yun:}url m=wap c=resume a=show id=$Info.id{/yun}#tel">{yun:}t key='wap_00447'{/yun}</a></li>
		<!--li><a href="{yun:}url m=wap c=resume a=show id=$Info.id{/yun}#job">{yun:}t key='wap_00451'{/yun}</a></li-->
		<li class="enter_station"><a href="{yun:}$config.sy_wapdomain{/yun}">{yun:}t key='wap_com_00427'{/yun}{yun:}$config.sy_webname{/yun}</a></li>
	</ul> 
    <div class="section_nav">
      <div class="section_nav_line"></div>
      <div class="section_nav_line_r"></div>
      <div class="section_nav_p">{yun:}t key='wap_01606'{/yun}</div>
    </div>
  </section>
</div>
<!-- WeChat share only -->
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}"></div>
<script src="{yun:}$resume_style{/yun}/js/jquery-1.8.3.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$resume_style{/yun}/js/jquery.fullPage.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
$(function(){
	$('#dowebok').fullpage({
		normalScrollElements: '.myDiv'
	}); 
});
</script>
{yun:}include file="$wapstyle/nativeshare.htm"{/yun}
</body>
</html>
