{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<section class="none" id="yunvue">
    <div class="set_meal_tip">
        <div class="set_meal_tip_name">{yun:}t key='wap_com_00093'{/yun}：</div>
        <div class="">{yun:}t key='wap_01193'{/yun}
            <span class="set_meal_tip_name_hy">{{statis.rating_name}}</span>
            <span @click="pageTo('index.php?c=server')" class="set_meal_tip_a">{yun:}t key='wap_com_00040'{/yun}</span>
            <br>
            {yun:}t key='wap_01199'{/yun}
            {{statis.vip_fwtime}}
        </div>
    </div>
    <div class="set_meal_fa">
        <ul>
            <li>
                <div class="set_meal_fa_list">
                    <div class="set_meal_fa_name">{yun:}t key='wap_com_00044'{/yun}</div>
                    <div class="set_meal_fa_sy">{{statis.JobNum}}</div>
                    <div class="set_meal_fa_fb" @click="jobAdd">{yun:}t key='wap_00322'{/yun}</div>
                </div>
            </li>
            <li>
                <div class="set_meal_fa_list">
                    <div class="set_meal_fa_name">{yun:}t key='wap_com_00046'{/yun}</div>
                    <div class="set_meal_fa_sy" v-if="statis.rating_type==2">{{statis.invite_resume == 0?'-':statis.invite_resume+i18n.timesPerDay}}
                    </div>
                    <div class="set_meal_fa_sy" v-else>{{statis.invite_resume}}</div>
                    <div class="set_meal_fa_fb">
                        <a onclick="navigateTo('{yun:}url m=wap c=resume{/yun}')" href="javascript:void(0)">{{i18n.searchTalent}}</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="set_meal_tit">{yun:}t key='wap_com_00038'{/yun}</div>
    <div class="set_meal_tit_p">{yun:}t key='wap_01195'{/yun}</div>

    <div class="set_meal_box">
        <div class="set_meal_box_cont">
            <ul class="set_meal_box_list">
                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_com_00042'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line3" v-if="statis.rating_type==2">{{statis.down_resume == 0?'-':statis.down_resume}}
                        </div>
                        <div class="set_meal_n set_meal_n_line3" v-else>{{statis.down_resume}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.resume==0?'-':rating?rating.resume:0}}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_com_00045'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line4" v-if="statis.rating_type==2">{{statis.breakjob_num==0?'-':statis.breakjob_num}}
                        </div>
                        <div class="set_meal_n set_meal_n_line4" v-else>{{statis.breakjob_num}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.breakjob_num==0?'-':rating?rating.breakjob_num:0}}
                        </div>
                    </div>
                </li>

                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_com_00039'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line7" v-if="statis.rating_type==2">{{statis.zph_num==0?'-':statis.zph_num}}
                        </div>
                        <div class="set_meal_n set_meal_n_line7" v-else>{{statis.zph_num}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.zph_num==0?'-':rating?rating.zph_num:0}}
                        </div>
                    </div>
                </li>

                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_user_00209'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line8" v-if="statis.rating_type==2">{{statis.top_num==0?'-':statis.top_num+i18n.daySuffix}}
                        </div>
                        <div class="set_meal_n set_meal_n_line8" v-else>{{statis.top_num}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.top_num==0?'-':rating?rating.top_num+i18n.daySuffix:0+i18n.daySuffix}}
                        </div>
                    </div>
                </li>

                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_com_00043'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line9" v-if="statis.rating_type==2">{{statis.urgent_num==0?'-':statis.urgent_num+i18n.daySuffix}}
                        </div>
                        <div class="set_meal_n set_meal_n_line9" v-else>{{statis.urgent_num}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.urgent_num==0?'-':rating?rating.urgent_num+i18n.daySuffix:0+i18n.daySuffix}}
                        </div>
                    </div>
                </li>

                <li>
                    <div class="set_meal_box_list_box">
                        <div class="set_meal_name">{yun:}t key='wap_com_00041'{/yun}</div>
                        <div class="set_meal_n set_meal_n_line10" v-if="statis.rating_type==2">{{statis.rec_num==0?'-':statis.rec_num+i18n.daySuffix}}
                        </div>
                        <div class="set_meal_n set_meal_n_line10" v-else>{{statis.rec_num}}</div>
                        <div class="set_meal_yn">
                            {{i18n.totalPrefix}}{{statis.rating_type==2 && rating.rec_num==0?'-':rating?rating.rec_num+i18n.daySuffix:0+i18n.daySuffix}}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="set_meal_box_list_box">
                        <div class="tcteq">
                            <a href="javascript:void(0)" @click="pageTo('index.php?c=server')">
                                <div class="tcteq_a">{yun:}t key='wap_01198'{/yun}</div>
                            </a>
                        </div>
                    </div>
                </li>
                
            </ul>

            <div class="clear"></div>
        </div>
    </div>


</section>
<script src="{yun:}$wap_style{/yun}/js/jsMath.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/com.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script type="text/javascript">
    new Vue({
        el: '#yunvue',
        data: {
            list: [],
            statis: [],
            rating: [],
            isname: false,
            istel: false,
            isemail: false,
            isyyzz: false,
            isxy: false,
            isgzh: false,
            config: {},
            i18n: {
                searchTalent: '{yun:}t key='wap_01194'{/yun}',
                timesPerDay: '{yun:}t key='wap_com_00049'{/yun}',
                totalPrefix: '{yun:}t key='wap_01196'{/yun}',
                daySuffix: '{yun:}t key='wap_01197'{/yun}',
                notNeeded: '{yun:}t key='wap_com_00107'{/yun}',
                goBuy: '{yun:}t key='wap_com_00048'{/yun}',
                cancel: '{yun:}t key='wap_js_00080'{/yun}',
                goPublish: '{yun:}t key='wap_com_00047'{/yun}',
            },
        },
        created() {   
            this.getCom();
        },
        methods:{
            getCom:function(){
                var that = this;
                var paramer = {rand: Math.random()};
                showLoading();
                $.post('{yun:}url d=wxapp h=com m=finance c=com{/yun}',paramer,function(data){
                    hideLoading();
                    let res = data.data;
                    that.statis = res.statis;
                    if (res.JobNum){
                        that.statis.JobNum = res.JobNum;
                    }else{
                        that.statis.JobNum = 0;
                    }
                    that.rating = res.rating;
                    that.config = res.config;
                    $("#yunvue").css('display', 'block');
                },'json');
            },
            jobAdd: function () {
                var self = this;
                var url = "{yun:}url d=wxapp h=com m=index c=addCheck{/yun}";
                comjobAdd(url, { job: 'job' }, function (res) {
                    if (res.error==1) {
                        modalVue.$data.mb_content = res.msg;
                        modalVue.$data.cancelText = self.i18n.notNeeded;
                        modalVue.$data.confirmText = self.i18n.goBuy;
                        modalVue.$data.yunModal = true;
                        modalType = 'job';
                    } else if(res.error==2){
                        modalVue.$data.mb_content = res.msg;
                        modalVue.$data.cancelText = self.i18n.cancel;
                        modalVue.$data.confirmText = self.i18n.goPublish;
                        modalVue.$data.tourl = res.tourl;
                        modalVue.$data.yunModal = true;
                        modalType = 'toaddjob';
                    }else {
                        certVue.$data.checked = res;
                        certVue.$data.yunCert = true;
                    }
                });
            },
            pageTo:function(url){
                window.location.href = url;
            }
        }
    });
</script>
{yun:}include file="$wapstyle/publichtm/yun_modal.htm"{/yun}
</body>
</html>