{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<!--{yun:}t key='member_user_00059'{/yun}-->
<div class="none" id="yunvue">
    <!-- Page layout -->
    <div class="issue_post_body_new">
        <div class="issue_post_body_card" style="padding-top: 0px; margin-top: 0px;;">
            <div class="com_set_list" onclick="navigateTo('index.php?c=comcert')">
                <div class="com_set_listname">{yun:}t key='wap_com_00075'{/yun}</div>
                <div v-if="info.yyzz_status==1">
                    <div class="com_set_listp">{yun:}t key='wap_com_00074'{/yun}</div>
                    <div class="com_set_ok">{yun:}t key='wap_user_00128'{/yun}</div>
                </div>
                <div class="" v-else-if="info.cert_pic">
                    <div class="com_set_listp" v-if="info.yyzz_status==2" style="color: #f00;">{yun:}t key='wap_user_00325'{/yun}</div>
                    <div class="com_set_listp" v-else-if="info.yyzz_status==0" style="color: #00e1b3;">{yun:}t key='wap_user_00178'{/yun}</div>
                </div>
                <div v-else>
                    <div class="com_set_listp">{yun:}t key='wap_01147'{/yun}</div>
                    <div class="com_set_no">{yun:}t key='wap_user_00175'{/yun}</div>
                </div>
                <div class="com_set_listicon">
                    <img src="{yun:}$wap_style{/yun}/images/issue_add.png" alt="">
                </div>
            </div>
            <div class="com_set_list" onclick="navigateTo('index.php?c=bindingbox&type=moblie')">
                <div class="com_set_listname">{yun:}t key='wap_user_00241'{/yun}</div>
                <div class=" ">
                    <div class="com_set_listp" v-if="info.linktel">{{info.linktel}}</div>
                    <div class="com_set_listp" v-else>{yun:}t key='wap_user_00177'{/yun}</div>
                    <div class="com_set_ok" v-if="info.moblie_status==1">{yun:}t key='wap_user_00127'{/yun}</div>
                    <div class="com_set_no" v-else>{yun:}t key='wap_user_00181'{/yun}</div>
                </div>
                <div class="com_set_listicon">
                    <img src="{yun:}$wap_style{/yun}/images/issue_add.png" alt="">
                </div>
            </div>
            <div class="com_set_list" onclick="navigateTo('index.php?c=bindingbox&type=email')">
                <div class="com_set_listname">{yun:}t key='wap_user_00179'{/yun}</div>
                <div class=" ">
                    <div class="com_set_listp" v-if="info.linkmail">{{info.linkmail}}</div>
                    <div class="com_set_listp" v-else>{yun:}t key='wap_user_00177'{/yun}</div>
                    <div class="com_set_ok" v-if="info.email_status==1">{yun:}t key='wap_user_00127'{/yun}</div>
                    <div class="com_set_no" v-else>{yun:}t key='wap_user_00181'{/yun}</div>
                </div>
                <div class="com_set_listicon">
                    <img src="{yun:}$wap_style{/yun}/images/issue_add.png" alt="">
                </div>
            </div>
            <div>
                <ul class="bingding_box" style="padding: 0">
                    {yun:}if $config.wx_rz=='1'{/yun}
                    <li>
                        <div class="bingding_box_iconbg" :class="bind.wxbind ? 'bingding_yx_g':''"><i class="bingding_box_iconwx"></i></div>
                        <div class="bingding_box_name">{yun:}t key='wap_user_00115'{/yun}</div>
                        <template v-if="bind.wxbind == 1">
                            <div class="bingding_box_p">{yun:}t key='wap_user_00133'{/yun}</div>
                            <span @click="bindClear('weixin')" class="bingding_box_bth_jc">{yun:}t key='wap_user_00138'{/yun}</span>
                        </template>
                        <template v-else>
                            <span v-if="bind.wxbind == 2" class="bingding_box_bth" onclick="tobind('{yun:}url m=wap c=wxconnect login=1{/yun}')">{yun:}t key='wap_user_00139'{/yun}</span>
                            <span v-else class="bingding_box_bth" onclick="tobind('{yun:}url m=wap c=wxconnect login=1{/yun}')">{yun:}t key='wap_user_00119'{/yun}</span>
                            <div class="bingding_box_p">{yun:}t key='wap_user_00135'{/yun}</div>
                        </template>
                    </li>
                    {yun:}/if{/yun}

                    {yun:}if $config.sy_qqlogin=='1'{/yun}
                    <li>
                        <div class="bingding_box_iconbg" :class="bind.qqbind ? 'bingding_yx_qq':''"><i class="bingding_box_iconqq"></i></div>
                        <div class="bingding_box_name">QQ{yun:}t key='member_user_00234'{/yun}</div>
                        <template v-if="bind.qqbind == 1">
                            <div class="bingding_box_p">{yun:}t key='wap_user_00132'{/yun}</div>
                            <span @click="bindClear('qq')" class="bingding_box_bth_jc">{yun:}t key='wap_user_00138'{/yun}</span>
                        </template>
                        <template v-else>
                            <span class="bingding_box_bth" onclick="tobind('{yun:}url m=qqconnect login=1{/yun}')">{yun:}t key='wap_user_00119'{/yun}</span>
                            <div class="bingding_box_p">{yun:}t key='wap_user_00134'{/yun}</div>
                        </template>
                    </li>
                    {yun:}/if{/yun}
                    {yun:}if $config.sy_sinalogin=='1'{/yun}
                    <li>
                        <div class="bingding_box_iconbg" :class="bind.sinabind ? 'bingding_yx_xl':''"><i class="bingding_box_iconxl"></i></div>
                        <div class="bingding_box_name">{yun:}t key='wap_user_00136'{/yun}</div>
                        <template v-if="bind.sinabind == 1">
                            <div class="bingding_box_p">{yun:}t key='wap_user_00130'{/yun}</div>
                            <span @click="bindClear('sina')" class="bingding_box_bth_jc">{yun:}t key='wap_user_00138'{/yun}</span>
                        </template>
                        <template v-else>
                            <span class="bingding_box_bth" onclick="tobind('{yun:}url m=wap c=sinaconnect login=1{/yun}')">{yun:}t key='wap_user_00119'{/yun}</span>
                            <div class="bingding_box_p">{yun:}t key='wap_user_00131'{/yun}</div>
                        </template>
                    </li>
                    {yun:}/if{/yun}


                    {yun:}if $config.wx_rz != '1' && $config.sy_qqlogin != '1' && $config.sy_sinalogin != '1'{/yun}
                    <div class="wap_member_no">
                        {yun:}t key='wap_01113'{/yun}
                    </div>
                    {yun:}/if{/yun}

                </ul>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#yunvue',
            data: {
                info: {},
                showList: [],
                bind: {},
                i18n: {
                    confirmUnbind: '{yun:}t key='member_user_00051'{/yun}',
                    unbindSuccess: '{yun:}t key='wap_01114'{/yun}',
                },
            },
            created() {
                this.getInfo();
                this.getBindInfo();
                this.getShowLis();
            },
            methods: {
                getInfo: function () {
                    showLoading();
                    var self = this;
                    $.post('{yun:}url d=wxapp h=com m=info c=getinfo{/yun}', {rand: Math.random()}, function (res) {
                        hideLoading();
                        self.info = res.data;
                        $("#yunvue").css('display', 'block');
                    }, 'json');
                },
                getBindInfo() {
                    var self = this;
                    showLoading();
                    $.post('{yun:}url d=wxapp h=com m=set c=getBind{/yun}', {provider: 'h5'}, function (res) {
                        hideLoading();
                        self.bind = res.data;
                        $('#yunvue').removeClass('none');
                    })
                },
                getShowLis: function () {
                    var that = this;
                    $.post('{yun:}url d=wxapp h=com m=info c=show pageSize=2{/yun}', {rand: Math.random()}, function (data) {
                        if (data) {
                            that.showList = data.data.list;
                        }
                    }, 'json');
                },
                bindClear(type) {
                    var self = this;
                    showConfirm(self.i18n.confirmUnbind, function () {
                        showLoading();
                        $.post('{yun:}url d=wxapp h=com m=set c=binding{/yun}', {
                            provider: 'h5',
                            isbind: 1,
                            type: type
                        }, function (res) {
                            showToast(self.i18n.unbindSuccess, 2, function () {
                                window.location.reload();
                            })
                        })
                    })
                }
            }
        })
        function tobind(url) {
            throttle(function () {
                window.location.href = url;
            });
        }
    </script>
    </body>
    </html>
