{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<!-- Page header -->
<div id="yunvue" class="none"> 
<!-- Main content -->

    <div class="mission_body">
    <div class="mission_body_card">
        <ul>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/vip_sign_in.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00114'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_signin}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.signin">{yun:}t key='wap_00989'{/yun}</div>
                <div class="task_subject_box_btn" v-else @click="sign">{yun:}t key='wap_user_00118'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/vip_register.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00108'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_invite_reg}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn" @click="getInviteRegHb()">{yun:}t key='wap_user_00121'{/yun}</div>
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_uploading.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_com_00180'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_avatar}}{{integral_pricename}}
                        </div>
                    </div>
                </div>               
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.logo">{yun:}t key='wap_user_00123'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=photo&type=1')">{yun:}t key='wap_user_00116'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_iphpne.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00109'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_mobliecert}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.phoneChecked">{yun:}t key='wap_user_00128'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=bindingbox&type=moblie')">{yun:}t key='wap_user_00120'{/yun}</div>                
            </li>
			<li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_wx.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00115'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_bind_wx}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.weixinBind">{yun:}t key='wap_user_00127'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=binding')">{yun:}t key='wap_user_00119'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_map.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_com_00182'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_map}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.map">{yun:}t key='wap_com_00189'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=map')" >{yun:}t key='wap_com_00185'{/yun}</div>               
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_authentication.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_com_00181'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_comcert}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.yyzz">{yun:}t key='wap_user_00128'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=comcert')">{yun:}t key='wap_user_00120'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_issue .png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00112'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_question}}{{integral_pricename}}
                        </div>
                    </div>
                </div>                
                <div class="task_subject_box_btn" v-if="tasklist.question" onclick="navigateTo('{yun:}url m=wap c=ask a=addquestion{/yun}')">{yun:}t key='wap_com_00184'{/yun}</div> 
                <div class="task_subject_box_btn_accomplish" v-else>{yun:}t key='wap_00992'{/yun}</div>               
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/vip_datum.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_00990'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_userinfo}}{{integral_pricename}}
                        </div>
                    </div>
                </div>               
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.baseInfo">{yun:}t key='wap_user_00125'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=info')">{yun:}t key='wap_user_00117'{/yun}</div>
               
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_falst_logoin.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_00991'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_login}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish">{yun:}t key='wap_user_00126'{/yun}</div>
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_ mailbox .png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00122'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_emailcert}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.emailChecked">{yun:}t key='wap_user_00128'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=bindingbox&type=email')">{yun:}t key='wap_com_00186'{/yun}</div>               
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_streamer.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_com_00033'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_banner}}{{integral_pricename}}
                        </div>
                    </div>
                </div>                
                <div class="task_subject_box_btn_accomplish" v-if="tasklist.banner">{yun:}t key='wap_user_00123'{/yun}</div>
                <div class="task_subject_box_btn" v-else onclick="navigateTo('index.php?c=banner')">{yun:}t key='wap_com_00183'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_answer.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_user_00113'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_answer}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn" v-if="tasklist.answer" onclick="navigateTo('{yun:}url m=wap c=ask{/yun}')">{yun:}t key='wap_user_00113'{/yun}</div>
                <div class="task_subject_box_btn_accomplish" v-else>{yun:}t key='wap_com_00188'{/yun}</div>                
            </li>
            <li>
                <div class="task_subject_box">
                    <div class="task_subject_icon">
                        <img src="{yun:}$wap_style{/yun}/images/task_reply.png" alt="">
                    </div>
                    <div class="task_subject_init">
                        <div class="subject_init_top">{yun:}t key='wap_00994'{/yun}</div>
                        <div class="subject_init_bom">
                            +{{integral_answerpl}}{{integral_pricename}}
                        </div>
                    </div>
                </div>
                <div class="task_subject_box_btn" v-if="tasklist.answerpl" onclick="navigateTo('{yun:}url m=wap c=ask{/yun}')">{yun:}t key='wap_00994'{/yun}</div>
                <div class="task_subject_box_btn_accomplish" v-else>{yun:}t key='wap_com_00187'{/yun}</div>                
            </li>
        </ul>
    </div>
</div>
	<!-- Invite registration poster -->
    <van-popup v-model="inviteRegHbShow" round closeable :style="{height:'90%',width:'90%',background:'none'}">
        <div class="hb_tc">
            <img :src="inviteRegHb" style="max-width: 100%;">
            <div class="hb_tc_bth">
                <div @click="getInviteRegHb()" class="hb_tc_hyz">{yun:}t key='wap_user_00129'{/yun}</div>
                <div class="hb_tc_bchb"> <span class="hb_tc_bchb_c" @click="inviteRegHbTipShow=!inviteRegHbTipShow" v-if="inviteRegHbTipShow"> <i class="hb_tc_bchbicon"></i>{yun:}t key='wap_00214'{/yun} </span></div>
            </div>
        </div>
    </van-popup>
</div>
<script> 
	var wapurl = "{yun:}url m=wap{/yun}";
    var invite_reg_hbids = [];
	new Vue({
        el: '#yunvue',
        data: {
            integral_pricename: '',
            tasklist: [],
            
            integral_signin: 0,
            integral_invite_reg: 0,
            integral_avatar: 0,
            integral_mobliecert: 0,
            integral_map: 0,
            integral_comcert: 0,
            integral_userinfo: 0,
            integral_login: 0,
            integral_emailcert: 0,
            integral_banner: 0,
            integral_question:0,
            integral_answer:0,
            integral_answerpl:0,
			inviteRegHbTipShow: true,
            inviteRegHbShow: false,
            inviteRegHbNext: 0,
            inviteRegHb: '',
			integral_bind_wx:0,
        },
        computed: {
          count(){
           
          }
        },
        created() {   
         this.getIntegralTask();
        },
        methods:{
          getIntegralTask:function(){
            showLoading();
            var that = this;
            var paramer = {rand: Math.random()};
            $.post('{yun:}url d=wxapp h=com m=finance c=getIntegralTask{/yun}',paramer,function(data){
                hideLoading();
              if (data.error == 1) {
                var list = data.data;
                that.integral_pricename = list.integral_pricename;
                that.tasklist = list.task;
                that.integral_signin = list.integral_signin;
                that.integral_invite_reg = list.integral_invite_reg;
                that.integral_avatar = list.integral_avatar;
                that.integral_mobliecert = list.integral_mobliecert;
                that.integral_map = list.integral_map;
                that.integral_comcert = list.integral_comcert;
                that.integral_userinfo = list.integral_userinfo;
                that.integral_login = list.integral_login;
                that.integral_emailcert = list.integral_emailcert;
                that.integral_banner = list.integral_banner;
                that.integral_question = list.integral_question;
                that.integral_answer = list.integral_answer;
                that.integral_answerpl = list.integral_answerpl;
				that.integral_bind_wx = list.integral_bind_wx;
                $("#yunvue").removeClass('none');
              }
               
            },'json');
          },     
          sign:function(){
            showLoading("{yun:}t key='wap_user_00107'{/yun}");
            var that = this;
            var paramer = {rand: Math.random()};
            $.post('{yun:}url d=wxapp h=com m=index c=sign{/yun}',paramer,function(data){
                hideLoading();      
                if (data.error == 1) {
					window.localStorage.setItem("needRefresh", 1);
					showToast(data.msg,2, function() {
						that.getIntegralTask();
					});
                } else {
					showToast(data.msg);
                }
               
            },'json');
          },          
		  getInviteRegHbList: function() {
                let lr = false;
                $.ajax({
                    type: 'post',
                    url: wapurl + '?c=ajax&a=getInviteRegHbList',
                    async: false,
                    dataType: 'json',
                    success: function(res){
                        if(res && res.list && res.list.length > 0){
                            res.list.forEach(item => {
                                invite_reg_hbids.push(item.id);
                            })

                            lr = true;
                        }
                    }
                })
                return lr;
            },
            getInviteRegHb: function() {
                let that = this;
                var hbNum = invite_reg_hbids.length;
                var hb = that.inviteRegHbNext;

                if(hbNum == 0){
                    var lr = that.getInviteRegHbList();
                    if(!lr){
                        showToast("{yun:}t key='wap_user_00105'{/yun}", 2);
                        return false;
                    }
                    hbNum = invite_reg_hbids.length;
                }

                showLoading("{yun:}t key='wap_00073'{/yun}");
                const src = wapurl + '?c=ajax&a=getInviteRegHb&hb=' + invite_reg_hbids[hb];
                if (hb < (parseInt(hbNum) - 1)) {
                    var next = hb + 1;
                } else {
                    var next = 0;
                }

                var hbImg = new Image();
                hbImg.src = src;

                hbImg.onload = function(){
                    hideLoading();
                    that.inviteRegHbNext = next;
                    that.inviteRegHb = hbImg.src;
                    that.inviteRegHbShow = true;
                }
            },
          pageTo:function(url){
			  window.localStorage.setItem("needRefresh", 1);
              window.location.href = url;
          }
        } 
      });
</script>
</body>
</html>