{yun:}include file="$wapstyle/publichtm/wap_api_enum.htm"{/yun}
{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<link rel="stylesheet"
      href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/yunwap.css?v={yun:}$config.cachecode{/yun}"
      type="text/css" />
<div id="yunvue" class="wap_member_box none">
    <div v-if="step == 1">
        <div class="integral_header" style="height: 5.013333rem">
            <div class="integral_header_announcement">
                <div class="zxtip">

                    {yun:}t key='wap_00751'{/yun}<br>
                    {yun:}t key='wap_00743'{/yun}<br>
                    {yun:}t key='wap_00744'{/yun}<br>
                    {yun:}t key='wap_00745'{/yun}

                </div>
            </div>
        </div>
        <div id="backpicker" class="account_td1">
            <div id="sendtypePicker" class=" password_select_input">
                <span id="pickerText" class="J_listitme_text" @click="showPicker=true">{{pickerText}}</span>
                <van-popup v-model="showPicker" round position="bottom">
                    <van-picker show-toolbar :columns="sendtypeData" @confirm="onConfirm" @cancel="onCancel"/>
                </van-popup>
                <input type="hidden" id="sendtype" name="sendtype" :value="sendtype">
            </div>
        </div>
        <div id="passwordshow" v-show="passwordshow" class="J_listitme_group">
            <div class="J_validate_group">
                <div class="password_textbox">
                    <input class="input_295_34" name="password" id="password" v-model="password" type="password" placeholder="{yun:}t key='wap_js_00139'{/yun}">
                </div>
            </div>
            <div class="security_bth">
                <input type="button" value="{yun:}t key='wap_user_00176'{/yun}" class="security_bth_but" @click="logoutApply">
            </div>
        </div>
        <div id="moblieshow" v-show="moblieshow" class="J_listitme_group">
            <div class="J_validate_group">
                <div class="password_textbox">
                    <input class="input_295_34" name="moblie" id="moblie" type="text" placeholder="{yun:}t key='wap_js_00119'{/yun}" :value="telphone">
                </div>
				{yun:}if strstr($config.code_web, $wap_code_forgetpw){/yun}
                <div>
                    {yun:}if $config.code_kind>2{/yun}
                    <div class="gtdx-captcha">
                        <div id="bind-captcha" data-id='login_bth' data-type='click'></div>
                        <input type='hidden' id="verify_token" name="verify_token" value="" />
                        {yun:}if $config.code_kind==6{/yun}
                        <input type='hidden' id="verify_str" name="verify_str" value="" />
                        {yun:}/if{/yun}
                        <input type='hidden' id="popup-submit" />
                        <input type='hidden' id="bind-submit" />
                    </div>
                    {yun:}else{/yun}
                    <div class="account_td1">
                        <div class="password_textbox">
                            <input name="authcode" id="authcode" maxlength="6" type="text" class="input_295_35" placeholder="{yun:}t key='wap_user_00141'{/yun}">
                            <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');"/>
                        </div>
                    </div>
                    {yun:}/if{/yun}
                </div>
                {yun:}/if{/yun}
                <div class="account_td1">
                    <div class="password_textbox">
                        <input name="moblie_vcode" id="moblie_vcode" maxlength="6" type="text" class="input_295_35" placeholder="{yun:}t key='wap_00690'{/yun}">
                        <button class="password_tex_hq" id="send_msg_tip" onclick="send_msg()">{yun:}t key='wap_user_00144'{/yun}</button>
                    </div>
                </div>
                <div class="security_bth">
                    <input type="button" value="{yun:}t key='wap_user_00176'{/yun}" class="security_bth_but" @click="logoutmsg">
                </div>
            </div>
        </div>

    </div>
    <div v-if="step == 3" class="wap_member_no">
        <p>{yun:}t key='wap_00748'{/yun}</p>
        <p>{yun:}t key='wap_00749'{/yun}</p>
        <p>{yun:}t key='wap_00750'{/yun}</p>
    </div>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/publichtm/forgetpw_i18n.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/forgetpw.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/verify_js.htm"{/yun}
<script>
	var code_web = '{yun:}$config.code_web{/yun}',
        code_kind = '{yun:}$config.code_kind{/yun}'
    new Vue({
        el: '#yunvue',
        data: {
            step: 1,
            password: '',
            moblieshow:true,
            passwordshow:false,
            succeed:false,
            showPicker:false,
            sendtypeData:[{
                type: 'moblie',
                text: '{yun:}t key='wap_00746'{/yun}'
            },{
                type: 'password',
                text: '{yun:}t key='wap_00747'{/yun}'
            }],
            pickerText:'{yun:}t key='wap_00746'{/yun}',
            sendtype:'moblie',
            telphone:'',
        },
        created() {
            this.getInfo();
            this.gettel();
            $("#yunvue").css("display", "block");
        },
        methods: {
            onConfirm(picker) {
                var that = this;
                if (picker.type == 'moblie') {
                    that.moblieshow = true;
                    that.passwordshow = false;
                    that.showPicker = false;
                } else if (picker.type == 'password') {
                    that.moblieshow = false;
                    that.passwordshow = true;
                    that.showPicker = false;
                }
                that.pickerText = picker.text;
                that.sendtype = picker.type;
            },
            onCancel(){
                this.showPicker = false;
            },
            getInfo: function () {
                showLoading();
                var self = this;
                $.post('{yun:}url d=wxapp h=com m=set c=getLogout{/yun}', {rand: Math.random()}, function (res) {
                    hideLoading();
                    $("#yunvue").css('display', 'block');
                    if (res.error == 1) {
                        self.step = 3;
                    }
                }, 'json');
            },
            gettel: function () {
                var self = this;
                $.post('{yun:}url d=wxapp h=com m=set c=gettel{/yun}', {rand: Math.random()}, function (res) {
                    if(res){
                        self.telphone = res.data.moblie;
                    }
                }, 'json');
            },
            logoutApply: function () {
                var self = this;
                if (self.password == '') {
                    return showModal('{yun:}t key='wap_00730'{/yun}');
                }
                showLoading();
                $.post('{yun:}url d=wxapp h=com m=set c=logoutApply{/yun}', {password: self.password}, function (res) {
                    hideLoading();
                    if (res.error == 0) {
                        self.step = 3;
                    } else {
                        return showModal(res.data.msg);
                    }
                }, 'json');
            },
            logoutmsg: function () {
                var self = this;
                if (self.moblie == '') {
                    return showModal('{yun:}t key='wap_user_00274'{/yun}');
                }else if(self.moblie_vcode == ''){
                    return showModal('{yun:}t key='wap_js_00129'{/yun}');
                }
                showLoading();
                $.post('{yun:}url d=wxapp h=com m=set c=logoutmsg{/yun}', {moblie: self.moblie}, function (res) {
                    hideLoading();
                    if (res.error == 0) {
                        self.step = 3;
                    } else {
                        return showModal(res.msg);
                    }
                }, 'json');
            },
        }
    })
</script>