{yun:}include file="$wapstyle/member/cheader.htm"{/yun}

<!-- Page main section -->
<div id="yunvue">
    <div class="none" v-bind:class="{show: islook}">
        <div class="issue_post_body">
            <form onsubmit="return formSubmit(this);">
                <div class="yun_createbox">
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.partName}}</div>
                            <div class="yun_create_text">
                                <input name="name" :placeholder="i18n.partNamePlaceholder" v-model="info.name"/>
                            </div>
                    </div>
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.partCategory}}</div>
                            <div class="yun_create_select" @click="typeShow = true">
                                {{type.name[typeIndex]}}
                                <input hidden="true" name="type" :value="info.type"/>
                            </div>
                       <div class="yun_create_fx">
                       	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                       </div>
                    </div>
                    <!-- Part-time category picker -->
                    <van-popup v-model="typeShow" round position="bottom">
                        <van-picker
                                show-toolbar
                                :default-index="typeIndex"
                                @cancel="typeShow = false"
                                :columns="type.name"
                                @confirm="bindtypeChange"
                        />
                    </van-popup>
                    <div class="yun_createlist">
                     
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.headcount}}</div>
                            <div class="yun_create_text">
                                <input type="number" name="number" oninput="value=value.replace(/^0|[\^d]/g,'')" :placeholder="i18n.headcountPlaceholder" v-model="info.number"/>
                            </div>
                       
                    </div>
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.partSalary}}</div>
                            <div class="yun_create_text">
                                <input type="number" name="salary" oninput="value=value.replace(/^0|[\^d]/g,'')" :placeholder="i18n.salaryPlaceholder" v-model="info.salary"/>
                            </div>
                     
                    </div>
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.salaryType}}</div>
                            <div class="yun_create_select" @click="salarytypeShow = true">
                                {{salarytype.name[salarytypeIndex]}}
                                <input hidden="true" name="salarytype" :value="info.salary_type"/>
                            </div>
                        <div class="yun_create_fx">
                        	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                        </div>
                    </div>
                    <!-- Pay type picker -->
                    <van-popup v-model="salarytypeShow" round position="bottom">
                        <van-picker
                                show-toolbar
                                :default-index="salarytypeIndex"
                                @cancel="salarytypeShow = false"
                                :columns="salarytype.name"
                                @confirm="bindsalarytypeChange"
                        />
                    </van-popup>
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.billingCycle}}</div>
                            <div class="yun_create_select" @click="billingcycleShow = true">
                                {{billingcycle.name[billingcycleIndex]}}
                                <input hidden="true" name="billing_cycle" :value="info.billing_cycle"/>
                            </div>
                        <div class="yun_create_fx">
                        	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                        </div>
                    </div>
                    <!-- Pay cycle picker -->
                    <van-popup v-model="billingcycleShow" round position="bottom">
                        <van-picker
                                show-toolbar
                                :default-index="billingcycleIndex"
                                @cancel="billingcycleShow = false"
                                :columns="billingcycle.name"
                                @confirm="bindbillingcycleChange"
                        />
                    </van-popup>
                    <div class="yun_createlist">
                            <div class="yun_create_name">{{i18n.sexRequired}}</div>
                            <div class="yun_create_select" @click="sexShow = true">
                                {{sex.name[sexIndex]}}
                                <input hidden="true" name="sex" :value="info.sex"/>
                            </div>
                       <div class="yun_create_fx">
                       	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                       </div>
                    </div>
                    <!-- Gender picker -->
                    <van-popup v-model="sexShow" round position="bottom">
                        <van-picker
                                show-toolbar
                                :default-index="sexIndex"
                                @cancel="sexShow = false"
                                :columns="sex.name"
                                @confirm="bindsexChange"
                        />
                    </van-popup>
                    <div class="yun_createlist">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.timetype}}</div>
                            <div class="yun_create_text_p" @click="recruitmentMethodShow = true">
                                <span v-if="timetypeIndex == 1 && info.sdate_n">{{timetype.name[timetypeIndex]}}，{{i18n.startTimeLabel}}{{info.sdate_n}}</span>
                                <span v-else-if="timetypeIndex == 0 && info.sdate_n && info.edate_n">{{info.sdate_n}}{{i18n.dateTo}}{{info.edate_n}}</span>
                                <span v-else>{{i18n.selectTimetype}}</span>
                            </div>
                        <div class="yun_create_fx">
                        	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                        </div>
                    </div>
                    <!-- Hide during map marking to avoid inaccurate location -->
                    <div v-show="!mapshow" >
                        <div class="yun_create_jztime">
                                <div class="yun_create_jztip"><span class="m_bt">*</span>{{i18n.partTime}} </div>
                                
                           
                           
                 

                        <table class="tjob_timetable " cellpadding="1" cellspacing="1">
                            <tr>
                                <th>&nbsp;</th>
                                <th>{{i18n.mon}}</th>
                                <th>{{i18n.tue}}</th>
                                <th>{{i18n.wed}}</th>
                                <th>{{i18n.thu}}</th>
                                <th>{{i18n.fri}}</th>
                                <th>{{i18n.sat}}</th>
                                <th>{{i18n.sun}}</th>
                            </tr>
                            <tr>
                                <th>{{i18n.morning}}</th>
                                <td v-for="(item, morningkey) in morning" :key="morningkey">
                                    <van-checkbox v-model="item.checked" name="item.name" shape="square"
                                                  @click="bindworktime(item.name, item.checked)">
                                    </van-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <th>{{i18n.noon}}</th>
                                <td v-for="(item, noonkey) in noon" :key="noonkey">
                                    <van-checkbox v-model="item.checked" name="item.name" shape="square"
                                                  @click="bindworktime(item.name, item.checked)">
                                    </van-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <th>{{i18n.night}}</th>
                                <td v-for="(item, nightkey) in night" :key="nightkey">
                                    <van-checkbox v-model="item.checked" name="item.name" shape="square"
                                                  @click="bindworktime(item.name, item.checked)">
                                    </van-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" align="center">
                                    <van-checkbox v-model="selectall" shape="square"
                                                  @click="bindworktimeallChange(selectall)" style="width:1.6rem; margin: 0 auto;">
                                        <i class="bindworktimea">{{i18n.selectAll}}</i>
                                    </van-checkbox>
                                </td>
                            </tr>
                        </table>
       </div>
                        <div class="yun_createlist yun_createlist_pr">
                                <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.partContent}}</div>
                                <div class="yun_create_text_p" @click="opendesc">{{info.content_t ? info.content_t :
                                    i18n.contentPlaceholder}}
                                </div>
                            <div class="yun_create_fx">
                            	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="yun_createlist">
                                <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.contactPerson}}</div>
                                <div class="yun_create_text">
                                    <input name="linkman" :placeholder="i18n.inputContact" v-model="info.linkman"/>
                                </div>
                          
                        </div>
                        <div class="yun_createlist">
                                <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.contactPhone}}</div>
                                <div class="yun_create_text">
                                    <input type="number" name="linktel" :placeholder="i18n.inputPhone" v-model="info.linktel" oninput="value=value.replace(/^0|[\^d]/g,'')" maxlength="11"/>
                                </div>
                            
                        </div>
                        <div class="yun_createlist">
                          
                                <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.workArea}}</div>
                                <div class="yun_create_select" @click="areaShow = true">
                                    {{city}}
                                    <input hidden="true" name="province" :value="provinceid"/>
                                    <input hidden="true" name="city" :value="cityid"/>
                                    <input hidden="true" name="threecity" :value="threecityid"/>
                                </div>
                          
                          <div class="yun_create_fx">
                          	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                          </div>
                        </div>
                        <!-- Work area picker -->
                        <van-popup v-model="areaShow" round position="bottom">
                            <van-cascader
                                    v-model="areaValue"
                                    :title="i18n.selectWorkArea"
                                    :options="areaOptions"
                                    @close="areaShow = false"
                                    @finish="onAreaFinish"
                            />
                        </van-popup>

                        <div class="yun_createlist" style="border-bottom:none">
                            <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.workAddress}}</div>
                            <div class="yun_create_text">
                                <input name="address" :placeholder="i18n.inputWorkAddress" v-model="address"/>
                            </div>
                            <div class="yun_create_fx" @click="chooseLocation" v-if="map_key!=''">
                                <img src="{yun:}$wap_style{/yun}/images/issue_location.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
				<div class="yun_create_bthbox">
                <input v-show="!mapshow" type="submit" :value="i18n.submit" class="yun_create_bth"/>
				</div>
            </form>
        </div>
        <!-- Part-time duration -->
        <van-popup v-model="recruitmentMethodShow" position="right" :style="{ height: '100%',width:'100%',backgroundColor:'#f3f3f3'}">
            <!-- Page header -->
            <div class="comheader">
                <span class="comheader_return" @click="recruitmentMethodShow = false"></span>
                <div class="comheader_tit">{{i18n.timetype}}</div>
            </div>
            <!-- Main section -->
            <div class="issue_post_body">
                <div class="issue_post_body_card">
                    <div class="post_body_card_job">
                        <div class="body_card_job_box">
                            <div class="card_job_box_post">{{i18n.timetype}}</div>
                            <div class="card_job_box_name" @click="timetypeShow = true">{{timetype.name[timetypeIndex]}}</div>
                        </div>
                      <div class="yun_create_fx">
                      	<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
                      </div>
                    </div>
                    <!-- Part-time duration picker -->
                    <van-popup v-model="timetypeShow" round position="bottom">
                        <van-picker show-toolbar :default-index="timetypeIndex" @cancel="timetypeShow = false" :columns="timetype.name" @confirm="bindtimetypeChang"/>
                    </van-popup>
                    <div class="post_body_card_job">
                        <div class="body_card_job_begin">
                            <div class="body_card_job_begin_top">{{i18n.startTime}}</div>
                            <div class="body_card_job_begin_bom" @click="sdateShow = true">
                                {{info.sdate_n?info.sdate_n:i18n.pleaseSelect}}
                            </div>
                        </div>
                        <div class="body_card_job_to">{{i18n.dateTo}}</div>
                        <div class="body_card_job_begin">
                            <div class="body_card_job_begin_top">{{i18n.endTime}}</div>
                            <div class="body_card_job_begin_bom" @click="edateShow = true">
                                <span v-if="timetypeIndex">{{i18n.longTerm}}</span>
                                <span v-else>{{info.edate_n?info.edate_n:i18n.pleaseSelect}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Start date picker -->
                    <van-popup v-model="sdateShow" round position="bottom">
                        <van-datetime-picker
                                v-model="sdateCurrentDate"
                                type="date"
                                :title="i18n.selectStartTime"
                                :min-date="minDate"
                                :max-date="maxDate"
                                @confirm="sdateConfirm"
								@cancel="sdateShow = false"
                        />
                    </van-popup>
                    <!-- End date picker -->
                    <van-popup v-model="edateShow" round position="bottom">
                        <van-datetime-picker
                                v-model="edateCurrentDate"
                                type="date"
                                :title="i18n.selectEndTime"
                                :min-date="minDate"
                                :max-date="maxDate"
                                @confirm="edateConfirm"
								@cancel="edateShow = false"
                        />
                    </van-popup>
                </div>
                <div class="issue_post_body_btn" @click="recruitmentMethodShow = false">{{i18n.confirm}}</div>
            </div>
        </van-popup>

        <!-- Part-time description popup -->
        <van-popup v-model="descshow" position="right"
                   :style="{ height: '100%',width:'100%',backgroundColor:'#f3f3f3'}">
            <div class="comheader">
                <a class="comheader_return" @click="descshow = false"></a>
                <div class="comheader_tit">{{i18n.partContent}}</div>
            </div>
            <div class="issue_post_body">
             <div class="yun_createbox">
             	<div class="yun_create_bjtip">{{i18n.descRuleTip}}  </div>
                    <textarea id="content" :placeholder="i18n.contentPlaceholder" maxlength="-1" style="width:100%;height: 500px;"
                              name="description" :value="info.description"></textarea>
                </div>
                <div class="security_bth">
                    <button type="submit" class="security_bth_but" @click="upDesc">{{i18n.saveBtn}}</button>
                </div>
            </div>
        </van-popup>
        <van-popup v-model="mapshow" position="bottom">
            <div class="issue_post_body">
                <div class="comWapMapSubct">
                    <div class="comWapMapOnes">
                        <div class="comWapMapTwos" v-if="map_key!=''">
                            <div class="body_card_job_box">
                                {{i18n.mapClickHint}}
                            </div>
                            <div id="map_container"  style="width:100%;height:280px;overflow: hidden;margin:0;font-family:'Microsoft YaHei, sans-serif';" v-if="map_key!=''"></div>
                        </div>
                        <div class="comWapMapShows">
                            <div class="comWapMapEatel">
                                <div class="yun_createlist">
                                    <div class="yun_create_name">{{i18n.detailAddress}}</div>
                                    <div class="yun_create_text">
                                        <input :placeholder="i18n.inputDetailAddress" v-model="address" name="address"/>
                                    </div>
                                </div>
                            </div>
                            <div class="comWapMapTishi" v-if="poi.length > 0">
                                <span>{{i18n.poiHint}}</span>
                            </div>
                            <ul>
                                <li v-for="(item,pk) in poi" :key="pk">
                                    <div @click="poiClick(pk)">
                                        <span>{{item.name}}</span>
                                        <b>{{item.address}}</b>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="security_bth" style="padding-top: 0;">
                    <button class="security_bth_but" @click="closemap">{{i18n.okBtn}}</button>
                </div>
            </div>
        </van-popup>
    </div>
</div>
<link rel="stylesheet"
      href="{yun:}$wap_style{/yun}/js/umeditor/themes/default/css/umeditor.min.css?v={yun:}$config.cachecode{/yun}"
      type="text/css"/>
<script src="{yun:}$wap_style{/yun}/js/umeditor/umeditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$wap_style{/yun}/js/umeditor/umeditor.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$plusstyle{/yun}/city.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$plusstyle{/yun}/part.cache.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$wap_style{/yun}/js/partPicker.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$wap_style{/yun}/js/category.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}if $config.map_key{/yun}
<script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'{yun:}$config.map_secret{/yun}'
    }
</script>
<script type="text/javascript" src="{yun:}$config.mapurl{/yun}"></script>
{yun:}/if{/yun}
<script>
    var COM_PARTADD_I18N = {
        partNameRequired: '{yun:}t key='wap_01152'{/yun}',
        partCategoryRequired: '{yun:}t key='wap_01153'{/yun}',
        headcountRequired: '{yun:}t key='wap_00888'{/yun}',
        salaryRequired: '{yun:}t key='wap_01154'{/yun}',
        salaryTypeRequired: '{yun:}t key='wap_01155'{/yun}',
        billingCycleRequired: '{yun:}t key='wap_01156'{/yun}',
        startDateRequired: '{yun:}t key='wap_01157'{/yun}',
        endDateRequired: '{yun:}t key='wap_01158'{/yun}',
        worktimeRequired: '{yun:}t key='wap_01159'{/yun}',
        contentRequired: '{yun:}t key='wap_01160'{/yun}',
        linkmanRequired: '{yun:}t key='wap_01161'{/yun}',
        phoneRequired: '{yun:}t key='wap_01162'{/yun}',
        mobileFormatError: '{yun:}t key='wap_com_00006'{/yun}',
        workAreaRequired: '{yun:}t key='wap_com_00010'{/yun}',
        cityLevelRequired: '{yun:}t key='wap_01163'{/yun}',
        workAddressRequired: '{yun:}t key='wap_00903'{/yun}',
        mapMarkRequired: '{yun:}t key='wap_01164'{/yun}',
        submitting: '{yun:}t key='wap_com_00335'{/yun}',
    };

    var map_key = '{yun:}$config.map_key{/yun}';
    var cityParam = {
        one_all: false,
    };
    var cityData = cityCategory(cityParam);
    let myDate = new Date();
    var citydefault = '',
        year = myDate.getFullYear(),
        month = myDate.getMonth(),
        day = myDate.getDate();
    var map = null;
    var umeditor = {};
    var yunvue = new Vue({
        el: '#yunvue',
        data() {
            return {
                islook: false,
                info: {
                    sdate_n: '',
                    edate_n: '',
                    content: '',
                },
                type: {
                    name: [],
                    id: []
                },
                typeIndex: 0,
                sex: {
                    name: [],
                    id: []
                },
                sexIndex: 0,
                salarytype: {
                    name: [],
                    id: []
                },
                salarytypeIndex: 0,
                billingcycle: {
                    name: [],
                    id: []
                },
                billingcycleIndex: 0,
                timetype: {
                    name: [],
                    id: []
                },
                timetypeIndex: 1,

                selectall: false,
                selectarr: [],
                morning: [],
                noon: [],
                night: [],

                mapshow: false,
                
                latitude: '',
                longitude: '',

                city: citydefault,
                provinceid: 0,
                cityid: 0,
                threecityid: 0,
                editorCtx: null,
                canEditor: false,
                sdateCur: true,
                sdateArr: [0, 0, 0],
                edateCur: true,
                edateArr: [0, 0, 0],
                areaCode: [0, 0, 0],
                nowtype: '',
                isTextarea: false,
                editorReady: false,

                descshow: false,

                // Work location picker
                areaShow: false,
                areaValue: 0,
                areaOptions: cityData,

                // Picker popup
                typeShow: false,
                salarytypeShow: false,
                billingcycleShow: false,
                sexShow: false,
                timetypeShow: false,
                recruitmentMethodShow: false, // Recruitment method
                sdateShow: false,
                edateShow: false,

                // Date picker
                minDate: new Date(year, month, day), // Today
                maxDate: new Date(year + 5, 12, 31),
                sdateCurrentDate: new Date(year, month, day),
                edateCurrentDate: new Date(year, month, day),

				map_key: map_key,
                address: '',
                poi:[],
                i18n: {
                    partName: '{yun:}t key='wap_com_00326'{/yun}',
                    partNamePlaceholder: '{yun:}t key='wap_com_00321'{/yun}',
                    partCategory: '{yun:}t key='wap_com_00329'{/yun}',
                    headcount: '{yun:}t key='wap_com_00333'{/yun}',
                    headcountPlaceholder: '{yun:}t key='wap_00888'{/yun}',
                    partSalary: '{yun:}t key='wap_com_00330'{/yun}',
                    salaryPlaceholder: '{yun:}t key='wap_01148'{/yun}',
                    salaryType: '{yun:}t key='wap_com_00334'{/yun}',
                    billingCycle: '{yun:}t key='wap_01149'{/yun}',
                    sexRequired: '{yun:}t key='wap_com_00332'{/yun}',
                    timetype: '{yun:}t key='wap_com_00327'{/yun}',
                    selectTimetype: '{yun:}t key='wap_01150'{/yun}',
                    partTime: '{yun:}t key='wap_com_00328'{/yun}',
                    mon: '{yun:}t key='wap_com_00338'{/yun}',
                    tue: '{yun:}t key='wap_com_00339'{/yun}',
                    wed: '{yun:}t key='wap_js_00029'{/yun}',
                    thu: '{yun:}t key='wap_js_00032'{/yun}',
                    fri: '{yun:}t key='wap_js_00030'{/yun}',
                    sat: '{yun:}t key='wap_js_00031'{/yun}',
                    sun: '{yun:}t key='wap_js_00033'{/yun}',
                    morning: '{yun:}t key='wap_com_00336'{/yun}',
                    noon: '{yun:}t key='wap_com_00337'{/yun}',
                    night: '{yun:}t key='wap_com_00340'{/yun}',
                    selectAll: '{yun:}t key='wap_js_00074'{/yun}',
                    partContent: '{yun:}t key='wap_com_00325'{/yun}',
                    contentPlaceholder: '{yun:}t key='wap_01151'{/yun}',
                    contactPerson: '{yun:}t key='wap_user_00267'{/yun}',
                    inputContact: '{yun:}t key='wap_com_00013'{/yun}',
                    contactPhone: '{yun:}t key='wap_user_00265'{/yun}',
                    inputPhone: '{yun:}t key='wap_com_00322'{/yun}',
                    workArea: '{yun:}t key='wap_01181'{/yun}',
                    workAddress: '{yun:}t key='wap_com_00331'{/yun}',
                    inputWorkAddress: '{yun:}t key='wap_00903'{/yun}',
                    submit: '{yun:}t key='wap_user_00176'{/yun}',
                    startTime: '{yun:}t key='wap_user_00087'{/yun}',
                    endTime: '{yun:}t key='wap_user_00096'{/yun}',
                    dateTo: '{yun:}t key='common_02098'{/yun}',
                    longTerm: '{yun:}t key='wap_com_00341'{/yun}',
                    pleaseSelect: '{yun:}t key='wap_user_00100'{/yun}',
                    selectStartTime: '{yun:}t key='wap_com_00323'{/yun}',
                    selectEndTime: '{yun:}t key='wap_com_00324'{/yun}',
                    confirm: '{yun:}t key='common_02016'{/yun}',
                    startTimeLabel: '{yun:}t key='wap_01165'{/yun}',
                    descRuleTip: '{yun:}t key='wap_user_00059'{/yun}',
                    saveBtn: '{yun:}t key='wap_com_00017'{/yun}',
                    mapClickHint: '{yun:}t key='wap_com_00003'{/yun}',
                    detailAddress: '{yun:}t key='wap_user_00243'{/yun}',
                    inputDetailAddress: '{yun:}t key='wap_00905'{/yun}',
                    poiHint: '{yun:}t key='wap_com_00001'{/yun}',
                    okBtn: '{yun:}t key='wap_com_00019'{/yun}',
                    selectWorkArea: '{yun:}t key='wap_com_00010'{/yun}',
                },
            };
        },
        created() {
            let that = this;
            citydefault = that.i18n.selectWorkArea;
            that.city = citydefault;

            let partid = getUrlKey('id');

            that.sex = getSex(); // Load gender requirement
            that.billingcycle = getBillingcycle(); // Load pay cycle
            that.salarytype = getSalarytype(); // Load salary type
            that.type = getType();// Load part-time type
            that.morning = getMorning(); // Part-time hours - morning
            that.noon = getNoon();// Part-time hours - noon
            that.night = getAfternoon();// Part-time hours - evening
            that.timetype = getTimetype(); // Part-time duration

            if (partid) {
                that.partid = partid;
                that.partinfo();
            } else {
                that.islook = true;
            }
        },
        watch: {
            address: function (value) {
                if (value) {
                    this.info.address = value;
                    if (this.map_key !='' && this.mapshow){
                        debounce(this.localsearch(),1000);
                    }
                }
            },
        },
        methods: {
            // Work area picker
            onAreaFinish({selectedOptions}) {
                this.provinceid = 0;
                this.cityid = 0;
                this.threecityid = 0;

                let cityStr = '';

                if (selectedOptions[0] && selectedOptions[0].value > 0) {
                    if (selectedOptions[0]) {
                        this.provinceid = selectedOptions[0].value;
                        cityStr += selectedOptions[0].text;
                    }

                }
                if (selectedOptions[1] && selectedOptions[1].value > 0) {
                    if (selectedOptions[1]) {
                        this.cityid = selectedOptions[1].value;
                        cityStr += ' ' + selectedOptions[1].text;
                    }
                }
                if (selectedOptions[2] && selectedOptions[2].value > 0) {
                    if (selectedOptions[1]) {
                        this.threecityid = selectedOptions[2].value;
                        cityStr += ' ' + selectedOptions[2].text;
                    }
                }
                this.city = cityStr ? cityStr : citydefault;
                this.areaShow = false;
            },
            partinfo: function () {
                if (this.partid) {
                    let that = this,
                        param = {
                            id: that.partid,
                            source: 'wap'
                        };

                    showLoading();
                    $.post('{yun:}url d=wxapp h=com m=part c=partedit{/yun}', param, function (data) {
                        hideLoading();
                        let res = data.data;
                        if (res.x && res.y) {
                            that.longitude = res.x;
                            that.latitude = res.y;
                        }
                        that.info = res;
                        that.address = that.info.address

                        that.provinceid = res.provinceid ? parseInt(res.provinceid) : 0;
                        that.cityid = res.cityid ? parseInt(res.cityid) : 0;
                        that.threecityid = res.three_cityid ? parseInt(res.three_cityid) : 0;

                        // Process part-time hours
                        if (res.sdate_n) {
                            let sdateArr = res.sdate_n.split("-");
                            if (sdateArr.length == 3) {
                                that.sdateCurrentDate = new Date(sdateArr[0], parseInt(sdateArr[1]) - 1, sdateArr[2]);
                            }
                        }
                        if (res.edate_n) {
                            let edateArr = res.edate_n.split("-");
                            if (edateArr.length == 3) {
                                that.edateArr = edateArr;
                                that.edateCurrentDate = new Date(edateArr[0], parseInt(edateArr[1]) - 1, edateArr[2])
                            }
                        }

                        that.city = res.cityname;
                        if (that.threecityid > 0) {
                            that.areaValue = that.threecityid
                        } else if (that.cityid > 0) {
                            that.areaValue = that.cityid
                        } else {
                            that.areaValue = that.provinceid;
                        }

                        if (res.worktime_n.length == 21) {
                            that.selectall = true;
                        }
                        that.morning = getMorning(res.worktime_n); // Part-time hours - morning
                        that.noon = getNoon(res.worktime_n);// Part-time hours - noon
                        that.night = getAfternoon(res.worktime_n);// Part-time hours - evening
                        that.selectarr = res.worktime_n;

                        // Set index values
                        that.timetypeIndex = (res.edate && res.edate > 0) ? 0 : 1;
                        let billingcycleIndex = that.billingcycle.id.indexOf(res.billing_cycle ? parseInt(res.billing_cycle) : 0);
                        that.billingcycleIndex = billingcycleIndex < 0 ? 0 : billingcycleIndex;
                        let salarytypeIndex = that.salarytype.id.indexOf(res.salary_type ? parseInt(res.salary_type) : 0);
                        that.salarytypeIndex = salarytypeIndex < 0 ? 0 : salarytypeIndex;
                        let sexIndex = that.sex.id.indexOf(res.sex ? parseInt(res.sex) : 0);
                        that.sexIndex = sexIndex < 0 ? 0 : sexIndex;
                        let typeIndex = that.type.id.indexOf(res.type ? parseInt(res.type) : 0);
                        that.typeIndex = typeIndex < 0 ? 0 : typeIndex;

                        that.islook = true;
                    }, 'json')
                } else {
                    this.info.content = '';
                }
            },
            bindtypeChange: function (value, index) {
                this.typeIndex = index;
                this.info.type = this.type.id[index];
                this.typeShow = false;
            },
            bindsalarytypeChange: function (value, index) {
                this.salarytypeIndex = index;
                this.info.salary_type = this.salarytype.id[index];
                this.salarytypeShow = false;
            },
            bindsexChange: function (value, index) {
                this.sexIndex = index;
                this.info.sex = this.sex.id[index];
                this.sexShow = false;
            },
            bindbillingcycleChange: function (value, index) {
                this.billingcycleIndex = index;
                this.info.billing_cycle = this.billingcycle.id[index];
                this.billingcycleShow = false;
            },
            bindtimetypeChang: function (value, index) {
                this.timetypeIndex = index;
                if (index) {
                    this.info.edate_n = '';
                }
                this.timetypeShow = false;
            },
            sdateConfirm(e) {
                this.info.sdate_n = e.getFullYear() + '-' + (e.getMonth() + 1) + '-' + (e.getDate() < 10 ? '0' + e.getDate() : e.getDate());
                this.sdateShow = false;
            },
            edateConfirm(e) {
                this.info.edate_n = e.getFullYear() + '-' + (e.getMonth() + 1) + '-' + (e.getDate() < 10 ? '0' + e.getDate() : e.getDate());
                this.edateShow = false;
            },
            bindworktime: function (value, checked) {
                if (checked) {
                    this.selectarr.push(value);
                } else {
                    let idx = this.selectarr.indexOf(value)
                    if (idx >= 0) {
                        this.selectarr.splice(idx, 1);
                    }
                }
                if (this.selectarr.length == 21) {
                    this.selectall = true;
                } else {
                    this.selectall = false;
                }
            },
            bindworktimeallChange: function (checked) {
                let that = this,
                    morning = [],
                    noon = [],
                    night = [],
                    selectarr = [];
                for (let m = 0; m < that.morning.length; m++) {
                    morning.push({
                        name: that.morning[m]['name'],
                        checked: checked
                    });
                    checked ? selectarr.push(that.morning[m]['name']) : '';
                }
                for (let n = 0; n < that.noon.length; n++) {
                    noon.push({
                        name: that.noon[n]['name'],
                        checked: checked
                    });
                    checked ? selectarr.push(that.noon[n]['name']) : '';
                }
                for (let j = 0; j < that.night.length; j++) {
                    night.push({
                        name: that.night[j]['name'],
                        checked: checked
                    });
                    checked ? selectarr.push(that.night[j]['name']) : '';
                }
                that.morning = morning;
                that.noon = noon;
                that.night = night;
                that.selectarr = checked ? selectarr : [];
            },
            localsearch: function () {
                var that = this;
                if(that.info.address.length > 3){
                    $.post('index.php?c=poi', {address: that.info.address}, function(e){
                        if(e.status == '1' && e.tips.length > 0){
                            that.poi = e.tips;
                        }
                    }, 'json');
                }
            },
            poiClick: function(key){
                map.clearMap();
                var location = this.poi[key].location;
                var lngLat = location.split(',');
                this.longitude = lngLat[0];
                this.latitude = lngLat[1];
                var point = new AMap.LngLat(lngLat[0], lngLat[1]);
                map.setZoomAndCenter(17, point);
                var marker = new AMap.Marker({
                    position: point
                });
                map.add(marker);
            },
            chooseLocation: function () {
                let that = this;
                that.mapshow = true;

                setTimeout(() => {
                    if (!map) {
                        map = new AMap.Map("map_container");
                    }else{
                        map.clearMap();
                    }
                    var mapx = that.longitude,
                        mapy = that.latitude;
                    if (mapx && mapy) {
                        this.setLocation(mapx, mapy);
                    } else {
                    
                        AMap.plugin('AMap.Geolocation', function() {
                           var geolocation = new AMap.Geolocation();
                        
                          geolocation.getCurrentPosition(function(status,result){
                                if(status=='complete' && result.info == 'SUCCESS'){
                                    var position = result.position;
                                    that.longitude = position.lng;
                                    that.latitude = position.lat;
                                    
                                    that.setLocation(position.lng, position.lat);
                                }
                          });
                        });
                    }
                }, 300)
            },

            setLocation: function (x, y) {
                let that = this;
                if (!x && !y) {
                    x = '116.404';
                    y = '39.915';
                }
                var point = new AMap.LngLat(x, y);
                map.setZoomAndCenter(15, point);
                var marker = new AMap.Marker({
                    position: point
                });
                map.add(marker);
                // Fix mobile click not firing
                map.on("touchmove", function (e) {
                    map.setStatus({
                        dragEnable: true
                    });
                });
                // On touch end, disable map drag
                map.on("touchend", function (e) {
                    map.setStatus({
                        dragEnable: false
                    });
                });
                // Init map with drag disabled
                map.setStatus({
                    dragEnable: false
                });
                map.on("click", function (e) {
                    var lngLat = e.lnglat;
                    that.longitude = lngLat.lng;
                    that.latitude = lngLat.lat;
                    map.clearMap();
                    var marker = new AMap.Marker({
                        position: new AMap.LngLat(lngLat.lng, lngLat.lat)
                    });
                    map.add(marker);
                });
            },

            closemap: function () {
                // this.longitude = this.geolocation.x;
                // this.latitude = this.geolocation.y;
                this.mapshow = false
            },

            opendesc: function () {
                this.descshow = true;
                umeditor = UM.getEditor('content', {
                    toolbar: false,
                    elementPathEnabled: false,
                    wordCount: false,
                    autoHeightEnabled: false
                });

                let that = this;
                umeditor.addListener('ready', function () {
                    umeditor.setContent(that.info.content)
                })
            },
            upDesc: function () {
                let that = this;
                var content = umeditor.getContent();
                if (content != "") {
                    that.info.content = content;
                    that.info.content_t = content.replace(/<[^>]+>/g, "");
                    if (that.info.content_t == '') {
                        showModal(COM_PARTADD_I18N.contentRequired);
                        return false;
                    }
                } else {
                    that.info.content = '';
                    that.info.content_t = '';
                }
                that.descshow = false;
            },
        }
    });

    function formSubmit(e) {
        var yd = yunvue.$data,
            worktime = yd.selectarr;
        try {
            if (worktime) {
                worktime = worktime.toString();
            }

            if (e.name.value.length == 0) {
                showModal(COM_PARTADD_I18N.partNameRequired);
                return false;
            }

            if (e.type.value.length == 0) {
                showModal(COM_PARTADD_I18N.partCategoryRequired);
                return false;
            }
            if (e.number.value.length == 0) {
                showModal(COM_PARTADD_I18N.headcountRequired);
                return false;
            }
            if (e.salary.value.length == 0) {
                showModal(COM_PARTADD_I18N.salaryRequired);
                return false;
            }
            if (e.salarytype.value.length == 0) {
                showModal(COM_PARTADD_I18N.salaryTypeRequired);
                return false;
            }

            if (e.billing_cycle.value.length == 0) {
                showModal(COM_PARTADD_I18N.billingCycleRequired);
                return false;
            }
            if (yd.info.sdate_n.length == 0) {
                showModal(COM_PARTADD_I18N.startDateRequired);
                return false;
            }
            if (yd.timetypeIndex != 1) {
                if (!yd.info.edate_n) {
                    showModal(COM_PARTADD_I18N.endDateRequired);
                    return false;
                }
            }
            if (worktime.length == 0) {
                showModal(COM_PARTADD_I18N.worktimeRequired);
                return false;
            }

            let content = yd.info.content.replace(/<[^>]+>/g, "");
            if (content.trim() == '') {
                showModal(COM_PARTADD_I18N.contentRequired);
                return false;
            }

            if (e.linkman.value.length == 0) {
                showModal(COM_PARTADD_I18N.linkmanRequired);
                return false;
            }

            if (e.linktel.value.length == 0) {
                showModal(COM_PARTADD_I18N.phoneRequired);
                return false;
            }

            if (e.linktel.value.length > 0) {
                if (isjsMobile(e.linktel.value) == false) {
                    showModal(COM_PARTADD_I18N.mobileFormatError);
                    return false;
                }
            }

            if (e.province.value.length == 0 || e.province.value == 0) {
                showModal(COM_PARTADD_I18N.workAreaRequired);
                return false;
            }
            if (ct[e.province.value]) {
                if (e.city.value.length == 0 || e.city.value == 0) {
                    showModal(COM_PARTADD_I18N.cityLevelRequired);
                    return false;
                }
            }

            if (e.address.value.length == 0) {
                showModal(COM_PARTADD_I18N.workAddressRequired);
                return false;
            }

            if (yd.map_key !='') {
                if (yd.longitude == '' || yd.latitude == '') {
                    showModal(COM_PARTADD_I18N.mapMarkRequired);
                    return false;
                }
            }
            var formData = {
                name: e.name.value,
                type: e.type.value,
                number: e.number.value,
                worktime: worktime.toString(),
                sdate: yd.info.sdate_n,
                edate: yd.info.edate_n,
                sex: e.sex.value,
                salary: e.salary.value,
                salary_type: e.salarytype.value,
                billing_cycle: e.billing_cycle.value,
                provinceid: e.province.value,
                cityid: e.city.value,
                three_cityid: e.threecity.value,
                address: e.address.value,
                x: yd.longitude,
                y: yd.latitude,
                linkman: e.linkman.value,
                linktel: e.linktel.value,
                source: 'wap'
            };
            if (yd.info.id) {
                formData.id = yd.info.id;
            }
            formData.content = yd.info.content;

            showLoading(COM_PARTADD_I18N.submitting);
            $.post('{yun:}url d=wxapp h=com m=part c=partsave{/yun}', formData, function (data) {
                hideLoading();
                if (data.error == 1) {
                    window.localStorage.setItem("needRefresh", 1);
                    showModal(data.msg, function () {
                        history.go(-1);
                    });
                } else {
                    showModal(data.msg);
                }
            }, 'json')
        } catch (err) {}

        return false;
    }
</script>
</body>
</html>