{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<div id="mbVue" class="issue_post_body none" style="margin-top: 0px;">

    <div class=" ">
       <div class=" yun_createbox">
       
           <div class="yun_createlist">
               
                   <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.templateName}}</div>
                <div class="yun_create_text">
                    <input type="text" v-model="info.name" :placeholder="i18n.templateNamePlaceholder">
                </div>  
        </div>
         <div class="yun_createlist" @click="showTimePicker">
         <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.interviewTime}}</div>
                <div class="yun_create_text_p" v-if="info.intertime">{{info.intertime}}</div>
			   <div class="yun_create_text_p"style="color:#cecccc;" v-else>{{i18n.selectInterviewTime}}</div>
				
          
            <div class="yun_create_fx">
                <img src="{yun:}$wap_style{/yun}/images/issue_add.png" alt="">
            </div>
        </div>
          <div class="yun_createlist">
              <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.contactPerson}}</div>
                <div class="yun_create_text">
                    <input type="text" v-model="info.linkman" :placeholder="i18n.namePlaceholder">
                </div>  
        </div>
          <div class="yun_createlist">
               <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.contactInfo}}</div>
                <div class="yun_create_text">
                    <input type="number" v-model="info.linktel" oninput="value=value.replace(/^0|[\^d]/g,'')" :placeholder="i18n.phonePlaceholder" />
                </div>
             
        </div>
          <div class="yun_createlist">
              <div class="yun_create_name"><span class="m_bt">*</span>{{i18n.interviewAddress}}</div>
                <div class="yun_create_text">
                    <input type="text" v-model="info.address" :placeholder="i18n.addressPlaceholder" />
                </div> 

        </div>
        <div class="remark" style="padding: 10px 15px;">
           <div class=" ">{{i18n.remarkInfo}}</div>
            <div class="remark_word">
                <form action="" class="remark_word_box">
                    <textarea name="description" style="resize:none;color:#000; font-size: 0.426666rem;" class="remark_word_text" v-model="info.content"
                              :placeholder="i18n.remarkPlaceholder"></textarea>
                </form>
            </div>
        </div>
    </div>
    <div class="issue_post_body_btn" @click="saveMb">{{i18n.save}}</div>

    <van-popup v-model="timeShow" position="bottom"/>
        <van-datetime-picker v-model="currentDate" type="datetime" :title="i18n.pickInterviewTime" @cancel="timeShow=false" :min-date="minDate"  @confirm="setInterTime" />
    </van-popup>
</div>


<script>
    var yid = '{yun:}$smarty.get.yid{/yun}';
    var mbVue = new Vue({
        el: '#mbVue',
        data: {
            islook: false,
            info: {
                name: '',
                intertime: '',
                linkman: '',
                linktel: '',
                address: '',
                content: ''
            },

            timeShow: false,
            currentDate: new Date(),
            minDate: new Date(),
            i18n: {
                templateName: '{yun:}t key='wap_com_00413'{/yun}',
                templateNamePlaceholder: '{yun:}t key='wap_com_00411'{/yun}',
                interviewTime: '{yun:}t key='wap_user_00255'{/yun}',
                selectInterviewTime: '{yun:}t key='wap_01217'{/yun}',
                contactPerson: '{yun:}t key='wap_user_00267'{/yun}',
                namePlaceholder: '{yun:}t key='wap_user_00054'{/yun}',
                contactInfo: '{yun:}t key='wap_00462'{/yun}',
                phonePlaceholder: '{yun:}t key='wap_js_00119'{/yun}',
                interviewAddress: '{yun:}t key='wap_01055'{/yun}',
                addressPlaceholder: '{yun:}t key='wap_01219'{/yun}',
                remarkInfo: '{yun:}t key='wap_user_00263'{/yun}',
                remarkPlaceholder: '{yun:}t key='wap_01220'{/yun}',
                save: '{yun:}t key='wap_user_00101'{/yun}',
                pickInterviewTime: '{yun:}t key='wap_01218'{/yun}',
                loading: '{yun:}t key='wap_com_00318'{/yun}',
                saving: '{yun:}t key='wap_01225'{/yun}',
                nameRequired: '{yun:}t key='wap_01221'{/yun}',
                timeRequired: '{yun:}t key='wap_01222'{/yun}',
                contactRequired: '{yun:}t key='wap_01223'{/yun}',
                phoneRequired: '{yun:}t key='wap_com_00412'{/yun}',
                addressRequired: '{yun:}t key='wap_01224'{/yun}',
            },
        },
        created() {
            if (parseInt(yid) > 0) {

                this.getMbInfo();
            }else{
                $('#mbVue').css('display', 'block');
            }
        },
        methods: {

            getMbInfo: function () {

                var that = this,
                    paramer = {
                        yid: yid
                    };
                showLoading(that.i18n.loading);
                $.post('{yun:}url d=wxapp h=com m=set c=yqmbedit{/yun}', paramer, function (data) {
                    hideLoading();
                    if (data.error == 1) {
                        let info = data.data;
                        that.info = info;
                    } else {
                        showModal(data.msg, function () {
                            history.back();
                        })
                    }
                    $('#mbVue').css('display', 'block');
                }, 'json');
            },

            showTimePicker(){
                var that = this;
                if (that.info.intertime){

                    that.currentDate = new Date(that.info.time);
                }
                that.timeShow = true;
            },

            setInterTime:function (value) {

                var that = this;

                var y = value.getFullYear()
                var m = value.getMonth() + 1
                m = m < 10 ? '0' + m : m
                var d = value.getDate()
                d = d < 10 ? '0' + d : d
                var h = value.getHours()
                h = h < 10 ? '0' + h : h
                var minute = value.getMinutes()
                minute = minute < 10 ? '0' + minute : minute
                var second = value.getSeconds()
                second = second < 10 ? '0' + second : second
                that.info.intertime =y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
                that.timeShow = false;
            },

            saveMb:function(){
                var that = this;

                if (that.info.name.length == 0){
                    return showToast(that.i18n.nameRequired);
                }
                if (that.info.intertime.length == 0){
                    return showToast(that.i18n.timeRequired);
                }
                if (that.info.linkman.length == 0){
                    return showToast(that.i18n.contactRequired);
                }
                if (that.info.linktel.length == 0){
                    return showToast(that.i18n.phoneRequired);
                }
                if (that.info.address.length == 0){
                    return showToast(that.i18n.addressRequired);
                }

                var paramer = {
                    name: that.info.name,
                    intertime: that.info.intertime,
                    linkman: that.info.linkman,
                    linktel: that.info.linktel,
                    address: that.info.address,
                    content: that.info.content
                };
                if (parseInt(yid)>0){
                    paramer.yid = yid;
                }
                showLoading(that.i18n.saving);
                $.post('{yun:}url d=wxapp h=com m=set c=yqmbeditsave{/yun}', paramer, function (data) {
                    hideLoading();
                    if (data.error == 1) {
                        showToast(data.msg, 2, function () {
                            window.localStorage.setItem("needRefresh", 1);
                            history.back();
                        });
                    } else {
                        return showModal(data.msg)
                    }
                }, 'json');
            }

        }
    });
</script>
</body>
</html>
