{yun:}include file="$wapstyle/member/cheader.htm"{/yun}
<div id="yunvue" v-show="!todayLoading && !tcLoading">
    <div class="zaopinDataTop">
            <div class="zapiDaTopFanh">
                <span>{{i18n.dataCenter}}</span>
            </div>
            <div class="zapiDaTopInfo">
                <div class="zapiDaTopFlex">
                    <div class="zapiDaTopTite">
                        <div class="zapiDaTopTitMic">
                            <span>{{i18n.myRecruitData}}</span>
                        </div>
                        <div class="zapiDaTopTitLik">
                            <a href="javascript:navigateTo('index.php?c=zhaopinzhou');">
                                <img src="{yun:}$wap_style{/yun}/images/zpda2.png" class="dopTitLiImg1" alt="">
                                <span>{{i18n.weekData}}</span>
                                <img src="{yun:}$wap_style{/yun}/images/zpda3.png" class="dopTitLiImg2" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="zapiDaTopImage">
                        <img src="{yun:}$wap_style{/yun}/images/zpda1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    <div class="zaopinDataCont" v-if="zpdata_open">
            <div class="zaopinDataCotTite">
                <div class="zaopinDataCotMic">
                    <span>{{i18n.todayData}}</span>
                </div>
                <!--<div class="zaopinDataCotZhiw">-->
                <!--    <div class="zaopinDataCotzwButn">-->
                <!--        <span>All jobs</span>-->
                <!--        <img src="{yun:}$wap_style{/yun}/images/zpda4.png" alt="">-->
                <!--    </div>-->
                <!--</div>-->
            </div>
            <div class="zainDatCotList">
                <ul>
                    <li v-for="(titem, tkey) in todayList" :key="tkey" @click="navigateTo(titem.wap_url)">
                        <div class="zainDatCotTexts">
                            <span>{{titem.title}}</span>
                        </div>
                        <div class="zainDatCotNuber">
                            <span>{{titem.num}}</span>
                            <b>{{titem.unit}}</b>
                        </div>
                        <div v-if="titem.jzr > 0" class="zainDatCotShuju">
                            <span>{{i18n.vsYesterday}}</span>
                            <img src="{yun:}$wap_style{/yun}/images/zpda6.png" class="conDataimg1" alt="">
                            <span style="color: #E81E40;">{{titem.jzr}}</span>
                            <img src="{yun:}$wap_style{/yun}/images/zpda5.png" class="conDataimg2" alt="">
                        </div>
                        <div v-else-if="titem.jzr < 0" class="zainDatCotShuju">
                            <span>{{i18n.vsYesterday}}</span>
                            <img src="{yun:}$wap_style{/yun}/images/zpda7.png" class="conDataimg1" alt="">
                            <span style="color: #13CE66;">{{-titem.jzr}}</span>
                            <img src="{yun:}$wap_style{/yun}/images/zpda5.png" class="conDataimg2" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="zainDatQuayiTite">
                <span>{{i18n.remainingBenefits}}</span>
            </div>
            <div class="zainDatQuaylis">
                <ul>
                    <li v-for="(qitem, qkey) in tcList" :key="qkey">
                        <div class="zainDatQuayMic">
                            <span>{{qitem.title}}</span>
                        </div>
                        <div class="zainDatQuayNum">
                            <span>{{qitem.num}}</span>
                            <b>{{qitem.unit}}</b>
                        </div>
                        <div v-if="typeof qitem.tc_num !== 'undefined'" class="zainDatQuaysuz">
                            <div class="zainDatQuaysuText">
                                <span>{{qitem.num}}</span>/{{qitem.tc_num}}
                            </div>
                            <div class="zainDatQuaysuJidu">
                                <span :style="'width: ' + qitem.width + '%;'"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="zainDatTuijian">
                <div class="zainDatTuiTite">
                    <span>{{i18n.recommended}}</span>
                </div>
                <div class="zainDatTuiButns">
                    <ul>
                        <li @click="navigateTo('index.php?c=job')">
                            <div class="zainDatTuiOnes">
                                <span>{{i18n.boostViews}}</span>
                                <b>{{i18n.goPin}}</b>
                            </div>
                            <div class="zainDatTuiTwos">
                                <img src="{yun:}$wap_style{/yun}/images/zpda8.png" alt="">
                            </div>
                        </li>
                        <li @click="navigateTo('{yun:}url m=wap c=resume{/yun}')" style="background: #E6EBFE;">
                            <div class="zainDatTuiOnes">
                                <span>{{i18n.notSatisfied}}</span>
                                <b>{{i18n.goSearch}}</b>
                            </div>
                            <div class="zainDatTuiTwos">
                                <img src="{yun:}$wap_style{/yun}/images/zpda9.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div v-else class="weikaiSubDome">
        <div class="weikaiSubDivs">
            <img src="{yun:}$wap_style{/yun}/images/weikai.png" alt="">
            <span>{{i18n.featureNotOpen}}</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    var yunvue = new Vue({
        el: '#yunvue',
        data() {
            return {
                todayLoading: true,
                zpdata_open: true,
                todayList: [],
                tcLoading: true,
                tcList: [],
                i18n: {
                    dataCenter: '{yun:}t key='wap_com_00416'{/yun}',
                    myRecruitData: '{yun:}t key='wap_01204'{/yun}',
                    weekData: '{yun:}t key='wap_01205'{/yun}',
                    todayData: '{yun:}t key='wap_com_00419'{/yun}',
                    vsYesterday: '{yun:}t key='wap_01206'{/yun}',
                    remainingBenefits: '{yun:}t key='wap_com_00415'{/yun}',
                    recommended: '{yun:}t key='wap_com_00418'{/yun}',
                    boostViews: '{yun:}t key='wap_com_00421'{/yun}',
                    goPin: '{yun:}t key='wap_com_00423'{/yun}',
                    notSatisfied: '{yun:}t key='wap_com_00417'{/yun}',
                    goSearch: '{yun:}t key='wap_com_00422'{/yun}',
                    featureNotOpen: '{yun:}t key='wap_com_00414'{/yun}',
                },
            };
        },
        created() {
            this.getTodayData();
            this.getTcData();
        },
        methods: {
            getTodayData: function () {
                let that = this

                $.get('{yun:}url d=wxapp h=com m=zpdata c=getTodayData{/yun}', function (res) {
                    if (res.error == 0) {
                        that.todayList = res.data.list;
                    }
                    that.zpdata_open = res.error == 403 ? false : true;
                    that.todayLoading = false;
                }, 'json')
            },
            getTcData: function () {
                let that = this

                $.get('{yun:}url d=wxapp h=com m=zpdata c=getTcData{/yun}', function (res) {
                    if (res.error == 0) {
                        that.tcList = res.data.list;
                    }
                    that.tcLoading = false;
                }, 'json')
            }
        }
    })
</script>
<style>
.comheader_return:after{
    content: ' ';
    width: 0.32rem;
    height: 0.32rem;
    border: #333 solid;
    -webkit-transform: rotate(-135deg);
    border-width: 0.053333rem 0.053333rem 0 0;
    color: #333; 
    display:inline-block; 
    position:absolute;
    left:0.133333rem;
    top:0.426666rem;
}
</style>
</body>

</html>
