<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link href="{yun:}$style{/yun}/style/moblie.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
<div class="current_Location icon">{yun:}t key='common_01498'{/yun}：<a href="{yun:}$config.sy_weburl{/yun}">{yun:}t key='common.home'{/yun}</a> > {yun:}t key='common_02413'{/yun}</div>
<div class="clear"></div>
<div class="yun_wap_cont">
<div class="yun_wap_android">
<div class="yun_wap_android_h1">{yun:}t key='common_02414'{/yun}</div>
<div class="yun_wap_moblie"><img src="{yun:}$style{/yun}/images/wap_sj.gif"></div>
<div class="yun_wap_moblie_img"><img src="{yun:}$style{/yun}/images/yun_wap_img.jpg"></div>
</div>
<div class="yun_wap_moblie_c">
<div class="yun_wap_mob_com">
<div class="yun_wap_mob_com_h1"><span>{yun:}t key='common_02415'{/yun}</span></div>
<dl class=" fl">
<dt>{yun:}t key='common_02416'{/yun}</dt>
<dd><img src="{yun:}$style{/yun}/images/yun_app.jpg"></dd>
</dl>
<div class="yun_wap_mob_com_r fl">
<a href="###"><img src="{yun:}$style{/yun}/images/yun_app_s1.jpg"></a>
{yun:}t key='wap_00326'{/yun}：2014{yun:}t key='common_02077'{/yun}03{yun:}t key='common_02086'{/yun}03{yun:}t key='common_02083'{/yun}<br>
{yun:}t key='common_02417'{/yun}<br>
{yun:}t key='common_02418'{/yun}<br>
</div>
</div>
<div class="yun_wap_mob_com yun_wap_mob_com_bg">
<div class="yun_wap_mob_com_h1"><span>{yun:}t key='common_02419'{/yun}</span></div>
<div class="yun_wap_mob_com_r fl">
<a href="###"><img src="{yun:}$style{/yun}/images/yun_app_s2.jpg"></a>
{yun:}t key='wap_00326'{/yun}：2014{yun:}t key='common_02077'{/yun}03{yun:}t key='common_02086'{/yun}03{yun:}t key='common_02083'{/yun}<br>
{yun:}t key='common_02417'{/yun}<br>
{yun:}t key='common_02418'{/yun}<br>
</div>
<dl class=" fr">
<dt>{yun:}t key='common_02416'{/yun}</dt>
<dd><img src="{yun:}$style{/yun}/images/yun_app.jpg"></dd>
</dl>
</div>
<div><div class="yun_wap_m_bg"></div></div>
</div>
<div class="yun_wap_sj">
<div class="yun_wap_left"><img src="{yun:}$style{/yun}/images/mobile_bg.png"></div>
<div class="yun_wap_right">
<div class="yun_wap_right_h1">{yun:}t key='member_user_00163'{/yun}wap版</div>
<div class="yun_wap_right_h3">{yun:}t key='common_02420'{/yun}</div>
<div class="yun_wap_right_h2">您可以通过手机上网，随时随地浏览职位、{yun:}t key='default_00262'{/yun}、{yun:}t key='common.article'{/yun}，{yun:}t key='common.resume'{/yun}...</div>
<div class="yun_wap_right_h3">{yun:}t key='common_02421'{/yun}</div>
<div class="yun_wap_right_h4"><a href="{yun:}url m=wap{/yun}" class="b">{yun:}url m=wap{/yun}</a></div>
<div class="yun_wap_right_h3">{yun:}t key='common_02422'{/yun}</div>
<div class="yun_wap_right_ewm">
<img  src="{yun:}$style{/yun}/images/api.png"/>
</div>
<div class="yun_wop_bot"><img src="{yun:}$style{/yun}/images/yun_wap_b.png"></div>
</div>
</div>
</div>
<div class="clear"></div>
</div>
{yun:}include file="$tplstyle/jquery/jquery_js.htm"{/yun}
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png,.index_logoin,.index_logoin_current,.nav_list,.fairs_Status,.fairs_Status,.logoin_qybj,.logoin_grbj,.logoin_Shadow_right,.logoin_Shadow_left,.whitebg,.micro_resume_fast,.nav_list_hover a,#bg,.left_comapply_cont li,.icon2,.nav_list .nav_list_hover em,.Fast_right_icon_l,.Fast_right_icon_r,.index_logoin_after,.logoin_after em,.logoin_after_su2,.logoin_after_su1,.hbg,.pagination li a,.firm_post_list,.Auction_tit,.yun_title,.Recommended_tit,.Com_Search_Results_r ul .All_post_h1_act,.sButtonBlock a.closeButton,.Comment_list_top,.icon,.yun_wap_m_bg,.micro_box');
</script>
<![endif]--> 
{yun:}include file="$tplstyle/footer.htm"{/yun} 