<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$client{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
</head>
<body>
{yun:}include file="$tplstyle/client_header.htm"{/yun}
<div class="wei_banner">
  <div class="wei_banner_w980">
    <div class="wei_banner_left">
      <div class="wx_p1">微信找工作<i class="wx_p1icon"></i></div>
      <div class="wx_p2">轻松关注 .  快乐求职 . 实时掌握求职 . 招聘动态
<div class="">{yun:}t key='default_index_weixin_00014'{/yun}</div></div>
     
     <div class="wx_p3">
     <span class="wx_p3_list"><i class="wx_p3_listicon"></i>{yun:}t key='default_index_weixin_00019'{/yun}</span>
     <span class="wx_p3_list"><i class="wx_p3_listicon wx_p3_listicon2"></i>{yun:}t key='wap_com_index_00030'{/yun}</span>
     <span class="wx_p3_list"><i class="wx_p3_listicon wx_p3_listicon3"></i>{yun:}t key='default_index_weixin_00021'{/yun}</span>
     <span class="wx_p3_list"><i class="wx_p3_listicon wx_p3_listicon4"></i>{yun:}t key='default_index_weixin_00020'{/yun}</span></div>
     
    </div>

  <div class="wx_t_img"></div>
  <div class="wx_ewm_img"></div>
  <div class="wx_ewm_pic"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_qcode{/yun}" class="png" height="150" width="150"/></div>
  
  </div>
</div>
<div class="clear"></div>
<div class="wei_job_list fl">
  <div class="w980">
    <div class="touch fl">
      <div class="touch_size fl">
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_01.jpg"/></dt>
          <dd>
            <div class="touch_h1 fl">{yun:}t key='default_index_weixin_00016'{/yun}</div>
            <div class="touch_items_text fl">{yun:}t key='default_index_weixin_00001'{/yun}</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_02.jpg"/></dt>
          <dd>
            <div class="touch_h1 fl">微信接受面试通知</div>
            <div class="touch_items_text fl">{yun:}t key='default_index_weixin_00002'{/yun}</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_03.jpg"/></dt>
          <dd>
            <div class="touch_h1 fl">{yun:}t key='default_index_weixin_00018'{/yun}</div>
            <div class="touch_items_text fl">{yun:}t key='default_index_weixin_00003'{/yun}</div>
          </dd>
        </dl>
        <dl>
          <dt><img src="{yun:}$client{/yun}/images/wei_04.jpg"/></dt>
          <dd>
            <div class="touch_h1 fl">{yun:}t key='default_index_weixin_00017'{/yun}</div>
            <div class="touch_items_text fl">{yun:}t key='default_index_weixin_00011'{/yun}</div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>


<div class="wx_list">
<div class="w980">
<div class="wx_box">
<div class="wx_tit">机会留给有准备的人<i class="wx_tit_line"></i></div>
<div class="wx_p">{yun:}t key='default_index_weixin_00006'{/yun}</div>
<div class="wx_leftimg1"></div>
</div>
</div></div>
<div class="wx_list wx_listbg">
<div class="w980">
<div class="wx_box">
<div class="wx_lefpd">
<div class="wx_tit">一键进入简历管理<i class="wx_tit_line"></i></div>
<div class="wx_p">{yun:}t key='default_index_weixin_00008'{/yun}</div>
</div>
<div class="wx_leftimg2"></div>
</div></div>
</div>
<div class="wx_list">
<div class="w980">
<div class="wx_box">
<div class="wx_tit">福利好还是月薪高<i class="wx_tit_line"></i></div>
<div class="wx_p">{yun:}t key='default_index_weixin_00007'{/yun}</div>
<div class="wx_img3"></div>
</div></div>
</div>
<div class="wx_list wx_listbg">
<div class="w980">
<div class="wx_box">
<div class="wx_lefpd">
<div class="wx_tit">求职攻略<i class="wx_tit_line"></i></div>
<div class="wx_p">{yun:}t key='default_index_weixin_00004'{/yun}</div>
</div>
<div class="wx_leftimg6"></div>
</div></div>
</div>
<div class="wx_list" style="border-bottom:1px solid #dcdce6">
<div class="w980">
<div class="wx_box">
<div class="wx_tit">找个离家近点的工作<i class="wx_tit_line"></i></div>
<div class="wx_p">{yun:}t key='default_index_weixin_00005'{/yun}</div>
<div class="wx_img5"></div>
</div>
</div>
</div></div>

<div style="clear:both"></div>
<!--[if IE 6]>
<script src="js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png,.wei_banner_ewm,.wei_banner_imp');
</script>
<![endif]-->
{yun:}include file="$tplstyle/client_footer.htm"{/yun}