{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div id="yunvue" class="none">
	<div class="personal_details_min_body">
		<form id="resumeson_form">

			<div class="yun_createbox" v-if="type=='work'">
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00080'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillCompanyName">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span>{yun:}t key='wap_user_00091'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="title" v-model="info.title" :placeholder="i18n.fillTitle">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span>{yun:}t key='wap_user_00086'{/yun}</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" v-if="content">{{content}}
					</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" style="color:#cecccc;"
						v-else>{{i18n.fillWorkContent}}</div>
					<div class="yun_create_fx">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>

				<div class="yun_time_box">
					<div class="yun_time_all">
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00079'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('workList', 'sdate')" v-if="sdate">{{sdate}}</div>
							<div class="yun_b_xz" @click="timeShow('workList', 'sdate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
						<div class="yun_b_z">{yun:}t key='common_02098'{/yun}</div>
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00095'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('workList', 'edate')" v-if="nowday">{{i18n.toPresent}}</div>
							<div class="yun_b_xz" @click="timeShow('workList', 'edate')" v-else-if="edate">{{edate}}</div>
							<div class="yun_b_xz" @click="timeShow('workList', 'edate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yun_createbox" v-if="type=='edu'">
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span><span class="m_bt">*</span>{yun:}t key='wap_user_00085'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillSchoolName">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span>{yun:}t key='wap_00452'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="specialty" v-model="info.specialty" :placeholder="i18n.fillSpecialty">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00092'{/yun}</div>
					<div class="yun_create_select" @click="eduPickerShow" v-if="eduText">{{eduText}}</div>
					<div class="yun_create_select" @click="eduPickerShow" style="color:#cecccc;" v-else>{{i18n.selectEdu}}</div>
					<div class="yun_create_fx" @click="eduPickerShow">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>
				<div class="yun_time_box">
					<div class="yun_time_all">
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00078'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('eduList', 'sdate')" v-if="sdate">{{sdate}}</div>
							<div class="yun_b_xz" @click="timeShow('eduList', 'sdate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
						<div class="yun_b_z">{yun:}t key='common_02098'{/yun}</div>
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00093'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('eduList', 'edate')" v-if="edate">{{edate}}</div>
							<div class="yun_b_xz" @click="timeShow('eduList', 'edate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yun_createbox" v-if="type=='project'">
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00099'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillProjectName">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_user_00091'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="title" v-model="info.title" :placeholder="i18n.fillTitle">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_user_00098'{/yun}</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" v-if="content">{{content}}
					</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" style="color:#cecccc;"
						v-else>{{i18n.fillProjectContent}}</div>
					<div class="yun_create_fx">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>

				<div class="yun_time_box">
					<div class="yun_time_all">
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00087'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('projectList', 'sdate')" v-if="sdate">{{sdate}}</div>
							<div class="yun_b_xz" @click="timeShow('projectList', 'sdate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
						<div class="yun_b_z">{yun:}t key='common_02098'{/yun}</div>
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00096'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('projectList', 'edate')" v-if="edate">{{edate}}</div>
							<div class="yun_b_xz" @click="timeShow('projectList', 'edate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yun_createbox" v-if="type=='training'">
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00084'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillTrainingOrg">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span>{yun:}t key='wap_user_00083'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="title" v-model="info.title" :placeholder="i18n.fillTrainingDir">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name"><span class="m_bt">&nbsp;</span>{yun:}t key='wap_user_00082'{/yun}</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" v-if="content">{{content}}
					</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent" style="color:#cecccc;"
						v-else>{{i18n.fillTrainingDesc}}</div>
					<div class="yun_create_fx">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>

				<div class="yun_time_box">
					<div class="yun_time_all">
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00087'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('trainList', 'sdate')" v-if="sdate">{{sdate}}</div>
							<div class="yun_b_xz" @click="timeShow('trainList', 'sdate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
						<div class="yun_b_z">{yun:}t key='common_02098'{/yun}</div>
						<div>
							<div class="yun_time_name"><span class="m_bt">*</span>{yun:}t key='wap_user_00096'{/yun}</div>
							<div class="yun_b_xz" @click="timeShow('trainList', 'edate')" v-if="edate">{{edate}}</div>
							<div class="yun_b_xz" @click="timeShow('trainList', 'edate')" style="color:#cecccc;" v-else>{{i18n.selectPlease}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yun_createbox" v-if="type=='skill'">
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_user_00089'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillSkillName">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_00458'{/yun}</div>
					<div class="yun_create_text">
						<input type="number" name="longtime" v-model="info.longtime" oninput="value=value.replace(/^0|[\^d]/g,'')" :placeholder="i18n.fillSkillYears">
					</div>
				</div>
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_user_00094'{/yun}</div>
					<div class="yun_create_select" @click="ingPickerShow" v-if="ingText">{{ingText}}</div>
					<div class="yun_create_select" @click="ingPickerShow" style="color:#cecccc;" v-else>{{i18n.selectProficiency}}</div>
					<div class="yun_create_fx" @click="ingPickerShow">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>
				<div class="job_resume_jn">
					<div class="job_resume_jn_name">{yun:}t key='wap_user_00090'{/yun}</div>
					<div class="job_resume_jn_tip">{{i18n.uploadCertTip}}</div>
					<div class="uploading_photo_box">
						<img id="previewimg" :src="info.pic" border="0"
							onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_member_skill{/yun}',2);">
						<input type="file" name="pic" onchange="previewImage(this,'preview')" accept="image/*"
							class="uploading_photo_file ">
						<input type='hidden' name='preview' value='' id='preview'>
					</div>
				</div>
			</div>
			<div class="yun_createbox" v-if="type=='other'">
				<div class="yun_createlist">
					<div class="yun_create_name">{yun:}t key='wap_user_00103'{/yun}</div>
					<div class="yun_create_text">
						<input type="text" name="name" v-model="info.name" :placeholder="i18n.fillHeading">
					</div>
				</div>
				<div class="yun_createlist yun_createlistend">
					<div class="yun_create_name">{yun:}t key='wap_user_00102'{/yun}</div>
					<div class="yun_create_select job_resume_right_two" @click="openContent">{{content}}</div>
					<div class="yun_create_fx">
						<img src="{yun:}$wap_style{/yun}/images/yunfx.png" alt="" width="100%" height="100%">
					</div>
				</div>
			</div>
			<!-- Portfolio -->
			<div class="personal_details_card" v-if="type=='show'">
				<div v-if="type=='skill' || type=='show'" class="job_resume_tip" style="padding-bottom: 0.266666rem;">
					{{i18n.showPrivacyTip}}
				</div>
				<div>
					<van-uploader v-model="showList" :before-delete="beforedel" :after-read="afterRead"
						:before-read="beforeRead" :max-size="5242880" />
				</div>
			</div>
			<!-- Self evaluation -->
			<div class="yun_my_introduce_box" v-if="type=='desc'">
				<div class="yun_info_fl_c">
					<div class="yun_info_textarea">
						<textarea name="description" v-model="description" class="yun_wap_addresume_texttextAreaMsg"
							:placeholder="i18n.selfEvalPlaceholder">{{description}}</textarea>
					</div>
					<div class="zwpj_other" @click="intcontent=true" v-if="introduce_demo_show"><i
							class="zwpj_other_icon"></i>{{i18n.seeOthersWrite}}</div>

					<div class="">
						<div class="yun_my_introduce_sl_box" v-if="intcontent">
							<div class="yun_my_introduce_tb">{{i18n.introSample}} <span @click="nextintroduce(introduce.id)"
									class="yun_my_introduce_tb_h">{{i18n.switchSample}}</span></div>
							<div>{{introduce.content}}</div>
						</div>
						<div class="yun_my_introduce_tit"> {{i18n.careerStrength}} <span class="yun_my_introduce_tit_s">{{i18n.maxFiveItems}}</span>
						</div>
						<div id="newtag"></div>
						<span v-for="(item, tkey) in tag" :key="item" @click="tagchoose(item)"
							class="yun_my_introduce_bq yun_my_introduce_bq_cur" tag-class="2">{{ item }}</span>
						<span v-for="(items, ukey) in usertag" :key="ukey" @click="tagchoose(items)"
							class="yun_my_introduce_bq " tag-class="1">{{ items }}</span>
						<div class="yun_info_fl_zdy_tip"> {{i18n.customStrengthTip}}</div>
						<div class="yun_info_fl_zdy"><input type="text" name="addtag" :value="addtag"
								@input="bindaddtagInput" tabindex="1000" :placeholder="i18n.tagNamePlaceholder">
							<div class="yun_info_fl_zdy_tj" @click="bindaddtagChang">{{i18n.addBtn}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="Save_button" @click="submitClick" v-if="type !='show'">{{i18n.saveBtn}}</div>
			<div class="Save_button" @click="showSave" v-else>{{btext}}</div>
		</form>
	</div>
	<!-- Description popup -->
	<van-popup v-model="contentBox" position="right" :style="{ height: '100%',width:'100%',backgroundColor:'#f3f3f3'}">
		<div class="workplace_header">
			<div class="workplace_header_left" @click="contentSubmit">
				<img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="" width="100%" height="100%">
			</div>
			<div class="workplace_header_center">{{contentTitle}}</div>
			<div class="workplace_header_right"></div>
		</div>
		<div class="description_box">
			<div class="yun_create_bjusertip">{{i18n.contentTip}}</div>
			<div class="resume_ms_textarea"><textarea v-model="content" :placeholder="i18n.inputContent"
					style="width: 100%;height: 300px;border: none; padding: .133333rem; outline: none;"></textarea>
			</div>
			<div class="Create_resume_btn" @click="contentSubmit">{{i18n.confirmBtn}}</div>
		</div>
	</van-popup>
	<!-- Start/end time picker -->
	<van-popup v-model="timeBox" round position="bottom">
		<van-picker show-toolbar :columns="timeData" @cancel="timeBox = false" @confirm="timeConfirm"
			@change="timeChange" />
	</van-popup>

	<van-popup v-model="eduShow" round position="bottom">
		<van-picker show-toolbar :columns="edu" :default-index="eduIndex" @cancel="eduShow = false"
			@confirm="eduConfirm" />
	</van-popup>
	<van-popup v-model="ingShow" round position="bottom">
		<van-picker :title="i18n.proficiencyTitle" show-toolbar :columns="ing" :default-index="ingIndex" @cancel="ingShow = false"
			@confirm="ingConfirm" />
	</van-popup>
</div>
{yun:}if $smarty.get.type == 'skill'{/yun}
<script src="{yun:}$wap_style{/yun}/js/compress.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$wap_style{/yun}/js/exif.js?v={yun:}$config.cachecode{/yun}"></script>
{yun:}elseif $smarty.get.type == 'show'{/yun}
<script src="{yun:}$wap_style{/yun}/js/compressor.min.js?v={yun:}$config.cachecode{/yun}"></script>
{yun:}/if{/yun}
<script type="text/javascript">
	var eid = '{yun:}$smarty.get.eid{/yun}';
	var id = '{yun:}$smarty.get.id{/yun}';
	var type = '{yun:}$smarty.get.type{/yun}';
	type = type ? type : '';
	var timestamp = new Date();
	var pickerType = '';
	var pickerTime = '';
	var uploadArr = [];
	var uploadErr = false;
	var yunvue = new Vue({
		el: '#yunvue',
		data() {
			return {
				eid: eid,
				id: id,
				info: {},
				sdate: '',
				edate: '',
				type: type,
				eduShow: false,
				eduIndex: 0,
				edu: [],
				eduText: '',
				nowday: false,
				ing: [],
				ingIndex: 0,
				ingShow: false,
				ingText: '',
				pic: '',
				formData: null,
				disabledAfter: false,
				hitherto: false,
				defaultStr: '',
				showDel: [],
				showAdd: [],
				showList: [],
				showViewNum: [],
				btext: '{yun:}t key='wap_user_00101'{/yun}',
				contentBox: false,
				content: '',
				contentTitle: '',
				tagshow: {},
				tagall: [],
				addtag: '',
				tag: [],
				usertag: [],
				description: '',
				introduce_demo_show: false,
				introduce: {},
				intcontent: false,
				timeData: [],
				timeBox: false,
				i18n: {
					fillCompanyName: '{yun:}t key='wap_user_00063'{/yun}',
					fillTitle: '{yun:}t key='wap_user_00066'{/yun}',
					fillWorkContent: '{yun:}t key='wap_user_00065'{/yun}',
					selectPlease: '{yun:}t key='wap_user_00100'{/yun}',
					toPresent: '{yun:}t key='wap_js_00170'{/yun}',
					fillSchoolName: '{yun:}t key='wap_user_00064'{/yun}',
					fillSpecialty: '{yun:}t key='wap_00949'{/yun}',
					selectEdu: '{yun:}t key='wap_js_00114'{/yun}',
					fillProjectName: '{yun:}t key='wap_user_00069'{/yun}',
					fillProjectContent: '{yun:}t key='wap_user_00068'{/yun}',
					fillTrainingOrg: '{yun:}t key='wap_00946'{/yun}',
					fillTrainingDir: '{yun:}t key='wap_00963'{/yun}',
					fillTrainingDesc: '{yun:}t key='wap_00950'{/yun}',
					fillSkillName: '{yun:}t key='wap_00947'{/yun}',
					fillSkillYears: '{yun:}t key='wap_00951'{/yun}',
					selectProficiency: '{yun:}t key='wap_user_00072'{/yun}',
					proficiencyTitle: '{yun:}t key='wap_user_00094'{/yun}',
					uploadCertTip: '{yun:}t key='wap_00952'{/yun}',
					fillHeading: '{yun:}t key='wap_user_00075'{/yun}',
					showPrivacyTip: '{yun:}t key='wap_00960'{/yun}',
					selfEvalPlaceholder: '{yun:}t key='member_user_00063'{/yun}',
					seeOthersWrite: '{yun:}t key='wap_user_00062'{/yun}',
					introSample: '{yun:}t key='wap_00954'{/yun}',
					switchSample: '{yun:}t key='wap_00955'{/yun}',
					careerStrength: '{yun:}t key='wap_00958'{/yun}',
					maxFiveItems: '{yun:}t key='wap_00956'{/yun}',
					customStrengthTip: '{yun:}t key='wap_00957'{/yun}',
					tagNamePlaceholder: '{yun:}t key='wap_user_00070'{/yun}',
					addBtn: '{yun:}t key='wap_js_00091'{/yun}',
					saveBtn: '{yun:}t key='wap_user_00101'{/yun}',
					contentTip: '{yun:}t key='wap_user_00059'{/yun}',
					inputContent: '{yun:}t key='wap_user_00076'{/yun}',
					confirmBtn: '{yun:}t key='wap_js_00094'{/yun}',
					workContentTitle: '{yun:}t key='wap_00938'{/yun}',
					projectContentTitle: '{yun:}t key='wap_00939'{/yun}',
					trainingContentTitle: '{yun:}t key='wap_00940'{/yun}',
					workExpContentTitle: '{yun:}t key='wap_00962'{/yun}',
					fillCompany: '{yun:}t key='wap_00941'{/yun}',
					fillJoinDate: '{yun:}t key='wap_00942'{/yun}',
					fillLeaveDate: '{yun:}t key='wap_00943'{/yun}',
					fillStartTime: '{yun:}t key='wap_00944'{/yun}',
					fillEndTime: '{yun:}t key='wap_00945'{/yun}',
					fillTrainingInst: '{yun:}t key='wap_00946'{/yun}',
					fillSkill: '{yun:}t key='wap_00947'{/yun}',
					fillContentDesc: '{yun:}t key='wap_00948'{/yun}',
					selectEnrollDate: '{yun:}t key='wap_00961'{/yun}',
					selectGradDate: '{yun:}t key='wap_user_00071'{/yun}',
					confirmDateOrder: '{yun:}t key='wap_user_00061'{/yun}',
					fillEvalContent: '{yun:}t key='wap_user_00067'{/yun}',
					maxFiveTags: '{yun:}t key='wap_00959'{/yun}',
					tagLengthTip: '{yun:}t key='wap_user_00060'{/yun}',
					tagExists: '{yun:}t key='wap_user_00074'{/yun}',
					uploading: '{yun:}t key='wap_user_00244'{/yun}',
					deleting: '{yun:}t key='wap_js_00166'{/yun}',
					reupload: '{yun:}t key='wap_user_00097'{/yun}',
					saveFailed: '{yun:}t key='wap_user_00077'{/yun}',
					saveSuccess: '{yun:}t key='wap_user_00104'{/yun}',
					selectUploadFirst: '{yun:}t key='wap_00953'{/yun}',
					saving: '{yun:}t key='wap_js_00165'{/yun}',
				}
			};
		},
		created() {
			this.infoShow();
		},
		methods: {
			nextintroduce: function(id) {
				var that = this;
				var formData = {
					introduceid: id
				};
				$.post('{yun:}url d=wxapp h=user m=resume c=getIntroduceInfo{/yun}', formData, function(data) {
					hideLoading();
					if (data.error == 1) {
						that.introduce = data.data;
					}
				});
			},
			bindaddtagInput: function(e) {
				this.addtag = e.target.value;
			},
			bindaddtagChang: function() {
				var that = this;
				var newtag = $.trim(that.addtag);
				var tag = that.tag;
				var i18n = that.i18n;

				if (tag.length > 4) {
					return showToast(i18n.maxFiveTags);
				} else {
					if (newtag.length < 2 || newtag.length > 8 || newtag == '') {
						return showToast(i18n.tagLengthTip);
					} else {
						if (tag.indexOf(newtag) > -1) {
							return showToast(i18n.tagExists);
						} else {
							tag.push(newtag);
						}
					}
				}

				that.tag = tag;
				that.addtag = '';
			},
			tagchoose: function(num) {
				var that = this;
				var tag = that.tag;
				var usertag = that.usertag;
				var i18n = that.i18n;
				if (tag.indexOf(num) == -1) {
					if (tag.length > 4) {
						return showToast(i18n.maxFiveTags);
					}
					tag.push(num);
					for (var i = 0; i < usertag.length; i++) {
						if (usertag[i] == num) {
							usertag.splice(i, 1);
						}
					}
				} else {
					for (var i = 0; i < tag.length; i++) {
						if (tag[i] == num) {
							tag.splice(i, 1);
						}
					}
					usertag.push(num);
				}

				that.tag = tag;
				that.usertag = usertag;
			},
			eduConfirm: function(e) {
				this.eduIndex = e.value;
				this.eduText = e.text;
				this.eduShow = false;
			},
			ingConfirm: function(e) {
				this.ingText = e.text;
				this.ingIndex = e.value;
				this.ingShow = false;
			},
			eduPickerShow: function() {
				eduPicker(this.info.education);
			},
			ingPickerShow: function() {
				ingPicker(this.info.ing);
			},
			beginDateConfirm: function(e) {
				this.sdate = this.timeFormat(this.staCurrentDate);
				this.beginDateShow = false;
			},
			endDateConfirm: function() {
				this.edate = this.timeFormat(this.endCurrentDate);
				this.endDateShow = false;
			},
			timeFormat: function(time) {
				let year = time.getFullYear();
				let month = time.getMonth() + 1;
				if (month < 10) {
					return year + '-0' + month;
				} else {
					return year + '-' + month;
				}
			},
			infoShow: function() {
				var self = this;
				if (self.id > 0 || (self.type == 'show') || (self.type == 'desc')) {
					let param = {
						id: self.id,
						eid: self.eid,
						table: self.type
					};
					showLoading();
					$.post('{yun:}url d=wxapp h=user m=resume c=addresumeson{/yun}', param, function(data) {
						hideLoading();
						if (data) {
							let res = data.data.list;
							self.info = res;
							self.content = res.content ? res.content : '';
							if (self.type == 'work') {
								if (res.edate == 0 && res.id) {
									self.nowday = true;
								}
							}
							if (self.type == 'edu') {
								self.staMaxDate = new Date();
								self.eduIndex = res.education;
								self.eduText = res.education_n;
							}
							if (self.type == 'skill') {
								self.ingText = res.ing_n;
								self.ingIndex = res.ing;
							}
							if (res.edate && res.edate != 0) {
								self.edate = res.edate_n;
								self.endCurrentDate = new Date(res.edate_n);
							}
							if (res.sdate_n) {
								self.sdate = res.sdate_n;
								self.staCurrentDate = new Date(res.sdate_n);
							}
							if (self.type == 'show') {
								if (res && res.length > 0) {
									for (let i = 0; i < res.length; i++) {
										let temp = {
											'url': res[i].picurl,
											'id': res[i].id
										};
										self.showList.push(temp);
									}
								}
							}
							if (self.type == 'desc') {
								let list = data.data.list;
								self.description = list.description;
								self.tag = list.tag;
								self.usertag = list.usertag;
								self.introduce = data.data.info ? data.data.info : {};
								self.introduce_demo_show = Object.keys(self.introduce).length > 0 ?
									true : false;
							}
						}
						$("#yunvue").css('display', 'block');
					}, 'json');
				} else {
					if (self.type == 'edu') {
						self.staMaxDate = new Date();
					}
					$("#yunvue").css('display', 'block');
				}
				let a = document.createElement('script');
				a.src = "{yun:}$plusstyle{/yun}/user.cache.js?v={yun:}$config.cachecode{/yun}";
				document.body.appendChild(a);

				let b = document.createElement('script');
				b.src = "{yun:}$wap_style{/yun}/js/userPicker.js?v={yun:}$config.cachecode{/yun}";
				document.body.appendChild(b);
			},
			contentSubmit: function() {
				this.contentBox = false;
			},
			openContent: function() {
				if (this.type == 'work') {
					this.contentTitle = this.i18n.workContentTitle;
				} else if (this.type == 'project') {
					this.contentTitle = this.i18n.projectContentTitle;
				} else if (this.type == 'training') {
					this.contentTitle = this.i18n.trainingContentTitle;
				} else if (this.type == 'skill') {
					this.contentTitle = this.i18n.workExpContentTitle;
				}
				this.contentBox = true;
			},
			beforeRead(file) {
				return new Promise((resolve) => {
					new Compressor(file, {
						quality: 0.6,
						success: resolve,
						error(err) {}
					});
				});
			},
			afterRead(file, detail) {
				let obj = {
					error: true,
					url: file.content,
					index: detail.index
				};
				this.showAdd.push(obj);
			},
			beforedel(file, detail) {
				var self = this;
				var noupload = true;
				self.showAdd.forEach(function(val, index) {
					if (val.index == detail.index) {
						noupload = false;
						self.showAdd.splice(index, 1);
					}
				});
				if (noupload) {
					self.showDel.push(file);
				}
				return true;
			},
			showSave: function() {
				let that = this;
				let showAdd = that.showAdd;
				let showDel = that.showDel;
				let i18n = that.i18n;
				if (showAdd.length > 0) {
					uploadArr = showAdd;
					showLoading(i18n.uploading);
					that.uploadAjax();
					return false;
				}
				if (showDel.length > 0) {
					var formData = {};
					formData.eid = that.eid;
					formData.table = 'show';
					let delIds = '';
					for (let i = 0; i < showDel.length; i++) {
						if (showDel[i].id) {
							delIds += delIds ? ',' + showDel[i].id : showDel[i].id;
						}
					}
					formData.id = delIds;
					showLoading(i18n.deleting);
					$.post('{yun:}url d=wxapp h=user m=resume c=delResumeFb{/yun}', formData, function(data) {
						hideLoading();
						if (data.error != 1) {
							that.btext = i18n.reupload;
							showToast(i18n.saveFailed);
						} else {
							window.localStorage.setItem("needRefresh", 1);
							showToast(i18n.saveSuccess, 2, function() {
								history.back();
							});
						}
					});
					return false;
				}
				if (showAdd.length == 0 && showDel.length == 0) {
					showToast(i18n.selectUploadFirst);
				}
			},
			uploadAjax(key = 0) {
				var that = this;
				var i18n = that.i18n;
				if (key < uploadArr.length) {
					var formData = {
						eid: this.eid,
						wappic: 1,
						uimage: uploadArr[key].url
					};
					$.post("{yun:}url d=wxapp h=user m=resume c=showSave{/yun}", formData, function(data) {
						if (data.error == 1) {
							uploadArr[key].error = false;
						} else {
							uploadArr[key].error = true;
							uploadErr = true;
						}
						key++
						that.uploadAjax(key);
					})
				} else {
					this.showAdd = [];
					if (this.showDel.length > 0) {
						this.showSave();
					} else {
						if (uploadErr) {
							this.btext = i18n.reupload;
							showToast(i18n.saveFailed);
						} else {
							window.localStorage.setItem("needRefresh", 1);
							showToast(i18n.saveSuccess, 2, function() {
								history.back();
							});
						}
					}
				}
			},
			submitClick() {
				throttle(this.formSubmit);
			},
			formSubmit: function() {
				var table = this.type;
				var st = Date.parse(this.sdate) / 1000;
				var ed = Date.parse(this.edate) / 1000;
				var formData = {};
				var i18n = this.i18n;
				formData.eid = this.eid;
				formData.table = table;
				var field = getFormValue('resumeson_form');
				if (table == 'work') {
					var nowday = this.nowday;

					if (field.name == '') {
						return showToast(i18n.fillCompany);
					} else if (this.sdate == "") {
						return showToast(i18n.fillJoinDate);
					} else if (this.edate == "" && !nowday) {
						return showToast(i18n.fillLeaveDate);
					} else if (!nowday && this.sdate && this.edate && st > ed) {
						return showToast(i18n.confirmDateOrder);
					} else {
						formData.name = field.name;
						formData.sdate = this.sdate;
						formData.edate = this.edate;
						formData.totoday = nowday ? 1 : 0;
						formData.title = field.title;
						formData.content = this.content;
					}
				}
				if (table == 'edu') {
					if (field.name == '') {
						return showToast(i18n.fillSchoolName);
					} else if (this.eduIndex == 0) {
						return showToast(i18n.selectEdu);
					} else if (this.sdate == "") {
						return showToast(i18n.selectEnrollDate);
					} else if (this.edate == "") {
						return showToast(i18n.selectGradDate);
					} else if (st > ed) {
						return showToast(i18n.confirmDateOrder);
					} else {
						formData.name = field.name;
						formData.sdate = this.sdate;
						formData.edate = this.edate;
						formData.specialty = field.specialty;
						formData.education = this.eduIndex;
					}
				}
				if (table == 'project') {
					if (field.name == '') {
						return showToast(i18n.fillProjectName);
					} else if (this.sdate == "") {
						return showToast(i18n.fillStartTime);
					} else if (this.edate == "") {
						return showToast(i18n.fillEndTime);
					} else if (st > ed) {
						return showToast(i18n.confirmDateOrder);
					} else {
						formData.name = field.name;
						formData.sdate = this.sdate;
						formData.edate = this.edate;
						formData.title = field.title;
						formData.content = this.content;
					}
				}
				if (table == 'training') {
					if (field.name == '') {
						return showToast(i18n.fillTrainingInst);
					} else if (this.sdate == "") {
						return showToast(i18n.fillStartTime);
					} else if (this.edate == "") {
						return showToast(i18n.fillEndTime);
					} else if (st > ed) {
						return showToast(i18n.confirmDateOrder);
					} else {
						formData.name = field.name;
						formData.sdate = this.sdate;
						formData.edate = this.edate;
						formData.title = field.title;
						formData.content = this.content;
					}
				}
				if (table == 'skill') {
					if (field.name == '') {
						return showToast(i18n.fillSkill);
					} else if (this.ingIndex == 0) {
						return showToast(i18n.selectProficiency);
					} else {
						formData.name = field.name;
						formData.ing = this.ingIndex;
						formData.longtime = field.longtime;
						formData.wappic = 1;
					}
				}
				if (table == 'other') {
					if (field.name == '') {
						return showToast(i18n.fillHeading);
					} else if (this.content == '') {
						return showToast(i18n.fillContentDesc);
					} else {
						formData.name = field.name;
						formData.content = this.content;
					}
				}
				if (table == 'desc') {
					if (field.description == '') {
						return showToast(i18n.fillEvalContent);
					} else {
						var tag = this.tag.join(',');
						formData.table = 'resume';
						formData.tag = tag;
						formData.description = field.description;
					}
				}

				if (this.id > 0) {
					formData.id = this.id;
				}

				showLoading(i18n.saving);
				if (field.preview) {
					formData.preview = field.preview;
					$.ajax({
						type: "POST",
						url: "{yun:}url d=wxapp h=user m=resume c=saveresumeson{/yun}",
						data: formData,
						enctype: 'multipart/form-data',
						success: function(data) {
							hideLoading();
							if (data.error == 1) {
								window.localStorage.setItem("needRefresh", 1);
								showToast(data.msg, 2, function() {
									history.back();
								});
							} else {
								showToast(data.msg);
							}
						},
					});
				} else {
					$.post('{yun:}url d=wxapp h=user m=resume c=saveresumeson{/yun}', formData, function(data) {
						hideLoading();
						if (data.error == 1) {
							window.localStorage.setItem("needRefresh", 1);
							showToast(data.msg, 2, function() {
								history.back();
							});
						} else {
							showToast(data.msg);
						}
					});
				}
			},
			timeShow(type, time) {
				pickerType = type;
				pickerTime = time;
				this.timeData = timePicker(type, time, this[time]);
				let self = this;
				setTimeout(function() {
					self.timeBox = true;
				})
			},
			timeChange: function(e) {
				var f = e.getValues();
				// Must match userPicker.js PRESENT_API_VALUE
				if (f[0] == (typeof PRESENT_API_VALUE !== 'undefined' ? PRESENT_API_VALUE : '至今')) {
					this.timeData[1].values = [];
				} else {
					this.timeData[1].values = workMonth;
				}
			},
			timeConfirm: function(e) {
				this.timeBox = false;
				if (e[0] == (typeof PRESENT_API_VALUE !== 'undefined' ? PRESENT_API_VALUE : '至今')) {
					var date = e[0];
					this.nowday = 1;
				} else {
					var date = e.join('-');
					if (pickerType == 'workList' && pickerTime == 'edate') {
						this.nowday = 0;
					}
				}
				this[pickerTime] = date;
				this.timeData = [];
			}
		}
	});

	function fileimg() {
		document.getElementById("image").click();
	}
</script>
{yun:}include file="$wapstyle/member/public/remind.htm"{/yun}
</body>
</html>
