{yun:}include file="$wapstyle/member/header.htm"{/yun} 
<div id="yunvue" class="none">
<div class="blacklist_tip">{yun:}t key='wap_01124'{/yun}</div>
<div class="blacklist_box" style="position:relative">
	<div class="sw_list">
	
		<div class="blacklist_p" v-for="(item, blkey) in blinfo" :key="blkey">
			<div @click="pageTo(item.wapcom_url)">{{item.com_name}}</div>
			<div @click="del(item.id,blkey)" class="blacklist_pdel"> <img src="{yun:}$wap_style{/yun}/images/resume_del.png" alt="" width="100%" height="100%"></div>				
		</div>
		<div v-if="count" class="blacklist_tip_bth"><span @click="pageTo('index.php?c=blacklistadd')" class="blacklist_tip_bth_a_tj">{yun:}t key='wap_01125'{/yun}</span>
			<div class="blacklist_tip_qkbox"  @click="delAll">{yun:}t key='wap_01126'{/yun}</div>	
		</div>

		<div v-if="count==2">
        <van-pagination v-model="page" :total-items="total" :items-per-page="limit" force-ellipses @change="pageChange" /> 
        </div>
    	
	
	</div>

    


  <div class="blacklist_tip_bth" v-if="count==0" @click="pageTo('index.php?c=blacklistadd')">
  	<span class="blacklist_tip_bth_a_tj">{yun:}t key='wap_01127'{/yun}</span></div>

</div>
</div>
<script type="text/javascript">	
	var currentPage = parseInt('{yun:}$smarty.get.page{/yun}');   
	var yunvue =  new Vue({
		el: '#yunvue',
		data() {
		    return {
				blinfo: [],
				page: currentPage ? currentPage : 1,
				showview: null,
				limit: 10,
				total:0,
				i18n: {
					confirmDelete: '{yun:}t key='wap_00812'{/yun}',
					deleting: '{yun:}t key='wap_js_00166'{/yun}',
					deleteSuccess: '{yun:}t key='wap_user_00147'{/yun}',
					deleteFailed: '{yun:}t key='wap_user_00146'{/yun}',
					confirmClear: '{yun:}t key='wap_01128'{/yun}',
					clearing: '{yun:}t key='wap_01129'{/yun}',
					clearSuccess: '{yun:}t key='wap_user_00148'{/yun}',
					clearFailed: '{yun:}t key='wap_01130'{/yun}',
				},
		    };
		},
		computed: {
			count(){
				if(this.total > this.limit){
	              return 2;
	            }else if(this.blinfo.length==0){
	              return 0;
	            }else{
	                return 1;
	            }
        	}
    	},
		created() {
			this.getBlacklist();
		},
		methods:{
			getBlacklist: function(){
				showLoading();
				var that = this;
				var paramer = {};
				paramer['page'] = that.page;
				paramer['limit'] = that.limit;
				$.post('{yun:}url d=wxapp h=user m=privacy c=blacklist{/yun}', paramer, function(data){
					hideLoading();				
					if (data.error == 1) {
						let list = data.data;
						that.blinfo = list;
						that.total = data.total;
          				that.page = currentPage ? currentPage : 1;
						that.showview = true;
					} else {
						that.showview = false;
					}
					$("#yunvue").css('display', 'block');
				},'json');
			},
			pageTo:function(url){
				window.location.href=url;
			},
			del:function(id,key){
				var that = this;
				var paramer = {
					id:id,					
				};

				showConfirm(that.i18n.confirmDelete, function(){
					showLoading(that.i18n.deleting);
					$.post('{yun:}url d=wxapp h=user m=privacy c=del{/yun}', paramer, function(data){
						hideLoading();					
						let k = key;
						if (data.error == 1) {
							showToast(that.i18n.deleteSuccess,2, function() {
								that.blinfo.splice(k, 1);
							});
						} else {
							showToast(that.i18n.deleteFailed);
						}
					},'json');
				});
			},
			delAll:function(){
				var that = this;
				showConfirm(that.i18n.confirmClear, function(){
					showLoading(that.i18n.clearing);
					$.post('{yun:}url d=wxapp h=user m=privacy c=delall{/yun}', {rand:Math.random()}, function(data){
						hideLoading();					
						if (data.error == 1) {
							showToast(that.i18n.clearSuccess,2, function() {
								that.blinfo = [];
								that.showview = false;
							});
						} else {
							showToast(that.i18n.clearFailed);
						}
					},'json');
				})
			},
			pageChange:function(e){
				window.location.href='index.php?c=blacklist&page='+e;
			},
		},
	});
</script>  
</body>
</html>
