{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div id="yunvue" class="none">
  <div class="ms_show"></div>
<div class="ms_showpd">
  <div class="popular_body ">
    <div class="popular_position">
        <div class="popular_position_top">
          <h3>{{show.jobname}}</h3>
          <p>{{show.salary}}</p>
          <span>{{show.comname}}</span>
        </div>
        <div class="popular_position_bottom">
          {{i18n.currentStatus}}
		<span v-if="show.is_browse==1 || show.is_browse==2">{{i18n.pendingAccept}}</span>
		<span v-else-if="show.is_browse==3">
			<span v-if="show.over" style="color: #FF4200;">{yun:}t key='wap_user_00259'{/yun}</span>
			<span v-else>{yun:}t key='wap_user_00262'{/yun}</span>
		</span>
		<span v-else-if="show.is_browse==4">{{i18n.declineInterview}}</span>
		<span v-else style="color: #FF4200;">{yun:}t key='wap_user_00266'{/yun}</span>
        </div>
      </div>
    <div class="popular_body_card">
      
      <div class="popular_card_namebox" @click="pageTo(show.com_url)">
        <div class="popular_card_logo"> <img :src="show.com_logo_n" width="100%" height="100%"> </div>
        <div class="popular_card_name">{{show.fname}}
          <span>{{i18n.inviteGreeting}}</span>
        </div>
      </div>
      <div class="popular_card_line" style="margin-bottom: 0px;"></div>
      <div class="invitecont_list">
         
          <div class="invitecont_list_name">{yun:}t key='wap_user_00255'{/yun}</div>
          <div class="popular_template_a">{{show.intertime}}</div> 
      </div>
     
      <div class="invitecont_list">
        <div class="invitecont_list_name">{yun:}t key='wap_user_00256'{/yun}</div>
        <div class="popular_template_a">{{show.jobname}}</div>
      </div>
   
      <div class="invitecont_list">
        <div class="invitecont_list_name">{yun:}t key='wap_user_00267'{/yun}</div>
        <div class="popular_template_a">{{show.linkman}}</div>
      </div>
      <div class="invitecont_list">
        <div class="invitecont_list_name">{yun:}t key='wap_user_00265'{/yun}</div>
        <div class="popular_template_a">{{show.linktel}}
			<a :href="'tel:'+show.linktel" :data-jobid="show.jobid" onclick="addtellog(this);" class="telicon"> 
            <img src="{yun:}$wap_style{/yun}/images/interview_ipone.png" alt="" width="100%" height="100%"> 
          </a>
		</div>
      </div>
      <div class="invitecont_list">
         
          <div class="invitecont_list_name">{{i18n.interviewAddress}}</div>
          <div class=" ">{{show.address}}</div> 

      </div>
      <div class="popular_card_map" v-if="show.staticimg">
        <img :src="show.staticimg" alt="" width="100%" height="100%">
      <input type="hidden" id="map_x" :value="show.x"/>
      <input type="hidden" id="map_y" :value="show.y"/>
      </div>
      <div class="invitecont_list" v-if="show.content">
        
          <div class="invitecont_list_name">{yun:}t key='wap_user_00263'{/yun}</div>
          <div class=" ">{{show.content}}</div>
        </div> 
     </div>
  </div>
</div>
<div class="popular_tail" v-if="show.is_browse!=3 && show.is_browse!=4 && !show.over">

  <div @click="refuseSheet" class="popular_tail_refuse ">{{i18n.declineInterview}}</div>
  <div @click="agree" class="popular_tail_accept" >{{i18n.acceptInterview}}</div>
</div>
<van-action-sheet v-model="moreShow" :actions="actionsList" :description="i18n.selectDeclineType" @select="onSelect" :cancel-text="i18n.cancel" @cancel="onCancel"></van-action-sheet>

  <van-popup v-model="refuseShow" position="bottom" round closeable/>
    <div class="invite_no">
      <div class="invite_no_tit"> {{i18n.declineReasonTitle}}</div>
      <div class="invite_no_textarea">
        <textarea class="  " id="remark" v-model="remark" name="remark" :placeholder="i18n.declineReasonPlaceholder"></textarea>
      </div>
      <div class="invite_no_bth">
        <input class="" type="button" :value="i18n.confirm"  @click="inviteset(4)"/>
      </div>
    </div>
  </van-popup>

</div>
<script>
    var id = parseInt('{yun:}$smarty.get.id{/yun}');
      new Vue({
        el: '#yunvue',
        data: {
          show: {},
          id: id,
          islook: false,
          browse: 2,
          covers: [],
          moreShow:false,
          actionsList:[],
          refuseShow:false,
          remark:'',
          i18n: {
            currentStatus: '{yun:}t key='wap_01052'{/yun}',
            pendingAccept: '{yun:}t key='wap_00822'{/yun}',
            declineInterview: '{yun:}t key='wap_01053'{/yun}',
            inviteGreeting: '{yun:}t key='wap_01054'{/yun}',
            interviewAddress: '{yun:}t key='wap_01055'{/yun}',
            acceptInterview: '{yun:}t key='wap_01056'{/yun}',
            selectDeclineType: '{yun:}t key='wap_01057'{/yun}',
            declineReasonTitle: '{yun:}t key='wap_01058'{/yun}',
            declineReasonPlaceholder: '{yun:}t key='wap_01059'{/yun}',
            blockCompany: '{yun:}t key='wap_01060'{/yun}',
            blockCompanyTip: '{yun:}t key='wap_01061'{/yun}',
            cancel: '{yun:}t key='wap_js_00080'{/yun}',
            confirm: '{yun:}t key='wap_js_00094'{/yun}',
            agreeConfirm: '{yun:}t key='wap_01062'{/yun}',
            processing: '{yun:}t key='wap_01063'{/yun}',
            blockConfirm: '{yun:}t key='wap_01064'{/yun}',
            confirmDeleteInvite: '{yun:}t key='wap_01051'{/yun}',
            deleting: '{yun:}t key='wap_js_00166'{/yun}',
            deleteSuccess: '{yun:}t key='wap_user_00147'{/yun}',
            deleteFailed: '{yun:}t key='wap_user_00146'{/yun}',
          },
        },
        computed: {
          count(){

          }
        },
        created() {
         this.actionsList = [
           {name: this.i18n.declineInterview, value: WAP_API_ENUM.DECLINE_INTERVIEW},
           {name: this.i18n.blockCompany, subname: this.i18n.blockCompanyTip, value: WAP_API_ENUM.BLOCK_COMPANY}
         ];
         this.inviteshow();
        },
        methods:{
          onCancel() {
            this.moreShow=false;
          },
          onSelect(item){
            if (item.value == WAP_API_ENUM.DECLINE_INTERVIEW) {
              this.moreShow = false;
              this.refuseShow =  true;
            } else if (item.value == WAP_API_ENUM.BLOCK_COMPANY) {
              this.black()
            }
          },
          inviteshow:function(){
            showLoading();
            var that = this;
            var paramer = {};
                paramer['id'] = that.id;
            $.post('{yun:}url d=wxapp h=user m=job c=inviteshow{/yun}',paramer,function(data){
              hideLoading();

              that.show = data.data ? data.data : {};
              that.covers =  [{
                latitude: that.show.y,
                longitude: that.show.x,
                iconPath: '/static/image/member/mapdw.png',
                width: '60rpx',
                height: '60rpx',
                callout: {
                  content: that.show.address
                }
              }];
              that.browse = that.show.is_browse;
              $("#yunvue").removeClass('none');
            },'json');
          },
          refuseSheet: function() {
            this.moreShow = true;
          },

          agree: function() {
           showConfirm(this.i18n.agreeConfirm, () => {
              this.inviteset(3);
            })
          },
          inviteset:function(browse){
             let that = this;
              let param = {
                id: that.id,
                browse: browse
              };
              if(browse==4){
                param.remark = that.remark;
              }
              showLoading(that.i18n.processing);
              $.post('{yun:}url d=wxapp h=user m=job c=inviteset{/yun}',param,function(data){
                hideLoading();
              that.refuseShow = false;
              if (data.error == 1) {
                showToast("{yun:}t key='wap_user_00264'{/yun}",2, function() {
                  that.browse = browse;
                  that.inviteshow();
                });
              } else {
                showToast("{yun:}t key='wap_js_00141'{/yun}");
              }

            },'json');
          },
          black: function() {
            showConfirm(this.i18n.blockConfirm, () => {
              this.delfuc('black');
            })
          },
          delInvite:function(e){

             showConfirm(this.i18n.confirmDeleteInvite, () => {
              this.delfuc('del');
            })

          },
          delfuc:function(type){
              let that = this
              let param = {
                id: that.id,
                type: type
              };
             showLoading(that.i18n.deleting)

            $.post('{yun:}url d=wxapp h=user m=job c=invitedel{/yun}', param, function(data){
              hideLoading();
              if (data.error == 1) {
                that.browse = 5;
                showToast(that.i18n.deleteSuccess,2, function() {
                  that.list.splice(index, 1);
                });return false;
              } else {
                showToast(that.i18n.deleteFailed);
              }
            });


          },
          pageTo:function(url){
              window.location.href = url;
          }
        }
      });
      function  addtellog(obj) {
          var jobid = $(obj).attr('data-jobid');
          $.post(wapurl + "?c=ajax&a=addJobTelLog", {
              jobid: jobid,
          }, function (data) {

          });
      }
</script>
</body>
</html>
