{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div id="yunvue" class="none">
<div class="mui-content">
    <div class="privacy_title">
        <p>{yun:}t key='wap_01144'{/yun}</p>
    </div>
    <div class="privacy_body">
        <ul class="privacy_body_card">
            <li  @click="changeStatus(1)" value="1">
                <a class="mui-navigate-right">
                    <div class="privacy_body_card_title">{yun:}t key='wap_01105'{/yun}</div>
                     <span class="privacy_list_p">{yun:}t key='wap_01106'{/yun}</span>
                </a>
                    <div  class="mui-table-pitch-on"  v-if="status==1">
                    <img src="{yun:}$wap_style{/yun}/images/table-view_yes.png" alt="" width="100%" height="100%">
                </div>
            </li>
            <li  @click="changeStatus(3)" value="3">
                <a class="mui-navigate-right">
                    <div class="privacy_body_card_title">{yun:}t key='wap_01107'{/yun}</div>
                     <span class="privacy_list_p">{yun:}t key='wap_01108'{/yun}</span>
                </a>
                    <div class="mui-table-pitch-on"  v-if="status==3">
                    <img src="{yun:}$wap_style{/yun}/images/table-view_yes.png" alt="" width="100%" height="100%">
                </div>
            </li>
            <li  @click="changeStatus(2)" value="2">
                <a class="mui-navigate-right">
                    <div class="privacy_body_card_title">{yun:}t key='wap_01109'{/yun}</div>
                     <span class="privacy_list_p">{yun:}t key='wap_01110'{/yun}</span>
               </a>
                <div class="mui-table-pitch-on" v-if="status==2">
                    <img src="{yun:}$wap_style{/yun}/images/table-view_yes.png" alt="" width="100%" height="100%">
                </div>
            </li>
            <li class="privacy_list_af" @click="pageTo('index.php?c=blacklist')">
               <div>
                <div class="privacy_body_card_title">{yun:}t key='wap_01111'{/yun} </div>
                <span class="privacy_list_p">{yun:}t key='wap_01112'{/yun}</span>
               </div>
                <div class="mui-table-pitch-on">
                    <img src="{yun:}$wap_style{/yun}/images/issue_add.png" alt="" width="100%" height="100%">
                </div>
            </li>
        </ul>
    </div>
   
</div>



</div>
<script type="text/javascript">  
    var jobid = '{yun:}$smarty.get.jobid{/yun}';
        jobid = jobid ? jobid : ''; 
    var yunvue =  new Vue({
        el: '#yunvue',
        data() {
            return {
               status: 0
            };
        },        
        created() {
            this.privacy();
        },
        methods:{
            privacy: function(){
                showLoading();
                let that = this;
                $.post('{yun:}url d=wxapp h=user m=privacy c=privacy{/yun}', {rand:Math.random()}, function(data){
                    hideLoading();
                    if (data) {
                        that.status = data.data;                       
                    }
                    $("#yunvue").css('display', 'block');
                },'json');
            },
            pageTo:function(url){
                window.location.href=url;
            },
            changeStatus:function(e){
                var that = this;
                var status = e;
                var paramer = {                   
                    status: status,
                };
                showLoading("{yun:}t key='wap_user_00321'{/yun}");
                $.post('{yun:}url d=wxapp h=user m=privacy c=up{/yun}', paramer, function(data){
                    hideLoading();
                    if (data.error == 1) {
                        var list = [];
                        list = data.data;
                        that.status = list.status;
						window.localStorage.setItem("needRefresh", 1);
                        showToast("{yun:}t key='wap_user_00264'{/yun}");
                        if(jobid){
                            history.back();
                        }
                    }
                },'json');
            }
        },
    });
</script> 
</body>
</html>
