{yun:}include file="$wapstyle/member/header.htm"{/yun}

	<div id="yunvue" class="none">		
		<div class="Edit_your_resume_hint" id="privacy" v-if="(expect.status==2||expect.status==3)&&privacy==''">
			<div class="resume_hint_left">
				<div class="resume_hint_eye">
					<img src="{yun:}$wap_style{/yun}/images/conceal_1.png" alt="" width="100%" height="100%">
				</div>
				<div class="resume_hint_word">
					<div v-if="expect.status==2" class="inlineblock resume_hint_word">
						<span class="resume_hint_word_color">{{i18n.hiddenPrefix}}</span>
						<span class="resume_hint_word_black">{{i18n.hiddenSuffix}}</span>
					</div>
					<div v-if="expect.status==3">
						<span class="resume_hint_word_color">{yun:}t key='wap_00780'{/yun}</span>
					</div>
				</div>
			</div>
			<div class="resume_hint_right">
				<div v-if="expect.status==2" class="hint_right_none" onclick="navigateTo('index.php?c=privacy')">{yun:}t key='wap_user_00200'{/yun}</div>
				<div v-if="expect.status==3" class="hint_right_none" onclick="navigateTo('index.php?c=privacy')">{yun:}t key='wap_user_00327'{/yun}</div>	
			</div>
			<div class="hint_right_del" onclick="closePrivacy()">
				<img src="{yun:}$wap_style{/yun}/images/remove.png" alt="" width="100%" height="100%">
			</div>
		</div>

		<div style="padding: 0.266667rem 0.266667rem 0.233333rem; width: 100%; background-color: #f3f3f3;height: auto;" v-if="expect.state==3">
			<div class="resume_min_body_cord">
				<span class="resume_hint_word_color">{yun:}t key='wap_user_00325'{/yun}</span>
				<span class="resume_hint_word_black" v-if="expect.statusbody">: {{expect.statusbody}}</span>
			</div>
		</div>
		
		<div id="resumeBody" class="Edit_your_resume_min_body" :style="privacy==''&& expect.status!=1?'':''">
			<div class="resume_min_body_cord">
				<div class="resume_min_body_cord_data">
					<div class="resume_min_body_cord_data_left" onclick="navigateTo('index.php?c=info')">
						<div class="data_left_nameandmodification">
							<div class="data_left_name">{{info.name}}</div>
							<div class="data_left_modification">
								<img src="{yun:}$wap_style{/yun}/images/icon_question.png" alt="" width="100%" height="100%">
							</div>
						</div>
	                    <div class="data_left_condition" style="margin-top: 0.266666rem;">
	                        <ul>
	                            <li v-if="info.exp_n">{{info.exp_n}}{{i18n.expSuffix}}</li>
	                            <li v-if="info.edu_n">{{info.edu_n}}{{i18n.eduSuffix}}</li>
	                            <li v-if="info.age==0">{{i18n.confidential}}</li>
	                            <li v-else>{{info.age}}{{i18n.ageUnit}}</li>
	                        </ul>
	                    </div>
					</div>
					<div class="resume_min_body_cord_data_logo" onclick="navigateTo('index.php?c=photo')">
                    <img :src="info.photo" alt="" width="100%" height="100%" />
					</div>
				</div>
				<div class="resume_min_body_cord_intention">
					<div class="cord_intention_top">
						<div class="cord_intention_top_word">{yun:}t key='wap_00460'{/yun}</div>
					</div>
					<div class="cord_intention_bom" @click="pageTo('index.php?c=addexpect&eid='+expect.id)">
						<div class="data_left_condition">
							<ul>
								<li>{{expect.name}}</li>								
								<li v-if="expect.salary">· {{expect.salary}}</li>	
								<li v-if="expect.city_classname">· {{expect.city_classname}}</li>
							</ul>
						</div>
						<div class="cord_intention_bom_icon">
							<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
						</div>
					</div>
				</div>
				<div class="resume_min_body_cord_work_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_00457'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=work')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div @click="pageTo('index.php?c=addresumeson&type=work&eid='+expect.id+'&id='+rwork.id)" v-for="(rwork, wkey) in work" :key="wkey" class="work_list">
						<div class="cord_work_experience_two">
							<div class="cord_work_experience_two_word">{{rwork.name}}</div>
							<div class="cord_work_experience_two_icon">
								<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
							</div>
						</div>
						<div class="cord_work_experience_three">
							<div class="experience_three_timeline">{{rwork.date_n}}</div>
							<div class="experience_three_job" vv-if="rwork.title">{{rwork.title}}</div>
						</div>
						<div class="cord_work_experience_four" v-if="rwork.content">{{rwork.content}}</div>
					</div>
				</div>
				<div class="resume_min_body_cord_education_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_00459'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=edu')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>					
					<div @click="pageTo('index.php?c=addresumeson&type=edu&eid='+expect.id+'&id='+redu.id)" v-for="(redu, ekey) in edu" :key="ekey">
						<div class="cord_work_experience_two">
							<div class="cord_work_experience_two_word">{{redu.name}}</div>
							<div class="cord_work_experience_two_icon">
								<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
							</div>
						</div>
						<div class="cord_work_experience_three">
							<div class="experience_three_timeline">{{redu.date_n}}</div>
							<div class="experience_three_job" v-if="redu.education_n && redu.education_n!=''">
								{{redu.education_n}}{{i18n.eduLabel}}
							</div>							
							<div class="experience_three_major" v-if="redu.specialty&&redu.specialty!=''">
								{{redu.specialty}}
							</div>							
						</div>
					</div>
				</div>
				<div class="resume_min_body_cord_work_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_user_00326'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=desc')">
							<img src="{yun:}$wap_style{/yun}/images/icon_question.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div v-if="info.description">
						<div class="cord_work_experience_four">{{info.description}}</div>
						<div v-if="info.arrayTag">
							<span class="yun_usermember_resumebq" v-for="(tag, rtag) in info.arrayTag" :key="rtag">{{tag}}</span>
						</div>
					</div>
				</div>
				<div class="resume_min_body_cord_work_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_00465'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=project')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div @click="pageTo('index.php?c=addresumeson&type=project&eid='+expect.id+'&id='+rproject.id)" v-for="(rproject, pkey) in project" :key="pkey"class="work_list">
						<div class="cord_work_experience_two">
							<div class="cord_work_experience_two_word">{{rproject.name}}</div>
							<div class="cord_work_experience_two_icon">
								<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
							</div>
						</div>
						<div class="cord_work_experience_three">
							<div class="experience_three_timeline">{{rproject.date_n}}</div>
							<div class="experience_three_job" v-if="rproject.title">{{i18n.rolePrefix}}{{rproject.title}}</div>
						</div>						
						<div class="cord_work_experience_four" v-if="rproject.content">{{rproject.content}}</div>						
					</div>
				</div>
				<div class="resume_min_body_cord_work_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_00455'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=training')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div @click="pageTo('index.php?c=addresumeson&type=training&eid='+expect.id+'&id='+rtran.id)" v-for="(rtran, tkey) in train" :key="tkey"class="work_list">
						<div class="cord_work_experience_two">
							<div class="cord_work_experience_two_word">{{rtran.name}}</div>
							<div class="cord_work_experience_two_icon">
								<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
							</div>
						</div>
						<div class="cord_work_experience_three">
							<div class="experience_three_timeline">{{rtran.date_n}}</div>							
							<div class="experience_three_job">{{rtran.title}}</div>							
						</div>						
						<div class="cord_work_experience_four" v-if="rtran.content">{{rtran.content}}</div>						
					</div>
				</div>
				<div class=" ">
					<div class="cord_intention_top">
						<div class="cord_intention_top_word">{yun:}t key='wap_00461'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=skill')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div class="cord_intention_bom" @click="pageTo('index.php?c=addresumeson&type=skill&eid='+expect.id+'&id='+rskill.id)" v-for="(rskill, skey) in skill" :key="skey">
						<div class="data_left_skill">
							<ul>
								<li class="cord_intention_jnmane">{{rskill.name}}</li>								
								<li v-if="rskill.longtime>0">{{i18n.masterTimeLabel}}{{rskill.longtime}}{{i18n.yearUnit}}</li>								
								<li v-if="rskill.ing_n">{{i18n.proficiencyLabel}}{{rskill.ing_n}}</li>
							</ul>
						</div>						
						<div v-if="rskill.pic && rskill.pic!=''" class="rskillimg">
							<img :src="rskill.pic" alt="" width="40" height="40">
						</div>						
					</div>					
				</div>
				<div class="resume_min_body_cord_work_experience">
					<div class="cord_work_experience_one">
						<div class="cord_intention_top_word">{yun:}t key='wap_user_00328'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=other')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div @click="pageTo('index.php?c=addresumeson&type=other&eid='+expect.id+'&id='+oitem.id)" v-for="(oitem, okey) in other" :key="okey"class="work_list">
						<div class="cord_work_experience_two">
							<div class="cord_work_experience_two_word">{{oitem.name}}</div>
							<div class="cord_work_experience_two_icon">
								<img src="{yun:}$wap_style{/yun}/images/icon_more.png" alt="" width="100%" height="100%">
							</div>
						</div>										
						<div class="cord_work_experience_four" v-if="oitem.content">{{oitem.content}}</div>						
					</div>					
				</div>				
				<div class="resume_min_body_Individual_works">
					<div class="cord_intention_top">
						<div class="cord_intention_top_word">{yun:}t key='wap_00973'{/yun}</div>
						<div class="cord_intention_top_icon" @click="pageTo('index.php?c=addresumeson&eid='+expect.id+'&type=show')">
							<img src="{yun:}$wap_style{/yun}/images/addition.png" alt="" width="100%" height="100%">
						</div>
					</div>
					<div class="resume_min_body_Individual_works_photo">
						<ul>							
							<li v-for="(rshow, shkey) in show" :key="shkey" >
								<img :src="rshow.picurl" alt="" width="100%" height="100%">
							</li>							
						</ul>
					</div>
				</div>				
			</div>
		</div>

		<div class="resume_bot">
			<div class="Edit_your_resume_tail" >
				<div class="optimize_resume_box" v-if="errorcount!=0">
					<div class="resume_box_del" @click="errorcount=0">
						<img src="{yun:}$wap_style{/yun}/images/optimizing_del.png" alt="" width="100%" height="100%">
					</div>
					<div class="resume_box_info" @click="pageTo('index.php?c=optimize&eid='+eid)">
	                    {{i18n.optimizePrefix}}<i>{{errorcount}}</i>{{i18n.optimizeSuffix}}
						<div class="resume_box_icon">
							<img src="{yun:}$wap_style{/yun}/images/optimizing_icon.png" alt="" width="100%">
						</div>
					</div>
				</div>
				<div class="Edit_your_resume_Update_your_resume" onclick="resumeMaskShow()">{yun:}t key='wap_user_00330'{/yun}</div>
				<div class="Edit_your_resume_Preview_your_resume" @click="previewResume">{yun:}t key='wap_user_00217'{/yun}</div>
			</div>	
		</div>
		<van-popup v-model="trShow" position="bottom" round>
			<div id="resume_mask_box">
				<div id="resume_mask_box_top">
					<div class="resume_top_box">
						<div class="resume_top_box_left">
							<div class="top_box_icon_new">
								<img src="{yun:}$wap_style{/yun}/images/resume_top.png" alt="" width="100%">
							</div>
							<div class="top_box_text">
								<div class="top_box_name">{yun:}t key='wap_user_00335'{/yun} <span class="jl_sjtip" v-if="day>0"> {yun:}t key='wap_user_00219'{/yun} </span></div>
								<div class="top_box_word">{yun:}t key='wap_00971'{/yun}</div>
							</div>
						</div>
						<div class="top_box_btn" @click="topCheck">{yun:}t key='wap_user_00332'{/yun}</div>
					</div>
					<div class="resume_refresh_box resume_top_box">
						<div class="resume_top_box_left">
							<div class="top_box_icon_new">
								<img src="{yun:}$wap_style{/yun}/images/resume_refresh.png" alt="" width="100%">
							</div>
							<div class="top_box_text">
								<div class="top_box_name">{yun:}t key='wap_user_00334'{/yun}</div>
								<div class="top_box_word">{yun:}t key='wap_00972'{/yun}</div>
							</div>
						</div>
						<div class="top_box_btn" @click="refreshResume">{yun:}t key='wap_user_00331'{/yun}</div>
					</div>
				</div>
				<div id="resume_mask_box_bom" @click="trShow = false">{yun:}t key='wap_js_00080'{/yun}</div>
			</div>
		</van-popup>
    	<van-popup v-model="elistShow" position="bottom" :style="{ height: '45%' }">
        	<van-picker show-toolbar :columns="elist" :default-index="defIndex" @cancel="elistShow = false" @confirm="changeConfirm"/>
		</van-popup>
    	<van-popup v-model="topResumeShow" :closeable="true" :close-on-click-overlay="false" position="bottom" :style="{ height: '50%' }">
			<div class="entrust_box">
				<div class="entrust_box_title">{yun:}t key='wap_user_00207'{/yun}</div>
				<div class="entrust_box_now">
					<div class="entrust_box_text">{yun:}t key='wap_user_00201'{/yun}</div>
					<div class="entrust_box_text">{{expect.name}}</div>
				</div>
				<div class="entrust_box_now" v-if="day>0">
					<div class="entrust_box_text">{{i18n.topRemainPrefix}}{{day}}{{i18n.dayUnit}}</div>
				</div>
				<div class="entrust_box_now">
					<div class="entrust_box_text">{yun:}t key='wap_user_00209'{/yun}</div>
					<div class="entrust_box_text"><input type="number" maxlength="2" :value="days" @input="dayInput" oninput="value=value.replace(/^0|[\^d]/g,'')" :placeholder="i18n.topDaysPlaceholder" style="text-align: right;" /></div>
				</div>
				<div class="zd_pay_box">
					<div v-if="fktype.fkal && isweixin == 2" class="zd_pay_list">
						<div class="zd_pay_icon"><img src="{yun:}$wap_style{/yun}/images/dredge_zfb.png" alt="" width="100%" height="100%"></div>
						<div class="zd_pay_name">{yun:}t key='wap_00627'{/yun}</div>
						<div @click="changefk('fkal')" class="zd_pay_xz">
							<div v-if="fk=='fkal'">
								<img src="{yun:}$wap_style{/yun}/images/dredge_affirm.png" alt="" width="100%" height="100%">
							</div>
							<div v-if="fk!='fkal'">
								<img src="{yun:}$wap_style{/yun}/images/dredge_To_confirm.png" alt="" width="100%" height="100%">
							</div>
						</div>
					</div>
				</div>
				<div class="zd_pay_fk">{yun:}t key='wap_user_00192'{/yun} <span class="zd_pay_fk_dw">￥<span class="zd_pay_fk_n">{{order_price}}</span></span>
					<div @click="buyResumeTop" class="zd_pay_bth">{yun:}t key='wap_user_00206'{/yun}</div>
				</div>
			</div>
		</van-popup>
		
		<van-action-sheet v-model="moreShow" :actions="sheetList" @select="onSelect" :cancel-text="i18n.cancelBtn" @cancel="moreShow = false" />
	</div>

	<script src="{yun:}$wap_style{/yun}/js/user.js?v={yun:}$config.cachecode{/yun}"></script>
	<script>
		var wapurl = '{yun:}url m=wap{/yun}';
		var privacy = '{yun:}$smarty.cookies.privacy{/yun}';
		var sheetListDefalut = [
			{name: "{yun:}t key='wap_00964'{/yun}", action: 'likejob'},
			{name: "{yun:}t key='wap_user_00215'{/yun}", action: 'privacy'},
			{name: "{yun:}t key='wap_00965'{/yun}", action: 'addresume'},
			{name: "{yun:}t key='wap_user_00329'{/yun}", action: 'delresume'}
		];
		var isweixin = '{yun:}$isweixin{/yun}';
		var yunvue = new Vue({
			el:"#yunvue",
			data:{
				eid: '{yun:}$smarty.get.id{/yun}',
				info: {},
				expect: {},
				work: [],
				edu: [],
				train: [],
				project: [],
				skill: [],
				other: [],
				show: [],
				elist: [],
				privacy:privacy,
				trShow: false,
				moreShow:false,
				elistShow:false,
				defIndex:0,
				maxnum: 0,
				sheetList:[],
				errorcount:0,
				days:'',
				day:'',
				order_price:0,
				price:0,
				topResumeShow:false,
				fktype:{},
				fk:'',
				upgradeResumeShow:false,
				user_trust_number:0,
				trust_price:0,
				heightone:0,
				heighttwo:0,
				isweixin: isweixin ? isweixin : 2,
				i18n: {
					hiddenPrefix: "{yun:}t key='wap_00974'{/yun}",
					hiddenSuffix: "{yun:}t key='wap_user_00324'{/yun}",
					expSuffix: "{yun:}t key='wap_00815'{/yun}",
					eduSuffix: "{yun:}t key='wap_00816'{/yun}",
					confidential: "{yun:}t key='wap_user_00333'{/yun}",
					ageUnit: "{yun:}t key='common_02074'{/yun}",
					eduLabel: "{yun:}t key='wap_com_00301'{/yun}",
					rolePrefix: "{yun:}t key='wap_00975'{/yun}",
					masterTimeLabel: "{yun:}t key='member_user_00083'{/yun}",
					proficiencyLabel: "{yun:}t key='member_user_00084'{/yun}",
					yearUnit: "{yun:}t key='common_02067'{/yun}",
					optimizePrefix: "{yun:}t key='wap_00969'{/yun}",
					optimizeSuffix: "{yun:}t key='wap_00970'{/yun}",
					topRemainPrefix: "{yun:}t key='wap_00977'{/yun}",
					dayUnit: "{yun:}t key='common_02067'{/yun}",
					topDaysPlaceholder: "{yun:}t key='wap_00976'{/yun}",
					cancelBtn: "{yun:}t key='wap_js_00080'{/yun}",
					switchResume: "{yun:}t key='wap_00966'{/yun}",
					setDefault: "{yun:}t key='wap_00967'{/yun}",
					createResumeFirst: "{yun:}t key='wap_user_00190'{/yun}",
					enterTopDays: "{yun:}t key='wap_00976'{/yun}",
					selectPayMethod: "{yun:}t key='wap_user_00187'{/yun}",
					purchasing: "{yun:}t key='wap_00792'{/yun}",
					topSuccess: "{yun:}t key='wap_00793'{/yun}",
					resumeMaxLimit: "{yun:}t key='wap_user_00323'{/yun}",
					confirmDelete: "{yun:}t key='wap_00968'{/yun}",
					deleting: "{yun:}t key='wap_js_00166'{/yun}",
					deleteSuccess: "{yun:}t key='wap_user_00147'{/yun}",
					setting: "{yun:}t key='wap_user_00321'{/yun}",
					refreshSuccess: "{yun:}t key='wap_user_00198'{/yun}",
					notApprovedTop: "{yun:}t key='wap_00790'{/yun}",
					payClosed: "{yun:}t key='wap_user_00183'{/yun}",
				}
			},
			created() {
				this.resumeList();
			},
			methods: {
				resumeList: function(){
					showLoading();
					var self = this;
					var i18n = self.i18n;
					self.elist = [];
					$.post('{yun:}url d=wxapp h=user m=resume c=resume{/yun}', {eid: this.eid}, function(data){
						hideLoading();
						var list = data.data;
						self.eid = list.expect ? list.expect.id : '';
						self.info = list.resume ? list.resume : {};
						self.expect = list.expect ? list.expect : {};
						self.work = list.work ? list.work : [];
						self.edu = list.edu ? list.edu : [];
						self.project = list.project ? list.project : [];
						self.train = list.training ? list.training : [];
						self.skill = list.skill ? list.skill : [];
						self.other = list.other ? list.other : [];							
						self.show = list.show ? list.show : [];
						self.maxnum = list.maxnum ? list.maxnum : 0;
						self.sheetList = deepClone(sheetListDefalut);

						if (self.maxnum <= 0) {
							self.sheetList.splice(2,1);
						}
						self.day = list.expect.top_day;
						self.price = list.top_price;
						self.fktype = list.fktype;
						self.user_trust_number = list.user_trust_number;
						self.trust_price = list.trust_price;
						self.heightone = list.heightone;
						self.heighttwo = list.heighttwo;
						self.errorcount = 0;
						if(self.expect.status == 2 || self.expect.status == 3){
							self.privacy = '';
						}
						if(self.fktype.fkwx){
							self.changefk('fkwx');
						}else if(self.fktype.fkal){
							self.changefk('fkal');
						}
						var jlqh = true, jlmr = true;
						self.sheetList.forEach(function(val,index){
							if(val.action == 'switch'){
								jlqh = false;
								if(list.elist.length == 1){
									self.sheetList.splice(index, 1);
								}
							}else if(val.action == 'default'){
								jlmr = false;
								if(self.expect.defaults == 1){
									self.sheetList.splice(index, 1);
								}
							}
						});
						if(jlqh && list.elist.length > 1){
							self.sheetList.unshift({name: i18n.switchResume, action: 'switch'});
						}
						if(jlmr && self.expect.defaults != 1){
							self.sheetList.unshift({name: i18n.setDefault, action: 'default'});
						}

						if(!self.expect){
							self.errorcount += 1;
						}
						if(self.work.length==0){
							self.errorcount += 1;
						}
						if(self.edu.length==0){
							self.errorcount += 1;
						}
						if(self.project.length==0){
							self.errorcount += 1;
						}
						if(self.train.length==0){
							self.errorcount += 1;
						}
						if(self.skill.length==0){
							self.errorcount += 1;
						}
						if(self.show.length==0){
							self.errorcount += 1;
						}
						if(!self.info.description){
							self.errorcount += 1;
						}
						if (list.elist) {
							for(let i in list.elist){ 						
								self.elist.push({
									'keyId':list.elist[i].id,
									'text':list.elist[i].name,
								});
								if(list.elist[i].id == self.eid){
									self.defIndex = i;
								}
							}
						}

						$("#yunvue").css('display', 'block');
					},'json');
				},
				buyResumeTop:function(){
					var that = this;
					var i18n = that.i18n;
					if(that.days == ''){
						return showToast(i18n.enterTopDays);
					}
					if (that.fk == ''){
						return showToast(i18n.selectPayMethod);
					}
					let formData = {
						id: that.eid,
						rdays: that.days,							
						fktype: that.fk,
						type:'wap',
						server: 'zdresume'
					}; 
					showLoading(i18n.purchasing);
					$.post('{yun:}url d=wxapp h=user m=finance c=setServer{/yun}',formData,function(data){
						hideLoading();      
						if(data.msg == 'ok'){
							let res = data.data;
							if(res.goto){
								window.location.href=res.url;
							}else{
								showToast(i18n.topSuccess,2,function(){
									location.reload();
								});
							}
						}else{
							showToast(data.msg);
						}    
					},'json'); 
				},
				changefk:function(e){
					this.fk = e;
				},
				dayInput:function(e){
					if (e.target.value != '') {
						this.days = e.target.value;
						this.order_price = this.accMul(parseInt(e.target.value), parseFloat(this.price));
					}else{
						this.days = '';
						this.order_price = 0;
					}
				},
				accMul: function(arg1, arg2) {
					var m = 0,
						s1 = arg1.toString(),
						s2 = arg2.toString();
					try {
						m += s1.split(".")[1].length
					} catch (e) {}
					try {
						m += s2.split(".")[1].length
					} catch (e) {}
					return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
				},
				onSelect:function(item) {
					var that = this;
					var i18n = that.i18n;
					that.moreShow = false;

					if(item.action=="likejob"){
						location.href = "index.php?c=likejob&id=" + that.expect.id;	
					}else if (item.action=="privacy") {
						location.href = "index.php?c=privacy";	
					}else if (item.action=="switch") {
						that.elistShow = true;				      		
					}else if (item.action=="addresume") {				      	
						if(that.maxnum >0 || that.maxnum == ''){
							location.href = "index.php?c=addresume";
						}else{
							showToast(i18n.resumeMaxLimit);
						}
					}else if (item.action=="delresume") {
						showConfirm(i18n.confirmDelete,function(){
							that.delResume();
						});
					}else if (item.action=="default") {
						that.defaults();
					}
				},
				delResume:function(){
					var that = this;
					var i18n = that.i18n;
					var param = {
						id: that.eid,							
						table: 'expect'
					};
					showLoading(i18n.deleting);
					$.post("{yun:}url d=wxapp h=user m=resume c=del_resume{/yun}", param, function(data) {
						hideLoading();
						if (data.error == 1) {
							showToast(i18n.deleteSuccess,2, function(){
								that.eid = '';
								that.resumeList();
							});
						} else {
							showToast(data.msg);
						}
					});
				},
				defaults:function(){
					var that = this;
					var i18n = that.i18n;
					let param = {
						id: that.eid,							
					};
					showLoading(i18n.setting);
					$.post("{yun:}url d=wxapp h=user m=resume c=default_resume{/yun}", param, function(data) {
						hideLoading();
						if (data.error == 1) {
							showToast(data.msg,2, function(){
								that.resumeList();
							});
						} else {
							showToast(data.msg);
						}
					});
				},
				changeConfirm:function(e){
					this.elistShow = false;	
					this.eid = e.keyId;
					this.elist = [];
					this.resumeList();
					window.history.replaceState({}, "", "?c=resume&id=" + e.keyId);
				},
				pageTo:function(url){
					window.location.href = url;
				},
				previewResume:function(){
					var i18n = this.i18n;
					if(!this.expect.id){
						showToast(i18n.createResumeFirst);
					}else{
						window.location.href = wapurl + '?c=resume&a=show&id=' + this.expect.id;
					}
				},
				topCheck: function(){
					var that = this;
					var i18n = that.i18n;
					if(!that.eid){
						showToast(i18n.createResumeFirst);
					}else{
						if(that.expect.state != '1'){
							showToast(i18n.notApprovedTop);
						}else{
							showLoading();
							that.trShow = false;
							var eid = that.eid;
							$.post("{yun:}url d=wxapp h=user m=resume c=topCheck{/yun}", {
								eid: eid
							}, function(data) {
								hideLoading();
								if(data.msg){
									showToast(data.msg);
								}else{
									if (that.fktype.fkwx || that.fktype.fkal){
										that.topResumeShow = true;
									}else{
										showToast(i18n.payClosed);
									}
								}
							}, 'json');
						}
					}
				},
				refreshResume: function(){
					var i18n = this.i18n;
					if(!this.eid){
						showToast(i18n.createResumeFirst);
					}else{
						showLoading();
						this.trShow = false;
						$.post("{yun:}url d=wxapp h=user m=resume c=refresh_resume{/yun}", {
							eid: this.eid,
						}, function(data) {
							hideLoading();
							if (data.error == 1) {
								showToast(i18n.refreshSuccess);
							} else {
								showToast(data.msg);
							}
						});
					}
				}
			},
		});
		function closePrivacy(){
			$('#privacy').animate({
				opacity: 0
			}, 'fast', function(){
				yunvue.$data.privacy=1;
			});
			$.post("index.php?c=setPrivacyCookie",{rand:Math.random()});
		}
		function resumeMaskShow(){
			yunvue.$data.trShow = true;
		}
		function resumeMore(){
			yunvue.$data.moreShow = true;
		}
	</script>
	</body>
</html>
