{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div id="yunvue" class="none">

    <div class="m_tab" v-if="islook">
        <div class="m_tabbox category">
            <ul>
                <li :class="browse == 0 ? 'm_tabactive' : ''" @click="pageTo('index.php?c=sq&browse=0')">{{i18n.tabAll}}</li>
                <li :class="browse == 1 ? 'm_tabactive' : ''" @click="pageTo('index.php?c=sq&browse=1')">{{i18n.tabUnread}}</li>
                <li :class="browse == 3 ? 'm_tabactive' : ''" @click="pageTo('index.php?c=sq&browse=3')">{{i18n.tabInterviewed}}</li>
                <li :class="browse == 4 ? 'm_tabactive' : ''" @click="pageTo('index.php?c=sq&browse=4')">{{i18n.tabUnfit}}</li>
                <li :class="browse == 7 ? 'm_tabactive' : ''" @click="pageTo('index.php?c=sq&browse=7')">{{i18n.tabHired}}</li>
            </ul>
        </div>
    </div>


    <div class="m_cardbox" v-if="browse == 0">
        <div class="m_cardbgbox">
            <div class="conts active">
                <div class="Posted_body_card" v-for="(item, sqkey) in list" :key="sqkey" @touchstart="touchin(sqkey)" @touchmove="cleartouch">
                    <div @touchend="cleartime(sqkey, 'job')">
						<div class="Posted_card_top">
						    <div class="Posted_card_name">
						        {{item.job_name}}
						    </div>
						    <div class="Posted_card_pay">{{item.job_salary}}</div>
						</div>
						<div class="Posted_card_cen" style="position: relative;"><span class="Posted_card_cx">{{item.body != '' ? i18n.revoked : ''}}</span>
						    <ul>
						        <li>{{item.cityclassname}}</li>
						        <li>{{item.edu}}</li>
						        <li>{{item.exp}}</li>
						    </ul>
						</div>
					</div>
                    <div class="Posted_card_bom" @touchend="cleartime(sqkey, 'com')">
                        <div class="Posted_bom_box">
                            <div class="Posted_box_logo">
                                <img :src="item.logo" alt="" width="100%" height="100%">
                            </div>
                            <div class="Posted_box_name">{{item.com_name}}</div>
                        </div>
                        <div class="Posted_bom_time"> {{item.datetime_n}}</div>
                    </div>
                </div>
            </div>
            <div v-if="count==2">
                <van-pagination v-model="page" :total-items="total" :items-per-page="limit" force-ellipses @change="pageChange"/>
            </div>
            <div class="wap_member_bgcar" v-show="islook&&count==0">
                <div class="wap_member_no">{{i18n.noApplyRecords}}
                    <div><a class="wap_member_no_submit" href="{yun:}url m=wap c=job{/yun}">{{i18n.goApply}}</a></div>
                </div>
            </div>
        </div>
    </div>


    <div class="m_cardbox" v-else>
        <div class="m_cardbgbox">
            <div class="issue_post_body_card" v-for="(item, sqkey) in list" :key="sqkey" @touchstart="touchin(sqkey)" @touchend="cleartime(sqkey, '')" @touchmove="cleartouch">
                <div class="Posted_card_top" @touchend="cleartime(sqkey, 'job')">
                    <div class="Posted_card_name">{{item.job_name}}</div>
                    <div class="Posted_card_pay">{{item.job_salary}}</div>
                </div>
                <div class="Posted_card_bom" @touchend="cleartime(sqkey, 'com')">
                    <div class="Posted_bom_box">
                        <div class="Posted_box_logo">
                            <img :src="item.logo" alt="" width="100%" height="100%">
                        </div>
                        <div class="Posted_box_name">{{item.com_name}}</div>
                    </div>
                    <div class="Posted_bom_time"></div>
                </div>
                <div class="Posted_card_state" v-if="browse==1">
                    <div class="Posted_state_underway">
                        <div class="state_underway_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_pass.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_underway_text">{{i18n.statusApplied}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class=" Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusViewed}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%"
                                 height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusInterviewed}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%"
                                 height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusHired}}</div>
                    </div>
                </div>
                <div class="Posted_card_state" v-if="browse==2">
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusApplied}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class=" Posted_state_underway">
                        <div class="state_underway_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_pass.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_underway_text">{{i18n.statusViewed}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%"
                                 height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusInterviewed}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%"
                                 height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusHired}}</div>
                    </div>
                </div>
                <div class="Posted_card_state" v-else-if="browse==3">
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusApplied}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusViewed}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class="Posted_state_underway">
                        <div class="state_underway_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_pass.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_underway_text">{{i18n.statusInterviewed}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusHired}}</div>
                    </div>
                </div>
                <div class="Posted_card_state" v-else-if="browse==4">
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusApplied}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusViewed}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class="Posted_state_underway">
                        <div class="state_underway_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_pass.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_underway_text">{{i18n.statusUnfit}}</div>
                    </div>
                    <div class="Posted_state_nodot">· · · ·</div>
                    <div class="Posted_state_without">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_no_show.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_without_text">{{i18n.statusHired}}</div>
                    </div>
                </div>
                <div class="Posted_card_state" v-else-if="browse==7">
                    <div class="Posted_state_been">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_been_text">{{i18n.statusApplied}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>
                    <div class="Posted_state_been">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_been_text">{{i18n.statusViewed}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>

                    <div class="Posted_state_been">
                        <div class="state_been_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_been.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_been_text">{{i18n.statusCommunicated}}</div>
                    </div>
                    <div class="Posted_state_dot">· · · ·</div>

                    <div class="Posted_state_underway">
                        <div class="state_underway_icon">
                            <img src="{yun:}$wap_style{/yun}/images/deliver_pass.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="state_underway_text">{{i18n.statusHired}}</div>
                    </div>
                </div>
                <div class="Posted_state_hrtip">{{i18n.hrProcessingTip}}</div>
            </div>
            <div v-if="count==2">
                <van-pagination v-model="page" :total-items="total" :items-per-page="limit" force-ellipses @change="pageChange"/>
            </div>
        </div>
        <div class="wap_member_bgcar" v-show="islook&&count==0">
            <div class="wap_member_no">{{i18n.noRelatedRecords}}
                <div><a class="wap_member_no_submit" href="{yun:}url m=wap c=job{/yun}">{{i18n.goApply}}</a></div>
            </div>
        </div>
    </div>
	<van-action-sheet v-model="sheetShow" :actions="reasonList" @select="onSelect" :cancel-text="i18n.cancel" @cancel="sheetShow = false" :closeable="false" :title="i18n.selectCancelReason" />
</div>

<script>
    var currentPage = parseInt('{yun:}$smarty.get.page{/yun}');
    var browse = '{yun:}$smarty.get.browse{/yun}';
    browse = browse ? browse : '';
	var loopVal = null,
		loop = 0,
		cancel_id = 0,
		cancel_key = null;
    new Vue({
        el: '#yunvue',
        data: {
            i18n: {
                tabAll: '{yun:}t key='wap_js_00075'{/yun}',
                tabUnread: '{yun:}t key='wap_user_00260'{/yun}',
                tabInterviewed: '{yun:}t key='wap_user_00266'{/yun}',
                tabUnfit: '{yun:}t key='wap_user_00354'{/yun}',
                tabHired: '{yun:}t key='wap_user_00356'{/yun}',
                statusApplied: '{yun:}t key='wap_user_00357'{/yun}',
                statusViewed: '{yun:}t key='wap_user_00258'{/yun}',
                statusInterviewed: '{yun:}t key='wap_user_00266'{/yun}',
                statusHired: '{yun:}t key='wap_user_00356'{/yun}',
                statusUnfit: '{yun:}t key='wap_user_00354'{/yun}',
                statusCommunicated: '{yun:}t key='wap_user_00359'{/yun}',
                revoked: '{yun:}t key='wap_user_00358'{/yun}',
                noApplyRecords: '{yun:}t key='wap_user_00350'{/yun}',
                noRelatedRecords: '{yun:}t key='wap_00987'{/yun}',
                goApply: '{yun:}t key='wap_user_00353'{/yun}',
                hrProcessingTip: '{yun:}t key='wap_00988'{/yun}',
                cancel: '{yun:}t key='wap_js_00080'{/yun}',
                selectCancelReason: '{yun:}t key='wap_user_00348'{/yun}',
                confirmCancelApply: '{yun:}t key='wap_00984'{/yun}',
                confirmDelete: '{yun:}t key='wap_user_00001'{/yun}',
                cancelling: '{yun:}t key='wap_user_00152'{/yun}',
                cancelSuccess: '{yun:}t key='wap_00985'{/yun}',
                cancelFailed: '{yun:}t key='wap_00986'{/yun}',
                deleting: '{yun:}t key='wap_user_00355'{/yun}',
                deleteSuccess: '{yun:}t key='wap_user_00147'{/yun}',
                deleteFailed: '{yun:}t key='wap_user_00146'{/yun}',
            },
            list: [],
            limit: 10,
            browse: browse,
            id: '',
            total: 0,
            page: currentPage ? currentPage : 1,
            islook: false,
			sheetShow: false,
			reasonList: [
				{name: '{yun:}t key='wap_user_00349'{/yun}', value: '已经找到工作'},
				{name: '{yun:}t key='wap_user_00347'{/yun}', value: '想休息一段时间'},
				{name: '{yun:}t key='wap_user_00360'{/yun}', value: '生病了'},
				{name: '{yun:}t key='wap_user_00351'{/yun}', value: '看错信息了'},
				{name: '{yun:}t key='wap_user_00346'{/yun}', value: '很长时间没有查看'},
				{name: '{yun:}t key='wap_user_00352'{/yun}', value: '其它原因'}
			]
        },
        computed: {
            count() {
                if (this.total > this.limit) {
                    return 2;
                } else if (this.list.length == 0) {
                    return 0;
                } else {
                    return 1;
                }
            }
        },
        created() {
            this.getSq();
        },
        methods: {
            sqShow: function (e) {
                this.page = 1;
                this.list = [];
                this.islook = false;
                this.browse = e;
                this.getSq();
            },
            getSq: function () {
                showLoading();
                var that = this;
                var paramer = {};
                paramer['page'] = that.page;
                paramer['limit'] = that.limit;
                paramer['browse'] = that.browse;

                $.post('{yun:}url d=wxapp h=user m=job c=sqjoblist{/yun}', paramer, function (res) {
                    hideLoading();

                    that.list = res.data;
                    that.total = res.total;
                    that.page = currentPage ? currentPage : 1;
                    that.browse = browse;
                    that.islook = true
                    $("#yunvue").css('display', 'block');
                }, 'json');
            },
            pageChange: function (e) {

                location.href = 'index.php?c=sq&browse=' + this.browse + '&page=' + e;
            },
            pageTo: function (url) {
                window.location.href = url;
            },
			touchin(key) {
				if(loopVal){
					clearInterval(loopVal);
				}
				var self = this;
				loopVal = setTimeout(function() {
					loop = 1;
					cancel_id = self.list[key].id;
					cancel_key = key;
					if(self.list[key].body || self.list[key].is_browse > 1){

						self.sqdel();
					}else{
                        showConfirm(self.i18n.confirmCancelApply, function() {
                            self.sheetShow = true;
                        });

					}
				}.bind(this), 1000);
			},
			cleartime(key, goType) {
				if(loop == 0 && goType){
                    if(goType == 'com'){
                        this.pageTo(this.list[key].wapcom_url);
                    }else{
                        this.pageTo(this.list[key].wapjob_url);
                    }
				}
				if(loopVal){
					clearInterval(loopVal);
					loopVal = null;
				}
				loop = 0;
			},
			cleartouch(){
			    if(loopVal){
					clearInterval(loopVal);
					loopVal = null;
					loop = 1;
				}
			},
			onSelect(item){
				let self = this;
				let	param = {
						ids: cancel_id,
						body: item.value
					};
				self.sheetShow = false;
                showLoading(self.i18n.cancelling);
                $.post('{yun:}url d=wxapp h=user m=job c=qxSqJob{/yun}', param, function (res) {
                    hideLoading();
                    if (res.error == 1) {
                        self.list[cancel_key].body = item.value;
                        showToast(self.i18n.cancelSuccess);
                    } else {
                        showModal(self.i18n.cancelFailed);
                    }
                })
			},
			sqdel(){
				let self = this;
				let	param = {
						ids: cancel_id
					};
				showConfirm(self.i18n.confirmDelete, function() {
					showLoading(self.i18n.deleting);
					$.post('{yun:}url d=wxapp h=user m=job c=delsqjob{/yun}', param, function (res) {
					    hideLoading();
						if (res.error == 1) {
							self.list.splice(cancel_key, 1);
							showToast(self.i18n.deleteSuccess);
						} else {
							showModal(self.i18n.deleteFailed);
						}
					})
				})
			}
        }
    });
</script>
</body>
</html>
