{yun:}include file="$wapstyle/member/header.htm"{/yun}
<div class="none" id="yunvue">
	<div class="m_cardbox">
		<div class="m_cardbg">
	<div class="transfer_ts">{{i18n.transferWarning}}</div>
	<div v-if="info.userStatue || info.userStat || info.userSta">
	<form id="transfer_form" onsubmit="return false;">
	<div class="transfer_stepbox">
		<ul class="transfer_stepbox_list">
			<li class="transfer_stepcur"><span class="transfer_stepbox_n">1</span><em class="transfer_stepbox_name">{{i18n.stepVerifyInfo}}</em><i class="transfer_stepbox_line"></i></li>
			<li><span class="transfer_stepbox_n">2</span><em class="transfer_stepbox_name">{{i18n.stepAccountVerify}}</em><i class="transfer_stepbox_line"></i></li>
			<li><span class="transfer_stepbox_n">ok<i class="transfer_stepbox_cgicon"></i></span><em class="transfer_stepbox_name">{{i18n.stepMigrationSuccess}}</em></li>
		</ul>
	</div>
	<div class="clear"></div>

	<div class="transfer_textlistbox">
		<div class="transfer_lxbox mt10">
			<div class="transfer_textxz">
				<div class="transfer_lx" v-for="(item, bdkey) in bdtypeAll" :key="bdkey" >
					<div :class="item.type==1 ? 'transfer_lx_cur':''" @click="bindbdtypeChang" :data-index="bdkey">{{item.label}}<text
						 class="choice_mode_icon"></text></div>
				</div>
				<input class="ask_input" name="bdtype" :value="bdtype?bdtype:''" hidden="true" />
			</div>
		</div>
		<div class="transfer_textlist mt10">
			<span class="transfer_textlist_n">{{i18n.currentPasswordLabel}} <font color="#f00">*</font> </span>
			<input type="password" name="oldpass" value="" class="transfer_text" :placeholder="i18n.currentPasswordPlaceholder">
		 </div>
		<div class="transfer_textlist">
			<span class="transfer_textlist_n">{{i18n.newUsernameLabel}} <font color="#f00">*</font> </span>
			<input type="text" name="username" value="" class="transfer_text" :placeholder="i18n.newUsernamePlaceholder">
		</div>
        <div class="tr_tip">{{regnameplaceholder}}</div>
		<div class="transfer_textlist">
			<span class="transfer_textlist_n">{{i18n.newPasswordLabel}} <font color="#f00">*</font> </span>
			<input type="password" name="password" value="" class="transfer_text" :placeholder="i18n.passwordPlaceholder">
		</div>
        <div class="tr_tip">{{regpwplaceholder}}</div>
		<div class="transfer_tip">{{i18n.migrationTip}}</div>
	</div>

	<div class="mui-collapse-content">
		<div class="yunset_bth_box">
			<button class="mui-btn mui-btn-primary" type="button" @click="savetrsform">{{i18n.confirmBtn}}</button>&nbsp;&nbsp;
		</div>
	</div>
	</form>
	</div>
	<div class="wap_member_no" v-else>
		<p>{{i18n.dearUser}}</p>
		<p>{{i18n.noSeparationNeeded}}</p>
	</div>

</div></div></div>
<script>
    new Vue({
        el: '#yunvue',
        data: {
            i18n: {
                transferWarning: '{yun:}t key='wap_00997'{/yun}',
                stepVerifyInfo: '{yun:}t key='wap_00998'{/yun}',
                stepAccountVerify: '{yun:}t key='wap_00999'{/yun}',
                stepMigrationSuccess: '{yun:}t key='wap_01000'{/yun}',
                currentPasswordLabel: '{yun:}t key='wap_01001'{/yun}',
                currentPasswordPlaceholder: '{yun:}t key='wap_01002'{/yun}',
                newUsernameLabel: '{yun:}t key='wap_01003'{/yun}',
                newUsernamePlaceholder: '{yun:}t key='wap_01004'{/yun}',
                newPasswordLabel: '{yun:}t key='wap_01005'{/yun}',
                passwordPlaceholder: '{yun:}t key='wap_js_00139'{/yun}',
                migrationTip: '{yun:}t key='wap_01006'{/yun}',
                dearUser: '{yun:}t key='wap_01007'{/yun}',
                noSeparationNeeded: '{yun:}t key='wap_01008'{/yun}',
                confirmBtn: '{yun:}t key='wap_js_00094'{/yun}',
                unbindMobile: '{yun:}t key='wap_user_00369'{/yun}',
                unbindEmail: '{yun:}t key='wap_user_00370'{/yun}',
                unbindWechat: '{yun:}t key='wap_user_00368'{/yun}',
                unbindQq: '{yun:}t key='wap_user_00367'{/yun}',
                unbindWeibo: '{yun:}t key='wap_01013'{/yun}',
                errCurrentPassword: '{yun:}t key='wap_01009'{/yun}',
                errUsername: '{yun:}t key='wap_01010'{/yun}',
                errPasswordLength: '{yun:}t key='wap_user_00343'{/yun}',
                migrating: '{yun:}t key='wap_01011'{/yun}',
                migrationSuccess: '{yun:}t key='wap_01012'{/yun}',
                usernameLength: '{yun:}t key='wap_user_00366'{/yun}',
                charUnit: '{yun:}t key='common_02053'{/yun}',
                mustContain: '{yun:}t key='wap_user_00306'{/yun}',
                hanChars: '{yun:}t key='wap_user_00345'{/yun}',
                numChars: '{yun:}t key='common_01997'{/yun}',
                letterChars: '{yun:}t key='common_01973'{/yun}',
                specialChars: '{yun:}t key='wap_01014'{/yun}',
                passwordLabel: '{yun:}t key='wap_user_00371'{/yun}',
                otherSpecialChars: '{yun:}t key='wap_01015'{/yun}',
            },
            bdtypeAll: {
				moblie: { type: 0, label: '' },
				email: { type: 0, label: '' },
				wxid: { type: 0, label: '' },
				qqid: { type: 0, label: '' },
				sinaid: { type: 0, label: '' }
			},
			bdtypes: [],
			bdtype: '',
			info: {},
			regnameplaceholder:'',
			regpwplaceholder:'',
        },
        created() {
            this.initBindLabels();
            this.getInfo();
        },
        methods:{
            initBindLabels: function() {
                this.bdtypeAll.moblie.label = this.i18n.unbindMobile;
                this.bdtypeAll.email.label = this.i18n.unbindEmail;
                this.bdtypeAll.wxid.label = this.i18n.unbindWechat;
                this.bdtypeAll.qqid.label = this.i18n.unbindQq;
                this.bdtypeAll.sinaid.label = this.i18n.unbindWeibo;
            },
            buildRegNamePlaceholder: function(con) {
                var i = this.i18n;
                var text = i.usernameLength + con.reg_nameminlen + '-' + con.reg_namemaxlen + i.charUnit;
                if (con.reg_name_han=='1' || con.reg_name_sp=='1' || con.reg_name_num=='1' || con.reg_name_zm=='1') {
                    text += i.mustContain;
                    if (con.reg_name_han=='1') text += i.hanChars + ' ';
                    if (con.reg_name_num=='1') text += i.numChars + ' ';
                    if (con.reg_name_zm=='1') text += i.letterChars + ' ';
                    if (con.reg_name_sp=='1') text += i.specialChars;
                }
                return text;
            },
            buildRegPwPlaceholder: function(con) {
                var i = this.i18n;
                var text = i.passwordLabel;
                if (con.reg_pw_sp=='1' || con.reg_pw_num=='1' || con.reg_pw_zm=='1') {
                    text += i.mustContain;
                    if (con.reg_pw_num=='1') text += i.numChars + ' ';
                    if (con.reg_pw_zm=='1') text += i.letterChars + ' ';
                    if (con.reg_pw_sp=='1') text += i.otherSpecialChars;
                }
                return text;
            },
        	savetrsform:function(){
        		var self = this;
				var v = getFormValue('transfer_form');
				var oldpass = v.oldpass;
				var username = v.username;
				var pass = v.password;
				var bdtype = v.bdtype;
				if (!oldpass) {
					return showModal(self.i18n.errCurrentPassword);
				}
				if (!username) {
					return showModal(self.i18n.errUsername);
				}
				if (pass.length < 6 || pass.length > 20) {
					return showModal(self.i18n.errPasswordLength);
				}
				var formData = {
                    oldpass: oldpass,
                    password: pass,
                    username: username,
                    bdtypes: bdtype
                };
				showLoading(self.i18n.migrating);
				$.post('{yun:}url d=wxapp h=user m=set c=transfer{/yun}', formData, function(data){
                    hideLoading();
                    if (data.error == 1) {
						showModal(self.i18n.migrationSuccess, function() {
							window.localStorage.setItem("socketState", "2");
							window.location.href = '{yun:}url m=wap{/yun}';
						});
					} else {
						showModal(data.msg);
					}
                },'json');
        	},
            getInfo:function(){
                showLoading();
                var that = this;
                $.post('{yun:}url d=wxapp h=user m=set c=transferInfo{/yun}',{rand: Math.random()},function(data){
                    hideLoading();
                    $("#yunvue").css('display', 'block');
                    if(data){
						that.info = data.data;
						var con = data.data.config;
						that.regnameplaceholder = that.buildRegNamePlaceholder(con);
						that.regpwplaceholder = that.buildRegPwPlaceholder(con);
					}
                },'json');
            },
            bindbdtypeChang: function(e) {
				let that = this,
					windex = '',
					index = e.currentTarget.dataset.index,
					bdtypeAll = that.bdtypeAll,
					bdtypes = that.bdtypes;

				if (bdtypeAll[index]['type'] != 1) {
					bdtypeAll[index]['type'] = 1;
					bdtypes.push(index);
				} else {
					bdtypeAll[index]['type'] = 0;
					windex = bdtypes.indexOf(index);
					if (windex > -1) {
						bdtypes.splice(windex, 1);
					}
				}

				that.bdtype = bdtypes.join(',');
				that.bdtypes = bdtypes;
				that.bdtypeAll = bdtypeAll;
			},
        }
    })
</script>
</body>
</html>
